@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

header{
  font-family: 'Noto Sans Japanese', sans-serif;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}


.container{

}

header{
    width: 100%;
    position: relative;
    left: 0;
    background-color: #fff;
    z-index: 999;
}

#header{
position: relative;
border-top:3px solid #ff6e01;

}


.header-inner{
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;

}
.logo-area{
  height: 33px;
  float: left;
  display: table;
}

.header-logo{
  padding: 0 0 0 12px;
  display: table-cell;
  vertical-align: middle;
}

.logo-area img{
  height: 11px;
  width : auto;
}


/************************hum-menu***********************/

.hum-menu{
  position: absolute;
  cursor: pointer;
    right: 12px;
    top: 7px;
  width: 30px;
  height: 20px;
}

.hum-menu,
.hum-menu span {
  display: inline-block;
}

.hum-menu span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ff6e01;
  /*border-radius: 4px;*/
}
.hum-menu span:nth-of-type(1) {
  top: 0;
}
.hum-menu span:nth-of-type(2) {
  top: 8px;
}
.hum-menu span:nth-of-type(3) {
  bottom: 0;
}


.hum-menu.active-gnav-outer span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  -ms-transform: translateY(20px) rotate(-45deg);
  -moz-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  top: -10px;
}
.hum-menu.active-gnav-outer span:nth-of-type(2) {
  opacity: 0;
}
.hum-menu.active-gnav-outer span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  -ms-transform: translateY(-20px) rotate(45deg);
  -moz-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  bottom: -14px;
}


/************************gnav***********************/

#gnav{
  display: block;
  background-color: #fff;
}

#gnav .first-nav{}

#gnav .first-nav-list{
  border-top: none;
  border-bottom: 1px solid #dddddd;
  display: block;
  position: relative;
}

#gnav .first-nav-list:last-child{}

#gnav .first-nav-list > a{
  height: 45px;
  font-size: 13px;
  padding: 0 15px 0 15px;
  width: 1000px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  color: #333333;
  letter-spacing: 2.6px;
  line-height: 1.1;
  font-weight:500;
}

#gnav .first-nav-list:before{

  }

#gnav .first-nav-list > a:hover{
  background-color: #ff6e01;
  color: #fff;
}

#gnav .active-first-nav > a{
  /*border-bottom: 1px solid #fff;*/
  background-color: #ff6e01;
  color: #fff;
}

/************************sub-nav***********************/


.sub-nav{
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  padding-top: 0;
  text-align: left;
  display: none;
  background-color: #ff6e01;
}

.sub-menu{}
.sub-menu li:first-child{
  display: block;
  border-top: 1px solid #e7651e;
}

.sub-menu li{
  display: block;
  border-bottom: 1px solid #e7651e;
}

.sub-menu li a{
  height: 45px;
  font-size: 14px;
  padding-left: 15px;
  letter-spacing: 1.2px;
  text-align: left;
  width: 1000px;
  display: table-cell;
  font-weight:300;
  vertical-align: middle;
  color: #fff;
  line-height: 1.1;
  position: relative;
}

.sub-menu li a:before{

}

.sub-menu li a:hover{
  background-color: #ff8b34;
}


/************************gnav-links***********************/

.gnav-linkarea{
  display: block;
  border: none;
}

.gnav-linkarea ul{
  padding: 9px 15px 0;
  width: 100%;
  margin-bottom: 40px;
  }

.gnav-linkarea li{
  margin-bottom: 10px;
  position: relative;
}

.gnav-linkarea li:after{
  width: 4px;
  height: 3px;
  content: " ";
  background-size:contain;
  z-index: 12;
  background-repeat: no-repeat;
  position: absolute;
}

.gnav-linkarea a{
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  width: 100%;
  letter-spacing: 1.2px;
  color: #231815;
  display: block;
  text-align: center;
  border-radius: 15px;
}

.gnav-linkarea a{
  height: 30px;
  line-height: 28px;
  font-size: 12px;
  width: 100%;
  letter-spacing: 1.2px;
  color: #231815;
  display: block;
  text-align: center;
  border-radius: 15px;
}

.gnav-linkarea li span{
  width: 200px;
  display: inline-block;
  background-size: 4px 3px;
  background-repeat: no-repeat;
}

/******gnav-linkarea-1*****/

.gnav-linkarea li:nth-child(1) a{
  border: 1px solid #ff6e01;
  color: #ff6e01;
}

.gnav-linkarea li:nth-child(1) a:hover{
  background-color:#ff6e01;
  color: #fff;
}

/******gnav-linkarea-2*****/

.gnav-linkarea li:nth-child(2) span{
  background-image: url(/common/assets/images/header/5/icon-white.png);
  background-position: 153px 15px;
}


.gnav-linkarea li:nth-child(2) a{
  background-color: #909090;
  color: #fff;
  font-size: 10px;
  letter-spacing: -0.3px;

}

.gnav-linkarea li:nth-child(2) a:hover{
  background-color:#a6a6a6;
}

/******gnav-linkarea-3*****/

.gnav-linkarea li:nth-child(3) a{
  color: #333;
  background-color: #ebebeb;
}

.gnav-linkarea li:nth-child(3) span{
  background-image: url(/common/assets/images/header/5/icon-black.png);
  background-position: 142px 16px;
}

.gnav-linkarea li:nth-child(3) a:hover{
  background-color:#d9d9d9;
}


@media screen and (min-width: 768px) and (max-width: 979px){
.container{

}

/*header{
  width: 100%;
  border: none;
  height: auto;
  }*/


#header{
  border-width: 5px;
}

.header-inner{
}

.logo-area{
  height: 67px;
}

.header-logo{
  padding: 1px 0 0 19px;}

.logo-area img{
  height: 18px;
  }

.gnav-outer{
  display: none;
}

/************************hum-menu***********************/

.hum-menu {
  right: 10px;
  top: 25px;
  width: 34px;
  height: 24px;
}
.hum-menu span {
  width: 100%;
  height: 4px;
  /*border-radius: 4px;*/
}
.hum-menu span:nth-of-type(1) {
  top: 0;
}
.hum-menu span:nth-of-type(2) {
  top: 10px;
}
.hum-menu span:nth-of-type(3) {
  bottom: 0;
}

.hum-menu.active-gnav-outer span:nth-of-type(1) {
  top: -10px;
}
.hum-menu.active-gnav-outer span:nth-of-type(2) {

}
.hum-menu.active-gnav-outer span:nth-of-type(3) {
  bottom: -10px;
}

/************************gnav***********************/

#gnav{
  display: block;
}

#gnav .first-nav{}

#gnav .first-nav-list{
  border-top: none;
  border-bottom: 1px solid #ccc;
  display: block;
}

#gnav .first-nav-list:last-child{}

#gnav .first-nav-list > a{
  height: 80px;
  font-size: 20px;
  padding-left: 19px;
  letter-spacing: 4.1px;
}

#gnav .first-nav-list:before{
  left : 20px;
  top : 50%;
  margin-top: -15px;
  font-size: 32px;
}

#gnav .first-nav-list > a:hover{

}

#gnav .active-first-nav > a{

}


/************************sub-nav***********************/


.sub-nav{
  display: none;
}

.sub-menu{}
.sub-menu li:first-child{}

.sub-menu li{

}

.sub-menu li a{
  padding-left: 20px;
  font-size: 18px;
  height: 80px;
  letter-spacing: 4.1px;
}

.sub-menu li a:before{
  position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -7px;
    font-size: 16px;
}

.sub-menu li a:hover{}


/************************gnav-links***********************/

.gnav-linkarea{

}

.gnav-linkarea ul{
  padding: 0;
    width: 730px;
    margin: 20px auto 40px;
}

.gnav-linkarea li{
  margin-bottom: 20px;
float: left;
width: 230px;
margin-right: 20px;
}

.gnav-linkarea li:last-child{
  margin-right: 0;
}

.gnav-linkarea li:after{
}

.gnav-linkarea a{
  height: 50px;
    line-height: 45px;
    font-size: 21px;
    letter-spacing: 1px;
  border-radius: 25px;
}

.gnav-linkarea li span{
  width: 100%;
}

/******gnav-linkarea-1*****/

.gnav-linkarea li:nth-child(1) a{
  border-width: 2px;
}

.gnav-linkarea li:nth-child(1) a:hover{}

/******gnav-linkarea-2*****/

.gnav-linkarea li:nth-child(2) span{
      background-position: 207px 25px;
    background-size: 7px;
}


.gnav-linkarea li:nth-child(2) a{
  font-size: 17px;
}

.gnav-linkarea li:nth-child(2) a:hover{}

/******gnav-linkarea-3*****/

.gnav-linkarea li:nth-child(3) a{}

.gnav-linkarea li:nth-child(3) span{
        background-position: 189px 25px;
    background-size: 7px;
}

.gnav-linkarea li:nth-child(3) a:hover{}

      

}

@media screen and (min-width: 980px) and (max-width: 1279px) {

.container{

}


header{
  
  width: 100%;
  height: auto;

}

#header{
  border-width: 5px;
}

.header-inner{
  
  width: 100%;
  
  height: 67px;
  
  display: table;
  border:none;

}

.logo-area{
  float: left;
  height: 67px;
  vertical-align: middle;
  padding-left: 15px;
}

.header-logo{
  
  padding: 0 0 0 14px;}

.logo-area img{
  
  height: 16px;
  
  width: auto;
}

.hum-menu{
  display: none
}

/************************gnav***********************/

#gnav{
  clear: both;
}

#gnav .first-nav{
  height: 100%;
  border: none;
}

#gnav .first-nav-list{
  float: left;
  width: 12.5%;
  border: 1px solid #dddddd;
  border-left: none;
  display: block;
}

#gnav .first-nav-list:first-child{

}

#gnav .first-nav-list:last-child{
  border-right: none;
}

#gnav .first-nav-list > a{
  padding: 0;
  font-size: 15px;
  height: 70px;
  display: table-cell;
  width: 500px;
  text-align: center;
  letter-spacing: -0.3px;
}

#gnav .first-nav-list:before{
  content: " ";
}

#gnav .first-nav-list > a:hover{

}

#gnav .active-first-nav > a{
  border: none;
}


/************************sub-nav***********************/


.sub-nav{
  width: 100%;
  left: 0px;
  position: absolute;
  padding-top: 0;
  top: 70px;
  height: auto;
  /*display: block;*/
}

.sub-menu{}
.sub-menu li:first-child{}

.sub-menu li{
  border-bottom: 1px solid #e7651e;
}

.sub-menu li a{
  padding: 0 10px;
  height: 70px;
  font-size: 14px;
  font-weight: 500;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  letter-spacing: -0.3px;
  line-height: 1.1;
  width: 232px;
  text-align: center;
}

.sub-menu li a:before{
  content: " ";
}

.sub-menu li a:hover{}


/************************gnav-links***********************/

.gnav-linkarea{
  border-top: none;
  position: absolute;
  right: 7px;
  top: 16px;
}

.gnav-linkarea ul{
  
  width: auto;
  padding: 0 0 0 0;
  margin: 0 auto;

}

.gnav-linkarea li{
  
  float: left;
  
  margin-right: 17px;
}

  .gnav-linkarea li:last-child{
    margin-right: 0;
  }

.gnav-linkarea li:after{
  
  right: 3px;  
  top: 5px;
  height: 7px;
  width: 9px;

}

.gnav-linkarea a{
  
    width: 167px;
    display: block;
    height: 36px;
    text-align: center;
    line-height: 36px;
    color: #231815;
    font-size: 13px;
    letter-spacing: -0.4px;
    border-radius: 20px;
}


.gnav-linkarea li span{
width: 100%;
background-size: 7px;
}


/******gnav-linkarea-1*****/

.gnav-linkarea li:nth-child(1) a{
  border-width: 2px;
  line-height: 32px;
}

.gnav-linkarea li:nth-child(1) a:hover{}

/******gnav-linkarea-2*****/

.gnav-linkarea li:nth-child(2) span{
  background-position: 144px 17px;
}


.gnav-linkarea li:nth-child(2) a{}

.gnav-linkarea li:nth-child(2) a:hover{}

/******gnav-linkarea-3*****/

.gnav-linkarea li:nth-child(3) a{}

.gnav-linkarea li:nth-child(3) span{
      background-position: 136px 18px;
}

.gnav-linkarea li:nth-child(3) a:hover{}          

}

@media screen and (min-width: 1280px){

.container{
  margin-top: 6px;
margin-left: 200px;
}

.header-top-bar{
  width : 100%;
  border-top: 6px solid #ff6e01;
  position:fixed;
  top: 0;
  z-index:99;
}


header{
  width: 200px;
  border-right: 1px solid #eeeeee;
  height: 100%;
  position: fixed;
}

#header{
  border-top: none;
}

.logo-area{
  height: 101px;
}

.header-inner{
  border: none;
}

.header-logo{
  display: table-cell;
  vertical-align: middle;
  padding: 2px 15px 0;
}

.logo-area img{
  width : 100%;
  height: auto;
}

.hum-menu{
  display: none;
}

/************************gnav***********************/


#gnav .first-nav{
    position: relative;
    display: table;
}

#gnav .first-nav-list{
  border-top: 1px solid #eeeeee;
  position: relative;
  display: table;
  border-bottom: none;
}

#gnav .first-nav-list > a{
    width: 212px;
    height: 50px;
    text-align: left;
    padding: 0 15px 0 16px;
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
    color: #231815;
    letter-spacing: -0.9px;
    line-height: 1.1;
    font-size: 16px;
}

#gnav .first-nav-list > a:hover{
/*  background-color: #efefef;
  color: #231815;*/
}

#gnav .active-first-nav > a{
  background-color: #ff6e01;
  color: #fff;
  border: none;
}

/************************sub-nav***********************/


.sub-nav{
  width: 200px;
  position: fixed;
  left: 200px;
  height: 100%;
  background-color: #ff6e01;
  top: 0;
  text-align: center;
  z-index: 11;
  padding-top: 107px;
  display: none;
}

.sub-menu{
  
}
.sub-menu li:first-child{
  position: relative;
  display: table;
  border-top:1px solid #eb6400;
}

.sub-menu li{
  border: none;
  position: relative;
  display: table;
  border-top:1px solid #eb6400;
}

.sub-menu li a{
  width: 232px;
  height: 50px;
  text-align: left;
  padding: 0 15px;
  letter-spacing: -0.9px;
  font-weight: 500;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.1;
  font-size: 16px;
}

.sub-menu li a:before{
  content: " ";
}

    

.sub-menu li a:hover{
  background-color:#ff8b34;
}


/************************gnav-links***********************/

.gnav-linkarea{
  border-top: 1px solid #eeeeee;
}

.gnav-linkarea ul{
  width: 170px;
  margin: 0 auto;
  padding: 13px 0 0 0;
}

.gnav-linkarea li{
  margin-bottom: 10px;
  position: relative;
}

.gnav-linkarea li:after{
  height: 7px;
  width: 9px;
  right: 18px;
  top: 4px;
}

.gnav-linkarea a{
  width: 170px;
  height: 36px;
  line-height: 32px;
  font-size: 13px;
  letter-spacing: 4.6px;
  border-radius: 25px;
  font-weight: bold;
}

.gnav-linkarea li span{
  width: 100%;
}

.gnav-linkarea a:hover{
  
}

/******gnav-linkarea-1*****/

.gnav-linkarea li:nth-child(1) a{
  border-width: 2px;
}

.gnav-linkarea li:nth-child(1) a:hover{}

/******gnav-linkarea-2*****/

.gnav-linkarea li:nth-child(2) span{
          background-position: 145px 17px;
    background-size: 7px;
}


.gnav-linkarea li:nth-child(2) a{
    font-size: 13px;
    letter-spacing: -0.9px;
    line-height: 35px;
    padding-right: 16px;
}

.gnav-linkarea li:nth-child(2) a:hover{}

/******gnav-linkarea-3*****/

.gnav-linkarea li:nth-child(3) a{}

.gnav-linkarea li:nth-child(3) span{
          background-position: 138px 18px;
    background-size: 7px;
}

.gnav-linkarea li:nth-child(3) a:hover{}

}
