#container #content .message-area h1 .title-small {
    color: #647d96;
}
#container #content .message-area h1 {
    border-bottom: solid 3px #647d96;
}
.welcab-station .banner-list .banner-type1 .btn-page {
    background-color: #647d96;
}