#blog-fixed-btn {
    background-color: #118175;
}
#staff-blog .blog-more-btn {
    background-color: #118175;
}
@media screen and (min-width: 1280px) {
    #staff-blog {
        border: 4px solid #118175;
    }
    #staff-blog h3 {
        background-color: #118175;
    }
    .blog-inner .blog-inner-left .blog-text a {
        color: #118175;
    }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
    #staff-blog {
        border: 4px solid #118175;
    }
    #staff-blog h3 {
        background-color: #118175;
    }
    .blog-inner .blog-inner-left .blog-text a {
        color: #118175;
    }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    #staff-blog {
        border: 4px solid #118175;
    }
    #staff-blog h3 {
        background-color: #118175;
    }
    .blog-inner .blog-inner-left .blog-text a {
        color: #118175;
    }
}
@media screen and (max-width: 767px) {
    #staff-blog {
        border: 2px solid #118175;
    }
    #staff-blog h3 {
        background-color: #118175;
    }
    .blog-inner .blog-inner-left .blog-text a {
        color: #118175;
    }
    #staff-blog .blog-more-btn {
        background-color: #118175;
    }
}
