@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*common*/

.cf:after {
  content: "";
  clear: both;
  display: block;
}
body {
  background-color: #fff;
  font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
#content {
  line-height: normal;
  color: #4d4d4d;
  background-color: #f1f1f1;
}

/**************
  blog-btn
  **************/

#blog-fixed-btn {
  position: fixed;
  top: 200px;
  right: -190px;
  width: 190px;
  height: auto;
  border-radius: 4px;
  background-color: #ff6e01;
  z-index: 999;
  opacity: 0;
}
#blog-fixed-btn a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
#blog-fixed-btn span {
  display: block;
}
#blog-fixed-btn .blog-btn-pic {
  padding: 5px;
}
#blog-fixed-btn .blog-btn-pic img {
  width: 100%;
  height: auto;
  vertical-align: top
}
#blog-fixed-btn .blog-btn-title {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px 0 10px;
}
#blog-fixed-btn .blog-btn-date {
  font-size: 13px;
  padding: 0 10px 10px 10px;
}
#snav-fixed-sp {
  display: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.main-service li:before {
  content: "• ";
}
.sub-service li:before {
  content: "• ";
}
#google-map .google-map-pc-link a {
  text-decoration: underline;
}
#breadList ol li {
  display: inline;
  list-style-type: none;
}
#breadList ol li:before {
  content: " > ";
}
#breadList ol li:first-child:before {
  content: "";
}
#breadList ol li a {
  color: #000;
  text-decoration: underline;
}
h1 {
  font-weight: bold;
}
.store-info .add dd span {
  display: block;
}
.comment li.pic img {
  width: 100%;
  height: auto;
}
#google-map .map-wrap {
  position: relative;
  height: 0;
  overflow: hidden;
}
#google-map .map-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
#street-view .view-wrap {
  position: relative;
  height: 0;
  overflow: hidden;
}
#street-view iframe, #street-view object, #street-view embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#staff-blog .blog-more-btn {
  border-radius: 4px;
  background-color: #ff7711;
  background-image: -moz-linear-gradient( 90deg, rgb(204, 92, 9) 0%, rgb(230, 104, 11) 3%, rgb(255, 116, 12) 5%, rgb(255, 163, 94) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(204, 92, 9) 0%, rgb(230, 104, 11) 3%, rgb(255, 116, 12) 5%, rgb(255, 163, 94) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(204, 92, 9) 0%, rgb(230, 104, 11) 3%, rgb(255, 116, 12) 5%, rgb(255, 163, 94) 100%);
}
.phone-wrap {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.phone-wrap ul {
  float: left;
  width: 50%;
}
.phone-wrap ul > li {
  float: left;
}
.phone-wrap .sub-title {
  width: 20%;
}
.phone-wrap .num-area {
  width: 80%;
}
.hours dd span{
  display: block;
}
/*pcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpc*/

@media screen and (min-width: 1280px) {
  /*  #content {
    margin-left: 210px;
  }*/
  .section {
    width: 980px;
    margin: 0 auto;
  }
  .section .square {
    display: inline-block;
    background-color: #ff6e01;
    vertical-align: bottom;
  }
  .section h1 {
    font-size: 32px;
    font-weight: bold;
    border-bottom: 3px solid #cfcdcc;
    margin: 0 0 34px 0;
    padding: 0 0 13px 0;
    line-height: 1;
    letter-spacing: 2.7px;
  }
  .section h1 .square {
    width: 30px;
    height: 30px;
    margin-right: 9px;
  }
  .section h2 {
    font-size: 22px;
    line-height: 1;
    border-bottom: 2px solid #cfcdcc;
    margin: 0 0 24px 0;
    padding: 0 0 13px 0;
    font-weight: bold;
    letter-spacing: 0.6px;
  }
  .section h2 .square {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
  /**************
  store-main-pic
  **************/
  #store-main-pic {
    padding-top: 80px;
  }
  /**************
  store-info
  **************/
  #store-info {
    font-size: 16px;
    margin-top: 53px;
  }
  .sub-title {
    font-weight: bold;
  }/*
  .tel {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  .tel li {
    float: left;
    width: 50%;
  }
  .tel li span {
    padding-right: 70px;
  }*/
  .hours {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 26px;
    margin-bottom: 24px;
  }
  .hours dl {
    width: auto;
  }
  .hours dt {
    float: left;
  }
  .hours dd {
    margin-left: 96px;
  }
  .add dl {
    width: auto;
  }
  .add dt {
    float: left;
  }
  .add dd {
    margin-left: 96px;
    margin-bottom: 25px;
  }
  #google-map {
    border-bottom: 1px solid #d3d3d3;
  }
  #google-map .map-wrap {
    padding: 0 0 54.2%;
  }
  #google-map .google-map-pc-link {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 33px;
  }
  #google-map .google-map-pc-link a {
    color: #1f4894;
    font-weight: bold;
  }
  .main-service {
    margin-top: 40px;
  }
  .main-service .main-service-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #adadad;
    padding: 5px 0 5px 12px;
  }
  .main-service ul {
    padding: 20px 20px 10px 20px;
    background-color: #fff;
  }
  .main-service li {
    font-size: 16px;
    font-weight: bold;
    width: 33.3333%;
    float: left;
    margin-bottom: 16px;
  }
  .sub-service {
    padding: 15px 20px 16px 20px;
    margin-top: 20px;
    background-color: #fff;
  }
  .sub-service .sub-service-title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 3px;
    margin-bottom: 14px;
  }
  .sub-service ul {}
  .sub-service li {
    font-size: 16px;
    margin-top: 10px;
  }
  .comment {
    margin-top: 60px;
  }
  .comment .comment-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #adadad;
    padding: 5px 0 5px 12px;
  }
  .comment ul {
    padding: 20px 16px 15px 30px;
    background-color: #fff;
  }
  .comment li {
    float: left;
  }
  .comment li.pic {
    width: 120px;
    height: auto;
  }
  .comment li.text {
    width: 790px;
    margin: 3px 0 0 24px;
    line-height: 1.8;
  }
  /**************
  store-image
  **************/
  #store-image {
    margin-top: 70px;
  }
  #slide-wrap {
    margin-top: 27px;
  }
  #street-view .view-wrap {
    width: 980px;
    margin: 76px auto 0;
    padding: 0 0 75%;
  }
  /**************
  staff-blog
  **************/
  #staff-blog {
    margin-top: 44px;
    padding-bottom: 36px;
    box-sizing: border-box;
    border: 4px solid #ff6e01;
  }
  #staff-blog h3 {
    height: 47px;
    line-height: 43px;
    padding-left: 10px;
    font-size: 24px;
    color: #fff;
    background-color: #ff6e01;
    letter-spacing: 0.8px;
  }
  #staff-blog .blog-inner {
    padding: 27px 30px 0 30px;
  }
  .blog-inner .blog-inner-left, .blog-inner .blog-inner-right {
    float: left;
  }
  .blog-inner .blog-inner-left {
    width: 550px;
    margin: 0 32px 0 0;
  }
  #staff-blog .blog-inner-left .blog-title {
    font-size: 19px;
    font-weight: bold;
  }
  .blog-inner .blog-inner-left .blog-text p {
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 0;
  }
  .blog-inner .blog-inner-left .blog-text p.bold {
    font-weight: bold;
  }
  .blog-inner .blog-inner-left .blog-text a {
    color: #ff6e01;
  }
  .blog-inner .blog-inner-right {
    width: 330px;
  }
  .blog-inner .blog-inner-right img {
    width: 100%;
    height: auto;
  }
  #staff-blog .blog-more-btn {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 320px;
    height: 60px;
    line-height: 60px;
    margin: 24px auto 0;
    /* float: none; */
  }
  #staff-blog .blog-more-btn a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
  }
  #breadList {
    font-size: 13px;
    margin-left: 46px;
    padding-bottom: 20px;
    margin-top: 80px;
  }
}

/*PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2*/

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .section {
    width: 980px;
    margin: 0 auto;
  }
  .section .square {
    display: inline-block;
    background-color: #ff6e01;
    vertical-align: bottom;
  }
  .section h1 {
    font-size: 32px;
    font-weight: bold;
    border-bottom: 3px solid #cfcdcc;
    margin: 0 0 34px 0;
    padding: 0 0 13px 0;
    line-height: 1;
    letter-spacing: 2.7px;
  }
  .section h1 .square {
    width: 30px;
    height: 30px;
    margin-right: 9px;
  }
  .section h2 {
    font-size: 22px;
    line-height: 1;
    border-bottom: 2px solid #cfcdcc;
    margin: 0 0 24px 0;
    padding: 0 0 13px 0;
    font-weight: bold;
    letter-spacing: 0.6px;
  }
  .section h2 .square {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
  /**************
  store-main-pic
  **************/
  #store-main-pic {
    padding-top: 80px;
  }
  /**************
  store-info
  **************/
  #store-info {
    font-size: 16px;
    margin-top: 53px;
  }
  .sub-title {
    font-weight: bold;
  }
  /*.tel {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  .tel li {
    float: left;
    width: 50%;
  }
  .tel li span {
    padding-right: 70px;
  }*/
  .hours {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 26px;
    margin-bottom: 24px;
  }
  .hours dl {
    width: auto;
  }
  .hours dt {
    float: left;
  }
  .hours dd {
    margin-left: 96px;
  }
  .add dl {
    width: auto;
  }
  .add dt {
    float: left;
  }
  .add dd {
    margin-left: 96px;
    margin-bottom: 25px;
  }
  #google-map {
    border-bottom: 1px solid #d3d3d3;
  }
  #google-map .map-wrap {
    padding: 0 0 54.2%;
  }
  #google-map .google-map-pc-link {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 33px;
  }
  #google-map .google-map-pc-link a {
    color: #1f4894;
    font-weight: bold;
  }
  .main-service {
    margin-top: 40px;
  }
  .main-service .main-service-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #adadad;
    padding: 5px 0 5px 12px;
  }
  .main-service ul {
    padding: 20px 20px 10px 20px;
    background-color: #fff;
  }
  .main-service li {
    font-size: 16px;
    font-weight: bold;
    width: 33.3333%;
    float: left;
    margin-bottom: 16px;
  }
  .sub-service {
    padding: 15px 20px 16px 20px;
    margin-top: 20px;
    background-color: #fff;
  }
  .sub-service .sub-service-title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 3px;
    margin-bottom: 14px;
  }
  .sub-service ul {}
  .sub-service li {
    font-size: 16px;
    margin-top: 10px;
  }
  .comment {
    margin-top: 60px;
  }
  .comment .comment-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #adadad;
    padding: 5px 0 5px 12px;
  }
  .comment ul {
    padding: 20px 16px 15px 30px;
    background-color: #fff;
  }
  .comment li {
    float: left;
  }
  .comment li.pic {
    width: 120px;
    height: auto;
  }
  .comment li.text {
    width: 790px;
    margin: 3px 0 0 24px;
    line-height: 1.8;
  }
  /**************
  store-image
  **************/
  #store-image {
    margin-top: 70px;
  }
  #slide-wrap {
    margin-top: 27px;
  }
  #street-view .view-wrap {
    width: 980px;
    margin: 76px auto 0;
    padding: 0 0 75%;
  }
  /**************
  staff-blog
  **************/
  #staff-blog {
    margin-top: 44px;
    padding-bottom: 36px;
    box-sizing: border-box;
    border: 4px solid #ff6e01;
  }
  #staff-blog h3 {
    height: 47px;
    line-height: 43px;
    padding-left: 10px;
    font-size: 24px;
    color: #fff;
    background-color: #ff6e01;
    letter-spacing: 0.8px;
  }
  #staff-blog .blog-inner {
    padding: 27px 30px 0 30px;
  }
  .blog-inner .blog-inner-left, .blog-inner .blog-inner-right {
    float: left;
  }
  .blog-inner .blog-inner-left {
    width: 550px;
    margin: 0 32px 0 0;
  }
  #staff-blog .blog-inner-left .blog-title {
    font-size: 19px;
    font-weight: bold;
  }
  .blog-inner .blog-inner-left .blog-text p {
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 0;
  }
  .blog-inner .blog-inner-left .blog-text p.bold {
    font-weight: bold;
  }
  .blog-inner .blog-inner-left .blog-text a {
    color: #ff6e01;
  }
  .blog-inner .blog-inner-right {
    width: 330px;
  }
  .blog-inner .blog-inner-right img {
    width: 100%;
    height: auto;
  }
  #staff-blog .blog-more-btn {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 320px;
    height: 60px;
    line-height: 60px;
    margin: 24px auto 0;
    /* float: none; */
  }
  #staff-blog .blog-more-btn a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
  }
  #breadList {
    font-size: 13px;
    margin-left: 46px;
    padding-bottom: 20px;
    margin-top: 80px;
  }
}

/*TABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTAB*/

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .section {
    width: auto;
    margin: 0 2.6041666%;
  }
  .section .square {
    display: inline-block;
    background-color: #ff6e01;
    vertical-align: bottom;
  }
  .section h1 {
    font-size: 34px;
    border-bottom: 3px solid #cfcdcc;
    margin: 0 0 20px 0;
    padding: 0 0 14px 0;
    line-height: 1;
    letter-spacing: 1.6px;
  }
  .section h1 .square {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .section h2 {
    font-size: 24px;
    line-height: 1;
    border-bottom: 2px solid #cfcdcc;
    margin: 0 0 27px 0;
    padding: 0 0 13px 0;
    font-weight: bold;
  }
  .section h2 .square {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  /**************
store-main-pic
**************/
  #store-main-pic {
    padding-top: 46px;
  }
  #store-main-pic img {
    width: 100%;
    vertical-align: top;
  }
  /**************
store-info
**************/
  #store-info {
    font-size: 18px;
    margin-top: 44px;
  }
  .sub-title {
    font-weight: bold;
  }
  /*.tel {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 24px;
    margin-bottom: 25px;
  }
  .tel li {
    float: left;
    width: 283px;
  }
  .tel li span {
    padding-right: 55px;
  }*/
  .hours {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  .hours dl {
    width: auto;
  }
  .hours dt {
    float: left;
  }
  .hours dd {
    margin-left: 93px;
  }
  .hours dd span {
    margin-right: 39px;
  }
  .add dl {
    width: auto;
  }
  .add dt {
    float: left;
  }
  .add dd {
    margin-left: 93px;
    margin-bottom: 34px;
  }
  #google-map {
    border-bottom: 1px solid #d3d3d3;
  }
  #google-map .map-wrap {
    padding: 0 0 56.25%;
  }
  #google-map .map-wrap iframe {
    width: 100%;
  }
  #google-map .google-map-pc-link {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 28px;
  }
  #google-map .google-map-pc-link a {
    color: #1f4894;
    font-weight: bold;
  }
  .main-service {
    margin-top: 10.9%;
  }
  .main-service .main-service-title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #adadad;
    padding: 7px 0 7px 10px;
  }
  .main-service ul {
    padding: 18px 20px 13px 20px;
    background-color: #fff;
  }
  .main-service li {
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    float: left;
    margin-bottom: 13px;
  }
  .sub-service {
    padding: 18px 20px 16px 20px;
    margin-top: 40px;
    background-color: #fff;
  }
  .sub-service .sub-service-title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 2px;
    margin-bottom: 14px;
  }
  .sub-service ul {}
  .sub-service li {
    font-size: 16px;
    margin-top: 8px;
  }
  .comment {
    margin-top: 60px;
  }
  .comment .comment-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #adadad;
    padding: 6px 0 8px 11px;
    letter-spacing: 1.6px;
  }
  .comment ul {
    padding: 20px 20px 25px 20px;
    background-color: #fff;
  }
  .comment li {
    float: left;
  }
  .comment li.pic {
    width: 120px;
    height: auto;
  }
  .comment li.text {
    width: 77%;
    margin: 3px 0 0 28px;
    line-height: 1.8;
  }
  /**************
  store-image
  **************/
  #store-image {
    margin-top: 12.6%;
  }
  /**************
  slide-wrap
  **************/
  #slide-wrap {
    margin-top: 40px;
  }
  /**************
  street-view
  **************/
  #street-view .view-wrap {
    /*max-width: 600px;*/
    width: auto;
    margin: 8.1% auto 0;
    padding: 0 0 75.3%;
  }
  /**************
  staff-blog
  **************/
  #staff-blog {
    margin-top: 10.4%;
    padding-bottom: 5.3%;
    box-sizing: border-box;
    border: 4px solid #ff6e01;
  }
  #staff-blog h3 {
    height: 47px;
    line-height: 43px;
    padding-left: 10px;
    font-size: 24px;
    color: #fff;
    background-color: #ff6e01;
    letter-spacing: 0.8px;
  }
  #staff-blog .blog-inner {
    padding: 27px 30px 0 30px;
  }
  .blog-inner .blog-inner-left, .blog-inner .blog-inner-right {
    float: none;
  }
  #staff-blog .blog-inner-left .blog-title {
    font-size: 21px;
    font-weight: bold;
  }
  .blog-inner .blog-inner-left .blog-text p {
    margin-top: 18px;
    font-size: 16px;
  }
  .blog-inner .blog-inner-left .blog-text p.bold {
    font-weight: bold;
  }
  .blog-inner .blog-inner-left .blog-text a {
    color: #ff6e01;
  }
  .blog-inner .blog-inner-right {
    width: 76%;
    margin: 5.8% auto 0;
  }
  .blog-inner .blog-inner-right img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }
  #staff-blog .blog-more-btn {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 320px;
    height: 59px;
    line-height: 60px;
    background-color: #ff7711;
    margin: 4.1% auto 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+15,ff7f04+100 */
    background: #ffb76b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 15%, #ff7f04 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 15%, #ff7f04 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 15%, #ff7f04 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0);
    /* IE6-9 */
  }
  #staff-blog .blog-more-btn a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
  }
  #breadList {
    font-size: 15px;
    margin-left: 17px;
    padding-bottom: 16px;
    margin-top: 75px;
  }
}

/*SPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSP*/

@media screen and (max-width: 767px) {
  #blog-fixed-btn {
    display: none;
  }
  #snav-fixed-sp {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    background-color: #9b9b9b;
    z-index: 999;
  }
  #snav-fixed-sp ul {
    width: 300px;
    margin: 0 auto;
  }
  #snav-fixed-sp li {
    width: 97px;
    height: auto;
    float: left;
    margin-left: 4px;
  }
  #snav-fixed-sp li:first-child {
    margin-left: 0;
  }
  #snav-fixed-sp li img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }
  .section {
    width: auto;
    margin: 0 3.90625%;
  }
  .section .square {
    display: inline-block;
    background-color: #ff6e01;
    vertical-align: bottom;
  }
  .section h1 {
    font-size: 16px;
    border-bottom: 3px solid #cfcdcc;
    margin: 0 0 14px 0;
    padding: 0 0 11px 0;
    line-height: 1;
  }
  .section h1 .square {
    width: 14px;
    height: 14px;
    margin-right: 5px;
  }
  .section h2 {
    font-size: 15px;
    line-height: 1;
    border-bottom: 1px solid #cfcdcc;
    margin: 0 0 11px 0;
    padding: 0 0 5px 0;
    font-weight: bold;
  }
  .section h2 .square {
    width: 13px;
    height: 13px;
    margin-right: 4px;
  }
  /**************
store-main-pic
**************/
  #store-main-pic {
    padding-top: 24px;
  }
  #store-main-pic img {
    width: 100%;
  }
  /**************
store-info
**************/
  #store-info {
    font-size: 14px;
    margin-top: 10.2%;
  }
  .sub-title {
    font-weight: bold;
  }
  .phone-wrap {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .phone-inner {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 10px;
    margin-bottom: 11px;
  }
  .phone-wrap ul {
    float: none;
    width: auto;
  }
  .phone-wrap ul > li {
    float: left;
  }
  .phone-wrap .sub-title {
    width: 68px;
  }
  .phone-wrap .num-area {
    width: 200px;
  }
  /*.tel {
     border-bottom: 1px solid #d3d3d3;
  }
  .tel li {
    float: none;
    width: auto;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 10px;
    margin-bottom: 11px;
  }
  .tel li span {
    padding-right: 43px;
  }*/
  .hours {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
  .hours dl {
    width: auto;
  }
  .hours dt {
    float: left;
  }
  .hours dd {
    margin-left: 68px;
  }
  .hours dd span {
    display: block;
  }
  .add dl {
    width: auto;
  }
  .add dt {
    float: left;
  }
  .add dd {
    margin-left: 68px;
    line-height: 1.6;
  }
  #google-map {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 5.5%;
    margin-top: 2.9%;
  }
  #google-map .map-wrap {
    /* border-bottom: 1px solid #d3d3d3; */
    padding: 0 0 56.4%;
    /* margin-bottom: 5%; */
  }
  #google-map .map-wrap iframe {
    width: 100%;
    height: 30%;
  }
  #google-map .google-map-pc-link {
    display: none;
    font-size: 14px;
    text-align: center;
  }
  #google-map .google-map-pc-link a {
    color: #1f4894;
    font-weight: bold;
  }
  .main-service {
    margin-top: 8.2%;
  }
  .main-service .main-service-title {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #adadad;
    padding: 2px 0 2px 6px;
  }
  .main-service ul {
    padding: 13px 12px 0 12px;
    background-color: #fff;
  }
  .main-service li {
    font-size: 14px;
    font-weight: bold;
    width: 45%;
    float: left;
    padding-left: 3%;
    text-indent: -3%;
    margin-bottom: 25px;
  }
  .main-service li:nth-child(2n+0) {
    width: 45%;
    margin-left: 4%;
  }
  .sub-service {
    padding: 10px 10px 4px 10px;
    margin-top: 4.9%;
    background-color: #fff;
  }
  .sub-service .sub-service-title {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 7px;
    padding-bottom: 1px;
  }
  .sub-service ul {}
  .sub-service li {
    font-size: 12px;
    margin-bottom: 8px;
    padding-left: 0.5em;
    text-indent: -0.5em;
  }
  #slide-wrap {
    margin-top: 5.3%;
  }
  .comment {
    margin-top: 6.9%;
  }
  .comment .comment-title {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #adadad;
    padding: 2px 0 1px 6px;
    letter-spacing: 1.6px;
  }
  .comment ul {
    padding: 16px 14px 12px 14px;
    background-color: #fff;
  }
  .comment li {
    float: left;
    width: 22%;
  }
  .comment li.pic img {
    width: 100%;
    height: auto;
  }
  .comment li.text {
    width: 70%;
    margin: -8px 0 0 6%;
    line-height: 1.6;
  }
  /**************
  store-image
  **************/
  #store-image {
    margin-top: 12.8%;
  }
  #street-view {
    margin-top: 10%;
  }
  #street-view .view-wrap {
    margin: 4.6% auto 0;
    padding: 0 0 75%;
    width: auto;
  }
  /**************
  staff-blog
  **************/
  #staff-blog {
    margin-top: 9.2%;
    padding-bottom: 0.6%;
    box-sizing: border-box;
    border: 2px solid #ff6e01;
  }
  #staff-blog h3 {
    height: 25px;
    line-height: 22px;
    padding-left: 5px;
    font-size: 15px;
    color: #fff;
    background-color: #ff6e01;
    letter-spacing: 0.8px;
  }
  #staff-blog .blog-inner {
    padding: 13px 15px 0 15px;
  }
  .blog-inner .blog-inner-left, .blog-inner .blog-inner-right {
    float: none;
  }
  #staff-blog .blog-inner-left .blog-title {
    font-size: 15px;
    font-weight: bold;
  }
  .blog-inner .blog-inner-left .blog-text p {
    margin-top: 12px;
    font-size: 12px;
  }
  .blog-inner .blog-inner-left .blog-text p.bold {
    font-weight: bold;
  }
  .blog-inner .blog-inner-left .blog-text a {
    color: #ff6e01;
  }
  .blog-inner .blog-inner-right {
    width: auto;
    margin-top: 6%;
  }
  .blog-inner .blog-inner-right img {
    width: 100%;
    height: auto;
  }
  #staff-blog .blog-more-btn {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: auto;
    height: 40px;
    line-height: 40px;
    background-color: #ff7711;
    margin: 5% 5%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+15,ff7f04+100 */
    background: #ffb76b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 15%, #ff7f04 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 15%, #ff7f04 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 15%, #ff7f04 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0);
    /* IE6-9 */
  }
  #staff-blog .blog-more-btn a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
  }
  #breadList {
    font-size: 10px;
    margin-left: 10px;
    padding-bottom: 2.8%;
    margin-top: 10%;
  }
}
