/* CSS Document */

body,td,th {
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", Osaka, "ƒqƒ‰ƒMƒmŠpƒS Pro W3",sans-serif;
	font-size: 12px;
	color: #333333;
	margin:0px;
	padding:0px;
}
body {
	background-color: #FFFFFF;
	margin-top:30px;

}

.p5{
padding:5px 0;
}

.pb10{
	padding-bottom:10px;
}

/* ƒeƒ“ƒvƒŒ[ƒg */

.font_red {
	color: #FF9900;
}
.font_blue {
	color: #6699CC;
}

#flashbox01{
padding-bottom:15px;
}

#mobbox01{
padding-left:15px;
padding-right:10px;
}

#mobbox01 a:link,a:visited,a:active{
color:#FF9900;
text-decoration:underline;
font-size:14px;
font-family:"‚l‚r ‚oƒSƒVƒbƒN", Osaka, "ƒqƒ‰ƒMƒmŠpƒS Pro W3",sans-serif;
}

#mobbox01 img{
padding-right:10px;
}

#mobbox02 img{
padding-top:10px;
padding-bottom:10px;
}

#ttlbox01 img{
padding-top:15px;
padding-right:10px;
}

#ttlbox02 img{
padding-top:5px;
padding-bottom:5px;
}

#tbmg{
margin-top:10px;
}

#tbmg img{
padding-top:10px;
}

#ban_padding01{
padding-left:45px;
padding-bottom:10px;
}

#ban_padding02{
padding-left:40px;
padding-bottom:10px;
}

/*---------------------SEO‹­§*/
h1 {
font-size:10px;
display:none;
}

h2 { font-size:10px;
display:none;
} 

h3 { font-size:10px;
display:none;
} 

h5 {font-size:10px;
display:none;
}


