/* CSS Document */

#COmenubox01{
padding-top:20px;
padding-left:27px;
}

.COmenubox02{
padding-left:27px;
padding-bottom:20px;
}

#foot_pad{
padding-top:20px;
}

#COitembox{
width:850px;
background-image:url(../img/coupon/menu_bg02.gif);
margin-top:10px;
margin-bottom:10px;
}

#COitem_no1{
margin-left:70px;
margin-top:20px;
margin-bottom:20px;
}

#COitem_no2{
margin-left:30px;
margin-top:20px;
margin-bottom:20px;
}

#COitem_no3{
margin-left:185px;
margin-top:20px;
margin-bottom:20px;
}

#COitem_no4{
margin-left:70px;
margin-top:20px;
margin-bottom:20px;
}

.ptb10{
padding-top:10px;
padding-bottom:10px;
}

#COttlbox img{
padding-bottom:10px;
padding-top:10px;
}
/*----------ÉNÅ[É|ÉìÉyÅ[ÉWA4----------*/

#COmenubox_a4{
padding-top:10px;
padding-bottom:20px;
}

#COheadbox_a4{
padding-top:5px;
padding-bottom:20px;
}

.footFont{
	font-family: "ÇlÇr ÇoÉSÉVÉbÉN", Osaka, "ÉqÉâÉMÉmäpÉS Pro W3",sans-serif;
	font-size: 11px;
}