/* CSS Document */

* { margin: 0px; padding: 0px; }



body {
	margin:0px;
	padding:0px;
	font-size:80%;
font-family:"MS PGothic",Arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,Sans-Serif;
	line-height:1.3em;
	letter-spacing:0.1em;
	color: #4D4848;
	background-color:#F4F3F3;
	text-align:left;
}

.text_small {
	font-size:85%;
}




ul {
	list-style-image: none;
	list-style-type: none;
}

#wrapper_bg {
	margin:0px auto 0 auto;
	padding:0;
	width:1068px;
	background:url(../img/grand/base.jpg) repeat-y 0 0;
}


#wrapper { width: 950px; margin: 0px auto; position:relative; }

#flash_area { clear: both; height: 260px; }

img { border: none; }

.clear {
    clear:both;
	margin:0;
	padding:0;
	width:auto;
	height:0px;
}

* html .clear {
    clear:both;
	margin:-20px 0 0 0;
	padding:0;
	width:auto;
	height:0px;
}

.nodisplay {
	display:none;
}

/*::::::::::::::::::::::::::::::
ヘッダー
::::::::::::::::::::::::::::::*/
#header { width: 950px; height: 71px; }

#logo1 {
	float: left;
}

#logo2 {
	background-image: url(../img/grand/toyota.jpg);
	background-repeat: no-repeat;
	width: 129px; height: 29px;
	margin:18px 0 0 0;
	text-indent: -9999px; overflow: hidden;
	float: right;
}


/*----------------------------------------------------
	navi
----------------------------------------------------*/
#navi_base {
	clear:both;
	width:950px;
	padding:0;
	margin:0 auto 10px auto;
	height:41px;
}

#navi {
	width:950px;
	padding:0;
	margin:0 auto;
	height:36px;
	position:absolute;
	top:70px;
	left:0px;
}

ul.menu li {
    position:relative;
	float:left;
	margin:0px
}

ul.menu {
    list-style:none;
	margin:0;
	padding:0;
	float:left;
}

#top01 {
	list-style:none;
	width:190px;
	height:36px;
	margin:0;
	padding:0 0 0 0 0;
}

#top02 {
	list-style:none;
	width:190px;
	height:36px;
	margin:0;
	padding:0 0 0 0 0;
}

#top03 {
	list-style:none;
	width:190px;
	height:36px;
	margin:0;
	padding:0 0 0 0 0;
}

#top04 {
	list-style:none;
	width:190px;
	height:36px;
	margin:0;
	padding:0 0 0 0 0;
}

#top05 {
	list-style:none;
	width:190px;
	height:36px;
	margin:0;
	padding:0 0 0 0 0;
}



ul.menu a {
    display:block;
	text-decoration:none;
}

ul.menu li.menulink {
    margin:0 0 0 0;
	padding:0;
}

ul.menu ul {
    position:absolute;
	top:36px;
	left:0;
	display:none;
	list-style:none;
	margin:0;
	padding:0;
}

ul.menu ul li {
    position:relative;
	margin:0;
	padding:0;
	width:190px;
	background-color:#FFFFFF;
}

ul.menu ul li a {
    display:block;
	padding:0;
	margin:0;
	  background-color:#FFFFFF;
}

#top01_01 {
	width:190px;
	height:40px;
}

#top01_02,#top01_03 {
	width:190px;
	height:35px;
}


#top01_01 a:hover {
    background: url(../img/grand/top01_01_over.jpg) no-repeat 0px 0px;
}

#top01_02 a:hover {
    background: url(../img/grand/top01_02_over.jpg) no-repeat 0px 0px;
}

#top01_03 a:hover {
    background: url(../img/grand/top01_03_over.jpg) no-repeat 0px 0px;
}

#top01_01 a,#top01_02 a,#top01_03 a { display: block; }
#top01_01 a:hover,#top01_02 a:hover,#top01_03 a:hover { background-color:transparent;}
#top01_01 a:hover img,#top01_02 a:hover img,#top01_03 a:hover img { visibility:hidden; }



#top02_02 {
	width:190px;
	height:40px;
}

#top02_03,#top02_04,#top02_05,#top02_06 {
	width:190px;
	height:35px;
}

#top02_01 a:hover {
    background: url(../img/grand/top02_01_over.jpg) no-repeat 0px 0px;
}

#top02_02 a:hover {
    background: url(../img/grand/top02_02_over.jpg) no-repeat 0px 0px;
}

#top02_03 a:hover {
    background: url(../img/grand/top02_03_over.jpg) no-repeat 0px 0px;
}

#top02_04 a:hover {
    background: url(../img/grand/top02_04_over.jpg) no-repeat 0px 0px;
}

#top02_05 a:hover {
    background: url(../img/grand/top02_05_over.jpg) no-repeat 0px 0px;
}

#top02_06 a:hover {
    background: url(../img/grand/top02_06_over.jpg) no-repeat 0px 0px;
}

#top02_01 a,#top02_02 a,#top02_03 a,#top02_04 a,#top02_05 a,#top02_06 a { display: block; }
#top02_01 a:hover,#top02_02 a:hover,#top02_03 a:hover,#top02_04 a:hover,#top02_05 a:hover,#top02_06 a:hover { background-color:transparent;}
#top02_01 a:hover img,#top02_02 a:hover img,#top02_03 a:hover img,#top02_04 a:hover img,#top02_05 a:hover img,#top02_06 a:hover img { visibility:hidden; }




#top03_01 {
	width:190px;
	height:40px;
}

#top03_02 {
	width:190px;
	height:35px;
}

#top03_01 a:hover {
    background: url(../img/grand/top03_01_over.jpg) no-repeat 0px 0px;
}

#top03_02 a:hover {
    background: url(../img/grand/top03_02_over.jpg) no-repeat 0px 0px;
}

#top03_01 a,#top03_02 a { display: block; }
#top03_01 a:hover,#top03_02 a:hover { background-color:transparent;}
#top03_01 a:hover img,#top03_02 a:hover img { visibility:hidden; }



#top04_01 {
	width:190px;
	height:40px;
}

#top04_02,#top04_03,#top04_04,#top04_05,#top04_06,#top04_07,#top04_08,#top04_09,#top04_10,#top04_11 {
	width:190px;
	height:35px;
}

#top04_01 a:hover {
    background: url(../img/grand/top04_01_over.jpg) no-repeat 0px 0px;
}

#top04_02 a:hover {
    background: url(../img/grand/top04_02_over.jpg) no-repeat 0px 0px;
}

#top04_03 a:hover {
    background: url(../img/grand/top04_03_over.jpg) no-repeat 0px 0px;
}

#top04_04 a:hover {
    background: url(../img/grand/top04_04_over.jpg) no-repeat 0px 0px;
}

#top04_05 a:hover {
    background: url(../img/grand/top04_05_over.jpg) no-repeat 0px 0px;
}

#top04_06 a:hover {
    background: url(../img/grand/top04_06_over.jpg) no-repeat 0px 0px;
}

#top04_07 a:hover {
    background: url(../img/grand/top04_07_over.jpg) no-repeat 0px 0px;
}

#top04_08 a:hover {
    background: url(../img/grand/top04_08_over.jpg) no-repeat 0px 0px;
}

#top04_09 a:hover {
    background: url(../img/grand/top04_09_over.jpg) no-repeat 0px 0px;
}

#top04_10 a:hover {
    background: url(../img/grand/top04_10_over.jpg) no-repeat 0px 0px;
}

#top04_11 a:hover {
    background: url(../img/grand/top04_11_over.jpg) no-repeat 0px 0px;
}

#top04_01 a,#top04_02 a,#top04_03 a,#top04_04 a,#top04_05 a,#top04_06 a,#top04_07 a,#top04_08 a,#top04_09 a,#top04_10 a,#top04_11 a { display: block; }
#top04_01 a:hover,#top04_02 a:hover,#top04_03 a:hover,#top04_04 a:hover,#top04_05 a:hover,#top04_06 a:hover,#top04_07 a:hover,#top04_08 a:hover,#top04_09 a:hover,#top04_10 a:hover,#top04_11 a:hover { background-color:transparent;}
#top04_01 a:hover img,#top04_02 a:hover img,#top04_03 a:hover img,#top04_04 a:hover img,#top04_05 a:hover img,#top04_06 a:hover img,#top04_07 a:hover img,#top04_08 a:hover img,#top04_09 a:hover img,#top04_10 a:hover img,#top04_11 a:hover img { visibility:hidden; }



#top05_01 {
	width:190px;
	height:40px;
}

#top05_02 {
	width:190px;
	height:35px;
}

#top05_01 a:hover {
    background: url(../img/grand/top05_01_over.jpg) no-repeat 0px 0px;
}

#top05_02 a:hover {
    background: url(../img/grand/top05_02_over.jpg) no-repeat 0px 0px;
}

#top05_01 a,#top05_02 a { display: block; }
#top05_01 a:hover,#top05_02 a:hover { background-color:transparent;}
#top05_01 a:hover img,#top05_02 a:hover img { visibility:hidden; }


/*::::::::::::::::::::::::::::::
topic_base
::::::::::::::::::::::::::::::*/
#topic_base {
	margin:0px auto 0 auto;
	padding:0;
	width:950px;
	height:204px;
	position: relative;
}

#mcs_container .txt_small { font-size: 11px;
line-height:130%;
letter-spacing:0em;}
/*-----------------------------------------------------------*/
#slideshow {
	margin:0px;
	padding:0;
	width:632px;
	height:204px;
	float:left;
	position: relative;
}

#slideshow a {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
	width:632px;
	height:204px;
}

#slideshow a.active {
    z-index:10;
    opacity:1.0;
}

#slideshow a.last-active {
    z-index:9;
}
/*===================*/
/*=== Main Styles ===*/
/*===================*/
#slider {
    margin:0px auto 0 auto;
    width:632px; /* Make sure your images are the same size */
    height:204px; /* Make sure your images are the same size */
}


/*::::::::::::::::::::::::::::::
cons_base
::::::::::::::::::::::::::::::*/
#cons_base {
	clear:both;
	width:950px;
	margin:0;
	padding:15px 0 0 0;
	float:left;
}

#cons {
	clear:both;
	width:950px;
	margin:0;
	padding:0px 0 0 0;
	float:left;
}

#cons_left {
	width:635px;
	margin:0;
	padding:0;
	float:left;
}

#cons_right {
	width:300px;
	margin:0;
	padding:0 0 0 15px;
	float:left;
}




/*::::::::::::::::::::::::::::::
menu_bg
::::::::::::::::::::::::::::::*/
#menu_bg {
    background:	url(../img/grand/menu_bg.jpg) repeat-y top left;
	width:635px;
	margin:0;
	padding:0;
	float: left;
}

#menu_bg:after{/*for modern browser*/
	content:".";
	display: block;
	height:0px;
	clear:both;
	line-height:0; 
	visibility:hidden;
}

#menu_top {
    background:url(../img/grand/menu_top.jpg) no-repeat top left;
	width:635px;
	height:43px;
	margin:0;
	padding:0;
	float: left;
}


#menu_bottom {
    background:url(../img/grand/menu_bottom.jpg) no-repeat top left;
	width:635px;
	height:8px;
	margin:0;
	padding:0;
	float: left;
}


#menu_base {
	width:607px;
	margin:0;
	padding:0 14px 0 14px;
	float:left;
}

#menu_left {
	width:281px;
	margin:0;
	padding:0;
	float:left;
	position:relative;
}

#menu_base p {
	color:#4D4848;
	line-height:140%;
	width:184px;
	letter-spacing:0.1em;
	font-size:85%;
}

#menu_base a {
	color:#4D4848;
	text-decoration:none;
}

#menu_base a:hover {
	color:#E25A00;
	text-decoration:none;
}


#menu_left .menu_line01 {
	clear:both;
	width:281px;
	height:3px;
	margin:1px 0;
	padding:0;
	float:left;
}

#menu_right .menu_line02 {
	clear:both;
	width:281px;
	height:3px;
	margin:1px 0;
	padding:0;
	float:left;
}


#menu01 {
	width:282px;
	height:110px;
	margin:0;
	padding:0;
	float:left;
	display:block;
}

#menu01_txt {
	position:absolute;
	top:50px;
	left:98px;
}


#menu02 {
	clear:both;
	width:282px;
	height:110px;
	margin:0;
	padding:0;
	float:left;
	display:block;
}

#menu02_txt {
	position:absolute;
	top:173px;
	left:98px;
}

#menu03 {
	clear:both;
	width:282px;
	height:110px;
	margin:0;
	padding:0;
	float:left;
	display:block;
}

#menu03_txt {
	position:absolute;
	top:267px;
	left:98px;
}

#menu04 {
	clear:both;
	width:282px;
	height:110px;
	margin:0;
	padding:0;
	float:left;
	display:block;
}

#menu04_txt {
	position:absolute;
	top:391px;
	left:98px;
}

#menu05 {
	clear:both;
	width:282px;
	height:110px;
	margin:0;
	padding:0;
	float:left;
	display:block;
}

#menu05_txt {
	position:absolute;
	top:513px;
	left:98px;
}


#menu_right {
	width:281px;
	margin:0;
	padding:0;
	float:right;
	position:relative;
}

#menu06 {
	width:282px;
	height:110px;
	margin:0;
	padding:0;
	float:left;
	display:block;
}

#menu06_txt {
	position:absolute;
	top:58px;
	left:98px;
}

#menu07 {
	clear:both;
	width:282px;
	height:110px;
	margin:0;
	padding:0;
	float:left;
	display:block;
}

#menu07_txt {
	position:absolute;
	top:161px;
	left:98px;
}

#menu08 {
	clear:both;
	width:282px;
	height:110px;
	margin:0;
	padding:0;
	float:left;
	display:block;
}

#menu08_txt {
	position:absolute;
	top:274px;
	left:98px;
}

#menu09 {
	clear:both;
	width:282px;
	height:110px;
	margin:0;
	padding:0;
	float:left;
	display:block;
}

#menu09_txt {
	position:absolute;
	top:391px;
	left:98px;
}

#menu10 {
	clear:both;
	width:282px;
	height:110px;
	margin:0;
	padding:0;
	float:left;
	display:block;
}

#menu10_txt {
	position:absolute;
	top:513px;
	left:98px;
}


/*::::::::::::::::::::::::::::::
movie_banner
::::::::::::::::::::::::::::::*/
#movie_banner {
	width:300px;
	height:150px;
	margin:0 0 0px 0;
	padding:0;
	float: left;
}


/*::::::::::::::::::::::::::::::
lineup_bg
::::::::::::::::::::::::::::::*/
#lineup {
	clear:both;
	width:300px;
	margin:5px 0 0 0;
	padding:0;
	float: left;
}
	
#lineup_bg {
    background:	url(../img/grand/lineup_bg.jpg) repeat-y top left;
	width:300px;
	margin:0;
	padding:0;
	float: left;
}

#lineup_bg:after{/*for modern browser*/
	content:".";
	display: block;
	height:0px;
	clear:both;
	line-height:0; 
	visibility:hidden;
}

#lineup_top {
    background:url(../img/grand/lineup_top.jpg) no-repeat top left;
	width:300px;
	height:103px;
	margin:0;
	padding:0;
	float: left;
}


#lineup_bottom {
    background:url(../img/grand/lineup_bottom.jpg) no-repeat top left;
	width:300px;
	height:8px;
	margin:0;
	padding:0;
	float: left;
}


#lineup_ttl {
    background:url(../img/grand/lineup_ttl.jpg) no-repeat top left;
	width:272px;
	height:53px;
	margin:0 0 0 14px;
	padding:0;
	float: left;
}

#lineup_line {
    background:url(../img/grand/lineup_line.jpg) no-repeat top left;
	width:272px;
	height:2px;
	margin:0 0 0 14px;
	padding:0;
	float: left;
}

#lineup_base {
	float:left;
	width:272px;
	margin:0 0 0 14px;
	padding:0;
}

* html #lineup_ttl {
    background:url(../img/grand/lineup_ttl.jpg) no-repeat top left;
	width:272px;
	height:53px;
	margin:0 0 0 7px;
	padding:0;
	float: left;
}

* html #lineup_line {
    background:url(../img/grand/lineup_line.jpg) no-repeat top left;
	width:272px;
	height:2px;
	margin:0 0 0 7px;
	padding:0;
	float: left;
}

* html #lineup_base {
	float:left;
	width:272px;
	margin:0 0 0 7px;
	padding:0;
}


#lineup_left {
	float:left;
	width:136px;
	margin:0;
	padding:0;
}

#lineup_right {
	float:left;
	width:136px;
	margin:0;
	padding:0;
}

#lineup_base ul {
	margin:0;
	padding:13px 0 3px 0;
	list-style-type:none;
}


* html #lineup_base ul {
	margin:0;
	padding:5px 0 0px 0;
	list-style-type:none;
}

*+html #lineup_base ul {
	margin:0;
	padding:5px 0 0px 0;
	list-style-type:none;
}

#lineup_base li {
	margin:0;
	padding:0 0 4px 0;
	vertical-align:baseline;
}





html[xmlns*=""] body:last-child #lineup_base li {
	margin:0;
	padding:0 0 6px 0;
	vertical-align:baseline;
}


#lineup_base a {
	letter-spacing:0em;
	color:#4D4848;
	text-decoration:none;
}

#lineup_base a:hover {
	color:#E25A00;
	text-decoration:none;
}

#catalog_btn {
	clear:both;
	width:282px;
	height:44px;
	margin:0 auto;
	padding:0 0 0 0;
}

/*::::::::::::::::::::::::::::::
カレンダーとお問合わせ
::::::::::::::::::::::::::::::*/
#other_area { clear: both; padding-top: 15px; float: left; }
* html #other_area { clear: both; padding-top: 0px; float: left; }
* html #other_area {
	margin-top:0px;
}


#other_area .emergency { line-height: 160%; }
#other_area p { font-size: 11px; }

span.f_orange { color: #FF6600; }

span.f_red { color:#FF0000; }
#other_area .emergency a {
	color:#4D4848;
	text-decoration:none;
}
#other_area .emergency a:hover {
	color:#E25A00;
	text-decoration:none;
}


#other_area .emergency02 {
	line-height: 160%;
	margin-bottom:10px;}
#other_area .emergency02 a {
	color:#E25A00;
	text-decoration:underline;
}
#other_area .emergency02 a:hover {
	color:#E25A00;
	text-decoration:none;
}



#other_area .emergency_n {
	line-height: 160%;
     text-indent: -1.0em;
	 margin-left:1em;
	 }
	 
	 
#other_area dl.emergency_nd {
	line-height: 160%;
	width:580px;
	font-size:11px;
	 }
	 
	 
#other_area dl.emergency_nd dt{
	float:left;
	width:90px;
	font-weight:bold;
	margin:0;
	padding:0;
	 }
	 
#other_area dl.emergency_nd dd{
	float:left;
	width:440px;
	 }	 	 	 
	 
	 
span.f_orange { color: #FF6600; }

span.f_red { color:#FF0000; }
#other_area .emergency a {
	color:#4D4848;
	text-decoration:none;
}

/*::::::::::::::::::::::::::::::
calendar_bg
::::::::::::::::::::::::::::::*/
#calendar_bg {
    background:	url(../img/grand/calendar_bg.jpg) repeat-y top left;
	width:950px;
	margin:0;
	padding:0;
}

#calendar_bg:after{/*for modern browser*/
	content:".";
	display: block;
	height:0px;
	clear:both;
	line-height:0; 
	visibility:hidden;
}

#calendar_top {
    background:url(../img/grand/calendar_top.jpg) no-repeat top left;
	width:950px;
	height:40px;
	margin:0;
	padding:0;
}

#calendar_bottom {
    background:url(../img/grand/calendar_bottom.jpg) no-repeat top left;
	width:950px;
	height:6px;
	margin:0;
	padding:0 0 15px 0;
}

* html #calendar_bottom {
    background:url(../img/grand/calendar_bottom.jpg) no-repeat top left;
	width:950px;
	height:6px;
	margin:0;
	padding:0 0 3px 0;
}

#calendar_base {
	width:927px;
	margin:0;
	padding:12px 0 0 23px;
	float:left;
}

#calendar_left {
	width:434px;
	margin:0;
	padding:0;
	float:left;
}

#calendar_right {
	width:434px;
	margin:0;
	padding:0 0 0 37px;
	float:left;
}
.calendar_ttl_base {
	width:434px;
	height:37px;
	margin:0;
	padding:0;
	float:left;
	border-bottom:#999 1px dotted;
}

.calendar_ttl {
	width:332px;
	height:36px;
	margin:0;
	padding:0;
	float:left;
}

.calendar_btn {
	width:99px;
	height:23px;
	margin:0;
	padding:8px 0 0 0;
	float:left;
}

.calendar_img_base {
	clear:both;
	width:434px;
	height:130px;
	margin:0;
	padding:0;
	float:left;
}

.calendar_img {
	width:217px;
	height:130px;
	margin:0;
	padding:0;
	float:left;
}

#calendar_txt {
	clear:both;
	width:927px;
	margin:0;
	padding:0 0 10px 0;
	float:left;
}



/*::::::::::::::::::::::::::::::
contact_bg
::::::::::::::::::::::::::::::*/
#contact_bg {
    background:	url(../img/grand/calendar_bg.jpg) repeat-y top left;
	width:950px;
	margin:0;
	padding:0;
}

#contact_bg:after{/*for modern browser*/
	content:".";
	display: block;
	height:0px;
	clear:both;
	line-height:0; 
	visibility:hidden;
}

#contact_top {
    background:url(../img/grand/contact_top.jpg) no-repeat top left;
	width:950px;
	height:40px;
	margin:0;
	padding:0;
}

#contact_bottom {
    background:url(../img/grand/calendar_bottom.jpg) no-repeat top left;
	width:950px;
	height:6px;
	margin:0;
	padding:0 0 15px 0;
}

* html #contact_bottom {
    background:url(../img/grand/calendar_bottom.jpg) no-repeat top left;
	width:950px;
	height:6px;
	margin:0;
	padding:0 0 3px 0;
}

#contact_base {
	width:927px;
	margin:0;
	padding:7px 0 0 23px;
	float:left;
}

#contact_ttl_base {
	width:434px;
	height:37px;
	margin:0;
	padding:4px 0 0 0;
	float:left;
}
#contact_02 {
	width:422px;
	height:50px;
	margin:0;
	padding:0 0 0 37px;
	float:left;
}

/*::::::::::::::::::::::::::::::
calendar_l
::::::::::::::::::::::::::::::*/

#calendar_l_bg{
	float:left;
	width:635px;
    background:	url(../img/grand/calendar_l_bg.jpg) repeat-y top left;
	margin:0 0 10px 0;
	padding:0;
}


#calendar_l_top {
    background:url(../img/grand/calendar_l_top.jpg) no-repeat top left;
	width:635px;
	height:40px;
	margin:0 0 10px 0;
	padding:0;
}


#calendar_l_base {
	width:580px;
	margin:0 auto;
	padding:10px 0 0 0;
}

.calendar_l_img_base {
	clear:both;
	width:560px;
	height:130px;
	margin:0 auto 20px;
	padding:0;
}


.calendar_ttl_l_base {
	width:100%;
	height:37px;
	margin:0 0 20px 0;
	padding:0;
	float:left;
	border-bottom:#999 1px dotted;
}


#calendar_l_bottom {
    background:url(../img/grand/calendar_l_bottom.jpg) no-repeat bottom left;
	width:635px;
	padding:0;
	margin:0;
	height:16px;
}



.calendar_img_l {
	width:246px;
	margin:0;
	padding:0;
	float:left;
}

.calendar_img_r {
	width:246px;
	margin:0;
	padding:0;
	float:right;
}

#contact_r_base {
	width:265px;
	margin:0 auto;
	padding:10px 0 10px 0;
	height:269px;
	height:265px\9;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
#contact_r_base {
	width:265px;
	margin:0 auto;
	padding:10px 0 10px 0;
	height:266px;
	}
}


.contact_ttl_r_base {
	width:100%;
	margin:0 0 20px 0;
	padding:0 0 10px 0;
	border-bottom:#999 1px dotted;
}

#contact_r_bg{
    float: left;
    margin: 0 0 15px 15px;
    padding: 0;
    width: 300px;
    background:	url(../img/grand/contact_r_bg.jpg) repeat-y top left;
}

#bt_contact{
	text-align:right;
}


#bt_mb{
	text-align:right;
	margin-top:20px;
}

#contact_r_top {
    background:url(../img/grand/contact_r_top.jpg) no-repeat top left;
	width:300px;
	height:40px;
	margin:0 0 10px 0;
	padding:0;
}

#contact_r_bottom {
    background:url(../img/grand/contact_r_bottom.jpg) no-repeat bottom left;
	width:300px;
	height:16px;
	padding:0 ;
	margin:0;
}


#txt_contact{
	margin-bottom:15px;
	font-size:14px!important;
	line-height:1.4;
}



/*::::::::::::::::::::::::::::::
link_bg
::::::::::::::::::::::::::::::*/
#link_bg {
    background:	url(../img/grand/calendar_bg.jpg) repeat-y top left;
	width:950px;
	margin:0;
	padding:0;
}

#link_bg:after{/*for modern browser*/
	content:".";
	display: block;
	height:0px;
	clear:both;
	line-height:0; 
	visibility:hidden;
}

#link_top {
    background:url(../img/grand/link_top.jpg) no-repeat top left;
	width:950px;
	height:40px;
	margin:0;
	padding:0;
}

#link_bottom {
    background:url(../img/grand/calendar_bottom.jpg) no-repeat top left;
	width:950px;
	height:6px;
	margin:0;
	padding:0;
}

#link_base {
	width:927px;
	margin:0;
	padding:12px 0 7px 23px;
	float:left;
}

#link_base02 {
	width:927px;
	margin:0;
	padding:0 0 7px 23px;
	float:left;
}

#link_01 {
	width:171px;
	height:57px;
	margin:0;
	padding:0 5px 0 0;
	float:left;
}

#link_02 {
	width:180px;
	height:45px;
	margin:0;
	padding:0 5px 0 0;
	float:left;
}

#link_03 {
	width:171px;
	height:59px;
	margin:0;
	padding:0 5px 0 0;
	float:left;
}


#link_04 {
	width:171px;
	height:59px;
	margin:0;
	padding:0 5px 0 0;
	float:left;
}


#link_05 {
	width:167px;
	height:53px;
	margin:0;
	padding:0 0 0 0;
	float:left;
}

#link_06 {
	width:167px;
	height:53px;
	margin:0;
	padding:0 0 0 0;
	float:left;
}













#fotter_menu {
	clear:both;
	width:950px;
	margin:0 auto;
	padding:20px 0 5px 0;
}

* html #fotter_menu {
	clear:both;
	width:950px;
	margin:0 auto;
	padding:10px 0 5px 0;
}

#fotter_menu p {
	width:100%;
	margin:0 auto;
	padding:0;
	letter-spacing:0em;
	text-align:center;
}

#fotter_menu a {
	color:#4D4848;
	text-decoration:none;
}

#fotter_menu a:hover {
	color:#E25A00;
	text-decoration:none;
}


/*::::::::::::::::::::::::::::::
フッター
::::::::::::::::::::::::::::::*/
#footer { 
    clear: both;
	padding-top: 10px;
}

* html #footer { 
    clear: both;
	padding-top: 5px;
}

#footer h3 {
	background-image: url(../img/grand/foot.gif);
	background-repeat: no-repeat;
	height: 25px;
	text-indent: -9999px; overflow: hidden;
}

#copy { 
    text-align: right;
	padding:5px 0 20px 0;
	letter-spacing:0.1em;
	font-size:85%;
}

#adobe_base {
	width:950px;
	margin:0;
	padding:0px 0 20px 0;
	float:right;
}

#adobe_btn01 {
	width:88px;
	height:31px;
	margin:0;
	padding:0 0 0 10px;
	float:right;
}

#adobe_btn02 {
	width:112px;
	height:33px;
	margin:0;
	padding:0 0;
	float:right;
}
