@charset "utf-8";

#sitemap span{display: block;}
#sitemap a{text-decoration: none;}
#sitemap a:hover{text-decoration: underline;}



/********************/
/******#sitemap******/
/********************/
#sitemap{
  width:auto;
  min-width: 1012px;
  margin: 55px auto 0;
  float: none;
  padding-top: 22px;
  border: 20px solid #647d96;
  border-bottom: none;
}
.sitemap-inner{
  width: 980px;
  margin: 0 auto;
  background-color: #fff;
}
.sitemap-inner .section-title{
  padding: 20px 0 0 20px;
}
.sitemap-inner .sitemap{
  margin:0 50px;
  padding-bottom: 40px;
}
.sitemap-inner .sitemap .column{
  float: left;
}
.sitemap-inner .sitemap .column01{ width: 200px;}
.sitemap-inner .sitemap .column02{ width: 260px;}
.sitemap-inner .sitemap .column03{ width: 220px;}
.sitemap-inner .sitemap .column04{ width: 200px;}
.sitemap-inner .sitemap dl{
  margin-top: 40px;
}
.sitemap-inner .sitemap dt{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.sitemap-inner .sitemap dd{
  font-size: 12px;
  background: url("../img/top/sitemap-mark.gif") no-repeat left center;
  padding: 3px 0 0 10px;
  line-height: 2;
}
.sitemap-inner .sitemap dd a{
  color: #000;
}
.sitemap-inner .sitemap dd a:hover{
  text-decoration: underline;
}

/********************/
/******#footer*******/
/********************/
#footer{
  position: relative;
  width:auto;
  min-width: 1052px;
  z-index: 10;
}
.sp-footer-link{
  display: none;
}
.footer-logo {
  height: 24px;
  background-color: #f38a00;
}
.footer-logo img{
  height: 24px;
  width: auto;
}
.footer-logo .left-image{float: left;}
.footer-logo .right-image{float: right;}
#footer .copy{
  display: block;
  font-size: 10px;
  text-align: right;
  background-color: #fff;
  padding: 5px 30px 5px 0;
}




@media screen and (min-width:1680px){
  /********************/
  /******#sitemap******/
  /********************/
  #sitemap{
    width:auto;
    min-width: 1012px;
    margin: 55px auto 0;
    float: none;
    padding-top: 22px;
    border: 20px solid #647d96;
    border-bottom: none;
  }
  .sitemap-inner{
    width: 980px;
    margin: 0 auto;
    background-color: #fff;
  }
  .sitemap-inner .section-title{
    padding: 20px 0 0 20px;
  }
  .sitemap-inner .sitemap{
    margin:0 50px;
    padding-bottom: 40px;
  }
  .sitemap-inner .sitemap .column{
    float: left;
  }
  .sitemap-inner .sitemap .column01{ width: 200px;}
  .sitemap-inner .sitemap .column02{ width: 260px;}
  .sitemap-inner .sitemap .column03{ width: 220px;}
  .sitemap-inner .sitemap .column04{ width: 200px;}
  .sitemap-inner .sitemap dl{
    margin-top: 40px;
  }
  .sitemap-inner .sitemap dt{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .sitemap-inner .sitemap dd{
    font-size: 12px;
    background: url("../img/top/sitemap-mark.gif") no-repeat left center;
    padding: 3px 0 0 10px;
    line-height: 2;
  }
  .sitemap-inner .sitemap dd a{
    color: #000;
  }
  .sitemap-inner .sitemap dd a:hover{
    text-decoration: underline;
  }

  /********************/
  /******#footer*******/
  /********************/
  #footer{
    position: relative;
    width: 100%;
    z-index: 10;
  }
  .sp-footer-link{
    display: none;
  }
  .footer-logo {
    height: 24px;
    background-color: #f38a00;
  }
  .footer-logo img{
    height: 24px;
    width: auto;
  }
  .footer-logo .left-image{float: left;}
  .footer-logo .right-image{float: right;}
  #footer .copy{
    display: block;
    font-size: 10px;
    text-align: right;
    background-color: #fff;
    padding: 5px 30px 5px 0;
  }
}

@media screen and (max-width: 1679px) and (min-width: 1280px){
  /********************/
  /******#sitemap******/
  /********************/
  #sitemap{
    width:auto;
    min-width: 1012px;
    margin: 55px auto 0;
    float: none;
    padding-top: 22px;
    border: 20px solid #647d96;
    border-bottom: none;
  }
  .sitemap-inner{
    width: 980px;
    margin: 0 auto;
    background-color: #fff;
  }
  .sitemap-inner .section-title{
    padding: 20px 0 0 20px;
  }
  .sitemap-inner .sitemap{
    margin:0 50px;
    padding-bottom: 70px;
  }
  .sitemap-inner .sitemap .column{
    float: left;
  }
  .sitemap-inner .sitemap .column01{ width: 200px;}
  .sitemap-inner .sitemap .column02{ width: 260px;}
  .sitemap-inner .sitemap .column03{ width: 220px;}
  .sitemap-inner .sitemap .column04{ width: 200px;}
  .sitemap-inner .sitemap dl{
    margin-top: 40px;
  }
  .sitemap-inner .sitemap dt{
    font-size: 14px;
    font-weight: bold;
  }
  .sitemap-inner .sitemap dd{
    font-size: 12px;
    background: url("../img/top/sitemap-mark.gif") no-repeat left center;
    padding: 3px 0 0 10px;
    line-height: 2;
  }
  .sitemap-inner .sitemap dd a{
    color: #000;
  }
  .sitemap-inner .sitemap dd a:hover{
    text-decoration: underline;
  }

  /********************/
  /******#footer*******/
  /********************/
  #footer{
    position: relative;
    width: 100%;
  }
  .sp-footer-link{
    display: none;
  }
  .footer-logo {
    height: 24px;
    background-color: #f38a00;
  }
  .footer-logo img{
    height: 24px;
    width: auto;
  }
  .footer-logo .left-image{float: left;}
  .footer-logo .right-image{float: right;}
  #footer .copy{
    display: block;
    font-size: 10px;
    text-align: right;
    background-color: #fff;
    padding: 5px 30px 5px 0;
  }

}

@media screen and (max-width: 1279px) and (min-width: 1024px){
  /********************/
  /******#sitemap******/
  /********************/
  #sitemap{
    width:auto;
    margin: 55px auto 0;
    float: none;
    padding-top: 22px;
    border: 20px solid #647d96;
    border-bottom: none;
    min-width: initial;
    min-height: auto;
  }
  .sitemap-inner{
    width: 980px;
    margin: 0 auto;
    background-color: #fff;
  }
  .sitemap-inner .section-title{
    padding: 20px 0 0 20px;
  }
  .sitemap-inner .sitemap{
    margin:0 50px;
    padding-bottom: 70px;
  }
  .sitemap-inner .sitemap .column{
    float: left;
  }
  .sitemap-inner .sitemap .column01{ width: 200px;}
  .sitemap-inner .sitemap .column02{ width: 260px;}
  .sitemap-inner .sitemap .column03{ width: 220px;}
  .sitemap-inner .sitemap .column04{ width: 200px;}
  .sitemap-inner .sitemap dl{
    margin-top: 40px;
  }
  .sitemap-inner .sitemap dt{
    font-size: 14px;
    font-weight: bold;
  }
  .sitemap-inner .sitemap dd{
    font-size: 12px;
    background: url("../img/top/sitemap-mark.gif") no-repeat left center;
    padding: 3px 0 0 10px;
    line-height: 2;
  }
  .sitemap-inner .sitemap dd a{
    color: #000;
  }
  .sitemap-inner .sitemap dd a:hover{
    text-decoration: underline;
  }

  /********************/
  /******#footer*******/
  /********************/
  #footer{
    position: relative;
    width: 100%;
    min-width: initial;
    min-height: auto;
  }
  .sp-footer-link{
    display: none;
  }
  .footer-logo {
    height: 24px;
    background-color: #f38a00;
  }
  .footer-logo img{
    height: 24px;
    width: auto;
  }
  .footer-logo .left-image{float: left;}
  .footer-logo .right-image{float: right;}
  #footer .copy{
    display: block;
    font-size: 10px;
    text-align: right;
    background-color: #fff;
    padding: 5px 30px 5px 0;
  }
}


@media screen and  (max-width: 1023px) and (min-width: 768px){
  /********************/
  /******#sitemap******/
  /********************/
  #sitemap{
    width:auto;
    margin: 55px auto 0;
    float: none;
    padding-top: 22px;
    border: 20px solid #647d96;
    border-bottom: none;
    min-width: initial;
    min-height: auto;
  }
  .sitemap-inner{
    width: auto;
    margin: 0 auto;
    background-color: #fff;
  }
  .sitemap-inner .section-title{
    padding: 20px 0 0 20px;
  }
  .sitemap-inner .sitemap{
    margin:0 0 0 140px;
    padding-bottom: 60px;
  }
  .sitemap-inner .sitemap .column{
    float: left;
  }

  .sitemap-inner .sitemap .tab-leftblock{
    float: left;
    width: 50%;
  }
  .sitemap-inner .sitemap .tab-rightblock{
    float: left;
    width: 50%;
  }

  .sitemap-inner .sitemap .column01{ width: 100%;}
  .sitemap-inner .sitemap .column02{ width: 100%;}
  .sitemap-inner .sitemap .column03{ width: 100%;}
  .sitemap-inner .sitemap .column04{ width: 100%;}
  .sitemap-inner .sitemap dl{
    margin-top: 40px;
  }
  .sitemap-inner .sitemap dt{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .sitemap-inner .sitemap dd{
    font-size: 12px;
    background: url("../img/top/sitemap-mark.gif") no-repeat left center;
    padding: 0 0 0 10px;
    line-height: 2;
  }
  .sitemap-inner .sitemap dd a{
    color: #000;
  }
  .sitemap-inner .sitemap dd a:hover{
    text-decoration: underline;
  }

  /********************/
  /******#footer*******/
  /********************/
  #footer{
    position: relative;
    width: 100%;
    z-index: 10;
    min-width: initial;
    min-height: auto;
  }
  .sp-footer-link{
    display: none;
  }
  .footer-logo {
    height: 24px;
    background-color: #f38a00;
  }
  .footer-logo img{
    height: 24px;
    width: auto;
  }
  .footer-logo .left-image{float: left;}
  .footer-logo .right-image{float: right;}
  #footer .copy{
    display: block;
    font-size: 10px;
    text-align: right;
    background-color: #fff;
    padding: 5px 30px 5px 0;
  }
}

@media screen and (max-width: 767px){
  #sitemap{
    display: none;
  }

  /********************/
  /******#footer*******/
  /********************/
  #footer{
    position: relative;
    width: 100%;
    z-index: 10;
    padding-top: 20px;
    min-width: initial;
    min-height: auto;
  }
  .sp-footer-link{
    display: block;
  }
  .sp-footer-link ul{
    text-align: center;
    background-color: #fff;
  }
  .sp-footer-link li{
    display: inline-block;
    font-size: 9px;
    margin-left: 20px;
    height: 28px;
    line-height: 28px;
  }
  .sp-footer-link li:first-child{
    margin-left: 0;
  }
  .sp-footer-link li a{
    color: #000;
    text-decoration: none;
  }
  .footer-logo {
    height: 15px;
    background-color: #f38a00;
  }
  .footer-logo img{
    height: 15px;
    width: auto;
  }
  .footer-logo .left-image{float: left;}
  .footer-logo .right-image{float: right;}
  #footer .copy{
    display: block;
    font-size: 6px;
    text-align: center;
    background-color: #fff;
    padding: 5px 0;
  }
}