.top-callendar-container {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 18px;
}

.top-calendar-title {
    margin: 0 10px 21px;
}

.top-calendar-list {
    list-style: none;
    margin: 0 7px 0;
    padding: 0 8px;
}

.top-calendar-top {
}

.top-calendar-top img, .top-calendar-bottom img {
    width: 100%;
}

.top-calendar-bottom {
    margin-bottom: 10px;
    display: none;
}

.top-calendar-attantion {
    padding-left: 15px;
}

.top-calendar-nav {
    display: none;
}

.top-calendar-top .calendar-image {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.top-calendar-bottom .calendar-image {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.top-calendar-top .calendar-image img {
    width: 100%;
}

.top-calendar-bottom .calendar-image img {
    width: 100%;
}
.top-calendar-attantion .calendar-icon {
    display: inline-block;
    background-color: #2da862;
    border-radius: 50%;
}

.top-calendar-attantion .calendar-icon-holiday {
    border-radius:0%;
}
.show-all{
display:block;
}
.hide-all{
display:none;
}
@media screen and (max-width: 767px) {
    .top-calendar-nav {
        display: none;
        margin-bottom: 20px;
    }

    .top-calendar-attantion-list {
        padding-left: 10px;
        padding-top: 20px;
        overflow: hidden;
    }

    .top-calendar-attantion {
        font-size: 12px;
        float: left;
        padding-right: 20px;
        padding-left: 0;
        padding-bottom: 10px;
    }

    .top-calendar-attantion .calendar-icon {
        width: 14px;
        height: 14px;
        float: left;
        margin-right: 5px;
    }

    .top-calendar-nav a {
        width: auto;
        display: block;
        border: none;
        color: #fff;
        border-radius: 0;
        margin: 0 10px;
        line-height: 29px;
        position: relative;
    }

    .top-calendar-top, .top-calendar-bottom {
        display: none;
        margin-bottom: 4px;
        padding-bottom: 13px;
    }

    .top-calendar-column {
        position: relative;
        margin-bottom: 18px;
        margin-top: 15px;
    }

    .top-calendar-nav-prev a {
        background: url(../../images/1/top-arrow-left-icon.png) 14px center no-repeat;
        background-size: 5px 8px;
    }

    .top-calendar-nav-next a:after {
        width: 5px;
        height: 8px;
        position: absolute;
        right: 10px;
        top: 50%;
        content: "";
        display: block;
        margin-top: -4px;
        background: url(../../images/1/top-arrow-right-icon.png) left top no-repeat;
        background-size: 5px 8px;
    }

    .show {
        display: block;
    }
    .hide {
        display: none;
    }

    .top-calendar-top img, .top-calendar-bottom img {
    }
}

@media screen and (min-width: 768px) {
    .top-callendar-container {
        margin-bottom: 7px;
        padding-bottom: 43px;
        padding-top: 0px;
    }

    .top-calendar-list:after {
        display: block;
        clear: both;
        content: "";
    }

    .top-calendar-top, .top-calendar-bottom {
        box-sizing: border-box;
        float: left;
        width: 50%;
        margin-bottom: 19px;
        border-bottom: none;
        text-align: center;
    }

    .top-calendar-bottom {
        float: left;
        /* display: block; */
    }

    .top-calendar-title {
        margin: 0 15px 22px;
    }

    .top-calendar-attantion {
        padding-left: 42px;
    }

    .top-calendar-attantion {
        font-size: 12px;
        float: left;
        padding-right: 20px;
        padding-left: 0;
        padding-bottom: 10px;
    }

    .top-calendar-top img, .top-calendar-bottom img {
        width: 270px;
    }
}

@media screen and (min-width: 980px) {
    .top-callendar-container {
        float: left;
        width: 71.2%;
        margin-bottom: 0;
        padding-top: 7px;
        padding-bottom: 22px;
        border-bottom: 0;
    }

    .top-calendar-attantion-list {
        padding-left: 6%;
        padding-top: 20px;
        overflow: hidden;
    }

    .top-calendar-attantion .calendar-icon {
        width: 14px;
        height: 14px;
        float: left;
        margin-right: 5px;
    }

    .top-calendar-top, .top-calendar-bottom {
        margin-bottom: 0;
    }

    .top-calendar-attantion {
        font-size: 12px;
        float: left;
        padding-right: 20px;
        padding-left: 0;
        padding-bottom: 10px;
    }

    .top-calendar-title {
        margin-bottom: 17px;
    }

    .top-calendar-top img, .top-calendar-bottom img {
    }
}

@media screen and (min-width: 1366px) {
    .top-callendar-container {
        width: 63.9%;
    }

    .top-callendar-container {
        padding-top: 12px;
        padding-left: 2px;
        width: 71.4%;
    }

    .top-calendar-bottom {
        padding-left: 30px;
    }

    .top-calendar-title {
        font-size: 18px;
        padding-left: 0;
    }

    .top-calendar-top, .top-calendar-bottom {
        padding: 3px 0 11px;
        margin-bottom: 0;
        text-align: center;
        width: 48.7%;
    }

    .top-calendar-top img, .top-calendar-bottom img {
        width: 280px;
    }

    .top-calendar-top {
        margin-right: 1.4%;
        margin-bottom: 0;
    }

    .top-calendar-bottom {
    }

    .top-calendar-top img, .top-calendar-bottom img {
    }

    .top-calendar-attantion-list {
        padding-left: 25px;
        padding-top: 20px;
        overflow: hidden;
    }

    .top-calendar-attantion {
        font-size: 12px;
        float: left;
        padding-right: 20px;
        padding-left: 0;
        padding-bottom: 10px;
    }

    .top-calendar-attantion .calendar-icon {
        width: 14px;
        height: 14px;
        float: left;
        margin-right: 5px;
    }
}

@media screen and (min-width: 1680px) {
    .top-callendar-container {
        float: none;
        width: 100%;
        padding-top: 23px;
        padding-left: 2px;
    }

    .top-calendar-list {
        margin: 0;
        padding-left: 0;
        padding: 0 17px;
    }

    .top-calendar-title {
        margin-bottom: 28px;
    }

    .top-calendar-top, .top-calendar-bottom {
        width: 100%;
        padding: 0 11px 20px 0px;
        height: auto;
        border: none;
        margin: 0;
        background: transparent;
    }

    .top-calendar-bottom .calendar-image {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    .top-calendar-top {
        margin-bottom: 34px;
        padding-bottom: 15px;
        border-bottom: 2px solid #ccc;
        height: auto;
    }

    .top-callendar-container {
        padding-bottom: 25px;
        padding-top: 29px;
        padding: 29px 13px 32px;
    }

    .top-calendar-attantion {
        /* margin-top: 1px; */
        padding-bottom: 10px;
        font-size: 12px;
    }

    .top-calendar-list img {
        width: 89.9%;
    }

    .top-calendar-top img, .top-calendar-bottom img {
    }
}
