@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

body{
  background-color: #a6b4c3;
  font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
span{display: block;}
img{
  vertical-align: top;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
}
a:active {
}

.popup .map-title{
  color: #005ead;
  font-weight: bold;
  margin-bottom: 5px;
}


/* responsive js¡¡È¡µÃÓÃ¥×¥í¥Ñ¥Æ¥£¤ò¸¶Óë */
#responsive-property {
  font-family : "pc";
  visibility: hidden;
}



#wrapper{
  width: 100%;
  margin: 0 auto;
}

/********************/
/*****#contents******/
/********************/
#contents{
  margin-left: 210px;
  background-color: #a6b4c3;
}

.youtube-link-icon{
  display: none;
}
.movie-area{
  position: absolute;
  width: 100%;
  height: auto;
  position: fixed!important;
  z-index: 0;
  margin-top: 20px;
}
.movie-area .video-cover .cover-wrap div{
  opacity: 0;
  filter:alpha(opacity=0);
}
.movie-area .video-cover .cover-wrap div img{
  width: 100%;
  height: auto;
}
.movieWaiting-bg{
  display: none;
}

.video-cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.video-cover img{
  width: 100%;
  height: auto;
}
.video{
  position:relative;
  padding-bottom:56.25%;
  height:0;
  overflow:hidden;
  z-index: 10;
}
.video iframe,
.video object,
.video embed{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
}
.movie-area .movie-image{
  display: none;
}
.movie-area .embed-youtube-container{
  display: none;
}
/*.main-wrap*/
.main-wrap{
  position: relative;
  width:100%;
  padding-top: 40%;
  z-index: 10;
}
/********************/
/*******.main********/
/********************/
.main{
  width:100%;
  float: none;
  margin: 0 auto;
}
/*.slide-area*/
.slide-area{
  text-align: center;
}
.slide-area .slide-inner-wrap{
  position: relative;
  width: 980px;
  margin: 0 auto;
}
.slide-area .slide-inner{
  width: 980px;
  margin: 0 auto;
}
.slide-area .slide-inner li img.pc{
  display: block;
}
.slide-area .slide-inner li img.sp{
  display: none;
}
.slide-area .prev{
  position: absolute;
  top: 47%;
  left: 2%;
}
.slide-area .next{
  position: absolute;
  top: 47%;
  right: 2%;
}
.slide-area .pager{
  position: absolute;
  bottom: 15px;
  right: 50px;
  line-height: 1;
}
.slide-area .pager li{
  width: 10px;
  height: 10px;
  float: left;
  margin-left: 10px;
  background: #fff url("../img/top/slide/paging_off.gif") no-repeat top center;
}
.slide-area .pager li.active{
  background: #fff url("../img/top/slide/paging_on.gif") no-repeat top center;
}
.slide-area .pager li:first-child{
  margin-left: 0;
}
.slide-area .pager li img{
  width: 10px;
  height: auto;
}





.section .section-title{
  position: relative;
  width: 992px;
  height: 50px;
  padding-left: 20px;
  background-color: #5a7da0;
  display: table-cell;
  vertical-align: middle;
  box-shadow: 2px 2px 5px #454545;
}
.section .section-title img{
  width: auto;
  height: 23px;
}
.news-link{
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  width: 188px;
  height: 30px;
  line-height: 30px;
  background-color: #91a8bf;
  box-shadow: 2px 2px 5px #454545;
  position: absolute;
  top: 10px;
  right: 12px;
}
.wrap-news-link{
  display: block;
  float: right;
  width: 188px;
  height: 30px;
  margin-right: 12px;
  background-color: #fff;
  line-height: 30px;
}


/*.unique*/
.unique  .section-title-unique{
  display: block;
  margin-top: 40px;
}
.unique  .section-title-unique img.normal{
  width: auto;
  height: 101px;
}
.unique  .section-title-unique img.wide {
  display: none;
}
.unique ul{
  width: 980px;
  margin: 0 auto;
}
.unique li{
  width: 240px;
  background-color: #fff;
  float: left;
  margin: 6px 6px 0 0 ;
  box-shadow: 2px 2px 5px #454545;
}
.unique li.panel-04,
.unique li.panel-08{
  margin-right: 0px;
}
.unique li a{
  display: block;
  transition:all 0.2s ease;
}
.unique li a:hover{
  opacity: 0.7;
  -ms-filter: "alpha(opacity=70)";
}

.unique li .text-area{
  padding:10px;
  height: 100px;
}
.unique li .inner-title{
  font-size: 18px;
  font-weight: bold;
  color: #004b96;
}
.unique li .inner-text{
  font-size: 14px;
  color: #000;
  padding-top: 10px;
  line-height: 1.5;
}
.unique .section-unique-pic img{
  width: 240px;
  height: auto;
}

/*contents-bg*/
.contents-bg{
  background-color: #A6B4C3;
  height: 3040px;
  width:100%;
  margin-top: 20px;
  position: absolute;
  z-index: -1;
}

/*news*/
.news{
  width: 992px;
  margin: 40px auto 0;
}
.news dl{
  width: 840px;
  height:auto;
  margin: 0 auto;
  padding: 35px 70px;
  background-color: #fff;
  line-height: 2.2;
}
.news dt{
  font-size: 15px;
  font-weight: bold;
  color: #005ead;
  float: left;
}
.news dd{
  margin-left: 120px;
}

/*.service*/
.service{
  width: 992px;
  margin: 22px auto 0;
}
.service-inner{
  width:980px;
  margin-left: 6px;
  /* padding-bottom: 12px; */
}
.service-inner li{
  margin-left: 2px;
}
.service-inner li img{
  width: auto;
  height: 130px;
}
.support_buy{
  height: 130px;
  text-align: center;
}
.support_buy .title_container{
  float: left;
  width: 240px;
  height: 130px;
  background-color: #f2f2f2;
  line-height: 130px;
}
.support_buy .title_container-sp{
  display: none;
}
.support_buy .title_container span{
  font-size: 18px;
  font-weight: bold;
  color: #4d4d4d;
}
.support_buy li{
  float: left;
  width: 146px;
  height: auto;
  background-color: #fff;
}

.support_mainte{
  height: 130px;
  text-align: center;
  margin-top: 2px;
}
.support_mainte .title_container{
  float: left;
  width: 240px;
  height: 130px;
  background-color: #f2f2f2;
  line-height: 130px;
}
.support_mainte .title_container span{
  font-size: 18px;
  font-weight: bold;
  color: #4d4d4d;
}
.support_mainte .title_container-sp{
  display: none;
}
.support_mainte li{
  float: left;
  width: 146px;
  height: auto;
  background-color: #fff;
}

/*.links*/
.links{
  width: 992px;
  margin: 22px auto 0;
}
.links .links-banner{
  width: 940px;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  padding:20px 20px 10px 20px;
}
.links .links-banner li{
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}
.links .links-banner li.no-margin{
  margin-left: 0;
}
.links .links-banner li img{
  height: 70px;
  width: auto;
}


/********************/
/***.right_column****/
/********************/
.right_column{
  width:992px;
  margin: 22px auto 0;
  float: none;
}
.right_column .section-title{
  position: relative;
  width: 992px;
  height: 50px;
  padding-left: 20px;
  background-color: #5a7da0;
  display: table-cell;
  vertical-align: middle;
  box-shadow: 2px 2px 5px #454545;
}

/*.calender*/
.calendar {
  width: 100%;
  margin: 0 auto;
}
.calendar-inner{
  width: 980px;
  margin-left: 6px;
  padding-bottom: 12px;
  background-color: #fff;
}

.calendar-inner .left-wrap{
  width:590px;
  float: left;
  margin-top: 30px;
}
.calendar-inner .month{
  text-align: left;
  margin-left: 20px;
  float: left;
}
.calendar-inner .month li{
  padding-top: 12px;
  float: left;
}
.calendar-inner .month li + li{
  margin-left: 10px;
}
.calendar-inner .month li img{
  width: 280px;
  height: auto;
}
.calendar-inner .caption{
  margin-right:10px;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 10px;
  float: right;
}
.calendar-inner .caption img{
  height: 12px;
  width: auto;
}
.calendar-inner .caption span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.calendar-inner .right-wrap{
  width: 360px;
  float: left;
  margin-left: 15px;
  margin-top: 20px;
}
.sp-next-calendar{display: none;}
.calendar-inner .business_hours{
  margin: 0;
  padding-bottom: 10px;
}
.calendar-inner .business_hours .title{
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  border-bottom: 1px solid #5a7da0;
  margin-bottom: 8px;
}
.calendar-inner .business_hours .list{
  font-size: 13px;
  font-weight: bold;
  padding-left: 20px;
  background: url("../img/top/icon-square.png") no-repeat left center;
  background-size: 12px 12px;
  line-height: 2;
}
.calendar-inner .business_hours .list span{
  display: inline-block;
  color: #5a7da0;
  font-weight: bold;
  margin-left: 15px;
}
.calendar-inner .phone-number{
  text-align: center;
  border: 1px solid #5a7da0;
}
.calendar-inner .phone-number{
  margin: 0;
}
.calendar-inner .phone-number p{
  font-size: 17px;
  font-weight: bold;
  color: #333333;
  border-bottom: 1px solid #5a7da0;
  margin: 10px 15px;
  padding-bottom: 10px;
}
.calendar-inner .phone-number ul{
  margin: 5px;
}
.calendar-inner .phone-number ul li{
  float: left;
  padding-top: 0;
}
.calendar-inner .phone-number ul li + li{
  margin-left: 10px;
}
.calendar-inner .phone-number img{
  height: 32px;
  width: auto;
}

/*.shoplist*/
.shoplist{margin-top: 22px;}
.shoplist .map-inner{
  width: 980px;
  margin-left: 6px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #fff;
}
.shoplist .map-inner a{
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.shoplist .map{
  width:611px;
  height: auto;
  margin: 0 20px;
  background-color: #e8e8e8;
  float: left;
}
.shoplist .map .map-wrap{
  padding-bottom: 49.75%;
  position: relative;
}
    /*.shoplist .map .map-wrap iframe{
      width: 100%;
      height: 100% !important;
      left: 0;
      position: absolute;
      top: 0;
      }*/
      .shoplist .map .map-wrap #gmap{
        width: 100%;
        height: 100% !important;
        left: 0;
        position: absolute;
        top: 0;
      }



      .shoplist .shop-list,
      .shoplist .showroom-list{
        height: 56px;
        width: 310px;
        margin: 0 auto;
        line-height: 56px;
        text-align: center;
        background-color: #91a8bf;
        box-shadow: 2px 2px 5px #454545;
        float: left;
      }
      .shoplist .shop-list{
        margin-top: 0;
        margin-bottom: 6px;
        box-shadow: 2px 2px 5px #454545;
      }

      /*.lineup*/
      .lineup{margin-top: 22px;}
      .lineup .lineup-inner{
        width: 980px;
        margin-left: 6px;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: #fff;
      }
      .lineup .lineup-inner .car-pic{
        width: 920px;
        margin: 0 auto;
      }
      .lineup .lineup-inner .car-pic li{
        float: left;
        width: 184px;
        text-align: center;
        margin-top: 10px;
      }
      .lineup .lineup-inner .car-pic li img{
        width:90%;
        height: auto;
      }
      .lineup .lineup-inner .car-pic span{
        font-size: 11px;
        color: #333333;
        text-align: center;
      }
      .lineup .lineup-inner .btn_carlist{
        height: 44px;
        width: 310px;
        margin: 30px auto 0;
        line-height: 44px;
        text-align: center;
        background-color: #91a8bf;
        box-shadow: 2px 2px 5px #454545;
      }
      .lineup .lineup-inner .btn_carlist a{
        display: block;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
      }

      /*.contact*/
      .contact{margin-top: 22px;}
      .contact .contact-inner{
        width: 980px;
        margin-left: 6px;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: #fff;
      }
      .contact .contact-inner dl{
        width: 610px;
        margin: 10px 0 0 50px;
        float: left;
      }
      .contact .contact-inner dt{
        float: left;
        font-size: 16px;
        font-weight: bold;
        margin-top: 4px;
      }
      .contact .contact-inner dt.last{
        margin-left: 50px;
      }
      .contact .contact-inner dd{
        margin-left: 18px;
        font-size: 22px;
        font-weight: bold;
        color: #5a7da0;
        float: left;
      }
      .contact .contact-inner .btn_form{
        height: 44px;
        width: 269px;
        margin: 0 0 0 30px;
        line-height: 44px;
        text-align: center;
        background-color: #91a8bf;
        box-shadow: 2px 2px 5px #454545;
        float: left;
      }
      .contact .contact-inner .btn_form a{
        display: block;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
      }

      .contact-text
  {
margin-bottom: 26px;
color: #5b7da0;
}

  .contact .contact-inner .contact-inner-body .shop-list
  {
position: absolute;
left: 300px;
width: 199px;
top: 40px;
}

  .contact .contact-attation
  {
font-size: 10px;
}

  .phone-number
  {position: absolute;right: 0;background: #ecf2f7;top: 0;width: 370px;height: 100%;padding: 14px 10px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;}

  .phone-number .title
  {

border-bottom: 1px solid #5a7da0;

padding-bottom: 5px;

margin: 0 12px 2px;
font-weight: bold;

}

.phone-number ul
{
  
margin-bottom: 15px;
}

  .phone-number li
  {

display: inline-block;

width: 152px;
margin-top: 10px;
margin-right: 11px;

}

  .phone-number img
  {

width: 100%;

height: auto;

}

  .phone-number-attention
  {
    
font-size: 10px;
  }
  .contact-inner-body
  {border: 1px solid #000;margin: 0px 20px 25px;height: 56px;position: relative;padding: 40px;}

      /********************/
      /******#sitemap******/
      /********************/
      #sitemap{
        width:1024px;
        margin: 0 auto;
        margin-top: 0;
        float: none;
        padding-top: 20px;
      }
      .sitemap-inner{
        width: 980px;
        margin: 0 auto;
        background-color: #fff;
      }
      #gmap .gmnoprint{
        width: auto!important;
      }
      #gmap a{
        font-size:10px;
      }

      .sitemap-inner .section-title{
        padding: 20px 0 0 20px;
      }
      .sitemap-inner .sitemap{
        margin:0 50px;
        padding-bottom: 40px;
      }
      .sitemap-inner .sitemap .column{
        float: left;
      }
      .sitemap-inner .sitemap .column01{ width: 200px;}
      .sitemap-inner .sitemap .column02{ width: 260px;}
      .sitemap-inner .sitemap .column03{ width: 220px;}
      .sitemap-inner .sitemap .column04{ width: 200px;}
      .sitemap-inner .sitemap dl{
        margin-top: 40px;
      }
      .sitemap-inner .sitemap dt{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .sitemap-inner .sitemap dd{
        font-size: 12px;
        background: url("../img/top/sitemap-mark.gif") no-repeat left center;
        padding: 3px 0 0 10px;
        line-height: 2;
      }
      .sitemap-inner .sitemap dd a{
        color: #000;
      }
      .sitemap-inner .sitemap dd a:hover{
        text-decoration: underline;
      }

      /********************/
      /******#footer*******/
      /********************/
      #footer{
        position: relative;
        width: 100%;
        z-index: 10;
      }
      .sp-footer-link{
        display: none;
      }
      .footer-logo {
        height: 24px;
        background-color: #f38a00;
      }
      .footer-logo img{
        height: 24px;
        width: auto;
      }
      .footer-logo .left-image{float: left;}
      .footer-logo .right-image{float: right;}
      #footer .copy{
        display: block;
        font-size: 10px;
        text-align: right;
        background-color: #fff;
        padding: 5px 30px 5px 0;
      }