@charset 'UTF-8'; /**********/
a {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: none;
    color: black
}

.top-calendar-bottom .calendar-image {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin: 10% auto 0 auto;
}

.top-calendar-attantion {
    font-size: 12px;
    float: left;
    padding-right: 20px;
    padding-left: 0;
    padding-bottom: 10px;
}

.top-calendar-attantion .calendar-icon {
    display: inline-block;
    background-color: #2da862;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    float: left;
    margin-right: 5px;
}

.top-calendar-attantion .calendar-icon-holiday {
    border-radius: 0%;
}

.top-calendar-attantion-list {
    padding-left: 25px;
    /* padding-top: 20px; */
    overflow: hidden;
    padding-bottom: 30px;
}
.show-all {
    display: block;
}

.hide-all {
    display: none;
}

.top-calendar-attantion-list {
    padding-left: 25px;
    /* padding-top: 20px; */
    overflow: hidden;
}

.change-button-set {
    position: relative;
    clear: both;
    overflow: hidden;
    padding-bottom: 40px;
    display:none;
    background-color: white;
}
.store_address .tel span {
    padding-right:10px;
}
.store_address .hours span {
    padding-right:10px;
}
.container:before {
  content: "";
  display: block;
  position: relative;
  z-index: 2;
  background: url(../images/content_top_bg.png) no-repeat left top;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 100%;
  height: 56px;
}

.custom-color {
    color: #ff8700;
}

#section-calendar .calendar-inner .right-wrap .business_hours dl dd {
    height: auto;
}

@media screen and (min-width: 1280px) {
    #sortmenu {
        width: 980px;
    }
    #store_map {
        width: 980px;
    }
    #sortmenu .area-block {
        width: 300px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    #container {
        /* padding-left: 20px; */
        /* padding-right: 20px; */
    }
    #sortmenu {
        width: 100%;
    }
    #store_map {
        width: 100%;
    }
}


@media screen and (min-width: 980px) {
    #wrapper {
        /* position: relative; */ /* padding-left: 212px; */
    }

    #wrapper #container h1 {
        padding-top: 67px;
        font-size: 38px;
        color: #ff6e01;
        padding-bottom: 34px;
        text-align: left;
        letter-spacing: 0.2em;
        font-weight: bold;
        width: 980px;
        margin: 0 auto;
    }

    #wrapper li {
        list-style: none;
    }

    #container {
        /* position: relative; */
    }


    #content {
        width: 100%;
        max-width: 980px;
        margin: 0 auto;
    }


    #sortmenu {
        /*width: 980px;*/
        margin: 0 auto;
        overflow: hidden;
    }


    #sortmenu h2 {
        width: 100%;
        text-align: left;
        padding-top: 27px;
        font-size: 21px;
        padding-bottom: 28px;
        color: #ff6e01;
        letter-spacing: 0.15em;
        background-color: white;
    }

    #container h1 {
    }

    #sortmenu .service-block {
        width: 680px;
        float: left;
    }

    #sortmenu .service-block h3 {
        padding-top: 20px;
        font-size: 21px;
        padding-left: 3px;
    }

    #sortmenu .service-block h3 span {
        font-size: 15px;
    }

    #sortmenu .service-block ul {
        width: 655px;
        padding-top: 32px;
        float: left;
        border-top: dashed 1px #dbdbdb;
        margin-top: 15px;
    }

    #sortmenu .service-block ul li {
        float: left;
        width: 218px;
        height: 53px;
        font-size: 14px;
        padding-bottom: 10px;
    }

    #sortmenu .service-block ul li input {
        float: left;
        margin-top: 3px;
    }

    #sortmenu .service-block ul li p {
        padding-left: 27px;
        line-height: 130%;
        margin-top: -2px;
    }

    #sortmenu .service-block ul li br {
    }


    #sortmenu .area-block {
        float: left;
        padding-top: 20px;
        padding-left: 31px;
        /*width: 300px;*/
    }

    #sortmenu .area-block h3 {
        font-size: 20px;
    }

    #sortmenu .area-block h3 span {
        font-size: 15px;
    }

    #sortmenu .area-block .select-box {
        padding-top: 32px;
        margin-top: 15px;
        border-top: dashed 1px #dbdbdb;
    }

    #sort_area {
        font-size: 12px;
        width: 200px;
        border: 1px solid #bfbfbf;
        padding: 2px 4px 2px 6px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
        appearance: menulist;
    }

    #sort_area option {
    }

    #sortmenu .search-info {
        clear: both;
        border-top: dashed 1px #dbdbdb;
        margin-top: 5px;
        padding-top: 0px;
        float: left;
        width: 100%;
        padding-bottom: 25px;
    }

    #sortmenu .search-info .search_info-box-wrapper {
        clear: both;
        float: left;
        width: 100%;
    }

    #sortmenu .search-info .search-info-box {
        float: left;
        padding-right: 30px;
        padding-top: 9px;
    }

    #sortmenu .search-info .label {
        font-size: 16px;
        padding-right: 20px;
    }

    #sortmenu .search-info .search-all {
        font-size: 27px;
        font-weight: bold;
        position: relative;
        top: 1px;
    }

    #sortmenu .search-info .label2 {
        font-size: 16px;
    }

    #sortmenu .search-info .search-all span {
    }

    #sortmenu .search-info .search-target {
        font-size: 43px;
        color: #ff6e01;
        top: 2px;
        position: relative;
        font-weight: bold;
    }

    #sortmenu .search-info .slash {
        font-size: 20px;
        position: relative;
        top: -2px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #sortmenu .search-info .search-target span {
    }

    #sortmenu .search-info .search-target span {
        font-size: 14px;
        padding-right: 9px;
        color: black;
    }

    #sortmenu .search-info .button-clear {
        float: right;
        padding: 10px 28px 10px 28px;
        font-size: 14px;
        cursor: pointer;
        color: white;
        margin-top: 19px;
        background-color: white;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        background-color: #887f7a;
        margin-right: 25px;
    }

    #store {
        width: 100%;
        clear: both;
        overflow: hidden;
        padding-bottom: 30px;
    }

    #store .btn-search-area {
        display: none;
    }

    #store ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store ul li {
        padding-right: 40px;
    }

    #store ul li img {
        float: left
    }

    #store ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 10px;
        padding-top: 2px;
    }

    #store .store-icon-list li .list-icon {
        width: 22px;
        float: left;
    }

    #store .store-icon-list li .list-icon img {
        width: 100%;
    }

    #store .store-icon-list li p {
        float: left;
        position: relative;
        top: 2px;
        font-size: 15px;
    }

    #store .store-icon-list {
        padding-top: 54px;
    }

    #store .store-icon-list li {
        float: left;
        padding-right: 41px;
    }

    #store-list {
        width: 100%;
        clear: both;
        overflow: hidden;
        padding-bottom: 26px;
    }

    #store-list .store-list-box {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul li {
        padding-right: 40px;
    }

    #store-list .store-icon-list li p {
        float: left;
    }

    #store-list ul li img {
        float: left
    }

    #store-list ul li p {
        /* float: left; */
        font-size: 15px;
        padding-top: 2px;
    }

    /* =========================================================
    store_map
    ========================================================= */
    #store_map {
        clear: both;
        /*width: 980px;*/
        margin: 0 auto;
        padding-top: 12px;
    }

    #store_map #gmap {
        width: 100%;
        height: 604px;
        position: relative;
    }

    #store-list #store_list_container {
        width: 993px;
        overflow: hidden;
    }

    #store-list #store_list_container .inner {
        height: 100%;
        position: relative;
        /* overflow: hidden; */
    }


    #store-list #store_list_container li {
        width: 316px;
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
        padding-right: 0px;
        background-color: white;
        overflow: hidden;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
    }

    #store-list #store_list_container li:first-child {
        /* margin-left: 0; */
    }

    #store-list .inner {
        width: 100%;
    }

    #store-list .inner .store_section_info {
        width: 100%;
        position: relative;
        height: 100%;
        padding-bottom: 55px;
        overflow: hidden;
        background-color: #f6f6f6;
        border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
    }

    #store-list .inner .store_section_info .store_image {
        width: 100%;
    }

    #store-list .inner .store_section_info .store_image img {
        width: 100%;
        height: 178px;
        background-color: #ddd;
        border-radius: 20px 20px 0px 0px;
        -webkit-border-radius: 20px 20px 0px 0px;
        -moz-border-radius: 20px 20px 0px 0px;
    }

    #store-list .inner .store_section_info .name {
        clear: both;
        padding-left: 20px;
        padding-top: 23px;
        line-height: 140%;
        min-height: 87px;
    }

    #store-list .inner .store_section_info .name span {
        color: #ff6f00;
        font-size: 19px;
    }

    #store-list .inner .store_section_info .store_address {
        clear: both;
        padding-top: 0px;
        width: 100%;
        padding-left: 21px;
        line-height: 135%;
        position: relative;
        bottom: 0;
        padding-bottom: 16px;
    }

    #store-list .inner .store_section_info .store_address p {
        font-size: 16px;
        line-height: 150%;
    }

    #store-list .inner .store_section_info .store_address .address1 {
    }

    #store-list .inner .store_section_info .store_address .address2 {
        padding-top: 10px;
    }

    #store-list .inner .store_section_info .store_address .tel {
    }

    #store-list .inner .store_section_info .store_address .hours {
        font-size: 13px;
        padding-top: 8px;
    }

    #store-list .inner .store_btn_detail {
        margin: 0px 0px 0px 13px;
        position: absolute;
        bottom: 0;
        padding: 14px 0px 14px 0px;
        text-align: center;
        width: 290px;
        font-weight: bold;
        font-size: 14px;
        color: white;
        border-radius: 40px 40px 40px 40px/35px 35px 35px 35px;
        -webkit-border-radius: 40px 40px 40px 40px/35px 35px 35px 35px;
        -moz-border-radius: 40px 40px 40px 40px/35px 35px 35px 35px;
        background-color: #887f7a;
        margin-bottom: 13px;
    }

    #store-list .inner .store_btn_detail a {
        color: white;
        font-weight: normal;
        font-size: 16px;
    }

    #section-calendar {
        width: 100%;
        margin: 0 auto;
        clear: both;
        overflow: hidden;
        padding-bottom: 70px;
    }

    #section-calendar .info-box {
        width: 980px;
        margin: 30px auto 0 auto;
    }

    #section-calendar .section-title {
        clear: both;
    }

    #section-calendar .calendar-inner {
        overflow: hidden;
        border-radius: 50px 50px 50px 50px;
        -webkit-border-radius: 50px 50px 50px 50px;
        -moz-border-radius: 50px 50px 50px 50px;
        background-color: #f5f5f5;
    }

    #section-calendar .calendar-inner .left-wrap {
        width: 100%;
        padding-left: 16px;
        overflow: hidden;
        /* border: solid 1px #dddddd; */
        /* background-color: #f5f5f5; */
    }

    #section-calendar .calendar-inner .left-wrap .section-title {
        width: 100%;
        text-align: left;
        padding-top: 46px;
        font-size: 20px;
        padding-left: 45px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        color: #ff8700;
    }

    #section-calendar .calendar-inner .left-wrap .month {
        padding-top: 12px;
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
        /* padding-bottom: 20px; */
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month {
        width: 50%;
        float: left;
        background-color: white;
        border-radius: 30px 0px 0px 0px;
        -webkit-border-radius: 30px 0px 0px 0px;
        -moz-border-radius: 30px 0px 0px 0px;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month img {
        width: 80%;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month {
        width: 50%;
        float: left;
        background-color: white;
        border-radius: 0px 30px 0px 0px;
        -webkit-border-radius: 0px 30px 0px 0px;
        -moz-border-radius: 0px 30px 0px 0px;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month img {
        width: 80%;
    }

    #section-calendar .calendar-inner .left-wrap .btn-next-month {
        display: none !important;
    }

    #section-calendar .calendar-inner .left-wrap .btn-prev-month {
        display: none !important;
    }

    #section-calendar .calendar-inner .left-wrap .caption {
        clear: both;
        font-size: 15px;
        position: relative;
        left: auto;
        width: 90%;
        background-color: white;
        border-radius: 0px 0px 30px 30px;
        -webkit-border-radius: 0px 0px 30px 30px;
        -moz-border-radius: 0px 0px 30px 30px;
        margin: 0 auto 50px;
    }

    #section-calendar .calendar-inner .caption .calendar-icon span {
        width: 14px;
        display: block;
        float: left;
        margin-right: 6px;
        margin-top: -2px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span img {
        width: 100%;
    }

    .right-wrap:after {
        content: "";
        display: block;
        clear: both;
    }

    #section-calendar .calendar-inner .right-wrap {
        width: 90%;
        margin: 0 auto;
        background-color: #f5f5f5;
        /* overflow: hidden; */
    }

    #section-calendar .calendar-inner .right-wrap .business_hours {
        padding-bottom: 10px;
        width: 50%;
        float: left;
        margin-bottom: 34px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours .title {
        width: 100%;
        text-align: left;
        padding-top: 0;
        font-size: 21px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        color: #ff8700;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl {
        margin-top: 12px;
        margin-right: 28px;
        background-color: white;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        padding-top: 30px;
        min-height: 220px;
        padding-bottom: 22px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt {
        width: 12px;
        float: left;
        margin-right: 12px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt img {
        width: 100%;
        display: none;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd {
        font-size: 14px;
        font-weight: bold;
        padding-top: 2px;
        padding-right: 22px;
        padding-left: 22px;
        padding-bottom: 7px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .label {
        padding-bottom: 4px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
        font-size: 14px;
        font-weight: normal;
        padding-top: 6px;
        padding-bottom: 7px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number {
        width: 50%;
        float: left;
        overflow: hidden;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .title {
        width: 100%;
        text-align: left;
        font-size: 21px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        color: #ff8700;
        margin-left: 28px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl {
        margin-top: 12px;
        margin-left: 28px;
        background-color: white;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        padding-top: 36px;
        padding-bottom: 15px;
        padding-left: 15px;
        min-height: 220px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt {
        width: 12px;
        float: left;
        clear: both;
        margin-right: 10px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt img {
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd {
        font-size: 16px;
        padding-right: 20px;
        padding-bottom: 17px;
        font-weight: normal;
        padding-left: 20px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd .label {
        position: relative;
        top: -4px;
        line-height: 100%;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel a {
        color: #ff8700;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt.main-tel {
        margin-left: 23px;
        width: 40px;
        background-color: #ff6f00;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt.main-tel img {
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel {
        font-size: 35px;
        color: #ff6e01;
        font-weight: bold;
        padding-top: 7px;
        padding-bottom: 24px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel label {
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel img {
    }

    #section-calendar .calendar-inner .right-wrap .phone-number div {
        color: white;
        width: 90%;
        text-align: center;
        font-size: 17px;
        letter-spacing: 0.15em;
        padding: 10px 10px 10px 10px;
        color: white;
        background-color: white;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        background-color: #887f7a;
        margin: 0 auto;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number div a {
        color: white;
    }

    /* =========================================================
    footer_function
    ========================================================= */
    #footer_function {
    }

      #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-text {
      line-height: 1.5em;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours .business_hours-text {
      line-height: 1.5em;
      font-weight: normal;
    }
}



@media screen and (max-width: 979px) and (min-width: 768px) {
    #wrapper {
        /* position: relative; */ /* padding-left: 212px; */
    }

    #wrapper #container h1 {
        padding-top: 82px;
        font-size: 40px;
        color: #ff6e01;
        padding-bottom: 27px;
        text-align: left;
        letter-spacing: 0.2em;
        padding-left: 19px;
    }

    #wrapper li {
        list-style: none;
    }

    #container {
        /* position: relative; */

    }

    #content {
        width: 100%;
        position: relative;
        top: 0;
    }

    #sortmenu {
        width: 100%;
        margin: 0 auto 0 auto;
        padding-top: 600px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
        margin-bottom: 35px;
    }

    #sortmenu .service-block-wrapper {
        overflow: hidden;
    }

    #sortmenu h2 {
        width: 100%;
        text-align: left;
        font-size: 21px;
        padding-bottom: 20px;
        padding-top: 46px;
        color: #ff6e01;
        letter-spacing: 0.25em;
    }

    #container h1 {
    }

    #sortmenu .service-block {
        width: 100%;
        float: left;
        padding-left: 0;
    }

    #sortmenu .service-block h3 {
        padding-top: 20px;
        font-size: 22px;
    }

    #sortmenu .service-block h3 span {
        font-size: 15px;
    }

    #sortmenu .service-block ul {
        width: 730px;
        padding-top: 28px;
        margin-top: 24px;
        float: left;
        border-top: dashed 1px #dddddd;
    }

    #sortmenu .service-block ul li {
        float: left;
        width: 360px;
        height: 88px;
        font-size: 14px;
        padding-bottom: 10px;
    }

    #sortmenu .service-block ul li input {
        float: left;
        margin-top: 7px;
        margin-left: 18px;
        width: 15px;
    }

    #sortmenu .service-block ul li p {
        padding-left: 63px;
        line-height: 130%;
        font-size: 20px;
    }

    #sortmenu .service-block ul li br {
    }

    #sortmenu .area-block {
        float: left;
        padding-top: 7px;
        width: 100%;
    }

    #sortmenu .area-block h3 {
        font-size: 20px;
        width: 100%;
        border-bottom: dashed 1px #dddddd;
        padding-bottom: 18px;
    }

    #sortmenu .area-block h3 span {
        font-size: 15px;
    }

    #sortmenu .area-block .select-box {
        padding-top: 24px;
        margin-top: 5px;
    }

    #sort_area {
        font-size: 16px;
        width: 58%;
        border: 1px solid #bfbfbf;
        padding: 7px 4px 7px 6px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
        appearance: menulist;
    }

    #sort_area option {
    }

    #sortmenu .search-info {
        clear: both;
        border-top: dashed 1px #dddddd;
        margin-top: 54px;
        padding-top: 2px;
        float: left;
        width: 100%;
        padding-bottom: 26px;
    }

    #sortmenu .search-info .search_info-box-wrapper {
        clear: both;
        float: left;
        width: 100%;
    }

    #sortmenu .search-info .search-info-box {
        float: left;
        padding-right: 30px;
        padding-top: 17px;
    }

    #sortmenu .search-info .label {
        font-size: 18px;
        font-weight: bold;
    }

    #sortmenu .search-info .search-all {
        font-size: 22px;
        font-weight: bold;
        position: relative;
        top: 1px;
    }

    #sortmenu .search-info .label2 {
        font-size: 18px;
        font-weight: bold;
    }

    #sortmenu .search-info .search-all span {
    }

    #sortmenu .search-info .search-target {
        font-size: 47px;
        color: #ff6e01;
        top: 2px;
        position: relative;
        font-weight: bold;
    }

    #sortmenu .search-info .slash {
        font-size: 35px;
        position: relative;
        top: -3px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #sortmenu .search-info .search-target span {
    }

    #sortmenu .search-info .search-target span {
        font-size: 14px;
        padding-right: 9px;
        color: black;
    }

    #sortmenu .search-info .button-clear {
        float: right;
        padding: 12px 39px 12px 39px;
        font-size: 14px;
        color: #4d4d4d;
        cursor: pointer;
        color: white;
        margin-top: 29px;
        margin-right: -1px;
        background-color: #887f7a;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
    }

    #store {
        width: 100%;
        clear: both;
        overflow: hidden;
        padding-bottom: 51px;
        position: absolute;
        top: 0px;
        left: 0;
    }

    #store .btn-search-area {
        display: none;
    }

    #store ul {
        width: 100%;
        margin: 0 auto;
        clear: both;
    }

    #store ul li {
        padding-right: 40px;
    }

    #store ul li img {
        float: left
    }

    #store ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 10px;
        padding-top: 2px;
    }

    #store .store-icon-list li .list-icon {
        width: 27px;
        float: left;
    }

    #store .store-icon-list li .list-icon img {
        width: 100%;
    }

    #store .store-icon-list li p {
        float: left;
        position: relative;
        top: 3px;
        font-size: 15px;
    }

    #store .store-icon-list {
        padding-top: 26px;
    }

    #store .store-icon-list li {
        float: left;
        padding-right: 9px;
        padding-left: 25px;
        padding-bottom: 10px;
    }

    #store-list {
        width: 100%;
        clear: both;
        overflow: hidden;
        padding-bottom: 26px;
    }

    #store-list .store-list-box {
        width: 100%;
        margin: 0 auto;
        clear: both;
        padding-left: 20px;
        padding-right: 20px;
    }

    #store-list ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul li {
        padding-right: 40px;
    }

    #store-list .store-icon-list li p {
        float: left;
    }

    #store-list ul li img {
        float: left
    }

    #store-list ul li p {
        /* float: left; */
        font-size: 15px;
        padding-top: 2px;
        padding-bottom: 10px;
    }

    /* =========================================================
    store_map
    ========================================================= */
    #store_map {
        clear: both;
        width: 100%;
        margin: 0 auto;
        padding-top: 19px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #store_map #gmap {
        width: 100%;
        height: 447px;
        position: relative;
    }

    #store-list #store_list_container {
        width: 107%;
    }

    #store-list #store_list_container .inner {
        height: 100%;
        position: relative;
        /* overflow: hidden; */
    }

    #store-list #store_list_container li {
        width: 30.7%;
        float: left;
        margin-bottom: 1%;
        margin-right: 1%;
        padding-right: 0;
        background-color: #f4f4f4;
        overflow: hidden;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
    }

    #store-list #store_list_container li:first-child {
        /* margin-left: 0; */
    }

    #store-list .inner {
        width: 100%;
    }

    #store-list .inner .store_section_info {
        width: 100%;
        position: relative;
        height: 100%;
        padding-bottom: 70px;
        overflow: hidden;
    }

    #store-list .inner .store_section_info .store_image {
        width: 100%;
    }

    #store-list .inner .store_section_info .store_image img {
        width: 100%;
        height: 178px;
        background-color: #ddd;
        border-radius: 20px 20px 0px 0px;
        -webkit-border-radius: 20px 20px 0px 0px;
        -moz-border-radius: 20px 20px 0px 0px;
    }

    #store-list .inner .store_section_info .name {
        padding-top: 11px;
        clear: both;
        padding-left: 13px;
        line-height: 140%;
        min-height: 97px;
    }

    #store-list .inner .store_section_info .name span {
        color: #ff6f00;
        font-size: 19px;
    }

    #store-list .inner .store_section_info .store_address {
        clear: both;
        padding-top: 0px;
        width: 100%;
        padding-left: 16px;
        line-height: 135%;
        position: relative;
        bottom: 0;
    }

    #store-list .inner .store_section_info .store_address p {
        font-size: 16px;
        line-height: 150%;
    }

    #store-list .inner .store_section_info .store_address .address1 {
    }

    #store-list .inner .store_section_info .store_address .address2 {
        padding-top: 10px;
    }

    #store-list .inner .store_section_info .store_address .tel {
    }

    #store-list .inner .store_section_info .store_address .hours {
        font-size: 16px;
        padding-top: 8px;
    }

    #store-list .inner .store_btn_detail {
        position: absolute;
        bottom: 0;
        padding: 10px 0px 10px 0px;
        text-align: center;
        width: 88%;
        font-weight: bold;
        font-size: 14px;
        margin-left: 6%;
        margin-bottom: 6%;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        background-color: #887f7a;
    }

    #store-list .inner .store_btn_detail a {
        color: white;
    }

    #section-calendar {
        width: 100%;
        margin: 0 auto;
        clear: both;
        overflow: hidden;
        padding-bottom: 70px;
    }

    #section-calendar .info-box {
        width: 100%;
        margin: 20px auto 0 auto;
    }

    #section-calendar .section-title {
        clear: both;
    }

    #section-calendar .calendar-inner {
        overflow: hidden;
        margin-bottom: 20px;
        background-color: #f5f5f5;
    }

    #section-calendar .calendar-inner .left-wrap {
        width: 100%;
        overflow: hidden;
        padding-bottom: 30px;
    }

    #section-calendar .calendar-inner .left-wrap .section-title {
        width: 100%;
        text-align: left;
        padding-top: 55px;
        font-size: 20px;
        padding-left: 5%;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        color: #ff8700;
    }

    #section-calendar .calendar-inner .left-wrap .month {
        padding-top: 18px;
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month {
        width: 50%;
        float: left;
        background-color: #ffffff;
        border-radius: 30px 0px 0px 0px;
        -webkit-border-radius: 30px 0px 0px 0px;
        -moz-border-radius: 30px 0px 0px 0px;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month img {
        width: 100%;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month {
        width: 50%;
        float: left;
        background-color: #ffffff;
        border-radius: 0px 30px 0px 0px;
        -webkit-border-radius: 0px 30px 0px 0px;
        -moz-border-radius: 0px 30px 0px 0px;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month img {
        width: 100%;
    }

    #section-calendar .calendar-inner .left-wrap .btn-next-month {
        display: none !important;
    }

    #section-calendar .calendar-inner .left-wrap .btn-prev-month {
        display: none !important;
    }

    #section-calendar .calendar-inner .left-wrap .caption {
        clear: both;
        font-size: 12px;
        padding-left: 8px;
        position: relative;
        background-color: white;
        border-radius: 0px 0px 30px 30px;
        -webkit-border-radius: 0px 0px 30px 30px;
        -moz-border-radius: 0px 0px 30px 30px;
        margin-bottom: 50px;
        margin-left: 5%;
        width: 90%;
    }

    #section-calendar .calendar-inner .caption .calendar-icon span {
        width: 14px;
        display: block;
        float: left;
        margin-right: 6px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span img {
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap {
        width: 100%;
        margin-top: -2px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours {
        padding-bottom: 17px;
        float: left;
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours .title {
        width: 100%;
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        padding-left: 5%;
        color: #ff8700;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl {
        padding-top: 19px;
        width: 90%;
        float: left;
        height: auto !important;
        background-color: #ffffff;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        margin-left: 5%;
        margin-top: 18px;
        padding-bottom: 22px;
        padding-left: 22px;
        padding-right: 22px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt {
        width: 12px;
        float: left;
        margin-right: 12px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt img {
        width: 100%;
        display: none;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd {
        font-size: 14px;
        font-weight: bold;
        padding-top: 2px;
        padding-bottom: 7px;
    }

    #top-date-container:after {
        content: "";
        display: block;
        clear: both;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours .fixitem {
        float: left;
        width: 50%;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .label {
        padding-bottom: 10px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
        font-size: 14px;
        letter-spacing: 0.15em;
        padding-bottom: 17px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number {
        padding-top: 6px;
        padding-bottom: 17px;
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .title {
        width: 100%;
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        padding-left: 5%;
        padding-top: 3px;
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl {
        padding-top: 32px;
        width: 90%;
        float: left;
        height: auto !important;
        background-color: #ffffff;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        margin-left: 5%;
        margin-top: 9px;
        margin-bottom: 28px;
        padding-bottom: 22px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt {
        width: 12px;
        float: left;
        clear: both;
        margin-right: 10px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt img {
        width: 100%;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd {
        font-size: 14px;
        padding-bottom: 17px;
        font-weight: normal;
        padding-left: 22px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd .label {
        position: relative;
        margin-left: 11px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel a {
        color: #ff8700;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt.main-tel {
        margin-left: 21px;
        width: 40px;
        background-color: #ff6f00;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel {
        font-size: 31px;
        color: #ff6e01;
        font-weight: bold;
        padding-bottom: 26px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel label {
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel img {
    }

    #section-calendar .calendar-inner .right-wrap .phone-number div {
        color: white;
        width: 41%;
        text-align: center;
        font-size: 13px;
        letter-spacing: 0.15em;
        padding: 11px 10px 11px 10px;
        color: white;
        background-color: #887f7a;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        margin: 10px auto 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number div a {
        color: white;
        font-size: 18px;
        margin-left: 5%;
    }

    /* =========================================================
    footer_function
    ========================================================= */
    #footer_function {
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-text {
      line-height: 1.5em;
    }

    .business_hours-text {
      line-height: 1.5em;
      font-weight: normal;
    }

    #breadList {
      margin-top: 0px;
    }
}

@media screen and (max-width: 767px) {
    #wrapper {
        /* position: relative; */ /* padding-left: 212px; */
    }

    #wrapper #container h1 {
        padding-top: 35px;
        font-size: 23px;
        color: #ff6e01;
        padding-bottom: 17px;
        border-bottom: solid 2px #e9e7e7;
        text-align: left;
        letter-spacing: 0.2em;
        font-weight: normal;
        padding-left: 13px;
    }

    #wrapper li {
        list-style: none;
    }

    #container {
        /* position: relative; */
    }

    #content {
        width: 100%;
        position: relative;
        top: 0;
    }

    #sortmenu {
        width: 100%;
        margin: 0 auto 0 auto;
        padding-top: 390px;
    }

    #sortmenu h2 {
        width: 100%;
        text-align: left;
        font-size: 15px;
        padding-bottom: 13px;
        color: #ff6e01;
        letter-spacing: 0.15em;
        padding-left: 12px;
    }

    #container h1 {
    }

    #sortmenu .service-block {
        width: 100%;
        float: left;
        padding-right: 10px;
        padding-left: 10px;
    }

    #sortmenu .service-block h3 {
        padding-top: 12px;
        font-size: 16px;
        border-bottom: dashed 1px #dddddd;
        width: 100%;
        padding-bottom: 8px;
    }

    #sortmenu .service-block h3 span {
        font-size: 12px;
    }

    #sortmenu .service-block ul {
        width: 105%;
        margin-top: 13px;
        float: left;
    }

    #sortmenu .service-block ul li {
        float: left;
        font-size: 14px;
        position: relative;
        height: 50px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        margin-right: 3%;
        width: 46%;
        margin-bottom: 3%;
        background-color: #e2e2e2;
        border: #e2e2e2 2px solid;
    }

    #sortmenu .service-block ul li:nth-child(odd) {
    }

    #sortmenu .service-block ul li label {
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: block;
    }

    #sortmenu .service-block ul li.checked {
        border: #ff6e01 2px solid;
    }

    #sortmenu .service-block ul li.checked label {
    }

    #sortmenu .service-block ul li.checked p {
    }

    #sortmenu .service-block ul li input {
        height: 50px;
        padding: 0;
        margin: 0;
        width: 10px;
        position: absolute;
        top: 0;
        left: 7px;
    }

    #sortmenu .service-block ul li p {
        padding: 0;
        line-height: 130%;
        color: #4d4d4d;
        display: table-cell;
        vertical-align: middle;
        height: 50px;
        position: relative;
        float: initial;
        padding-left: 19px;
        font-size: 12px;
        padding-right: 2px;
        font-weight: bold;
    }

    #sortmenu .service-block ul li br {
    }

    #sortmenu .area-block {
        float: left;
        padding-top: 16px;
        padding-left: 0;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    #sortmenu .area-block h3 {
        font-size: 16px;
        padding-bottom: 14px;
    }

    #sortmenu .area-block h3 span {
        font-size: 11px;
    }

    #sortmenu .area-block .select-box {
        padding-top: 14px;
        width: 100%;
        border-top: dashed 1px #dedede;
        border-bottom: dashed 1px #dedede;
        padding-bottom: 26px;
        padding-left: 10px;
    }

    #sort_area {
        font-size: 12px;
        width: 200px;
        border: 1px solid #bfbfbf;
        padding: 2px 4px 2px 6px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
        appearance: menulist;
    }

    #sort_area option {
    }

    #sortmenu .search-info {
        clear: both;
        float: left;
        width: 100%;
        margin-bottom: 25px;
        margin-top: 5px;
    }

    #sortmenu .search-info .search_info-box-wrapper {
        clear: both;
        width: 100%;
        float: left;
    }

    #sortmenu .search-info .search-info-box {
        float: left;
        padding-left: 10px;
        padding-bottom: 5px;
    }

    #sortmenu .search-info .label {
        font-size: 12px;
        font-weight: bold;
    }

    #sortmenu .search-info .search-all {
        font-size: 20px;
        font-weight: bold;
        position: relative;
        top: 1px;
    }

    #sortmenu .search-info .label2 {
        font-size: 12px;
        font-weight: bold;
    }

    #sortmenu .search-info .search-all span {
    }

    #sortmenu .search-info .search-target {
        font-size: 40px;
        color: #ff6e01;
        top: 2px;
        position: relative;
        font-weight: bold;
    }

    #sortmenu .search-info .slash {
        font-size: 18px;
        position: relative;
        top: -2px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #sortmenu .search-info .search-target span {
    }

    #sortmenu .search-info .search-target span {
        font-size: 14px;
        padding-right: 9px;
        color: black;
    }

    #sortmenu .search-info .button-clear {
        float: right;
        padding: 6px 16px 6px 16px;
        font-size: 15px;
        color: #4d4d4d;
        border-radius: 5px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 5px;
        cursor: pointer;
        color: white;
        margin-top: 9px;
        margin-right: 12px;
        background-color: #887f7a;
    }

    #store {
        width: 100%;
        clear: both;
        overflow: hidden;
        padding-bottom: 51px;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    #store .btn-search-area {
        overflow: hidden;
        margin-top: 11px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        background-color: #887f7a;
        width: 90%;
        margin-left: 5%;
    }

    #store .btn-search-area span {
        display: block;
        float: left;
        width: 13px;
        margin: 9px 1px 1px 30px;
        position: absolute;
    }

    #store .btn-search-area span img {
        width: 100%;
    }

    #store .btn-search-area p {
        color: white;
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
        text-align: center;
        position: relative;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 7%;
    }

    #store ul {
        width: 100%;
        margin: 0 auto;
        clear: both;
    }

    #store ul li {
        padding-right: 40px;
    }

    #store ul li img {
        float: left
    }

    #store ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 10px;
        padding-top: 2px;
    }

    #store .store-icon-list li .list-icon {
        width: 19px;
        float: left;
    }

    #store .store-icon-list li .list-icon img {
        width: 100%;
    }

    #store .store-icon-list li p {
        float: left;
        position: relative;
        top: 3px;
        font-size: 11px;
    }

    #store .store-icon-list {
        padding-top: 23px;
        padding-left: 5px;
    }

    #store .store-icon-list li {
        float: left;
        padding-right: 18px;
        padding-bottom: 14px;
    }

    #store-list {
        width: 100%;
        clear: both;
        overflow: hidden;
        padding-bottom: 27px;
    }

    #store-list .store-list-box {
        width: 100%;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul li {
        padding-right: 40px;
    }

    #store-list .store-icon-list li p {
        float: left;
    }

    #store-list ul li img {
        float: left
    }

    #store-list ul li p {
        /* float: left; */
        font-size: 15px;
        padding-top: 2px;
    }

    .store_address {
        padding-bottom: 12px;
    }

    /* =========================================================
    store_map
    ========================================================= */
    #store_map {
        clear: both;
        width: 100%;
        margin: 0 auto;
        padding-top: 0px;
        position: relative;
    }

    #store_map #gmap {
        width: 100%;
        height: 190px;
    }

    #store-list #store_list_container {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 20px;
    }

    #store-list #store_list_container .inner {
        height: 100%;
        position: relative;
        /* overflow: hidden; */
    }

    #store-list #store_list_container li {
        width: 100%;
        float: left;
        margin-bottom: 30px;
        padding-right: 0;
        background-color: #f6f6f6;
        overflow: hidden;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
    }

    #store-list #store_list_container li:first-child {
        /* margin-left: 0; */
    }

    #store-list .inner {
        width: 100%;
    }

    #store-list .inner .store_section_info {
        width: 100%;
        position: relative;
        height: 100%;
        padding-bottom: 65px;
        overflow: hidden;
    }

    #store-list .inner .store_section_info .store_image {
        width: 100%;
    }

    #store-list .inner .store_section_info .store_image img {
        width: 100%;
        background-color: #ddd;
    }

    #store-list .inner .store_section_info .name {
        padding-top: 14px;
        clear: both;
        padding-left: 16px;
        line-height: 140%;
        min-height: 57px;
    }

    #store-list .inner .store_section_info .name span {
        color: #ff6f00;
        font-size: 16px;
    }

    #store-list .inner .store_section_info .store_address {
        clear: both;
        padding-top: 7px;
        width: 100%;
        padding-left: 16px;
        line-height: 135%;
        position: relative;
        bottom: 0;
        color: #4d4d4d;
    }

    #store-list .inner .store_section_info .store_address p {
        font-size: 14px;
        line-height: 150%;
    }

    #store-list .inner .store_section_info .store_address .address1 {
    }

    #store-list .inner .store_section_info .store_address .address2 {
        padding-top: 0px;
    }

    #store-list .inner .store_section_info .store_address .tel {
    }

    #store-list .inner .store_section_info .store_address .tel br {
        display: none;
    }

    #store-list .inner .store_section_info .store_address .hours {
        font-size: 12px;
        padding-top: 8px;
    }

    #store-list .inner .store_section_info .store_address .hours br {
        display: none;
    }

    #store-list .inner .store_btn_detail {
        position: absolute;
        bottom: 0;
        padding: 12px 0px 12px 0px;
        text-align: center;
        width: 90%;
        font-weight: bold;
        font-size: 17px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        color: white;
        background-color: #887f7a;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    #store-list .inner .store_btn_detail a {
        color: white;
    }

    #section-calendar {
        width: 100%;
        margin: 0 auto;
        clear: both;
        overflow: hidden;
        padding-bottom: 70px;
        background-color: #f6f6f6;
    }

    #section-calendar .info-box {
        width: 100%;
        margin: 10px auto 0 auto;
    }

    #section-calendar .section-title {
        clear: both;
    }

    #section-calendar .calendar-inner {
        overflow: hidden;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #section-calendar .calendar-inner .left-wrap {
        width: 100%;
        float: left;
        overflow: hidden;
        padding-bottom: 30px;
    }

    #section-calendar .calendar-inner .left-wrap .section-title {
        width: 100%;
        text-align: left;
        padding-top: 6px;
        font-size: 15px;
        padding-left: 9px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        color: #ff8700;
    }

    #section-calendar .calendar-inner .left-wrap .month {
        padding-top: 18px;
        overflow: hidden;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month {
        width: 100%;
        float: left;
        border-radius: 20px 20px 0px 0px;
        -webkit-border-radius: 20px 20px 0px 0px;
        -moz-border-radius: 20px 20px 0px 0px;
        /* border: 1px solid red; */
        background-color: white;
        /* padding-bottom: 110px; */
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month img {
        width: 100%;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month {
        width: 100%;
        float: left;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        /* border: 1px solid red; */
        background-color: white;
        /* padding-bottom: 110px; */
        /* display: none; */
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month img {
        width: 100%;
    }

    #section-calendar .calendar-inner .left-wrap .btn-next-month {
        /* display: block; */
        padding: 12px 0px 12px 0px;
        text-align: center;
        width: 88%;
        font-weight: normal;
        font-size: 17px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        color: white;
        background-color: #887f7a;
        position: relative;
        top: 0;
        left: 6%;
    }

    #section-calendar .calendar-inner .left-wrap .btn-prev-month {
        /* display: none; */
        padding: 12px 0px 12px 0px;
        text-align: center;
        width: 88%;
        font-weight: normal;
        font-size: 17px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        color: white;
        background-color: #887f7a;
        position: relative;
        top: 0;
        left: 6%;
    }

    #section-calendar .calendar-inner .left-wrap .caption {
        clear: both;
        font-size: 12px;
        padding-left: 0;
        position: relative;
        /* top: -170px; */
        left: 0;
        border-radius: 0px 0px 20px 20px;
        -webkit-border-radius: 0px 0px 20px 20px;
        -moz-border-radius: 0px 0px 20px 20px;
        background-color:white;
    }

    .top-calendar-attantion-list {
        padding-top: 4px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span {
        display: block;
        float: left;
        top: -3px;
        position: relative;
    }

    #section-calendar .calendar-inner .left-wrap .caption span img {
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap {
        float: left;
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours {
        padding-bottom: 17px;
        float: left;
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours .title {
        width: 100%;
        text-align: left;
        padding-top: 26px;
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 15px;
        letter-spacing: 0.1em;
        padding-left: 10px;
        color: #ff8700;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl {
        padding-top: 28px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        background-color: white;
        padding-bottom: 14px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt {
        width: 12px;
        float: left;
        margin-left: 8px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt:after {
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt img {
        width: 100%;
        display: none;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd {
        font-size: 13px;
        font-weight: bold;
        padding-top: 2px;
        padding-right: 22px;
        padding-left: 22px;
        padding-bottom: 10px;
        color: #4d4d4d;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .label {
        padding-bottom: 10px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
        font-size: 14px;
        padding-top: 3px;
        padding-bottom: 15px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number {
        padding-top: 25px;
        width: 100%;
        float: left;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .title {
        width: 100%;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        padding-left: 10px;
        padding-top: 3px;
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl {
        padding-top: 24px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        background-color: white;
        /* border: solid 1px red; */
        margin-top: 7px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt {
        width: 12px;
        float: left;
        clear: both;
        margin-right: 10px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt img {
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd {
        font-size: 12px;
        padding-bottom: 8px;
        font-weight: normal;
        padding-left: 3px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd .label {
        position: relative;
        padding-left: 21px;
        padding-bottom: 0px;
        font-size: 13px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt.main-tel {
        margin-left: 22px;
        width: 19px;
        background-color: #ff6f00;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt.main-tel img {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel {
        font-size: 20px;
        color: #ff6e01;
        font-weight: bold;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel .label {
        font-size: 25px;
        position: relative;
        top: -4px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel a {
        color: #ff8700;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel label {
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel img {
    }

    #section-calendar .calendar-inner .right-wrap .phone-number div {
        color: white;
        width: 89%;
        text-align: center;
        font-size: 10px;
        letter-spacing: 0.15em;
        padding: 10px 10px 10px 10px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        color: white;
        margin: 14px auto 14px auto;
        background-color: #887f7a;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number div a {
        color: white;
        font-size: 14px;
        font-weight: bold;
    }

    /* =========================================================
    footer_function
    ========================================================= */
    #footer_function {
    }
    .hide {
        display: none;
    }

    .show {
        display: block;
    }
    .change-button-set {
        display:block;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-label {
        padding-left: 19px;
    }

    .business_hours-text {
        font-weight: normal;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-text {
        padding-left: 19px;
        padding-right: 19px;
        line-height: 1.5em;
    }

}
