#wrapper #container h1 {
    color: #73654b;
    border-bottom: solid 2px #e9e7e7;
    border-top: solid 3px #73654b;
}

#sortmenu .search-info .search-target {
    color: #73654b;
}
#sortmenu h2 {
    border-bottom: solid 4px #73654b;
}

#sortmenu .search-info .button-clear {
    background-color: #73654b;
}
#store {
    background-color: #f1f1f1;
}
#store-list {
    background-color: #f1f1f1;
}
#section-calendar {
    background-color: #f1f1f1;
}
#store-list .inner .store_section_info .name span {
    color: #73654b;
}
#section-calendar .calendar-inner .right-wrap .business_hours dl dt {
    background-color: #73654b;
}
#section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
    color: #73654b;
}
#section-calendar .calendar-inner .right-wrap .phone-number dl dt {
    background-color: #73654b;
}
#section-calendar .calendar-inner .right-wrap .phone-number div {
    color: white;
    background-color: #73654b;
}
