.tval-3safe-title-main {
    color: #118175;
}
.anxiety-list-item {
    background-image: url(/u-car/assets/images/about/about-ico-check_p.png);
}
.tval-content-about {
    background-image: url(/u-car/assets/images/about/ico-arrow-down_p.png);
}
