@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*header{
  font-family: 'Noto Sans Japanese', sans-serif;
}*/

header{
  font-family: "游明朝体",  "YuMincho", "Yu Mincho",  "ヒラギノ明朝ProN W3", "Hiragino Mincho ProN", "HG明朝B", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.container{

}

header{
    width: 100%;
    position: relative;
    left: 0;
    background-color: #fff;
    z-index: 999;
}

#header{
position: relative;

}


.header-inner{
  width: 100%;
  background-color: #fff;

}
.logo-area{
  height: 55px;
  display: table;
  float: left;
}

.header-logo{
  padding: 0 0 0 22px;
  vertical-align: middle;
  display: table-cell;
}

.logo-area img{
  height: 11px;
  width : auto;
}

/************************hum-menu***********************/

.hum-menu{
  position: absolute;
  cursor: pointer;
    right: 73px;
    top: 22px;
  width: 14px;
  height: 12px;
}

.hum-menu,
.hum-menu span {
  display: inline-block;
}

.hum-menu span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cccccc;
  /*border-radius: 4px;*/
}


.hum-menu-word{
  position: absolute;
  right: -54px;
  top: 0px;
  color: #7f7f7f;
  font-size: 13px;
  letter-spacing: 1.4px;

}

.hum-menu span:nth-of-type(1) {
  top: 0;
}
.hum-menu span:nth-of-type(2) {
  top: 5px;
}
.hum-menu span:nth-of-type(3) {
  bottom: 0;
}


.hum-menu.active-gnav-outer span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  -ms-transform: translateY(20px) rotate(-45deg);
  -moz-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  top: -16px;
}
.hum-menu.active-gnav-outer span:nth-of-type(2) {
  opacity: 0;
}
.hum-menu.active-gnav-outer span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  -ms-transform: translateY(-20px) rotate(45deg);
  -moz-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  bottom: -14px;
}

/************************gnav***********************/

#gnav{
  display: block;
  background-color: #fff;
  padding-top: 13px;
}

#gnav .first-nav{}

#gnav .first-nav-list{
  border-top: none;

  display: block;
  position: relative;
}

#gnav .first-nav-list:after{
    background-image: url(/common/assets/images/header/4/close.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 10px;
    height: 10px;
    content:"";
    background-size: cover;
    top: 15px;
    right: 20px;
}

#gnav .first-nav-list:last-child{}

#gnav .first-nav-list > a{
  height: 41px;
  font-size: 15px;
  padding: 0 45px 0 20px;
  width: 1000px;
  text-align: left;
  vertical-align: middle;
  color: #7f7f7f;
  letter-spacing: 1.7px;
  line-height: 1.1;
  font-weight:bold;
  display: table-cell;
}

#gnav .first-nav-list:before{

  }

#gnav .first-nav-list > a:hover{
  color: #ff6e01;
}

#gnav .active-first-nav > a{
  background-color: #ff6e01;
  color: #fff;
}

#gnav .active-first-nav > a:hover{
  background-color: #ff6e01;
  color: #fff;
}

#gnav .active-first-nav:after{
    background-image: url(/common/assets/images/header/4/open.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 10px;
    height: 2px;
    content:"";
    background-size: cover;
    top: 17px;
    right: 20px;
}

/************************sub-nav***********************/


.sub-nav{
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  padding-top: 0;
  text-align: left;
  display: none;
  background-color: #ff6e01;

}

.sub-menu{}
.sub-menu li:first-child{
  display: block;
  /*border-top: 1px solid #e7651e;*/
}

.sub-menu li{
  display: block;
  /*border-bottom: 1px solid #e7651e;*/
}

.sub-menu li a{
  height: 43px;
  font-size: 14px;
  padding-left: 20px;
  letter-spacing: -0.6px;
  text-align: left;
  width: 1000px;
  display: table-cell;
  font-weight:500;
  vertical-align: middle;
  color: #fff;
  line-height: 1.1;
  position: relative;
    font-family : YuGothic, '游ゴシック', sans-serif;
}

.sub-menu li a:before{

}

.sub-menu li a:hover{
  background-color: #ff8b34;
}


/************************gnav-links***********************/

.gnav-linkarea{
  display: block;
  border: none;
}

.gnav-linkarea ul{
  padding: 10px 21px 0;
  width: 100%;
  margin-bottom: 40px;

  }

.gnav-linkarea li{
  margin-bottom: 10px;
  position: relative;
  float:left;
/*  width: 33.3%;*/
  display: table;
  margin-right: 24px;
}

.gnav-linkarea li:first-child{
  }

.gnav-linkarea li:last-child{
  border-right: none;
}

.gnav-linkarea li:after{
/*  width: 4px;
  height: 3px;
  content: " ";
  background-size:contain;
  z-index: 12;
  background-repeat: no-repeat;
  position: absolute;*/
}

.gnav-linkarea a{
  height: 0px;
  line-height: 1.1;
  width: 100%;
  letter-spacing: 1.2px;
  text-align: left;
  vertical-align: middle;
  padding: 0 0;
  color: #7f7f7f;
  font-family : YuGothic, '游ゴシック', sans-serif;
  display: table-cell;
}

.gnav-linkarea a:hover{
  color: #b2b2b2;
}

.gnav-linkarea li span{
  position: relative;
}

.gnav-linkarea li span:after{
  content: "";
  position: absolute;
  background-size: contain;
  background-image: url(/common/assets/images/header/4/icon.png);
  width: 7px;
  height: 4px;
  background-repeat: no-repeat;
  top: 2px;
  right: -9px;
}

.gnav-linkarea li:first-child span:after{
background-image: none;
}

@media screen and (min-width: 768px) and (max-width: 979px){
.container{

}

/*header{
  width: 100%;
  border: none;
  height: auto;
  }*/


#header{
  border-width: 5px;
}

.header-inner{
}

.logo-area{
  height: 61px;
}

.header-logo{
  padding: 1px 0 0 19px;}

.logo-area img{
  height: 18px;
  }


.gnav-outer{
  display: none;
}

/************************hum-menu***********************/

.hum-menu {
  right: 90px;
  top: 17px;
  width: 34px;
  height: 24px;
}
.hum-menu span {
  width: 100%;
  height: 4px;
  /*border-radius: 4px;*/
}
.hum-menu span:nth-of-type(1) {
  top: 0;
}
.hum-menu span:nth-of-type(2) {
  top: 10px;
}
.hum-menu span:nth-of-type(3) {
  bottom: 0;
}

.hum-menu.active-gnav-outer span:nth-of-type(1) {
  top: -10px;
}
.hum-menu.active-gnav-outer span:nth-of-type(2) {

}
.hum-menu.active-gnav-outer span:nth-of-type(3) {
  bottom: -10px;
}

.hum-menu-word{
  font-size: 16px;
  right: -69px;
  top: 6px;
}

/************************gnav***********************/

#gnav{
  display: block;
}

#gnav .first-nav{}

#gnav .first-nav-list{
  border-top: none;
  /*border-bottom: 2px solid #eee;*/
  display: block;
}

#gnav .first-nav-list:last-child{}

#gnav .first-nav-list > a{
  height: 89px;
  font-size: 20px;
  padding-left: 29px;
  letter-spacing: 4.1px;
}

#gnav .first-nav-list:after{
  width:20px;
  height:20px;
  top: 33px;
  right: 20px;
}

#gnav .first-nav-list > a:hover{

}

#gnav .active-first-nav > a{

}

#gnav .active-first-nav:after{
  width:20px;
  height:2px;
  top: 44px;
  right: 20px;
}

/************************sub-nav***********************/


.sub-nav{
  display: none;
}

.sub-menu{}
.sub-menu li:first-child{}

.sub-menu li{

}

.sub-menu li a{
  padding-left: 31px;
  font-size: 18px;
  height: 90px;
  letter-spacing: 6.1px;
}

.sub-menu li a:before{
  position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -7px;
    font-size: 16px;
}

.sub-menu li a:hover{}


/************************gnav-links***********************/

.gnav-linkarea{

}

.gnav-linkarea ul{
  padding: 20px 31px 0;
    width: 100%;
    margin: 0 auto 40px;
}

.gnav-linkarea li{
border-width: 2px;
margin-right: 30px;
}

.gnav-linkarea li:last-child{
  margin-right: 0;
}

.gnav-linkarea li:after{
}

.gnav-linkarea a{
    font-size: 21px;
    letter-spacing: 1px;
}

.gnav-linkarea li span{
  width: 100%;
}

.gnav-linkarea li span:after{
  width: 12px;
  height: 9px;
  top: 4px;
  right: -14px;

}

      

}


@media screen and (min-width: 980px) and (max-width: 1279px) {

.container{
}


header{
  
  width: 100%;
  height: auto;
  
  border-bottom: 1px solid #dddddd;
  
  padding-bottom: 20px;

}

#header{
  border: none;
}

.header-inner{
  
  width: 100%;
  
  height: 79px;
  border:none;
  
  display: table;

}

.logo-area{
  vertical-align: middle;
  height: 67px;
  float: none;
  display: block;
  text-align: center;
}

.header-logo{
  
  padding: 29px 0 0 0;
  
  display: inline-block;}

.logo-area img{
  
  height: 16px;
  width: auto;
}

.hum-menu{
  display: none;
}

.hum-menu-word{
  display: none;
}



/************************gnav***********************/

#gnav{
  clear: both;
}

#gnav .first-nav{
  height: 100%;
  border: none;
}

#gnav .first-nav-list{
  float: left;
  width: 12.5%;
  border-right: 1px solid #dddddd;
  display: block;
  border-bottom: none;
}

#gnav .first-nav-list:first-child{

}

#gnav .first-nav-list:last-child{
  border-right: none;
}

#gnav .first-nav-list > a{
  padding: 0;
  font-size: 15px;
  height: 49px;
  letter-spacing: -0.3px;
  /*background-color:#ff6e01;*/
  color: #7f7f7f;
  text-align: center;
  width: 500px;
  display: table-cell;
}

#gnav .first-nav-list:before{
  content: " ";
}

#gnav .first-nav-list:after{
  background-image: none
}

#gnav .first-nav-list > a:hover{
 /*background-color: #ff8b34;*/
}

#gnav .active-first-nav > a{
  border: none;
  background-color: transparent;
  color: #b2b2b2;
}

#gnav .active-first-nav > a:hover{
  background-color: transparent;
  color: #b2b2b2;
}
/************************sub-nav***********************/


.sub-nav{
  width: 100%;
  left: 0%;
  position: absolute;
  padding-top: 0;
  top: 60px;
  height: auto;
  /*display: block;*/
}

.sub-menu{}
.sub-menu li:first-child{}

.sub-menu li{
  /*border-bottom: 1px solid #e7651e;*/
}

.sub-menu li a{
  padding: 0 10px;
  height: 59px;
  font-size: 14px;
  font-weight: 500;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  letter-spacing: -0.3px;
  line-height: 1.1;
  width: 232px;
  text-align: center;
}

.sub-menu li a:before{
  content: " ";
}

.sub-menu li a:hover{
  text-decoration: underline;
  background-color: transparent;
}


/************************gnav-links***********************/

.gnav-linkarea{
  border-top: none;
  position: absolute;
  right: 15px;
  top: 16px;
}

.gnav-linkarea ul{
  
  width: auto;
  padding: 0 0 0 0;
  margin: 4px auto 0;

}

.gnav-linkarea li{
  
  float: left;
  margin-right: 5px;
  /*border: 1px solid #ccc;*/
  width: auto;
}

  .gnav-linkarea li:first-child{
    /*margin-right: 0;*/
  }

  .gnav-linkarea li:last-child{
    /*border: 1px solid #ccc;*/
  }

.gnav-linkarea li span:after{
  width: 10px;
  height:7px;
  right: -14px;
}

.gnav-linkarea a{
  
    width: 140px;
    display: block;
    height: 34px;
    text-align: center;
    font-size: 13px;
    letter-spacing: -0.4px;
    line-height: 34px;
}

.gnav-linkarea li:first-child a{
    width: 60px;
}

.gnav-linkarea li:nth-child(2) a{
    width: 150px;
}

.gnav-linkarea li:nth-child(3) a{
    width: 100px;
}


.gnav-linkarea li span{
width: 100%;
}
        

}

@media screen and (min-width: 1280px){

.container{
}


header{
  
  width: 100%;
  height: auto;
  border-bottom: 1px solid #dddddd;
  
  padding-bottom: 20px;

}

#header{
  border: none;
}

.header-inner{
  
  width: 100%;
  
  height: 79px;
  
  display: table;
  border:none;

}

.logo-area{
  vertical-align: middle;
  height: 67px;
  float: none;
  display: block;
  text-align: center;
}

.header-logo{
  
  padding: 29px 0 0 0;
  
  display: inline-block;}

.logo-area img{
  
  height: 16px;
  
  width: auto;
}

.hum-menu{
  display: none
}
.hum-menu-word{
  display: none;
}
/************************gnav***********************/

#gnav{
  clear: both;
}

#gnav .first-nav{
  height: 100%;
  border: none;
}

#gnav .first-nav-list{
  float: left;
  width: 12.5%;
  border-right: 1px solid #dddddd;
  display: block;
  border-bottom: none;;

}

#gnav .first-nav-list:first-child{

}

#gnav .first-nav-list:last-child{
  border-right: none;
}

#gnav .first-nav-list > a{
  padding: 0;
  font-size: 16px;
  height: 54px;
  display: table-cell;
  width: 500px;
  text-align: center;
  letter-spacing: 2.2px;
  background-color:transparent;
  color: #7f7f7f;
}

#gnav .first-nav-list:before{
  content: " ";
}

#gnav .first-nav-list:after{
  background-image: none
}

#gnav .first-nav-list > a:hover{
   background-color: transparent;
  color: #b2b2b2;
}

#gnav .active-first-nav > a{
  background-color: transparent;
  color: #b2b2b2;
}


#gnav .active-first-nav > a:hover{
  background-color: transparent;
  color: #b2b2b2;
}

/************************sub-nav***********************/


.sub-nav{
  width: 100%;
  left: 0;
  position: absolute;
  padding-top: 0;
  top: 60px;
  height: auto;
  /*display: block;*/
}

.sub-menu{}
.sub-menu li:first-child{}

.sub-menu li{
  /*border-bottom: 1px solid #e7651e;*/
}

.sub-menu li a{
  padding: 0 10px;
  height: 59px;
  font-size: 15px;
  font-weight: 500;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  letter-spacing: 2.2px;
  line-height: 1.1;
  width: 1000px;
  text-align: center;
}

.sub-menu li a:before{
  content: " ";
}

.sub-menu li a:hover{
  text-decoration: underline;
  background-color: transparent;
}


/************************gnav-links***********************/

.gnav-linkarea{
  border-top: none;
  position: absolute;
  right: 15px;
  top: 16px;
}

.gnav-linkarea ul{
  
  width: auto;
  padding: 0 0 0 0;
  margin: 4px auto 0;

}

.gnav-linkarea li{
  
  float: left;
  margin-right: 5px;
  /*border: 1px solid #ccc;*/
  width: auto;
}

  .gnav-linkarea li:first-child{
    /*margin-right: 0;*/
  }

  .gnav-linkarea li:last-child{
    /*border: 1px solid #ccc;*/
  }


.gnav-linkarea li span:after{
  width: 10px;
  height:7px;
  right: -14px;
}


.gnav-linkarea a{
  
    width: 180px;
    display: block;
    height: 34px;
    text-align: center;
    font-size: 13px;
    letter-spacing: -0.4px;
    line-height: 34px;
}

.gnav-linkarea li:first-child a{
    width: 60px;
}

.gnav-linkarea li:nth-child(2) a{
    width: 150px;
}

.gnav-linkarea li:nth-child(3) a{
    width: 100px;
}

.gnav-linkarea li span{
width: 100%;
}

}
