.carlist-body-anchor .carlist-body-anchor-item {
  text-align: center;
  position: relative;
  float: left;
  background-color: #fff;
}
.carlist-body-anchor .carlist-body-anchor-item a {
  position: relative;
  color: #231815;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
.carlist-body-anchor-item a:after {
  position: absolute;
  display: block;
  content: '';
  background: url(../images/carlist-anchor-arrow.png) left top no-repeat;
}
.carlist-body-anchor-item-1 a {
  background: url(../images/carlist-anchor-icon-1.png) no-repeat;
}
.carlist-body-anchor-item-2 a {
  background: url(../images/carlist-anchor-icon-2.png) no-repeat;
}
.carlist-body-anchor-item-3 a {
  background: url(../images/carlist-anchor-icon-3.png) no-repeat;
}
.carlist-body-anchor-item-4 a {
  background: url(../images/carlist-anchor-icon-4.png) no-repeat;
}
.carlist-body-anchor-item-5 a {
  background: url(../images/carlist-anchor-icon-5.png) no-repeat;
}
.carlist-body-anchor-item-6 a {
  background: url(../images/carlist-anchor-icon-6.png) no-repeat;
}
.carlist-body-anchor-item-7 a {
  background: url(../images/carlist-anchor-icon-7.png) no-repeat;
}
.carlist-body-anchor-item-8 a {
  background: url(../images/carlist-anchor-icon-8.png) no-repeat;
}
.carlist-body-anchor-item-9 a {
  background: url(../images/carlist-anchor-icon-9.png) no-repeat;
}
.carlist-body-anchor-item-10 a {
  background: url(../images/carlist-anchor-icon-10.png) no-repeat;
}
.link-welcab a {
  color: #ff6e01;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .carlist-body-anchor .carlist-body-anchor-item {
    width: 32%;
    height: 50px;
    line-height: 50px;
    margin: 0 2% 1% 0;
  }
  .carlist-body-anchor .carlist-body-anchor-item:nth-child(3n) {
    margin-right: 0;
  }
  .carlist-body-anchor .carlist-body-anchor-item a {
    font-size: 18px;
    background-position: 5% center;
  }
  .carlist-body-anchor-item a:after {
    top: 50%;
    right: 7%;
    width: 9px;
    height: 7px;
    margin-top: -3px;
  }
  .link-welcab {
    margin-top: 18px;
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .carlist-body-anchor .carlist-body-anchor-item {
    width: 49%;
    height: 30px;
    line-height: 30px;
    margin: 0 2% 2% 0;
  }
  .carlist-body-anchor .carlist-body-anchor-item:nth-child(2n) {
    margin-right: 0;
  }
  .carlist-body-anchor .carlist-body-anchor-item a {
    font-size: 11px;
    background-size: 17% auto;
    background-position: 5% center;
  }
  .carlist-body-anchor-item a:after {
    top: 50%;
    right: 7%;
    width: 4px;
    height: 4px;
    margin-top: -2px;
    background-size: 4px auto;
  }
  .link-welcab {
    margin-top: 2%;
    font-size: 11px;
  }
}
