@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(carlist.css);
@import url(tab.css);
@import url(carlist-body-anchor.css);
@import url(carlist-name-anchor.css);

/*common*/

.cf:after {
  content: "";
  clear: both;
  display: block;
}
body {
  background-color: #fff;
  font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
img {
  vertical-align: top;
}
.header-contents {
  background-color: #fff;
}
.header-contents h1 {
  color: #ff6e01;
  font-weight: bold;
}
.content {
  color: #4d4d4d;
  background-color: #feeee2;
}
.carlist-label {
  color: #231815;
  font-size: 22px;
  font-weight: bold;
}
.carlist-label .square {
  display: inline-block;
  background-color: #ff6e01;
  vertical-align: middle;
  /*border-radius: 25%;*/
  width: 20px;
  height: 20px;
  margin-right: 9px;
}
.carlist-body {
  display: block;
}
.carlist-name {
  display: none;
}

/*tab-area*/


/*pcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpc*/

@media screen and (min-width: 1280px) {
  .header-contents h1 {
    font-size: 26px;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
  }
  .section {
    width: 980px;
    margin: 0 auto;
  }
  .recommend-block {
    padding-top: 80px;
  }
  .lineup-contents {
    margin-top: 90px;
  }
}

/*PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2*/

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .header-contents {
    border-bottom: 2px solid #e9e7e7;
  }
  .header-contents h1 {
    font-size: 26px;
    height: 64px;
    line-height: 64px;
    padding-left: 20px;
  }
  .section {
    width: 980px;
    margin: 0 auto;
  }
  .recommend-block {
    padding-top: 80px;
  }
}

/*TABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTAB*/

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .header-contents {
    border-bottom: 2px solid #e9e7e7;
  }
  .header-contents h1 {
    font-size: 28px;
    height: 64px;
    line-height: 64px;
    padding-left: 20px;
  }
  .section {
    width: auto;
    margin: 0 2.6041666%;
  }
  .carlist-label {
    font-size: 26px;
  }
  .lineup-contents {
    margin-top: 2.6%;
  }
  .recommend-block {
    padding-top: 6%;
  }
}

/*SPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSP*/

@media screen and (max-width: 767px) {
  .header-contents {
    /*border-bottom: 1px solid #e9e7e7;*/
  }
  .header-contents h1 {
    font-size: 17px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
  }
  .section {
    width: auto;
    margin: 0 3.90625%;
  }
  .recommend-block {
    padding-top: 8.3%;
  }
  .carlist-label {
    font-size: 15px;
  }
  .carlist-label .square {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  .lineup-contents {
    margin-top: 2%;
  }
}
