#sortmenu h2 {
    color: #24243b;
}

#sortmenu .service-block h3 {
    color: #24243b;
}

#sortmenu .area-block h3 {
    color: #24243b;
}

#sortmenu .search-info .search-target {
    color: #24243b;
}

#store-list .inner .store_section_info .name span {
    color: #24243b;
}

#section-calendar .calendar-inner .right-wrap .phone-number dl dd.first-block .label {
    color: #24243b;
}

