
@charset "UTF-8";

header,#conversion,footer{
  display: none;
}





body {
  -webkit-print-color-adjust: exact;
  font-family: 'Noto Sans Japanese', sans-serif;
}
.qr-code {
  display: none;
}
.coupon-wrap {}
.coupon-wrap-inner {
  padding-top: 21px;
  margin: 0 auto;
}
.coupon-title {
  padding-left: 13px;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ff6e01;
  margin-bottom: 8px;
}
.coupon-title-explain {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.5px;
  margin-bottom: 27px;
  padding: 0 13px;
}
.coupon-area {
  border: 2px dotted #ff6e01;
  width: 97%;
  padding: 8px 5px 9px;
  margin: 0 auto;
  position: relative;
}
.coupon-area:not(:first-of-type) {
  border-top: none;
}
.img-kiritori {
  position: absolute;
  left: 50%;
  margin-left: -27px;
}
.img-kiritori-top {
  top: -10px;
}
.img-kiritori-bottom {
  bottom: -8px;
}
.img-kiritori img {
  width: 55px;
}
.coupon-area-inner {
  border: 2px solid #ff6e01;
}
.coupon-area-content {}
.title-area-outer {
  margin-top: 9px;
}
.title-area {
  padding: 0 12px;
  display: table;
  width: 100%;
}
.title-img {
  display: table-cell;
  vertical-align: middle;
  width: 124px;
}
.title-img img {
  height: 10px;
}
.limit {
  float: right;
}
.limit-inner {
  background-color: #ff6e01;
  width: 140px;
  color: #fff;
  display: table-cell;
  font-weight: bold;
  vertical-align: middle;
  font-size: 10px;
  height: 35px;
  text-align: center;
  line-height: 1.3;
}
.word-1 {}
.word-2 {}
.coupon-name-area {
  margin-top: 33px;
  font-weight: bold;
  padding: 0 10px;
  letter-spacing: 0.9px;
  margin-bottom: 38px;
  line-height: 1.4;
}
.coupon-name-inner {}
.coupon-name {}
.detail {
  padding: 0 11px;
  display: table;
  margin-bottom: 10px;
}
.detail-inner {}
.detail-title,
.detail-price { padding-top:9px;padding-bottom:9px; }
.detail-title {
  background-color: #757575;
  width: 65px;
  /*height: 30px;
  line-height: 30px;*/
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: table-cell;
  vertical-align:middle;
}
.detail-price {
  display: table-cell;
  font-size: 11px;
  padding-left: 8px;
  font-weight: bold;
}
.when-come {
  padding: 0 11px;
  display: table;
  margin-bottom: 12px;
}
.when-come-title {
  background-color: #ff6e01;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 11px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: table-cell;
  border-radius: 50% 50%;
}
.when-come-price {
  display: table-cell;
  font-size: 18px;
  padding-left: 15px;
  font-weight: bold;
  vertical-align: middle;
  color: #ff6e01;
}
.example {
  /*height: 70px;*/
  background-color: #e5e5e5;
}
.example-inner {
  padding: 16px 7px 16px 10px;
  display: table;
  width: 100%;
}
.example-icon {
  display: table-cell;
  vertical-align: middle;
  width: 8%;
}
.example-icon img {
  width: 13px;
}
.example-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 10px;
  width: 36%;
  line-height: 1.3;
  font-weight: bold;
}
.example-price-area {
  display: table-cell;
  vertical-align: middle;
  width: 45%;
  text-align: right;
}
.common-price {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 2px;
}
.enter-price {}
.sale-price {
  font-size: 16px;
  font-weight: bold;
}
.sale-price:before {
  content: "";
}
.sale-price span {
  font-size: 30px;
  color: #ff6e01;
  background: url(../images/coupon/arrow-price.png) no-repeat;
  background-position: 0px center;
  background-size: 12px 11px;
  padding-left: 15px;
}
.coupon-attention {
  /*height: 35px;*/
  font-size: 10px;
  line-height: 1.6;
  padding-left: 11px;
  padding-top: 10px;
  padding-bottom: 9px;
}
.attention {
  margin-top: 10px;
  font-size: 10px;
  line-height: 1.8;
  padding: 0 12px;
}
.attention ul {}
.attention li {}
#breadList ol li {
  display: inline;
  list-style-type: none;
}
#breadList ol li:before {
  content: " > ";
}
#breadList ol li:first-child:before {
  content: "";
}
#breadList ol li a {
  color: #000;
  text-decoration: underline;
}
#breadList {
  font-size: 10px;
  margin-left: 10px;
  padding-bottom: 2.8%;
  margin-top: 10%;
}
body {
  font-family: 'Noto Sans Japanese', sans-serif;
}
.qr-code {
  display: none;
}
.coupon-wrap {}
.coupon-wrap-inner {
  padding-top: 21px;
  margin: 0 auto;
}
.coupon-title {
  padding-left: 13px;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ff6e01;
  margin-bottom: 8px;
}
.coupon-title-explain {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.5px;
  margin-bottom: 27px;
  padding: 0 13px;
}
.coupon-area {
  border: 2px dotted #ff6e01;
  width: 97%;
  padding: 8px 5px 9px;
  margin: 0 auto;
  position: relative;
}
.coupon-area:not(:first-of-type) {
  border-top: none;
}
.img-kiritori {
  position: absolute;
  left: 50%;
  margin-left: -27px;
}
.img-kiritori-top {
  top: -10px;
}
.img-kiritori-bottom {
  bottom: -8px;
}
.img-kiritori img {
  width: 55px;
}
.coupon-area-inner {
  border: 2px solid #ff6e01;
}
.coupon-area-content {}
.title-area-outer {
  margin-top: 9px;
}
.title-area {
  padding: 0 12px;
  display: table;
  width: 100%;
}
.title-img {
  display: table-cell;
  vertical-align: middle;
  width: 124px;
}
.title-img img {
  height: 10px;
}
.limit {
  float: right;
}
.limit-inner {
  background-color: #ff6e01;
  width: 140px;
  color: #fff;
  display: table-cell;
  font-weight: bold;
  vertical-align: middle;
  font-size: 10px;
  height: 35px;
  text-align: center;
  line-height: 1.3;
}
.word-1 {}
.word-2 {}
.coupon-name-area {
  margin-top: 33px;
  font-weight: bold;
  padding: 0 10px;
  letter-spacing: 0.9px;
  margin-bottom: 38px;
  line-height: 1.4;
}
.coupon-name-inner {}
.coupon-name {}
.detail {
  padding: 0 11px;
  display: table;
  margin-bottom: 10px;
}
.detail-inner {}
.detail-title {
  background-color: #757575;
  width: 65px;
  /*height: 30px;
  line-height: 30px;*/
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: table-cell;
}
.detail-price {
  display: table-cell;
  font-size: 11px;
  padding-left: 8px;
  font-weight: bold;
  vertical-align: top;
}
.when-come {
  padding: 0 11px;
  display: table;
  margin-bottom: 12px;
}
.when-come-title {
  background-color: #ff6e01;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 11px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: table-cell;
  border-radius: 50% 50%;
}
.when-come-price {
  display: table-cell;
  font-size: 18px;
  padding-left: 15px;
  font-weight: bold;
  vertical-align: middle;
  color: #ff6e01;
}
.example {
  /*height: 70px;*/
  background-color: #e5e5e5;
}
.example-inner {
  padding: 16px 7px 16px 10px;
  display: table;
  width: 100%;
}
.example-icon {
  display: table-cell;
  vertical-align: top;
  width: 8%;
}
.example-icon img {
  width: 13px;
}
.example-text {
  display: table-cell;
  vertical-align: top;
  font-size: 10px;
  width: 36%;
  line-height: 1.3;
  font-weight: bold;
}
.example-price-area {
  display: table-cell;
  vertical-align: middle;
  width: 45%;
  text-align: right;
}
.common-price {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 2px;
}
.enter-price {}
.sale-price {
  font-size: 16px;
  font-weight: bold;
}
.sale-price:before {
  content: "";
}
.sale-price span {
  font-size: 30px;
  color: #ff6e01;
  background: url(../images/coupon/arrow-price.png) no-repeat;
  background-position: 0px center;
  background-size: 12px 11px;
  padding-left: 15px;
}
.coupon-attention {
  /*height: 35px;*/
  font-size: 10px;
  line-height: 1.6;
  padding-left: 11px;
  padding-top: 10px;
  padding-bottom: 9px;
}
.attention {
  margin-top: 10px;
  font-size: 10px;
  line-height: 1.8;
  padding: 0 12px;
}
.attention ul {}
.attention li {}

















@media print, screen and (min-width: 768px) {
  .coupon-wrap-inner {
    padding-top: 49px;
  }
  .coupon-title {
    padding-left: 19px;
    font-size: 30px;
    letter-spacing: 3.3px;
    margin-bottom: 20px;
  }
  .coupon-title-explain {
    font-size: 23px;
    padding: 0 19px;
    letter-spacing: -0.1px;
    margin-bottom: 46px;
  }
  .coupon-area {
    padding: 20px 5px 20px;
  }
  .coupon-area-inner {
    border-width: 4px;
  }
  .coupon-area-content {}
  .title-area-outer {
    width: 100%;
    margin-top: 19px;
    height: 95px;
    margin-bottom: 29px;
  }
  .title-area {
    display: block;
    float: right;
    width: 235px;
  }
  .title-img {
    display: block;
    width: 211px;
    text-align: center;
    margin-bottom: 16px;
  }
  .title-img img {
    height: 18px;
  }
  .limit {
    float: none;
  }
  .limit-inner {
    width: 211px;
    height: 60px;
    font-size: 16px;
  }
  .word-1 {}
  .word-2 {}
  .coupon-name-area {
    margin: 0;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    padding: 0 18px;
    font-size: 30px;
    max-width: 17.45em;
  }
  .coupon-name-inner {}
  .coupon-name {}
  .detail {
    padding: 0 18px;
    margin-bottom: 20px;
  }
  .detail-inner {}
  .detail-title,
  .detail-price { padding-top:19px;padding-bottom:19px; }
  .detail-title {
    /*height: 60px;
    line-height: 60px;*/
    width: 140px;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .detail-price {
    font-size: 22px;
    padding-left: 21px;
  }
  .when-come {
    padding: 0 19px;
    margin-bottom: 24px;
  }
  .when-come-title {
    width: 125px;
    height: 125px;
    line-height: 125px;
    font-size: 25px;
  }
  .when-come-price {
    font-size: 50px;
  }
  .example {
    /*height: 130px;*/
  }
  .example-inner {
    padding: 21px 10px 21px 20px;
  }
  .example-icon {
    width: 4%;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .example-icon img {
    width: 21px;
  }
  .example-text {
    font-size: 20px;
    width: 55%;
  }
  .examole-price-area {}
  .common-price {
    font-size: 24px;
    margin-bottom: 13px;
  }
  .enter-price {}
  .sale-price {
    font-size: 30px;
  }
  .sale-price span {
    font-size: 50px;
    background-size: 41px 39px;
    padding-left: 69px;
    background-position: 0px 20px;
  }
  .coupon-attention {
    /*height: 50px;*/
    font-size: 14px;
    line-height: 1.6;
    padding-left: 22px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .attention {
    margin-top: 36px;
    font-size: 14px;
    line-height: 1.9;
  }
}

