/*
color variation3
key color : #f33733;
*/

#snav-fixed-sp {
  background-color: #f33733;
}
#blog-fixed-btn {
  background-color: #f33733;
}
.section h1 {
  border-color: #f33733;
  color: #f33733;
}
.section h2 {
  color: #f33733;
}
#google-map .google-map-pc-link a {
  border-color: #f33733;
  color: #f33733;
}
#google-map .google-map-pc-link a:hover {
  background-color: #f33733;
}
.sub-service li:before {
  color: #f33733;
}
.thumb-item-nav .slick-current:after {
  background: url(../../images/slide/thumb-item-nav-cover-val3.png);
  background-size: cover;
}
#staff-blog h3 {
  background-color: #f33733;
}
.blog-inner .blog-inner-left .blog-text a {
  color: #f33733;
}
#staff-blog .blog-more-btn a {
  color: #f33733;
  border-color: #f33733;
}
#staff-blog .blog-more-btn a:hover {
  background-color: #f33733;
}
@media screen and (min-width: 1280px) {
  .slick-prev:before {
    background: url(../../images/slide/store-image-prev-pc-val3.png);
    background-size: contain;
  }
  .slick-next:before {
    background: url(../../images/slide/store-image-next-pc-val3.png);
    background-size: contain;
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .slick-prev:before {
    background: url(../../images/slide/store-image-prev-pc-val3.png);
    background-size: contain;
  }
  .slick-next:before {
    background: url(../../images/slide/store-image-next-pc-val3.png);
    background-size: contain;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .slick-prev:before {
    background: url(../../images/slide/store-image-prev-tab-val3.png);
    background-size: contain;
  }
  .slick-next:before {
    background: url(../../images/slide/store-image-next-tab-val3.png);
    background-size: contain;
  }
}
@media screen and (max-width: 767px) {
  .slick-prev:before {
    background: url(../../images/slide/store-image-prev-sp-val3.png);
    background-size: contain;
  }
  .slick-next:before {
    background: url(../../images/slide/store-image-next-sp-val3.png);
    background-size: contain;
  }
}
