@charset "UTF-8";


header{
    /*background-color: #1a1a1a;*/
}

.header-inner{
  width: 100%;
  /*background-color: #1a1a1a;*/
  border-bottom: 1px solid #dcdcdc;
  background-image: -moz-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(255,255,255) 40%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(255,255,255) 40%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(255,255,255) 40%);
}





/************************hum-menu***********************/

.hum-menu span {
  background-color: #666666;
}

/************************gnav***********************/

#gnav{
  
}

#gnav .first-nav{}

#gnav .first-nav-list{
  border-bottom: 1px solid #dcdcdc;
}

#gnav .first-nav-list:first-child{
  border-top: 1px solid #dcdcdc;
}

#gnav .first-nav-list > a{
  /*color: #b5b5b6;*/
}


#gnav .first-nav-list > a:hover{
  background-color: #e6e6e6;
}

#gnav .active-first-nav > a{
/*  background-color: #5d5a5a;
  color: #fff;*/
  border-bottom: 1px solid ;
}

/************************sub-nav***********************/


.sub-nav{
  background-color: #5d5a5a;
}

.sub-menu li{
  border-bottom: 1px solid #ffffff;
}

.sub-menu li a{
    color: #fff;
}

.sub-menu li a:hover{
  background-color:#4f4d4d;
}


/*tabtabtabtabtabtabtabtabtabtabtabtabtabtabtab*/


@media screen and (min-width: 768px) and (max-width: 979px){


/************************gnav***********************/

/*#gnav .first-nav-list{
  border-top: none;
  border-bottom: 1px solid #ccc;
  display: block;
}

#gnav .first-nav-list:first-child{
  border-top: 1px solid #373536;
}*/

          

}

/*pc2pc2pc2pc2pc2pc2pc2pc2pc2pc2pc2pc2pc2pc2pc2*/


@media screen and (min-width: 980px) and (max-width: 1279px) {



/************************gnav***********************/


#gnav .first-nav-list{
  /*border-right: 1px solid #ffffff;*/
}

#gnav .first-nav-list:first-child{
  /*border-top: none;*/
}


#gnav .first-nav-list > a:hover{
  border: none;
}

#gnav .active-first-nav > a{
/*  background-color: #5d5a5a;
  color: #fff;*/
  border: none;
  background-image: none;
}


/************************sub-nav***********************/

.sub-menu li{
  border-bottom: 1px solid #fff;
}

.sub-menu li a{
  color: #fff;
}

.sub-menu li a:before{
  content: " ";
}

/************************gnav-links***********************/


.gnav-linkarea a{

}

}

/*pcpcpcpcpcpcpcpcpcpcpcpcpcpcpc*/

@media screen and (min-width: 1280px){


header{
  border-right: 2px solid #e9e7e7;
}

/************************gnav***********************/

#gnav .first-nav-list{
  /*border-top: 1px solid #373737;*/
  border-bottom: none;
}

#gnav .first-nav-list > a{

}

#gnav .first-nav-list > a:hover{

}

#gnav .active-first-nav > a{
  border: none;
}


/************************sub-nav***********************/


.sub-nav{

}

.sub-menu{
  
}
.sub-menu li:first-child{

}

.sub-menu li{
border:none;
}

.sub-menu li a{
height: 47px;
}

.sub-menu li a:before{
  content: " ";
}

    

.sub-menu li a:hover{

}


/************************gnav-links***********************/

.gnav-linkarea{
  
}

}