.tc-title-type-03-reg
{
  color: #1f0e78;
  border-top-color: #1f0e78;
}

.top-block-title
{
   color: #1f0e78;
}

.top-news-subtitle {
  color: #1f0e78;
  border-color: #1f0e78;
}

.top-map-title
{
  color: #1f0e78;
}

.tc-btn-a
{
  background-color: #1f0e78;
}

.top-date-item:after
{
  color: #1f0e78;
}

.top-date-item-time
{
  color: #6f6f6f;
}

.top-column-left-title
{
  border-color: #1f0e78;
  color: #1f0e78;
}

.slick-dots .slick-active
{
  background-color: #1f0e78;
}

.top-service-item-title
{
  color: #1f0e78;
}

.top-dial-normal .top-dial-number:after, .top-dial-release .top-dial-number:after
{
  background-color: #1f0e78;
}

.top-dial-release .top-dial-number:after
{
  background-color: #000;
}

.top-news-date
{
  color: #808080;
}

.top-dial-normal
{
  color: #1f0e78;
}

.news-btn:after
{
  background-image:url(../../../images/7/top-arrow-right-icon.png);
}

.top-servicemenu-item-pic {
  background-color: #1f0e78;
}

#top-servicemenu-item-1 .top-servicemenu-item-pic {
   background-image: url(../../../images/7/top-buy-btn-01.png);
}
#top-servicemenu-item-2 .top-servicemenu-item-pic {
   background-image: url(../../../images/7/top-buy-btn-02.png);
}
#top-servicemenu-item-3 .top-servicemenu-item-pic {
   background-image: url(../../../images/7/top-buy-btn-03.png);
}
#top-servicemenu-item-4 .top-servicemenu-item-pic {
   background-image: url(../../../images/7/top-buy-btn-04.png);
}
#top-servicemenu-item-5 .top-servicemenu-item-pic {
   background-image: url(../../../images/7/top-buy-btn-05.png);
}

#top-servicemenu-item-6 .top-servicemenu-item-pic {
   background-image: url(../../../images/7/top-maintenance-btn-01.png);
}
#top-servicemenu-item-7 .top-servicemenu-item-pic {
   background-image: url(../../../images/7/top-maintenance-btn-02.png);
}
#top-servicemenu-item-8 .top-servicemenu-item-pic {
   background-image: url(../../../images/7/top-maintenance-btn-03.png);
}
#top-servicemenu-item-9 .top-servicemenu-item-pic {
   background-image: url(../../../images/7/top-maintenance-btn-04.png);
}
#top-servicemenu-item-10 .top-servicemenu-item-pic {
   background-image: url(../../../images/7/top-maintenance-btn-05.png);
}

#top-servicemenu-item-11 .top-servicemenu-item-pic {
   background-image: url(../../../images/7/top-other-btn-01.png);
}
#top-servicemenu-item-12 .top-servicemenu-item-pic {
   background-image: url(../../../images/7/top-other-btn-02.png);
}
#top-servicemenu-item-13 .top-servicemenu-item-pic {
   background-image: url(../../../images/7/top-other-btn-03.png);
}
#top-servicemenu-item-14 .top-servicemenu-item-pic {
   background-image: url(../../../images/7/top-other-btn-04.png);
}
#top-servicemenu-item-15 .top-servicemenu-item-pic {
   background-image: url(../../../images/7/top-other-btn-05.png);
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: 768px) {
   #top-servicemenu-item-1 .top-servicemenu-item-pic {
      background-image: url(../../../images/7/top-buy-btn-01.png);
   }
   #top-servicemenu-item-2 .top-servicemenu-item-pic {
      background-image: url(../../../images/7/top-buy-btn-02.png);
   }
   #top-servicemenu-item-3 .top-servicemenu-item-pic {
      background-image: url(../../../images/7/top-buy-btn-03.png);
   }
   #top-servicemenu-item-4 .top-servicemenu-item-pic {
      background-image: url(../../../images/7/top-buy-btn-04.png);
   }
   #top-servicemenu-item-5 .top-servicemenu-item-pic {
      background-image: url(../../../images/7/top-buy-btn-05.png);
   }

   #top-servicemenu-item-6 .top-servicemenu-item-pic {
      background-image: url(../../../images/7/top-maintenance-btn-01.png);
   }
   #top-servicemenu-item-7 .top-servicemenu-item-pic {
      background-image: url(../../../images/7/top-maintenance-btn-02.png);
   }
   #top-servicemenu-item-8 .top-servicemenu-item-pic {
      background-image: url(../../../images/7/top-maintenance-btn-03.png);
   }
   #top-servicemenu-item-9 .top-servicemenu-item-pic {
      background-image: url(../../../images/7/top-maintenance-btn-04.png);
   }
   #top-servicemenu-item-10 .top-servicemenu-item-pic {
      background-image: url(../../../images/7/top-maintenance-btn-05.png);
   }

   #top-servicemenu-item-11 .top-servicemenu-item-pic {
      background-image: url(../../../images/7/top-other-btn-01.png);
   }
   #top-servicemenu-item-12 .top-servicemenu-item-pic {
      background-image: url(../../../images/7/top-other-btn-02.png);
   }
   #top-servicemenu-item-13 .top-servicemenu-item-pic {
      background-image: url(../../../images/7/top-other-btn-03.png);
   }
   #top-servicemenu-item-14 .top-servicemenu-item-pic {
      background-image: url(../../../images/7/top-other-btn-04.png);
   }
   #top-servicemenu-item-15 .top-servicemenu-item-pic {
      background-image: url(../../../images/7/top-other-btn-05.png);
   }
}

.top-servicemenu-container .tc-title-type-03-reg {
   color: #1f0e78;
}
#alert-box{
	border-color:#c30d23;
}
