.carlist-body-anchor .carlist-body-anchor-item {
  text-align: center;
  position: relative;
  float: left;
}
.carlist-body-anchor .carlist-body-anchor-item a {
  position: relative;
  color: #231815;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
a {}
.carlist-body-anchor-item a:after {
  position: absolute;
  display: block;
  content: '';
  background: url(../images/carlist-anchor-arrow.png) left top no-repeat;
}
.carlist-body-anchor-item-1 a {
  background: url(../images/carlist-anchor-icon-1.png) no-repeat;
}
.carlist-body-anchor-item-2 a {
  background: url(../images/carlist-anchor-icon-2.png) no-repeat;
}
.carlist-body-anchor-item-3 a {
  background: url(../images/carlist-anchor-icon-3.png) no-repeat;
}
.carlist-body-anchor-item-4 a {
  background: url(../images/carlist-anchor-icon-4.png) no-repeat;
}
.carlist-body-anchor-item-5 a {
  background: url(../images/carlist-anchor-icon-5.png) no-repeat;
}
.carlist-body-anchor-item-6 a {
  background: url(../images/carlist-anchor-icon-6.png) no-repeat;
}
.carlist-body-anchor-item-7 a {
  background: url(../images/carlist-anchor-icon-7.png) no-repeat;
}
.carlist-body-anchor-item-8 a {
  background: url(../images/carlist-anchor-icon-8.png) no-repeat;
}
.carlist-body-anchor-item-9 a {
  background: url(../images/carlist-anchor-icon-9.png) no-repeat;
}
.carlist-body-anchor-item-10 a {
  background: url(../images/carlist-anchor-icon-10.png) no-repeat;
}
.carlist-body-anchor-item a:hover {
  background-color: #eee;
}
.link-welcab a {
  color: #666666;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .carlist-body-anchor ul {
    padding: 0 100px;
  }
  .carlist-body-anchor .carlist-body-anchor-item {
    width: 23.5%;
    height: 44px;
    line-height: 44px;
    margin: 0 2% 1% 0;
  }
  .carlist-body-anchor .carlist-body-anchor-item:nth-child(4n) {
    margin-right: 0;
  }
  .carlist-body-anchor .carlist-body-anchor-item a {
    font-size: 14px;
    background-position: 5% center;
  }
  .carlist-body-anchor-item a {
    background-size: 20% auto;
  }
  .carlist-body-anchor-item a:after {
    top: 50%;
    right: 7%;
    width: 9px;
    height: 7px;
    margin-top: -3px;
  }
  .link-welcab {
    margin-top: 16px;
    font-size: 14px;
    text-align: right;
  }
  .link-welcab a {
    text-decoration: none;
  }
  .link-welcab a:before {
    content: url(../images/car-name-arrow.png);
    margin-right: 5px;
  }
}
@media screen and (max-width: 767px) {
  .carlist-body-anchor .carlist-body-anchor-item {
    width: 49%;
    height: 36px;
    line-height: 36px;
    margin: 0 2% 2% 0;
  }
  .carlist-body-anchor .carlist-body-anchor-item:nth-child(2n) {
    margin-right: 0;
  }
  .carlist-body-anchor .carlist-body-anchor-item a {
    font-size: 11px;
    background-size: 20% auto;
    background-position: 5% center;
  }
  .carlist-body-anchor-item a:after {
    top: 50%;
    right: 2%;
    width: 10px;
    height: 10px;
    margin-top: -2px;
    background-size: 9px auto;
  }
  .link-welcab {
    margin-top: 4%;
    font-size: 11px;
    text-align: right;
  }
  .link-welcab a:before {
    content: url(../images/car-name-arrow.png);
    margin-right: 5px;
  }
}
