#tab-area {
  margin-bottom: 30px;
}
.tab-change-btn ul {
  width: 404px;
  margin: 0 auto;
}
.tab-change-btn li {
  text-align: center;
  display: table;
  float: left;
  height: 47px;
  width: 202px;
  background-color: #f9f9f9;
  margin-left: -1px;
}
.tab-change-btn li.active {
  width: 202px;
  height: 48px;
  background-image: none;
  background-color: #fff;
}
.tab-change-btn li span {
  color: #231815;
  font-size: 16px;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  border: 1px solid #dddddd;
  border-bottom: none;
}
.tab-change-btn li.active span {
  color: #ff6e01;
  /*border-radius: 10px 10px 0 0;*/
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-bottom: none;
  font-size: 16px;
  font-weight: bold;
}
#tab-area .border {
  border-bottom: 1px solid #dddddd;
  margin-top: -1px;
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  #tab-area {
    margin-bottom: 4%;
  }
  .tab-change-btn li.active {
    width: 50%;
  }
  .tab-change-btn li {
    width: 49%;
  }
}
@media screen and (max-width: 767px) {
  #tab-area {
    margin-bottom: 20px;
  }
  .tab-change-btn ul {
    width: auto;
  }
  .tab-change-btn li {
    height: 34px;
    width: 50%;
  }
  .tab-change-btn li.active {
    width: 50%;
    height: 35px;
    background-image: none;
  }
  .tab-change-btn li.active span {
    font-size: 12px;
  }
  .tab-change-btn li span {
    color: #9c9c9c;
    font-size: 12px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
  }
  #tab-area .border {}
}
