#sortmenu .search-info .search-target {
    color: #ff6e01;
}

#section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
    color: #ff6e01;
}

#section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
    color: #ff6e01;
    font-size: 16px;
}

#section-calendar .calendar-inner .right-wrap .phone-number div {
}

#section-calendar .calendar-inner .right-wrap .business_hours dl dt {
    background-color: #ff6e01;
}

#section-calendar .calendar-inner .right-wrap .phone-number dl dt {
}

#section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .icon img {
    background-color: #ff6e01;
    }

