@charset 'UTF-8'; /**********/
a {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: none;
    color: black
}

.top-calendar-bottom .calendar-image {
    position: relative;
    width: 90%;
    margin: 5% auto;
    /* padding: 10%; */
}

.top-calendar-attantion {
    font-size: 12px;
    float: left;
    padding-right: 20px;
    padding-left: 0;
    padding-bottom: 10px;
}

.top-calendar-attantion .calendar-icon {
    display: inline-block;
    background-color: #2da862;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    float: left;
    margin-right: 5px;
}

.top-calendar-attantion .calendar-icon-holiday {
    border-radius: 0%;
}

.top-calendar-attantion-list {
    /* padding-left: 25px; */
    /* padding-top: 20px; */
    overflow: hidden;
}

.show-all {
    display: block;
}

.hide-all {
    display: none;
}

.top-calendar-attantion-list {
    padding-left: 25px;
    /* padding-top: 20px; */
    overflow: hidden;
}

.change-button-set {
    position: relative;
    clear: both;
}

.store_address .tel span {
    padding-right:10px;
}

.store_address .hours span {
    padding-right:10px;
}

@media screen and (min-width: 980px) {
    #wrapper {
        /* position: relative; */ /* padding-left: 212px; */
    }

    #wrapper #container h1 {
        padding-top: 17px;
        padding-left: 45px;
        font-size: 30px;
        color: #b5b5b6;
        padding-bottom: 17px;
        border-bottom: none;
        background-image: url(../images/bg-pattern.gif);
    }

    #wrapper li {
        list-style: none;
    }

    #container {
        /* position: relative; */
    }

    #content {
        width: 100%;
        background-color: #151515;
        padding-left: 20px;
        padding-right: 20px;
    }

    #sortmenu {
        width: 980px;
        margin: 0 auto;
        color: #b5b5b6;
    }

    #sortmenu h2 {
        width: 100%;
        text-align: center;
        padding-top: 45px;
        font-size: 24px;
        padding-bottom: 9px;
        border-bottom: solid 5px #b5b5b6;
        color: #b5b5b6;
    }

    #container h1 {
    }

    #sortmenu .service-block {
        width: 680px;
        float: left;
    }

    #sortmenu .service-block h3 {
        padding-top: 33px;
        font-size: 20px;
    }

    #sortmenu .service-block h3 span {
        font-size: 12px;
    }

    #sortmenu .service-block ul {
        width: 680px;
        border-top: 1px solid #bfbfbf;
        padding-top: 18px;
        margin-top: 5px;
        float: left;
    }

    #sortmenu .service-block ul li {
        padding-left: 5px;
        float: left;
        width: 221px;
        height: 44px;
        font-size: 14px;
        padding-bottom: 10px;
    }

    #sortmenu .service-block ul li input {
        float: left;
        margin-top: 3px;
    }

    #sortmenu .service-block ul li p {
        padding-left: 27px;
        line-height: 130%;
        margin-top: -2px;
    }

    #sortmenu .service-block ul li br {
    }

    #sortmenu .area-block {
        float: left;
        padding-top: 33px;
        padding-left: 100px;
    }

    #sortmenu .area-block h3 {
        font-size: 20px;
    }

    #sortmenu .area-block h3 span {
        font-size: 12px;
    }

    #sortmenu .area-block .select-box {
        border-top: 1px solid #bfbfbf;
        padding-top: 18px;
        margin-top: 5px;
    }

    #sort_area {
        font-size: 12px;
        width: 200px;
        border: 1px solid #bfbfbf;
        padding: 2px 4px 2px 6px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
        appearance: menulist;
    }

    #sort_area option {
    }

    #sortmenu .search-info {
        clear: both;
        border-top: 1px solid #bfbfbf;
        margin-top: 16px;
        padding-top: 11px;
        float: left;
        width: 100%;
        padding-bottom: 25px;
    }

    #sortmenu .search-info .search-info-box {
        float: left;
    }

    #sortmenu .search-info .label {
        font-size: 14px;
    }

    #sortmenu .search-info .search-all {
        font-size: 25px;
        font-weight: bold;
    }

    #sortmenu .search-info .label2 {
        font-size: 14px;
    }

    #sortmenu .search-info .search-all span {
    }

    #sortmenu .search-info .search-target {
        font-size: 49px;
        color: #ff6e01;
    }

    #sortmenu .search-info .slash {
        font-size: 39px;
        top: -5px;
        position: relative;
    }

    #sortmenu .search-info .search-target span {
    }

    #sortmenu .search-info .search-target span {
        font-size: 14px;
        padding-right: 9px;
        color: black;
    }

    #sortmenu .search-info .button-clear {
        float: right;
        padding: 8px 40px 8px 40px;
        font-size: 14px;
        color: #4d4d4d;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #dedede), color-stop(0.00, #f4f4f4));
        background: -webkit-linear-gradient(#f4f4f4, #dedede);
        background: -moz-linear-gradient(#f4f4f4, #dedede);
        background: -o-linear-gradient(#f4f4f4, #dedede);
        background: -ms-linear-gradient(#f4f4f4, #dedede);
        background: linear-gradient(#f4f4f4, #dedede);
        cursor: pointer;
    }

    #store {
        width: 100%;
        background-color: #151515;
        clear: both;
        overflow: hidden;
        padding-bottom: 26px;
        color: #b5b5b6;
    }

    #store .btn-search-area {
        display: none;
    }

    #store ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store ul li {
        padding-right: 40px;
    }

    #store ul li img {
        float: left
    }

    #store ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 10px;
        padding-top: 2px;
    }

    #store .store-icon-list li .list-icon {
        width: 22px;
        float: left;
    }

    #store .store-icon-list li .list-icon img {
        width: 100%;
    }

    #store .store-icon-list li p {
        float: left;
    }

    #store .store-icon-list {
        padding-top: 61px;
    }

    #store .store-icon-list li {
        float: left;
        padding-right: 34px;
    }

    #store-list {
        width: 100%;
        clear: both;
        overflow: hidden;
        padding-bottom: 26px;
        background-color: #151515;
    }

    #store-list .store-list-box {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul li {
        padding-right: 40px;
    }

    #store-list .store-icon-list li p {
        float: left;
    }

    #store-list ul li img {
        float: left
    }

    #store-list ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 10px;
        padding-top: 2px;
    }

    /* =========================================================
    store_map
    ========================================================= */
    #store_map {
        clear: both;
        width: 980px;
        margin: 0 auto;
        padding-top: 12px;
    }

    #store_map #gmap {
        width: 100%;
        height: 500px;
        position: relative;
    }

    #store-list #store_list_container {
        padding-top: 60px;
        width: 996px;
        margin-left: -16px;
    }

    #store-list #store_list_container .inner {
        height: 100%;
        position: relative;
        /* overflow: hidden; */
    }

    #store-list #store_list_container li {
        width: 316px;
        float: left;
        margin-left: 16px;
        margin-bottom: 16px;
        padding-right: 0;
        background-color: white;
        overflow: hidden;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
    }

    #store-list #store_list_container li:first-child {
        /* margin-left: 0; */
    }

    #store-list .inner {
        width: 100%;
    }

    #store-list .inner .store_section_info {
        width: 100%;
        position: relative;
        height: 100%;
        padding-bottom: 65px;
        overflow: hidden;
    }

    #store-list .inner .store_section_info .store_image {
        width: 100%;
    }

    #store-list .inner .store_section_info .store_image img {
        width: 316px;
        height: 178px;
        background-color: #ddd;
        border-radius: 0px 0px 0px 0px;
        -webkit-border-radius: 0px 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px 0px;
    }

    #store-list .inner .store_section_info .name {
        padding-top: 15px;
        clear: both;
        padding-left: 17px;
        padding-right: 10px;
        line-height: 140%;
        min-height: 64px;
    }

    #store-list .inner .store_section_info .name span {
        color: black;
        font-size: 18px;
    }

    #store-list .inner .store_section_info .store_address {
        clear: both;
        padding-top: 0px;
        width: 100%;
        padding-left: 6px;
        padding-right: 6px;
        line-height: 135%;
        position: relative;
        bottom: 0;
    }

    #store-list .inner .store_section_info .store_address p {
        font-size: 14px;
    }

    #store-list .inner .store_section_info .store_address .address1 {
    }

    #store-list .inner .store_section_info .store_address .address2 {
    }

    #store-list .inner .store_section_info .store_address .tel {
    }

    #store-list .inner .store_section_info .store_address .hours {
        font-size: 12px;
    }

    #store-list .inner .store_btn_detail {
        margin-top: 14px;
        position: absolute;
        bottom: 0;
        padding: 12px 0px 12px 0px;
        text-align: center;
        width: 316px;
        color: black;
        font-weight: bold;
        font-size: 17px;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #333333), color-stop(0.91, #333333), color-stop(0.00, #333333));
        background: -webkit-linear-gradient(top, #333333 0%, #333333 91%, #333333 100%);
        background: -moz-linear-gradient(top, #333333 0%, #333333 91%, #333333 100%);
        background: -o-linear-gradient(top, #333333 0%, #333333 91%, #333333 100%);
        background: -ms-linear-gradient(top, #333333 0%, #333333 91%, #333333 100%);
        background: linear-gradient(to bottom, #333333 0%, #333333 91%, #333333 100%);
    }

    #store-list .inner .store_btn_detail a {
        color: #b5b5b6;
    }

    #section-calendar {
        width: 100%;
        margin: 0 auto;
        clear: both;
        background-color: #151515;
        overflow: hidden;
        padding-bottom: 70px;
    }

    #section-calendar .info-box {
        width: 980px;
        margin: 0 auto;
        background-color: #333333;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-bottom: none;
    }

    #section-calendar .section-title {
        clear: both;
    }

    #section-calendar .calendar-inner {
        overflow: hidden;
        padding-bottom: 20px;
        color: #dcdddd;
    }

    #section-calendar .calendar-inner .left-wrap {
        width: 100%;
        padding: 0 41px;
        overflow: hidden;
    }

    #section-calendar .calendar-inner .left-wrap .section-title {
        width: 100%;
        text-align: center;
        padding-top: 21px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        color: #dcdddd;
    }

    #section-calendar .calendar-inner .left-wrap .month {
        padding-top: 18px;
        padding-left: 0px;
        overflow: hidden;
        padding-bottom: 20px;
        margin-top: 0px;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month {
        width: 45%;
        float: left;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month img {
        width: 92%;
        display: table-cell;
        margin: 47px auto 10px;
        margin-bottom: ;
        background-color: #c2c2c2;
        padding: 22px;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month {
        width: 45%;
        float: right;
        margin-left: 15px;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month img {
        width: 92%;
        display: table-cell;
        margin: 47px auto 10px;
        background-color: #c2c2c2;
        padding: 22px;
        /* padding: 10%; */
    }

    #section-calendar .calendar-inner .left-wrap .btn-next-month {
        display: none;
    }

    #section-calendar .calendar-inner .left-wrap .btn-prev-month {
        display: none;
    }

    #section-calendar .calendar-inner .left-wrap .caption {
        clear: both;
        font-size: 12px;
        padding-left: 12px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span {
        width: 14px;
        display: block;
        float: left;
        margin-right: 6px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span img {
        width: 100%;
    }


/*/////////////////////////////////////////////////*/


    #section-calendar .calendar-inner .right-wrap {
        float: left;
        width: 100%;
        padding: 29px 41px 0;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours {
        float: left;
        width: 47%;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours .title {
        width: 100%;
        text-align: center;
        padding-top: 8px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt {
        float: left;
        margin-right: 10px;
        margin-top: 17px;
        width: 13px;
        height: 13px;
        background-color: #ff6e01;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt img {
        width: 12px;
        height: 12px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd {
        font-size: 14px;
        font-weight: bold;
        padding-top: 17px;
        padding-left: 22px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .label {
        padding-bottom: 7px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
        color: #ff6e01;
        font-size: 16px;
        padding-bottom: 14px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .time .tel_a {
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .info {
        line-height: 1.5em;
        font-weight: normal;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number {
        width: 47%;
        float: right;
    }

     #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column {
        width: 100%;
        clear: both;
        margin: 0 0 10px 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .title {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding: 8px 0 ;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .label {
        font-size: 13px;
        color: #ff6e01;
        width: 100%;
        margin: 17px 0 0 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .icon img {
        width: 20px;
        height: 20px;
        float: left;
        border-radius: 5px;
        margin: 6px 0 0 0;
        background-color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .time {
        position: relative;
        float: left;
        margin: 7px 0 7px 0;
        font-size: 20px;
        color: #ff6e01;
        padding: 0 0 0 5px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .time .tel_a {
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .info {
        font-size: 14px;
        width: 100%;
        float: left;
        margin: 3px 0 22px 0;
        line-height: 1.5em;
    }

    /*お問い合わせフォーム*/
    #section-calendar .calendar-inner .right-wrap .phone-number .top-dial-btn {
        margin: 0 auto;
        clear: both;
        text-align: center;
        width: 100%;
        background-color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .top-dial-btn a {
        color: #fff;
        clear: both;
        font-size: 14px;
        height: 50px;
        line-height: 40px;
        width: 100%;
        letter-spacing: 0.1em;
    }









/*/////////////////////////////////////////////////*/


    /* =========================================================
    footer_function
    ========================================================= */
    #footer_function {
    }
}

@media screen and (max-width: 979px) and (min-width: 768px) {
    #wrapper {
        /* position: relative; */ /* padding-left: 212px; */
    }

    #wrapper #container h1 {
        padding-top: 17px;
        padding-left: 21px;
        font-size: 30px;
        color: #b5b5b6;
        padding-bottom: 17px;
        border-bottom: none;
        background-image: url(../images/bg-pattern.gif);
    }

    #wrapper li {
        list-style: none;
    }

    #container {
        /* position: relative; */
        background-color: #333333;
    }

    #content {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    #sortmenu {
/*         width: 100%;
        margin: 0 auto;
        color: #b5b5b6;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
        margin-top: 820px; */
        overflow: hidden;
        color: #b5b5b6;
        width: 100%;
        margin: 0 auto;
        float: left;
        position: relative;
        padding-top: 71%;
        padding-left: 20px;
        padding-right: 20px;
    }

    #sortmenu h2 {
        width: 100%;
        text-align: center;
        padding-top: 45px;
        font-size: 27px;
        padding-bottom: 9px;
        border-bottom: solid 5px #b5b5b6;
        color: #b5b5b6;
    }

    #container h1 {
    }

    #sortmenu .service-block {
        width: 100%;
        float: left;
    }

    #sortmenu .service-block h3 {
        padding-top: 55px;
        font-size: 20px;
    }

    #sortmenu .service-block h3 span {
        font-size: 15px;
    }

    #sortmenu .service-block ul {
        width: 100%;
        border-top: 1px solid #bfbfbf;
        padding-top: 29px;
        margin-top: 11px;
        float: left;
        padding-left: 0%;
    }

    #sortmenu .service-block ul li {
        padding-left: 2%;
        float: left;
        width: 50%;
        height: 86px;
        font-size: 14px;
        padding-bottom: 20px;
    }

    #sortmenu .service-block ul li input {
        float: left;
        margin-top: 3px;
    }

    #sortmenu .service-block ul li p {
        padding-left: 27px;
        line-height: 130%;
        margin-top: -2px;
        font-size: 18px;
    }

    #sortmenu .service-block ul li br {
    }

    #sortmenu .area-block {
        float: left;
        padding-top: 13px;
        width: 100%;
    }

    #sortmenu .area-block h3 {
        font-size: 20px;
    }

    #sortmenu .area-block h3 span {
        font-size: 12px;
    }

    #sortmenu .area-block .select-box {
        border-top: 1px solid #bfbfbf;
        padding-top: 18px;
        margin-top: 9px;
    }

    #sort_area {
        font-size: 12px;
        width: 50%;
        margin-left: 12px;
        border: 1px solid #bfbfbf;
        padding: 2px 4px 2px 6px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-appearance: initial;
        -moz-appearance: initial;
        appearance: initial;
    }

    #sort_area option {
    }

    #sortmenu .search-info {
        clear: both;
        border-top: 1px solid #bfbfbf;
        margin-top: 83px;
        padding-top: 14px;
        float: left;
        width: 100%;
        padding-bottom: 25px;
    }

    #sortmenu .search-info .search-info-box {
        float: left;
    }

    #sortmenu .search-info .label {
        font-size: 14px;
        padding-left: 8px;
    }

    #sortmenu .search-info .search-all {
        font-size: 25px;
        font-weight: bold;
        position: relative;
        top: 2px;
    }

    #sortmenu .search-info .label2 {
        font-size: 14px;
    }

    #sortmenu .search-info .search-all span {
    }

    #sortmenu .search-info .search-target {
        font-size: 49px;
        color: #ff6e01;
        padding-left: 10px;
        font-weight: bold;
        position: relative;
        top: 2px;
    }

    #sortmenu .search-info .slash {
        font-size: 29px;
        top: -3px;
        position: relative;
    }

    #sortmenu .search-info .search-target span {
    }

    #sortmenu .search-info .search-target span {
        font-size: 14px;
        padding-right: 9px;
        color: black;
    }

    #sortmenu .search-info .button-clear {
        float: right;
        padding: 12px 48px 12px 48px;
        font-size: 14px;
        margin: 15px 3px 0px 0px;
        color: #4d4d4d;
        border: 1px solid #eeeeee;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #dedede), color-stop(0.00, #f4f4f4));
        background: -webkit-linear-gradient(#f4f4f4, #dedede);
        background: -moz-linear-gradient(#f4f4f4, #dedede);
        background: -o-linear-gradient(#f4f4f4, #dedede);
        background: -ms-linear-gradient(#f4f4f4, #dedede);
        background: linear-gradient(#f4f4f4, #dedede);
        cursor: pointer;
    }

    #store {
        width: 100%;
        background-color: #151515;
        clear: both;
        overflow: hidden;
        padding-bottom: 26px;
        color: #b5b5b6;
        position: absolute;
        top: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    #store .btn-search-area {
        display: none;
    }

    #store ul {
        width: 100%;
        margin: 0 auto;
        clear: both;
    }

    #store ul li {
        padding-right: 40px;
    }

    #store ul li img {
        float: left
    }

    #store ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 10px;
        padding-top: 6px;
    }

    #store .store-icon-list li .list-icon {
        width: 23px;
        float: left;
    }

    #store .store-icon-list li .list-icon img {
        width: 100%;
    }

    #store .store-icon-list li p {
        float: left;
    }

    #store .store-icon-list {
        padding-top: 30px;
        padding-left: 6px;
    }

    #store .store-icon-list li {
        float: left;
        padding-right: 34px;
        padding-bottom: 10px;
    }

    #store-list {
        width: 100%;
        clear: both;
        overflow: hidden;
        padding-bottom: 50px;
        background-color: #151515;
        position: relative;
    }

    #store-list .store-list-box {
        width: 100%;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul li {
        padding-right: 40px;
    }

    #store-list .store-icon-list li p {
        float: left;
    }

    #store-list ul li img {
        float: left
    }

    #store-list ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 10px;
        padding-top: 2px;
    }

    /* =========================================================
    store_map
    ========================================================= */
    #store_map {
        clear: both;
        width: 100%;
        margin: 0px;
        padding-top: 55%;
        position: relative;
        margin-top: 15px;
        float: left;
    }

    #store_map #gmap {
        width: 100%;
        height: 100%;
        position: absolute !important;
        top: 0;
        left: 0;
    }

    #store-list #store_list_container {
        padding-top: 40px;
        width: 100%;
        margin-left: 1%;
    }

    #store-list #store_list_container .inner {
        height: 100%;
        position: relative;
        /* overflow: hidden; */
    }

    #store-list #store_list_container li {
        width: 30.5%;
        float: left;
        margin-left: 1.5%;
        margin-bottom: 1.5%;
        padding-right: 0;
        background-color: white;
        overflow: hidden;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
    }

    #store-list #store_list_container li:first-child {
        /* margin-left: 0; */
    }

    #store-list .inner {
        width: 100%;
    }

    #store-list .inner .store_section_info {
        width: 100%;
        position: relative;
        height: 100%;
        padding-bottom: 65px;
        overflow: hidden;
    }

    #store-list .inner .store_section_info .store_image {
        width: 100%;
    }

    #store-list .inner .store_section_info .store_image img {
        width: 100%;
        height: 178px;
        background-color: #ddd;
        border-radius: 0px 0px 0px 0px;
        -webkit-border-radius: 0px 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px 0px;
    }

    #store-list .inner .store_section_info .name {
        padding-top: 15px;
        clear: both;
        padding-left: 17px;
        padding-right: 10px;
        line-height: 140%;
        min-height: 94px;
    }

    #store-list .inner .store_section_info .name span {
        color: black;
        font-size: 20px;
    }

    #store-list .inner .store_section_info .store_address {
        clear: both;
        padding-top: 0px;
        width: 100%;
        padding-left: 6px;
        padding-right: 6px;
        line-height: 135%;
        position: relative;
        bottom: 0;
    }

    #store-list .inner .store_section_info .store_address p {
        font-size: 14px;
    }

    #store-list .inner .store_section_info .store_address .address1 {
    }

    #store-list .inner .store_section_info .store_address .address2 {
    }

    #store-list .inner .store_section_info .store_address .tel {
    }

    #store-list .inner .store_section_info .store_address .hours {
        font-size: 12px;
    }

    #store-list .inner .store_btn_detail {
        margin-top: 14px;
        position: absolute;
        bottom: 0;
        padding: 12px 0px 12px 0px;
        text-align: center;
        width: 100%;
        color: black;
        font-weight: bold;
        font-size: 17px;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #333333), color-stop(0.91, #333333), color-stop(0.00, #333333));
        background: -webkit-linear-gradient(top, #333333 0%, #333333 91%, #333333 100%);
        background: -moz-linear-gradient(top, #333333 0%, #333333 91%, #333333 100%);
        background: -o-linear-gradient(top, #333333 0%, #333333 91%, #333333 100%);
        background: -ms-linear-gradient(top, #333333 0%, #333333 91%, #333333 100%);
        background: linear-gradient(to bottom, #333333 0%, #333333 91%, #333333 100%);
    }

    #store-list .inner .store_btn_detail a {
        color: #b5b5b6;
    }

    #section-calendar {
        width: 100%;
        margin: 0 auto;
        clear: both;
        background-color: #151515;
        overflow: hidden;
        padding-bottom: 70px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #section-calendar .info-box {
        width: 100%;
        margin: 0 auto;
        background-color: #333333;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-bottom: none;
    }

    #section-calendar .section-title {
        clear: both;
    }

    #section-calendar .calendar-inner {
        overflow: hidden;
        padding-bottom: 20px;
        color: #dcdddd;
    }

    #section-calendar .calendar-inner .left-wrap {
        width: 100%;
        float: left;
        padding-right: 3%;
        padding-left: 3%;
        overflow: hidden;
    }

    #section-calendar .calendar-inner .left-wrap .section-title {
        width: 100%;
        text-align: center;
        padding-top: 34px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        color: #dcdddd;
    }

    #section-calendar .calendar-inner .left-wrap .month {
        margin-top: 18px;
        padding-left: 0px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month {
        width: 49.5%;
        float: left;
        background-color: #c2c2c2;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month img {
        width: 100%;
        /* padding: 10%; */
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month {
        width: 49.5%;
        float: left;
        margin-left: 1%;
        background-color: #c2c2c2;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month img {
        width: 100%;
        /* padding: 10%; */
    }

    #section-calendar .calendar-inner .left-wrap .btn-next-month {
        display: none !important;
    }

    #section-calendar .calendar-inner .left-wrap .btn-prev-month {
        display: none !important;
    }

    #section-calendar .calendar-inner .left-wrap .caption {
        clear: both;
        font-size: 12px;
        padding-left: 12px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span {
        width: 14px;
        display: block;
        float: left;
        margin-right: 6px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span img {
        width: 100%;
    }
/*    ///////////*/
    #section-calendar .calendar-inner .right-wrap {
        float: left;
        width: 100%;
        padding-right: 3%;
        padding-left: 3%;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours {
        float: left;
        width: 47%;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours .title {
        width: 100%;
        text-align: center;
        padding-top: 8px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt {
        float: left;
        margin-right: 10px;
        margin-top: 17px;
        width: 13px;
        height: 13px;
        background-color: #ff6e01;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt img {
        width: 12px;
        height: 12px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd {
        font-size: 14px;
        font-weight: bold;
        padding-top: 17px;
        padding-left: 22px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .label {
        padding-bottom: 7px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
        color: #ff6e01;
        font-size: 16px;
        padding-bottom: 14px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .time .tel_a {
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .info {
        line-height: 1.5em;
        font-weight: normal;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number {
        width: 47%;
        float: right;
    }

     #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column {
        width: 100%;
        clear: both;
        margin: 0 0 10px 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .title {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding: 8px 0 ;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .label {
        font-size: 13px;
        color: #ff6e01;
        width: 100%;
        margin: 17px 0 0 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .icon img {
        width: 20px;
        height: 20px;
        float: left;
        border-radius: 5px;
        margin: 6px 0 0 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .time {
        position: relative;
        float: left;
        margin: 7px 0 7px 0;
        font-size: 20px;
        color: #ff6e01;
        padding: 0 0 0 5px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .time .tel_a {
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .info {
        font-size: 14px;
        width: 100%;
        float: left;
        margin: 3px 0 22px 0;
        line-height: 1.5em;
    }

    /*お問い合わせフォーム*/
    #section-calendar .calendar-inner .right-wrap .phone-number .top-dial-btn {
        margin: 0 auto;
        clear: both;
        text-align: center;
        width: 100%;
        background-color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .top-dial-btn a {
        color: #fff;
        clear: both;
        font-size: 14px;
        height: 50px;
        line-height: 40px;
        width: 100%;
        letter-spacing: 0.1em;
    }

/*    ///////////*/

    /* =========================================================
    footer_function
    ========================================================= */
    #footer_function {
    }
}

@media screen and (max-width: 767px) {
    #wrapper {
        /* position: relative; */ /* padding-left: 212px; */
    }

    #wrapper #container h1 {
        padding-top: 10px;
        padding-left: 14px;
        font-size: 18px;
        color: #b5b5b6;
        padding-bottom: 10px;
        border-bottom: none;
        background-image: url(../images/bg-pattern.gif);
    }

    #wrapper li {
        list-style: none;
    }

    #container {
        /* position: relative; */
        background-color: #333333;
    }

    #content {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .storelist{
        display:flex;
        flex-direction: column;
    }
    #sortmenu {
        margin: 0 auto;
        color: #b5b5b6;
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        overflow: hidden;
        margin-top: 10px;
        order: 2;
    }

    #sortmenu h2 {
        width: 100%;
        text-align: center;
        padding-top: 13px;
        font-size: 16px;
        padding-bottom: 9px;
        border-bottom: solid 1px #b5b5b6;
        color: #b5b5b6;
    }

    #container h1 {
    }

    #sortmenu .service-block {
        width: 100%;
        float: left;
    }

    #sortmenu .service-block h3 {
        padding-top: 20px;
        font-size: 16px;
    }

    #sortmenu .service-block h3 span {
        font-size: 11px;
    }

    #sortmenu .service-block ul {
        width: 101%;
        margin-top: 11px;
        float: left;
        margin-left: -1%;
    }

    #sortmenu .service-block ul li {
        float: left;
        width: 49%;
        font-size: 14px;
        position: relative;
        height: 50px;
        background-color: #d5d5d5;
        margin-left: 1%;
        margin-bottom: 1%;
    }

    #sortmenu .service-block ul li:nth-child(odd) {
    }

    #sortmenu .service-block ul li label {
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: block;
    }

    #sortmenu .service-block ul li.checked {
        background-color: #ff6e01;
    }

    #sortmenu .service-block ul li.checked label {
    }

    #sortmenu .service-block ul li.checked p {
        color: white;
    }

    #sortmenu .service-block ul li input {
        height: 50px;
        padding: 0;
        margin: 0;
        width: 10px;
        position: absolute;
        top: 0;
        left: 12px;
    }

    #sortmenu .service-block ul li p {
        padding: 0;
        line-height: 130%;
        color: #4d4d4d;
        display: table-cell;
        vertical-align: middle;
        height: 50px;
        position: relative;
        float: initial;
        padding-left: 32px;
        font-size: 12px;
        padding-right: 10px;
    }

    #sortmenu .service-block ul li br {
    }

    #sortmenu .area-block {
        float: left;
        padding-top: 31px;
        width: 100%;
    }

    #sortmenu .area-block h3 {
        font-size: 16px;
    }

    #sortmenu .area-block h3 span {
        font-size: 11px;
    }

    #sortmenu .area-block .select-box {
        border-top: 1px solid #bfbfbf;
        padding-top: 8px;
        margin-top: 3px;
        padding-bottom: 30px;
    }

    #sort_area {
        font-size: 12px;
        width: 50%;
        margin-left: 12px;
        border: 1px solid #bfbfbf;
        padding: 2px 4px 2px 6px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-appearance: initial;
        -moz-appearance: initial;
        appearance: initial;
    }

    #sort_area option {
    }

    #sortmenu .search-info {
        clear: both;
        border-top: 1px solid #bfbfbf;
        margin-top: 31px;
        padding-top: 14px;
        float: left;
        width: 100%;
        padding-bottom: 25px;
        display: none;
    }

    #sortmenu .search-info .search-info-box {
        float: left;
    }

    #sortmenu .search-info .label {
        font-size: 14px;
        padding-left: 8px;
    }

    #sortmenu .search-info .search-all {
        font-size: 25px;
        font-weight: bold;
        position: relative;
        top: 2px;
    }

    #sortmenu .search-info .label2 {
        font-size: 14px;
    }

    #sortmenu .search-info .search-all span {
    }

    #sortmenu .search-info .search-target {
        font-size: 49px;
        color: #ff6e01;
        padding-left: 10px;
        font-weight: bold;
        position: relative;
        top: 2px;
    }

    #sortmenu .search-info .slash {
        font-size: 29px;
        top: -3px;
        position: relative;
    }

    #sortmenu .search-info .search-target span {
    }

    #sortmenu .search-info .search-target span {
        font-size: 14px;
        padding-right: 9px;
        color: black;
    }

    #sortmenu .search-info .button-clear {
        float: right;
        padding: 12px 48px 12px 48px;
        font-size: 14px;
        margin: 15px 3px 0px 0px;
        color: #4d4d4d;
        border: 1px solid #eeeeee;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #dedede), color-stop(0.00, #f4f4f4));
        background: -webkit-linear-gradient(#f4f4f4, #dedede);
        background: -moz-linear-gradient(#f4f4f4, #dedede);
        background: -o-linear-gradient(#f4f4f4, #dedede);
        background: -ms-linear-gradient(#f4f4f4, #dedede);
        background: linear-gradient(#f4f4f4, #dedede);
        cursor: pointer;
    }

    #store {
        width: 100%;
        background-color: #151515;
        clear: both;
        overflow: hidden;
        padding-bottom: 14px;
        color: #b5b5b6;
        /* position: absolute; */
        top: 0;
        padding-left: 10px;
        padding-right: 10px;
        order: 1;
    }

    #store .btn-search-area {
        overflow: hidden;
        margin-top: 10px;
        background-color: #4d4d4d;
    }

    #store .btn-search-area span {
        display: block;
        float: left;
        width: 10px;
        margin: 8px 1px 1px 9px;
        position: absolute;
    }

    #store .btn-search-area span img {
        width: 100%;
    }

    #store .btn-search-area p {
        color: white;
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
        text-align: center;
        position: relative;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #store ul {
        width: 100%;
        margin: 0 auto;
        clear: both;
    }

    #store ul li {
        padding-right: 40px;
    }

    #store ul li img {
        float: left
    }

    #store ul li p {
        /* float: left; */
        font-size: 10px;
        padding-left: 8px;
        padding-top: 6px;
    }

    #store .store-icon-list li .list-icon {
        width: 19px;
        float: left;
    }

    #store .store-icon-list li .list-icon img {
        width: 100%;
    }

    #store .store-icon-list li p {
        float: left;
    }

    #store .store-icon-list {
        padding-top: 23px;
        padding-left: 4px;
    }

    #store .store-icon-list li {
        float: left;
        padding-right: 28px;
        padding-bottom: 10px;
    }

    #store-list {
        width: 100%;
        clear: both;
        overflow: hidden;
        padding-bottom: 12px;
        background-color: #151515;
        position: relative;
    }

    #store-list .store-list-box {
        width: 100%;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul li {
        padding-right: 40px;
    }

    #store-list .store-icon-list li p {
        float: left;
    }

    #store-list ul li img {
        float: left
    }

    #store-list ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 10px;
        padding-top: 2px;
    }

    /* =========================================================
    store_map
    ========================================================= */
    #store_map {
        clear: both;
        width: 100%;
        margin: 0 auto;
    }

    #store_map #gmap {
        width: 100%;
        height: 190px;
        position: relative;
    }

    #store-list #store_list_container {
        padding-top: 10px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    #store-list #store_list_container .inner {
        height: 100%;
        position: relative;
        /* overflow: hidden; */
    }

    #store-list #store_list_container li {
        width: 100%;
        float: left;
        padding-right: 0;
        background-color: white;
        margin-bottom: 10px;
        overflow: hidden;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
    }

    #store-list #store_list_container li:first-child {
        /* margin-left: 0; */
    }

    #store-list .inner {
        width: 100%;
    }

    #store-list .inner .store_section_info {
        width: 100%;
        position: relative;
        height: 100%;
        padding-bottom: 65px;
        overflow: hidden;
    }

    #store-list .inner .store_section_info .store_image {
        width: 100%;
    }

    #store-list .inner .store_section_info .store_image img {
        width: 100%;
        /*height: 178px;*/
        background-color: #ddd;
        border-radius: 0px 0px 0px 0px;
        -webkit-border-radius: 0px 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px 0px;
    }

    #store-list .inner .store_section_info .name {
        padding-top: 15px;
        clear: both;
        padding-left: 17px;
        padding-right: 10px;
        line-height: 140%;
        min-height: 60px;
    }

    #store-list .inner .store_section_info .name span {
        color: black;
        font-size: 20px;
    }

    #store-list .inner .store_section_info .store_address {
        clear: both;
        padding-top: 0px;
        width: 100%;
        padding-left: 6px;
        padding-right: 6px;
        line-height: 135%;
        position: relative;
        bottom: 0;
    }

    #store-list .inner .store_section_info .store_address p {
        font-size: 14px;
    }

    #store-list .inner .store_section_info .store_address .address1 {
    }

    #store-list .inner .store_section_info .store_address .address2 {
    }

    #store-list .inner .store_section_info .store_address .tel {
    }

    #store-list .inner .store_section_info .store_address .tel br {
        display: none;
    }

    #store-list .inner .store_section_info .store_address .hours {
        font-size: 12px;
    }

    #store-list .inner .store_section_info .store_address .hours br {
        display: none;
    }

    #store-list .inner .store_btn_detail {
        margin-top: 14px;
        position: absolute;
        bottom: 0;
        padding: 12px 0px 12px 0px;
        text-align: center;
        width: 100%;
        color: black;
        font-weight: bold;
        font-size: 17px;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #333333), color-stop(0.91, #333333), color-stop(0.00, #333333));
        background: -webkit-linear-gradient(top, #333333 0%, #333333 91%, #333333 100%);
        background: -moz-linear-gradient(top, #333333 0%, #333333 91%, #333333 100%);
        background: -o-linear-gradient(top, #333333 0%, #333333 91%, #333333 100%);
        background: -ms-linear-gradient(top, #333333 0%, #333333 91%, #333333 100%);
        background: linear-gradient(to bottom, #333333 0%, #333333 91%, #333333 100%);
    }

    #store-list .inner .store_btn_detail a {
        color: #b5b5b6;
    }

    #section-calendar {
        width: 100%;
        margin: 0 auto;
        clear: both;
        background-color: #151515;
        overflow: hidden;
        padding-bottom: 70px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #section-calendar .info-box {
        width: 100%;
        margin: 0 auto;
        background-color: #333333;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-bottom: none;
    }

    #section-calendar .section-title {
        clear: both;
    }

    #section-calendar .calendar-inner {
        overflow: hidden;
        padding-bottom: 20px;
        color: #dcdddd;
    }

    #section-calendar .calendar-inner .left-wrap {
        width: 100%;
        float: left;
        overflow: hidden;
    }

    #section-calendar .calendar-inner .left-wrap .section-title {
        width: 92%;
        text-align: center;
        padding-top: 18px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding-bottom: 6px;
        letter-spacing: 0.1em;
        color: #dcdddd;
        margin-left: 4%;
    }

    #section-calendar .calendar-inner .left-wrap .month {
        margin-top: 18px;
        padding-left: 0px;
        overflow: hidden;
        margin-bottom: 20px;
        background-color: #c2c2c2;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month {
        width: 100%;
        /* float: left; */
        background-color: #c2c2c2;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month img {
        width: 100%;
        /* padding: 10%; */
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month {
        width: 100%;
        float: left;
        background-color: #c2c2c2;
        float: left;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month img {
        width: 100%;
        /* padding: 10%; */
    }

    .top-calendar-attantion-list {
        padding-left: 17px;
        margin: 40px 0 0 0;
    }

    #section-calendar .calendar-inner .left-wrap .btn-next-month {
        width: 96%;
        background-color: #4d4d4d;
        color: white;
        text-align: center;
        /* padding: 10px 0 10px 0px; */
        font-size: 12px;
        margin-left: 2%;
        float: left;
        position: absolute;
        top: 0;
        height: 40px;
        line-height: 40px;
    }

    #section-calendar .calendar-inner .left-wrap .btn-prev-month {
        width: 96%;
        background-color: #4d4d4d;
        color: white;
        text-align: center;
        /* padding: 10px 0 10px 0px; */
        font-size: 12px;
        margin-left: 2%;
        /* display: none; */
        float: left;
        position: absolute;
        top: 0;
        height: 40px;
        line-height: 40px;
    }

    #section-calendar .calendar-inner .left-wrap .caption {
        clear: both;
        font-size: 11px;
        padding-left: 11px;
        padding-top: 15px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span {
        width: 18px;
        display: block;
        float: left;
        margin-right: 6px;
        top: -3px;
        position: relative;
    }

    #section-calendar .calendar-inner .left-wrap .caption span img {
        width: 100%;
    }
/*    ///////////*/
    #section-calendar .calendar-inner .right-wrap {
        float: left;
        width: 100%;
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 20px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours {
        float: none;
        width: 100%;
        margin: 0 0 20px 0;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours .title {
        width: 100%;
        text-align: center;
        padding-top: 8px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt {
        float: left;
        margin-right: 10px;
        margin-top: 17px;
        width: 13px;
        height: 13px;
        background-color: #ff6e01;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt img {
        width: 12px;
        height: 12px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd {
        font-size: 14px;
        font-weight: bold;
        padding-top: 17px;
        padding-left: 22px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .label {
         padding-bottom: 7px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
        color: #ff6e01;
        font-size: 16px;
        padding-bottom: 14px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .time .tel_a {
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .info {
        line-height: 1.5em;
        font-weight: normal;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number {
        width: 100%;
        float: right;
    }

     #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column {
        width: 100%;
        clear: both;
        margin: 0 0 10px 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .title {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding: 8px 0 ;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .label {
        font-size: 13px;
        color: #ff6e01;
        width: 100%;
        margin: 17px 0 0 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .icon img {
        width: 20px;
        height: 20px;
        float: left;
        border-radius: 5px;
        margin: 6px 0 0 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .time {
        position: relative;
        float: left;
        margin: 7px 0 7px 0;
        font-size: 20px;
        color: #ff6e01;
        padding: 0 0 0 5px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .time .tel_a {
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .info {
        font-size: 14px;
        width: 100%;
        float: left;
        margin: 3px 0 22px 0;
        line-height: 1.5em;
    }

    /*お問い合わせフォーム*/
    #section-calendar .calendar-inner .right-wrap .phone-number .top-dial-btn {
        margin: 0 auto;
        margin-bottom: 30px;
        clear: both;
        text-align: center;
        width: 100%;
        background-color: #ff6e01;

    }

    #section-calendar .calendar-inner .right-wrap .phone-number .top-dial-btn a {
        color: #fff;
        clear: both;
        font-size: 14px;
        height: 50px;
        line-height: 40px;
        width: 100%;
        letter-spacing: 0.1em;
    }

    /* =========================================================
    footer_function
    ========================================================= */
    #footer_function {
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }
}
