/*
color variation2
key color : #e4b00a;
*/

.header-contents h1 {
  color: #e4b00a;
}
.carlist-label .square {
  background-color: #e4b00a;
}
.tab-change-btn li.active span {
  color: #e4b00a;
}
@media screen and (min-width: 1280px) {}
@media screen and (max-width: 1279px) and (min-width: 1024px) {}
@media screen and (max-width: 1023px) and (min-width: 768px) {}
@media screen and (max-width: 767px) {}