/*
color variation3
key color : #409159;
*/

#blog-fixed-btn {
  background-color: #409159;
}
.section h1 {
  color: #409159;
}
.section h2 {
  font-weight: bold;
  color: #409159;
}
.section h3:before {
  background: url(../../images/dot-val3.png) no-repeat left center;
  background-size: contain;
}
.thumb-item-nav .slick-current:after {
  background: url(../../images/slide/thumb-item-nav-cover-val3.png);
  background-size: cover;
}
@media screen and (min-width: 1280px) {}
@media screen and (max-width: 1279px) and (min-width: 1024px) {}
@media screen and (max-width: 1023px) and (min-width: 768px) {}
@media screen and (max-width: 767px) {}
