/*
color variation3
key color : #70737a;
*/

#blog-fixed-btn {
  background-color: #70737a;
}
.section .square {
  background-color: #70737a;
}
.thumb-item-nav .slick-current:after {
  background: url(../../images/1/slide/thumb-item-nav-cover-val3_p.png);
  background-size: cover;
}
#staff-blog h3 {
  background-color: #70737a;
}
#staff-blog {
  border-color: #70737a;
}
.blog-inner .blog-inner-left .blog-text a {
  color: #70737a;
}
#staff-blog .blog-more-btn {
  background-image: -moz-linear-gradient( 90deg, rgb(135,136,139) 0%, rgb(220,221,224) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(135,136,139) 0%, rgb(220,221,224) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(135,136,139) 0%, rgb(220,221,224) 100%);
}

@media screen and (min-width: 1280px) {}
@media screen and (max-width: 1279px) and (min-width: 1024px) {}
@media screen and (max-width: 1023px) and (min-width: 768px) {}
@media screen and (max-width: 767px) {}
