/*
color variation4
key color : #231815;
*/

#blog-fixed-btn {
  background-color: #231815;
}
.section .square {
  background-color: #231815;
}
.thumb-item-nav .slick-current:after {
  background: url(../../images/1/slide/thumb-item-nav-cover-val4.png);
  background-size: cover;
}
#staff-blog h3 {
  background-color: #231815;
}
#staff-blog {
  border-color: #231815;
}
.blog-inner .blog-inner-left .blog-text a {
  color: #231815;
}
#staff-blog .blog-more-btn {
  background-image: -moz-linear-gradient( 90deg, rgb(0, 0, 0) 0%, rgb(109, 107, 107) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0, 0, 0) 0%, rgb(109, 107, 107) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0, 0, 0) 0%, rgb(109, 107, 107) 100%);
}
@media screen and (min-width: 1280px) {}
@media screen and (max-width: 1279px) and (min-width: 1024px) {}
@media screen and (max-width: 1023px) and (min-width: 768px) {}
@media screen and (max-width: 767px) {}
