/*
color variation1
key color : #73654b;
*/

#blog-fixed-btn {
  background-color: #73654b;
}
.section h1 {
  border-color: #73654b;
}
.section h2 {
  background-color: #73654b;
}
.slick-prev:before {
  background: url(../../images/3/slide/store-image-prev-val3_p.png);
  background-size: contain;
}
.slick-next:before {
  background: url(../../images/3/slide/store-image-next-val3_p.png);
  background-size: contain;
}
.thumb-item-nav .slick-current:after {
  background: url(../../images/3/slide/thumb-item-nav-cover-val3_p.png);
  background-size: cover;
}
#staff-blog {
  border-color: #73654b;
}
#staff-blog h3 {
  background-color: #73654b;
}
#staff-blog .blog-more-btn {
  background-color: #73654b;
}
.blog-inner .blog-inner-left .blog-text a {
  color: #73654b;
}
@media screen and (min-width: 1280px) {}
@media screen and (max-width: 1279px) and (min-width: 1024px) {}
@media screen and (max-width: 1023px) and (min-width: 768px) {}
@media screen and (max-width: 767px) {}
