.container-contact{
    height:auto;
    overflow:hidden;
}
.label-worktime{
}

.top-contact-container {
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    margin: 0 20px;
}

.top-contact-container3 {
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
    box-sizing: border-box;
    margin: 0 20px;
    border-bottom: 1px solid #eee;
}

.top-contact-container2 {
    margin-top: 40px;
    padding-top: 25px;
    padding-left: 0;
    box-sizing: border-box;
    margin: 0 20px;
}　
/*.top-contact-title {
    margin-bottom: 23px;
    font-size: 15px;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.05em;
}*/

.top-contact-title {
    margin-bottom: 20px;
    font-size: 19px;
    letter-spacing: 0.05em;
}

.top-contact-title_s {
    color: #ff6e01;
    font-size: 12px;
}

.top-contact-title_s2 {
    color: #000;
    font-size: 12px;
}

.top-contact-subtitle {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 20.5px;
    color: #333333;
}

.top-dial {
    text-align: left;
    line-height: 1;
    margin-bottom: 4px;
    display: block;
    position: relative;
}

.top-dial2 {
    text-align: left;
    line-height: 1;
    margin-bottom: 4px;
    display: block;
    position: relative;
}

.top-dial-normal {
    margin-bottom: 15px;
    margin-top: 12px;
    color: #ff6e01;
    text-align: left;
    display: block;
    padding-left: 5px;
}

.top-dial-normal2 {
    margin-top: 12px;
    color: #808080;
    text-align: left;
    display: block;
    padding-left: 5px;
}

.top-dial-icon {
    display: none;
}

.top-dial-attantion .top-dial-icon {
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ff6e01;
    background: #fff;
    content: "";
    position: relative;
    top: -1px;
    margin-right: 5px;
}

.top-dial-number {
    position: relative;
    padding-left: 32px;
    font-size: 22.5px;
    font-weight: bold;
    line-height: 1;
    display: inline-block;
    letter-spacing: .05em;
}

.top-dial-number2 {
    position: relative;
    padding-left: 32px;
    font-size: 22.5px;
    font-weight: bold;
    line-height: 1;
    display: inline-block;
    letter-spacing: .05em;
    padding-bottom: 15px;
    color: #808080;
}

.top-dial-normal .top-dial-number:after, .top-dial-release .top-dial-number:after {
    display: block;
    position: absolute;
    top: -1px;
    left: -5px;
    width: 24px;
    height: 24px;
    background: url(../../images/4/top-tel-icon.png) no-repeat center center #ff6e01;
    background-size: 13px;
    content: "";
}

.top-dial-normal2 .top-dial-number2:after, .top-dial-release .top-dial-number2:after {
    display: block;
    position: absolute;
    top: -1px;
    left: -5px;
    width: 24px;
    height: 24px;
    background: url(../../images/4/top-tel-icon.png) no-repeat center center #808080;
    background-size: 13px;
    content: "";
}

.top-dial-release .top-dial-number:after {
}

.top-dial-date {
    display: none;
}

.top-dial-attantion {
    margin-bottom: 44px;
    text-align: center;
}

.top-dial-btn {
    text-align: center;
    width:100%;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:5px 0 15px;
    color:#fff;
    background-color:#ff6e01;
}

.top-dial-btn2 {
    text-align: center;
    width:100%;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:5px 0 15px;
    color:#fff;
    background-color:#ff6e01;
}

.top-dial-btn a {
    display: inline-block;
    letter-spacing: 0.07em;
    color: #fff;
}

.top-dial-attantion-title {
    display: none;
}

.top-dial-date-title {
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    color: #ff6e01;
}
.top-dial-date-title2 {
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    color: #333333;
}

.top-dial.top-dial-wednesday .top-dial-number, .top-dial-tuesday .top-dial-number {
    display: inline-block;
    padding-left: 8px;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.06em;
}

.top-dial-tuesday:after {
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 50%;
    border: 1px solid #ff6e01;
    background: #fff;
    content: "";
    position: absolute;
    left: 15px;
    top: 7px;
}

.top-dial-release {
    text-align: left;
}

.top-dial-release .top-dial {
    color: #ff6e01;
    margin-left: 0;
    padding-bottom: 24px;
    display: inline-block;
    text-align: center;
    padding-left: 0;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.top-dial-release .top-dial-number {
}

.top-dial.top-dial-wednesday .top-dial-number {
    margin-bottom: 1px;
}

.top-dial-release .hidden-block-title {
    visibility: hidden;
}

@media screen and (max-width: 767px) {
    .top-dial-release-none {
        display:none;
    }
}

@media screen and (min-width: 768px) {
    .top-dial-date-title {
        display: inline-block;
        font-size: 13px;
        font-weight: normal;
        color: #ff6e01;
    }
    .top-dial-normal {
       margin-bottom: 18px;
        margin-top: 12px;
        color: #ff6e01;
        text-align: left;
        display: block;
        padding-left: 0px;
    }
    .top-dial-release .top-dial {
        color: #ff6e01;
        margin-left: 0;
        padding-bottom: 0px;
        display: inline-block;
        text-align: center;
        padding-left: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .top-contact-container {
        margin-top: 40px;
        padding-top: 50px;
        padding-bottom: 40px;
        padding-left: 0;
        box-sizing: border-box;
        border-bottom: 1px solid #eee;
        background-color: #fff;
        margin: 0 30px 0 30px;
/*        min-height:50px; 
        height:auto !important; 
        height:50px;*/

    }

    .top-contact-container3 {
        margin-top: 40px;
        padding-top: 30px;
        padding-left: 0;
        box-sizing: border-box;
        border-bottom: 1px solid #eee;
        background-color: #fff;
        margin: 0 30px 0 30px;
/*        min-height:50px; 
        height:auto !important; 
        height:50px;*/
    }

    .top-contact-container2 {
       margin-top: 40px;
        padding-top: 30px;
        padding-bottom: 40px;
        padding-left: 0;
        box-sizing: border-box;
        background-color: #fff;
        margin: 0 30px 0 30px;
        min-height:50px; 
        height:auto !important; 
        height:50px;
    }
    .top-contact-columns {
    }

    .top-contact-columns:after {
        display: block;
        clear: both;
        content: "";
    }

    .top-contact-title_s {
        color: #ff6e01;
        font-size: 12px;
        padding-left: 30px;
    }

    .top-contact-title_s2 {
        color: #333333;
        font-size: 12px;
        padding-left: 30px;
    }

    .top-contact-subtitle {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 20.5px;
        color: #333333;
    }

    .top-contact-title {
        margin-bottom: 21px;
        padding-left: 28px;
        text-align: center;
        font-size: 26px;
        letter-spacing: 0.05em;
    }

    .top-contact-inner {
        left 0; /* overflow: hidden; */ }

    .top-dial {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .top-dial-normal {
        text-align: left;
        margin-left: 0;
        width: 100%;
       /* border-bottom: 1px solid #f0f0f0; */
        float: left;
    }*/

    .top-dial-date-title {
        font-size: 13px;
    }
    .top-dial-date-title2 {
        font-size: 13px;
        color: #333333;
}

    .top-dial.top-dial-wednesday .top-dial-number, .top-dial-tuesday .top-dial-number {
        font-size: 13px;
        padding-left: 0px;
    }


    .top-dial-attantion {
        position: absolute;
        
        float: right;
        text-align: left;
        padding-right: 17px;
        margin-right: 15%;
        margin-top: 0px;
        margin-left: 346px;
    }

 
    .top-dial-btn {
        position: inherit;
        vertical-align: middle;
        padding: 22px;
        width: 30%;
        margin: 0 auto;
    }
    .top-dial-btn2 {
        position: inherit;
        vertical-align: middle;
        width: 30%;
        margin: 0 auto;
    }

    .top-dial-btn a {
        margin: 0;
        font-weight: bold;
        font-size: 15px;
        line-height: 1;
        position: absolute;
        white-space: nowrap;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .top-dial-normal .top-dial-number:after, .top-dial-release .top-dial-number:after {
        left: 0;
        width: 35px;
        height: 35px;
        background-size: 19px;
        top: -3px;
    }

        .top-dial-normal2 .top-dial-number2:after, .top-dial-release .top-dial-number2:after {
        left: 0;
        width: 35px;
        height: 35px;
        background-size: 19px;
        top: -3px;
    }

    .top-dial-normal .top-dial-number {
        padding-left: 45px;
        font-size: 28px;
    }

    .top-dial-normal2 .top-dial-number2 {
        padding-left: 45px;
        font-size: 28px;
        color: #808080;
        margin: 5px 0 20px;
    }

    .top-dial-release {
        width: 100%;
        height: auto;
    }

    .top-dial-release .top-dial {
        display: block;
        text-align: left;
    }

    .top-dial-release .top-dial-number {
        padding-left: 49px;
        font-size: 28px;
    }

    .top-dial-release-none {
        display: none;
    }
    .top-dial-number2 {
        position: relative;
        padding-left: 32px;
        font-size: 22px;
        font-weight: bold;
        line-height: 1;
        display: inline-block;
        letter-spacing: .05em;
        padding-bottom: 0px;
}
}

@media screen and (min-width: 980px) {
    .top-contact-columns {
        width: 100%;
    }
}

@media screen and (min-width: 1366px) {
    .top-dial-date-title {
        display: inline-block;
        font-size: 13px;
        font-weight: normal;
        color: #ff6e01;
        padding-bottom: 12px; 
    }
    .label-worktime{
}
    .top-dial-normal2 .top-dial-number2 {
        padding-left: 45px;
        font-size: 28px;
        color: #808080;
        margin: 10px 0 20px;
    }
    .container_contact { 
        padding-top: 50px;
    }

    .top-dial-number {
        font-weight: bold;
        letter-spacing: .05em;
        width: 300px;
    }
    .top-calendar-column {
        display: flex;
    }
    .top-contact-container {
        width: 33.333%;
        border-bottom: 1px solid #fff;
        margin: 0;
        padding: 30px;
        float: left;
        border-right: 1px solid #eee;
    }
    .top-contact-container3 {
        width: 33.333%;
        border-bottom: 1px solid #fff;
        margin: 0;
        padding: 30px;
        border-right: 1px solid #eee;
        float: left;
    }

    .top-contact-container2 {
        width: 33.333%;
        margin: 0;
        padding: 30px;
        float: left;
    }

    .top-dial-btn a {
        width: auto;
        margin-top: 0;
        position: relative;
        top: auto;
        left: auto;
        transform: translate(0%,0%);
    }

    .top-contact-columns {
        position: relative;
        padding-bottom: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .top-dial-release .top-contact-title {
        position: static;
        text-align: left;
        margin-bottom: 24px;
        width: auto;
        padding-top: 0;
    }

    .top-contact-title {
        margin-bottom: 20px;
    }

    .top-dial-attantion {
        position: absolute; 
        margin-top: 0;
        padding-left: 120px;
        float: left;
        overflow: hidden;
        padding-top: 52px;
        border-right: 1px solid #f0f0f0;
        padding-bottom: 19px;
        margin-bottom: 0;
    }

    .top-dial-normal {
        margin-right: 0;
        padding-bottom: 6px;
        border-bottom: none;
        padding-right: 20px;
        margin-top: 10px;
    }

    .top-dial {
    }

    .top-dial-wednesday {
        overflow: hidden;
        /* float: left; */
    }

    .top-dial-wednesday:after, .top-dial-tuesday:after {
        top: 100%;
        margin-top: -2px;
    }
    .top-dial-btn {
        position: inherit;
        vertical-align: middle;
        width: 100%;
        padding: 5px 0 15px;
        margin-top: 63px;
    }
    .top-dial-btn2 {
        position: inherit;
        vertical-align: middle;
        width: 100%;
        padding: 5px 0 15px;
}
    .top-dial-release {
        left: 51%;
        top: 16px;
        border-right: none;
        overflow: hidden;
        border-top: none;
    }

    .top-dial-release .top-dial {
        padding-bottom: 0;
    }

    .top-dial-release .top-dial-number {
    }
}

@media screen and (min-width: 1680px) {
    .top-dial-normal { 
        /* border-right: 1px solid #f0f0f0; */ 
        margin-right: 0; 
        padding-bottom: 0px; 
        border-bottom: none; 
        padding-right: 20px; 
    } 
 
    .top-dial-attantion { 
        position: absolute; 
        padding-left: 280px; 
    }
}
