body,html {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}
body {
    font-family: "ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic","Osaka",sans-serif,Helvetica, Helvetica Neue, Arial, Verdana;
    font-size: 62.5%;
    color: #555;
}
a {
    color: #454545;
}
a:hover img {/*マウスをのせたとき*/
	opacity: 0.5 ;
	filter: alpha(opacity=50) ;	/* Ie用 */
}

.mt10 {
    margin-top: 10px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mt30 {
    margin-top: 30px !important;
}
.mt35 {
    margin-top: 35px !important;
}
.mt40 {
    margin-top: 40px !important;
}
.mt50 {
    margin-top: 50px !important;
}
.mt60 {
    margin-top: 60px !important;
}
.mt100 {
    margin-top: 100px !important;
}
.mr10 {
    margin-right: 10px !important;
}
.mr5 {
    margin-right: 5px !important;
}
.mr20 {
    margin-right: 20px !important;
}
.mr30 {
    margin-right: 30px !important;
}
.mr40 {
    margin-right: 40px !important;
}
.mr50 {
    margin-right: 50px !important;
}
.mr70 {
    margin-right: 70px !important;
}
.mb0 {
    margin-bottom: 0px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb15 {
    margin-bottom: 15px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mb25 {
    margin-bottom: 25px !important;
}
.mb30 {
    margin-bottom: 30px !important;
}
.mb35 {
    margin-bottom: 35px !important;
}
.mb40 {
    margin-bottom: 40px !important;
}
.mb50 {
    margin-bottom: 50px !important;
}
.mb60 {
    margin-bottom: 60px !important;
}
.mb85 {
    margin-bottom: 85px !important;
}
.mb100 {
    margin-bottom: 100px !important;
}
.mb200 {
    margin-bottom: 200px !important;
}
.ml10 {
    margin-left: 10px !important;
}
.ml20 {
    margin-left: 20px !important;
}
.ml24 {
    margin-left: 24px !important;
}
.ml30 {
    margin-left: 30px !important;
}
.ml40 {
    margin-left: 40px !important;
}
.ml45 {
    margin-left: 45px !important;
}
.ml50 {
    margin-left: 50px !important;
}
.pt10 {
    padding-top: 10px !important;
}
.pt5 {
    padding-top: 5px !important;
}
.pt20 {
    padding-top: 20px !important;
}
.pt30 {
    padding-top: 30px !important;
}
.pt40 {
    padding-top: 40px !important;
}
.pt50 {
    padding-top: 50px !important;
}
.pr10 {
   padding-right: 10px !important;
}
.pr20 {
   padding-right: 20px !important;
}
.pr30 {
   padding-right: 30px !important;
}
.pr40 {
   padding-right: 40px !important;
}
.pr50 {
   padding-right: 50px !important;
}
.pb10 {
    padding-bottom: 10px !important;
}
.pb20 {
    padding-bottom: 20px !important;
}
.pb30 {
    padding-bottom: 30px !important;
}
.pb40 {
    padding-bottom: 40px !important;
}
.pb50 {
    padding-bottom: 50px !important;
}
.pl10 {
    padding-left: 10px !important;
}
.pl15 {
    padding-left: 15px !important;
}
.pl20 {
    padding-left: 20px !important;
}
.pl30 {
    padding-left: 30px !important;
}
.pl40 {
    padding-left: 40px !important;
}
.pl50 {
    padding-left: 50px !important;
}
.overh {
    overflow: hidden;
}
.flr {
  float: right !important;
}
.fll {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.tac {
    text-align: center;
}
.tar {
    text-align: right;
}
.tal {
    text-align: left;
}
.fwb {
    font-weight: bold;
}
.pore {
    position: relative;
}
.cover {
    opacity: 1;
}
.cover:hover,.active,
.cover:hover img {
    opacity: .85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    cursor: pointer;
}
/*注文CSS*/
.red {
    color: #F43852;
}
.blue {
    color: #104AA1;
}
.line {
    background: linear-gradient(transparent 60%, #ff0 0%);
}
.intro {
    padding-left: 1em;
}

/* opacity */
.opa a img {
	opacity:1;
	filter: alpha(opacity=100);
	-moz-opacity:1;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	background:#ffffff;
	}
.opa a:hover img {
	opacity:0.6;
	filter: alpha(opacity=60);
	-moz-opacity:0.6;
	background:#ffffff;
	}

.opa_img img {
	opacity:1;
	filter: alpha(opacity=100);
	-moz-opacity:1;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	background:#ffffff;
	}
.opa_img img:hover {
	opacity:0.6;
	filter: alpha(opacity=60);
	-moz-opacity:0.6;
}
.opa_on {
	opacity:0.6;
	filter: alpha(opacity=60);
	-moz-opacity:0.6;
}
/* clearfix */
.cl {zoom:1;}
.cl:after {content:"";display: block;clear: both; height: 0;visibility:hidden;}
*:first-child+html .cl {display:inline-block;}/* for IE7 */
.clear {clear:both;line-height:0;}

