.top-contact-columns {
    padding: 5px 10px 10px;
}

/*お問い合わせ窓口・所有権解除・緊急*/
.top-contact-container,
.top-ownership-container,
.top-emergency-container {
    background-color: #666666;
    margin: 20px 0 0 0;
    /* padding-top: 0; */
    /* padding-bottom: 0; */
    padding: 0 0 30px 0;
}

.top-block-title {
    padding-left: 0;
    margin: 0;
}

/*タイトル*/
.top-contact-title,
.top-dial-release-title,
.top-dial-attantion-title {
    margin-bottom: 0;
    font-size: 15px;
    clear: both;
    border-bottom: 2px solid #fff !important;
    padding: 10px 0 5px 0;
}

.top-dial {
    /* padding-top: 4px; */
    /* padding-right: 15px; */
    /* padding-bottom: 1px; */
    /* padding-left: 22px; */
    padding: 2px 15px 0;
    line-height: 1;
    text-align: left;
    position: relative;
    overflow: hidden;
}

/*ラベル*/
.top-dial-date-title {
    color: #c9c9ca;
    margin: 0;
    font-size: 7px;
}

/*フリーテキスト*/
.top-dial-label {
    color: #c9c9ca;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0 0 0;
    letter-spacing: .03em;
    width: 100%;
    clear: both;
    line-height: 21px;
}

/*フリーテキスト*/
.top-dial-text {
    display: block;
    float: left;
}

.top-dial-icon {
    display: block;
    background: no-repeat center center;
    background-image: url(../../images/2/top-tel-icon.png);
    content: "";
    top: 6px;
    width: 23px;
    height: 23px;
    background-size: 11px;
    border-radius: 2px;
    background-color: #ff6e01;
    margin: 4px 0 0 0;
    position: static;
    float: left;
    }

 .top-dial-icon-g {
    display: block;
    background: no-repeat center center;
    background-image: url(../../images/2/top-tel-icon.png);
    content: "";
    top: 5px;
    width: 23px;
    height: 23px;
    background-size: 11px;
    border-radius: 2px;
    background-color: #c9c9ca;
    margin: 4px 0 0 0;
    position: static;
    float: left;
    }

/*電話番号*/
.top-dial-number {
    position: relative;
    padding-left: 9px;
    /* margin-left: 13px; */
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1.3px;
    margin: 8px 0 0 0;
    color: #c9c9ca;
    display: inline-block;
    vertical-align: middle;
}

/*お問い合わせ窓口バージョン*/
.top-dial-normal {
    color: #ff6e01;
}

/*お問い合わせフォーム*/
.top-dial-btn a {
    margin: 0;
    line-height: 34px;
    font-size: 14px;
    height: 34px;
    background-color: #ff6e01;
}

.top-dial-btn {
    margin: 10px 15px 0;
    padding-bottom: 0;
    clear: both;
}

.top-date-item-info {
    color: #fff;
    font-size: 14px;
    margin: 10px 0 0 0;
    line-height: 1.4;
}

@media screen and (min-width: 768px) {
    .top-contact-columns:after {
        display: block;
        content: "";
    }

    /*カレンダー*/
    .top-calendar-attantion-list {
        padding-left: 6%;
        padding-top: 20px;
        overflow: hidden;
    }

    .top-calendar-attantion .calendar-icon {
        display: inline-block;
        background-color: #2da862;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        float: left;
        margin-right: 5px;
    }

    .top-contact-title,
    .top-dial-release-title,
    .top-dial-attantion-title {
        /* margin-bottom: 9px; */
        padding-top: 14px;
        font-size: 18px;
        clear: both;
        border-bottom: 1px solid #fff !important;
    }

    .top-dial {
        /* padding-top: 0px; */
        /* padding-right: 34px; */
        /* padding-bottom: 1px; */
        /* padding-left: 34px; */
        margin-bottom: 7px;
        margin-left: 0;
        overflow: hidden;
        padding: 0 30px 0;
    }


    .top-dial-date-title {
        font-size: 14px;
        width: 100%;
        margin: 0 0 8px 0;
    }

    .top-contact-title {
        margin-bottom: 26px；
        padding-left: 0;
        padding: 18px 0 9px 0;
    }

    .top-dial-normal {
        margin-bottom: 4px;
    }

    .top-dial-normal .top-dial-label {
        padding-left: 10px;
    }

    .top-dial-btn {
        padding-bottom: 0;
        margin: 30px 0 0 0;
    }

    .top-dial-btn a {
        width: 264px;
        height: 59px;
        margin: 0 auto;
        font-size: 18px;
        line-height: 60px;
        font-weight: bold;
    }

    .top-dial-number {
        font-size: 22px;
        letter-spacing: 0.00em;
        margin: 8px 0;
    }

    .top-dial-number.top-dial-normal {
        font-size: 27px;
        letter-spacing: 0.00em;
        margin: 16px 0 0 6px;
        display:inline-block;
        vertical-align:middle;
        letter-spacing: 2.1px;
    }

    .top-dial-label {
        padding-top: 20px;
        /* padding-bottom: 28px; */
        padding-left: 0;
        font-size: 16px;
        width: 100%;
        float: left;
        line-height: 1.4;
    }

    .top-dial-icon {
        top: 7px;
        width: 46px;
        height: 46px;
        background-size: 23px;
        border-radius: 5px;
        margin: 6px 0 0 0;
    }

     .top-dial-icon-g {
        top: 2px;
        width: 30px;
        height: 30px;
        background-size: 16px;
        border-radius: 5px;
        margin: 2px 0 0 0;
    }
}

@media screen and (min-width: 980px) {
    .top-contact-columns {
        border-bottom: none;
        padding-top: 0;
    }

     .top-date-container {
        margin-bottom: 92px;
        width: 25%;
        float: right;
        padding-top: 4px;
    }

    .top-contact-container,
    .top-ownership-container,
    .top-emergency-container {
        width: 32.5%;
        float: left;
        margin: 0 0 0 1.2%;
        padding-bottom: 20px;
    }

    .top-contact-container {
        margin-right: 1.2%;
    }

    .top-emergency-container {
        margin-left: 1.2%;
    }


    .top-dial-date-title {
        margin-left: 0px;
        margin-top: 0px;
        font-size: 12px;
        margin-bottom: 0;
        margin: 0 0 5px 0;
    }

    .top-contact-title,
    .top-dial-release-title,
    .top-dial-attantion-title {
        font-size: 17px;
        letter-spacing: 2px;
        position: relative;
        /* top: 50%; */
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .top-dial-btn{
        margin: 27px 22px 0;
    }

    .top-dial-btn a {
        margin-top: -10px;
        line-height: 26px;
        font-size: 14px;
        width: auto;
        height: 26px;
    }

    .top-dial {
        margin-left: 20px;
        padding-left: 0;
        padding-right: 20px;
    }

    .top-dial-normal .top-dial-date {
        display: block;
        float: left;
        padding-left: 19px;
        color: black;
    }

    .top-dial-normal .top-dial-text {
        font-size: 14px;
        color: black;
    }

    .top-dial-normal .top-dial-date:after {
        content: "：";
    }

    .top-dial-normal .top-dial-date-title {
        margin-bottom: 5px;
    }

    .top-dial-normal {
        margin-bottom: 5px;
    }

    .top-dial-wednesday:after,
    .top-dial-tuesday:after,
    .top-dial-number:after {
        top: 3px;
        left: 0;
    }

    .top-dial-label {
        letter-spacing: 0;
        font-size: 14px;
        padding-top: 8px;
        line-height: 20px;
    }

    .top-dial-number {
        font-size: 16px;
        margin: 7px 0 7px 0;
        letter-spacing: 0.00em;
        padding-left: -1px;
    }

    .top-dial-number.top-dial-normal{
        font-size: 19px;
        letter-spacing: 0.00em;
        margin: 21px 0;
        margin: 0 0 0 0;
    }

    .top-dial-icon {
        top: 5px;
        width: 20px;
        height: 20px;
        background-size: 10px;
        border-radius: 5px;
        margin: 0 0 0 0;
    }

     .top-dial-icon-g {
        top: 5px;
        width: 20px;
        height: 20px;
        background-size: 10px;
        border-radius: 5px;
        margin: 2px 0 0 0;
    }

    .top-date-list {
    margin: 18px 0 17px 26px;
    }

    .top-date-item {
        width: 95%;
        float: none;
        margin-left: 0;
        margin-right: 20px;
        letter-spacing: 0em;
    }

    .top-date-title.top-block-title {
        margin-right: 23px;
        margin-left: 28px;
        margin: 0 0 0 0;
    }
}

@media screen and (min-width: 1366px) {
    .top-contact-title {
        margin-bottom: 0;
        font-size: 17px;
    }
    .top-dial-btn{
        margin: 27px 22px 0;
    }

    .top-dial-btn a {
        width: auto;
        line-height: 26px;
    }

    .top-contact-columns {
        width: 100%;
    }

    .top-dial {
        margin-bottom: 0px;
    }

    .top-dial-label {
        font-size: 18px;
        letter-spacing: 0.05em;
    }

    .top-dial-date-title {
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 6px;
    }

    .top-dial-number {
        padding-left: 10px;
        font-size: 16px;
    }

    .top-dial-wednesday:after,
    .top-dial-tuesday:after,
    .top-dial-number:after {
        left: 0px;
        top: 3px;
    }

    .top-dial-label {
        letter-spacing: 0;
        font-size: 14px;
        padding-top: 0px;
        padding-bottom: 0;
        line-height: 20px;
        margin: 6px 0 0 0;
    }

    .top-dial-number {
        font-size: 16px;
    }

    .top-dial-number.top-dial-normal{
        font-size: 18px;
        margin: -1px 0 0 0;
        padding-left: 5px;
        letter-spacing: 0.4px;
    }


}

@media screen and (min-width: 1680px) {
    .top-contact-columns {
        margin: 9px;
        width: auto;
    }

    .top-contact-container,
    .top-ownership-container,
    .top-emergency-container {
        width: 100%;
        /* margin: 12px; */
        /* margin-right: 0; */
        /* margin-left: 0; */
        margin: 30px 0 0 0;
    }

    .top-date-container {
        margin-bottom: 9px;
        width: 100%;
    }

    .top-date-title {
        border-width: 1px;
    }

    .top-dial-normal .top-dial-text {
        font-size: 14px;
        /* padding-left: 24px; */
    }

    .top-dial-normal .top-dial-label {
        position: absolute;
        top: 83px;
        left: 50px;
    }

    .top-dial-normal .top-dial-icon {
        width: 47px;
        height: 46px;
        background-size: 23px;
        border-radius: 5px;
        background-image: url(../../images/2/top-tel-icon.png);
        top: 0;
    }

    .top-contact-title {
        margin: 0;
        border-bottom: 0;
        padding-top: 13px;
        padding-bottom: 9px;
    }

    .top-dial-number {
        font-size: 19px;
        position: relative;
        letter-spacing: 0.06em;
        font-weight: bold;
        float: left;
    }

    .top-dial-number:after {
        width: 47px;
        height: 46px;
        background-size: 23px;
        border-radius: 5px;
        background-image: url(../../images/2/top-tel-icon.png);
        vertical-align:middle;
    }

    .top-dial-normal .top-dial-date {
        display: block;
        position: absolute;
        left: 79px;
        top: 87px;
        font-size: 12px;
        color: #333333;
        padding-left: 24px;
    }

    .top-dial-normal {
        margin-left: 0;
        margin-bottom: 3px;
    }

    .top-dial-number.top-dial-normal  {
        font-size: 27px;
        display:inline-block;
        vertical-align:middle;
        margin: 18px 0 0 0;
        letter-spacing: 0.02em;
        padding-left: 12px;
        line-height: 24px;
    }

    .top-calendar-attantion-list {
        padding-left: 60px;
        padding-top: 20px;
        overflow: hidden;
    }

    .top-contact-columns {
        float: none;
        border-left: 0;
    }

    .top-dial-btn {
        padding-bottom: 0;
        margin: 26px 30px 0;
    }

    .top-dial-btn a {
        width: 100%;
        height: 40px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 40px ;
    }

    .top-dial-label {
        margin-bottom: 0;
        margin-top: 25px;
        border-bottom: 0;
        font-size: 14px;
    }

    .top-dial {
        padding: 0 30px 0px;
        margin: 0;
    }

    .top-dial-icon {
        top: 7px;
        width: 46px;
        height: 46px;
        background-size: 23px;
        border-radius: 5px;
        margin: 7px 0 0 0;
    }

    .top-dial-icon-g {
        top: 12px;
        width: 29px;
        height: 29px;
        background-size: 12px;
        border-radius: 5px;
        margin: 10px 0 0 0;
    }

    .top-dial-date-title {
        font-size: 14px;
        margin-top: 0;
        clear: both;
        width: 100%;
    }

    .top-contact-title,
    .top-dial-release-title,
    .top-dial-attantion-title {
        font-size: 18px;
        letter-spacing: 0px;
        position: relative;
        top: 50%;
        padding-top: 16px;
    }

     .top-date-item {
        width: 100%;
        margin-right: 0;
    }
}

