@charset "UTF-8"; /*****/
#top-blog-container {
    padding-bottom: 39px;
}

#top-blog-container .tc-title {position: relative;}

#top-blog-container .top-blog-list {
    width: 102%;
    margin-top: 2%;
    margin-left: -1%;
    overflow: hidden;
}

#top-blog-item {
    width: 98%;
    float: left;
    background-color: #333333;
    color: #808080;
    line-height: 130%;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    margin-bottom: 2.5%;
    overflow: hidden;
    padding-bottom: 0;
}

#top-blog-item a {
    overflow: hidden;
    display: block;
    height: 100%;
    min-height: 8em;
}

#top-blog-item .top-blog-item-shopname {
    background-color: #a0a0a0;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 100%;
}

#top-blog-item .top-blog-item-date {
    padding-top: 6px;
    padding-left: 2%;
    font-size: 11px;
    color: #c9c9ca;
}

#top-blog-item .top-blog-item-title {
    padding-top: 4px;
    padding-left: 2%;
    width: 55%;
    font-size: 14px;
    font-weight: bold;
    color: #9f9fa0;
    /* min-height: 3em; */
    line-height: 130%;
}

#top-blog-item .top-blog-item-text {
    padding-top: 9px;
    padding-left: 2%;
    width: 98%;
    font-size: 12px;
    color: #9f9fa0;
    line-height: 130%;
}

#top-blog-item .top-blog-item-image {
    width: 100px;
    position: absolute;
    top: 26px;
    right: 3%;
    width: 27%;
    height: 43%;
    text-align: center;
}

#top-blog-item .top-blog-item-image img {
    height: auto;
    width: auto;
}

@media screen and (min-width: 768px) {
    #top-blog-container .tc-title {
    }

    #top-blog-container .top-blog-list {
        width: 102%;
        margin-top: 2%;
        margin-left: -1%;
        overflow: hidden;
    }

    #top-blog-item {
        width: 98%;
        float: left;
        line-height: 130%;
        margin-left: 1%;
        margin-right: 1%;
        position: relative;
        margin-bottom: 2%;
        overflow: hidden;
        padding-bottom: 0;
    }

    #top-blog-item a {
        overflow: hidden;
        display: block;
        height: 100%;
        min-height: 11.5em;
    }

    #top-blog-item .top-blog-item-shopname {
        font-size: 14px;
        font-weight: bold;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 7px;
        padding-right: 7px;
    }

    #top-blog-item .top-blog-item-date {
        padding-top: 23px;
        padding-left: 17px;
        font-size: 14px;
    }

    #top-blog-item .top-blog-item-title {
        padding-top: 8px;
        padding-left: 16px;
        width: 100%;
        padding-right: 200px;
        font-weight: bold;
        line-height: 150%;
    }

    #top-blog-item .top-blog-item-text {
        padding-top: 20px;
        padding-left: 17px;
        width: 100%;
        padding-right: 200px;
        font-size: 14px;
        line-height: 150%;
    }

    #top-blog-item .top-blog-item-image {
        width: 100px;
        position: absolute;
        top: 50px;
        right: 20px;
        width: 164px;
        height: 60%;
        text-align: center;
    }

    #top-blog-item .top-blog-item-image img {
        height: auto;
        width: auto;
    }
}

@media screen and (min-width: 980px) {
    #top-blog-container .tc-title {
    }

    #top-blog-container .top-blog-list {
        width: 102%;
        margin-top: 2%;
        margin-left: -1%;
        overflow: hidden;
    }

    #top-blog-item {
        width: 48%;
        float: left;
        line-height: 130%;
        margin-left: 1%;
        margin-right: 1%;
        position: relative;
        margin-bottom: 2%;
        overflow: hidden;
        padding-bottom: 0;
    }

    #top-blog-item a {
        overflow: hidden;
        display: block;
        height: 100%;
        min-height: 180px;
    }

    #top-blog-item .top-blog-item-shopname {
        font-size: 12px;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 7px;
        padding-right: 7px;
    }

    #top-blog-item .top-blog-item-date {
        padding-top: 14px;
        padding-left: 17px;
        font-size: 14px;
    }

    #top-blog-item .top-blog-item-title {
        padding-top: 5px;
        padding-left: 16px;
        width: 60%;
        font-size: 15px;
        font-weight: bold;
        line-height: 150%;
        padding-right: 0px;
    }

    #top-blog-item .top-blog-item-text {
        padding-top: 4px;
        padding-left: 17px;
        width: 60%;
        font-size: 14px;
        padding-right: 0px;
    }

    #top-blog-item .top-blog-item-image {
        width: 100px;
        position: absolute;
        top: 44px;
        right: 20px;
        width: 35%;
        height: 60%;
        text-align: center;
    }

    #top-blog-item .top-blog-item-image img {
        height: auto;
        width: auto;
    }
}

@media screen and (min-width: 1366px) {
    #top-blog-container .tc-title {
    }

    #top-blog-container .top-blog-list {
        width: 102%;
        margin-top: 2%;
        margin-left: -1%;
        overflow: hidden;
    }

    #top-blog-item {
        width: 48%;
        float: left;
        line-height: 130%;
        margin-left: 1%;
        margin-right: 1%;
        position: relative;
        margin-bottom: 2%;
        overflow: hidden;
        padding-bottom: 0;
    }

    #top-blog-item a {
        overflow: hidden;
        display: block;
        height: 100%;
        min-height: 180px;
    }

    #top-blog-item .top-blog-item-shopname {
        font-size: 12px;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 7px;
        padding-right: 7px;
    }

    #top-blog-item .top-blog-item-date {
        padding-top: 14px;
        padding-left: 17px;
        font-size: 14px;
    }

    #top-blog-item .top-blog-item-title {
        padding-top: 2px;
        padding-left: 16px;
        width: 55%;
        font-weight: bold;
        line-height: 150%;
        padding-right: 0px;
    }

    #top-blog-item .top-blog-item-text {
        padding-top: 4px;
        padding-left: 17px;
        width: 55%;
        font-size: 14px;
        padding-right: 0px;
    }

    #top-blog-item .top-blog-item-image {
        width: 100px;
        position: absolute;
        top: 45px;
        right: 20px;
        width: 35%;
        height: 60%;
        text-align: center;
    }

    #top-blog-item .top-blog-item-image img {
        height: auto;
        width: auto;
    }
}

@media screen and (min-width: 1680px) {
    #top-blog-container .tc-title {
    }

    #top-blog-container .top-blog-list {
        width: 102%;
        margin-top: 2%;
        margin-left: -1%;
        overflow: hidden;
    }

    #top-blog-item {
        width: 48%;
        float: left;
        line-height: 130%;
        margin-left: 1%;
        margin-right: 1%;
        position: relative;
        margin-bottom: 2%;
        overflow: hidden;
        padding-bottom: 0;
    }

    #top-blog-item a {
        overflow: hidden;
        display: block;
        height: 100%;
        min-height: 180px;
    }

    #top-blog-item .top-blog-item-shopname {
        font-size: 13px;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 7px;
        padding-right: 7px;
    }

    #top-blog-item .top-blog-item-date {
        padding-top: 12px;
        padding-left: 19px;
        font-size: 14px;
    }

    #top-blog-item .top-blog-item-title {
        padding-top: 5px;
        padding-left: 19px;
        width: 55%;
        font-weight: bold;
        font-size: 14px;
        line-height: 150%;
        padding-right: 0px;
    }

    #top-blog-item .top-blog-item-text {
        padding-top: 5px;
        padding-left: 19px;
        width: 55%;
        font-size: 14px;
        padding-right: 0px;
    }

    #top-blog-item .top-blog-item-image {
        width: 100px;
        position: absolute;
        top: 44px;
        right: 20px;
        width: 35%;
        height: 60%;
        text-align: center;
    }

    #top-blog-item .top-blog-item-image img {
        height: auto;
        width: auto;
    }
}
