#sortmenu .search-info .button-clear {
    border: 2px solid #c387be;
    color: #c387be;
}

#store-list .inner .store_btn_detail a {
    color: #c387be;
}

#store-list .inner .store_btn_detail {
    border: 2px solid #c387be;
    color: #c387be;
}
#section-calendar .calendar-inner .right-wrap .phone-number div a {
    color: #c387be;
}
#section-calendar .calendar-inner .right-wrap .phone-number div {
    color: #c387be;
    border: solid 2px #c387be;
}
