#sortmenu .search-info .button-clear {
    border: 2px solid #49b32c;
    color: #49b32c;
}

#store-list .inner .store_btn_detail a {
    color: #49b32c;
}

#store-list .inner .store_btn_detail {
    border: 2px solid #49b32c;
    color: #49b32c;
}
#section-calendar .calendar-inner .right-wrap .phone-number div a {
    color: #49b32c;
}
#section-calendar .calendar-inner .right-wrap .phone-number div {
    color: #49b32c;
    border: solid 2px #49b32c;
}
