#sortmenu .search-info .button-clear {
    border: 2px solid #c387be;
    color: #c387be;
}

#store-list .inner .store_btn_detail a {
    color: #c387be;
}

#store-list .inner .store_btn_detail {
    border: 2px solid #c387be;
    color: #c387be;
}
#section-calendar .calendar-inner .right-wrap .phone-number div a {
    color: #ff6f00;
}
#section-calendar .calendar-inner .right-wrap .phone-number div {
/*    color: #c387be;
    border: solid 2px #c387be;*/
}

#section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .label {
/*  color: #c387be;*/
}

#section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .icon img {
/*  background-color: #c387be;*/
}

#section-calendar .calendar-inner .right-wrap .phone-number .top-dial-btn {
    border: 2px solid #c387be;
    color: #c387be;
}

#section-calendar .calendar-inner .right-wrap .phone-number .top-dial-btn a {
    color: #c387be;
}
