.tc-title-type-01 {
  font-size: 17px;
  font-weight: 600;
  line-height: 40px;
  height: 40px;
  padding-left: 15px;
  letter-spacing: .16em;
  border-top: 1px solid;
  border-bottom: 1px solid #ccc;
  background-color: #fff; }

.tc-title-type-02 {
  font-size: 15px;
  line-height: 19px;
  position: relative;
  margin-bottom: 12px;
  padding-bottom: 2px;
  padding-left: 16px;
  letter-spacing: .07em;
  border-bottom: 1px solid #d3d3d3; }

.tc-title-type-02:after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 13px;
  height: 13px;
  margin-top: -7px;
  content: '';
  background-color: #000; }

.tc-title-type-03-reg {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  line-height: 1;
  padding-bottom: 9px;
  border-bottom: 1px solid #eeeeee;
  }

.tc-title-type-04 {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  }

@media screen and (min-width: 641px) {
  .tc-title-type-03-reg {
    font-size: 24px;
    padding-bottom: 22px; }
  .tc-title-type-04 {
    font-size: 20px;
    letter-spacing: 0.1em; } }
