.top-related-list {
  list-style: none;
  margin: 0;
  margin-top: 21px;
  padding: 0 16px; }

.top-related-item {
  float: left;
  width: 47.8%;
  margin-bottom: 4px; }

.top-related-item:nth-child(2n) {
  float: right; }

.top-related-item img {
  width: 100%;
  height: auto; }

@media screen and (min-width: 768px) {
  .top-related-item {
    width: 31.9%;
    margin-right: 2%; }
  .top-related-item:nth-child(3n) {
    margin-right: 0; }
  .top-related-item:nth-child(2n) {
    float: left; } }
@media screen and (min-width: 980px) {
  .top-related-item {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1366px) {
  .top-related-list {
    width: 1011px;
    margin: 0 auto;
    margin-top: 21px;
    overflow: hidden;
    } 
  .top-related-item
  {width: 318px;margin-right: 0;margin-right: 10px;}
}

@media screen and (min-width: 1680px) {
  .top-related-list {
    width: 1038px;
    margin: 0 auto;
    margin-top: 21px; }
  
  .top-related-item {
    
  }
}
