.top-slide-container {
  margin-bottom: 71px;
  }

.top-slide-item {
  width: 100%; }

.top-slide-item img {
  width: 100%;
  height: auto; }

.top-pager-list {
  text-align: center; }

.top-pager-item {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #909090; }

.slick-active .top-pager-item {
  background-color: #ff6e01; }

.slick-dots {
  list-style: none;
  height: 6px;
  margin: 0;
  margin-top: 9px;
  padding: 0;
  text-align: center; }

.slick-dots > li {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
  cursor: pointer; }

.slick-dots > li:last-child {
  margin-right: 0; }

@media screen and (min-width: 768px) {
  .slick-dots {
    height: 12px;
    margin-top: 22px; }
  .slick-dots > li {
    margin-right: 12px; }
  .top-pager-item {
    width: 16px;
    height: 16px;
    } }

@media screen and (min-width: 980px) {
  .top-slide-container {
    margin-bottom: 103px;
    }
  .top-slide-list {
    position: relative; }
  .slick-dots {
    position: absolute;
    left: 0;
    bottom: -31px;
    width: 100%;
    }
  .slick-dots li {
    margin-right: 31px;
    } }

@media screen and (min-width: 980px) {
  .top-slide-container {
    margin-bottom: 105px;
    }
  .slick-dots {
    left: 0;
    bottom: -35px;
    } }

@media screen and (min-width: 1366px) {
  .top-slide-container {
    margin-bottom: 25px;
    } 
   
  .slick-dots {
    bottom: 20px;
  }
}

@media screen and (min-width: 1680px) {
 
   
  .slick-dots {
    width: auto;
    right: 28px;
    text-align: right;
    bottom: 26px;
  }

  .top-slide-container {
    margin-bottom: 33px;
  }
}

