.top-callendar-container {
    margin-bottom: 0;
    padding-top: 1px;
    padding-bottom: 19px;
    border-bottom: 1px solid #fff;
    text-align: center;
    box-sizing: border-box;
    background-color: #f5f5f5;
    overflow: hidden;
    z-index: 10;
}

.top-calendar-list {
    list-style: none;
    margin-right: 16px;
    margin-left: 26px;
    margin-top: -8px;
    padding-left: 0;
    text-align: left;
}

.top-calendar-top {
    box-sizing: border-box;
}

.top-calendar-bottom {
    display: none;
}

.top-calendar-attantion {
    padding-left: 25px;
    text-align: left;
    font-size: 13px;
    line-height: 15px;
}

.top-calendar-nav {
    /* display: none; */
}

.top-calendar-top img, .top-calendar-bottom img {
    width: 100%;
}

.top-calendar-nav {
    background-color: white;
    border: 2px solid #ff6e01;
}

.top-calendar-nav {
    /* display: none; */
}

.top-calendar-bottom {
    /* margin-bottom: 10px; */
    display: none;
}

.top-calendar-attantion {
    padding-left: 15px;
}

.top-calendar-nav {
    /* display: none; */
}

.top-calendar-top .calendar-image {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.top-calendar-bottom .calendar-image {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.top-calendar-top .calendar-image img {
    width: 100%;
}

.top-calendar-bottom .calendar-image img {
    width: 100%;
}

.top-calendar-attantion .calendar-icon {
    display: inline-block;
    background-color: #2da862;
    border-radius: 50%;
}

.top-calendar-attantion .calendar-icon-holiday {
    border-radius: 0%;
}

.top-calendar-attantion {
    font-size: 12px;
    float: left;
    padding-right: 20px;
    padding-left: 0;
    padding-bottom: 10px;
}

.top-calendar-attantion .calendar-icon {
    width: 14px;
    height: 14px;
    float: left;
    margin-right: 5px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.top-calendar-nav-prev a {
    background: url(../../images/6/top-arrow-left-icon.png) 10% center no-repeat;
    background-size: 5px 8px;
}

.top-calendar-nav-next a {
    background: url(../../images/6/top-arrow-right-icon.png) 90% center no-repeat;
    background-size: 5px 8px;
}

.top-calendar-nav-prev .tc-btn-b {
    padding-right: 10px;
    padding-left: 22px;
    background-color: initial;
}

.top-calendar-nav-next .tc-btn-b {
    padding-right: 18px;
    padding-left: 14px;
    background-color: initial;
}

@media screen and (max-width: 767px) {
    .top-calendar-nav-prev a {
        background:none;
        background-size: 5px 8px;
    }

    .top-calendar-nav-next a {
        /* background: none; */
        background-size: 5px 8px;
    }

    .top-calendar-nav {
        /* display: none; */
        margin-bottom: 20px;
        background: none;
        /* background-color: #4d4d4d; */
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        width: 50%;
        float: left;
    }

    .top-calendar-nav {
        /* display: none; */
        margin-bottom: 10px;
        border: none;
    }

    .top-calendar-nav a {
        width: auto;
        display: block;
        border: none;
        color: #fff;
        border-radius: 0;
        margin: 0 10px;
        line-height: 29px;
        position: relative;
    }

    .top-calendar-top, .top-calendar-bottom {
        display: none;
        margin-bottom: 4px;
        padding-bottom: 17px;
    }

    .top-calendar-top img, .top-calendar-bottom img {
        width: 96.6%;
    }

    .top-calendar-column {
        position: relative;
        margin-bottom: 18px;
        top: -2px;
    }

    .top-calendar-nav-prev a {
        background: url(../../images/1/top-arrow-left-icon.png) 14px center no-repeat;
        background-size: 5px 8px;
    }

    .top-calendar-nav-next a:after {
        width: 5px;
        height: 8px;
        position: absolute;
        right: 10px;
        top: 50%;
        content: "";
        display: block;
        margin-top: -4px;
        background: url(../../images/1/top-arrow-right-icon.png) left top no-repeat;
        background-size: 5px 8px;
    }

    .top-calendar-attantion-list {
        padding-left: 20px;
    }

    .top-calendar-attantion {
        font-size: 12px;
        float: left;
        padding-right: 20px;
        padding-left: 0;
        display: block;
        clear: both;
        padding-bottom: 10px;
    }

    .top-calendar-column-pc {
        display: none;
    }

    .top-calendar-column {
        position: relative;
        margin-bottom: 15px;
        margin-top: 15px;
        clear: both;
    }

    .top-calendar-nav-prev a {
        background: url(../../images/5/top-arrow-left-icon.png) 10% center no-repeat;
        background-size: 5px 8px;
    }


    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    .top-calendar-title {
        margin-bottom: 22px;
        padding-top: 17px;
        border-top: 1px solid #fff;
        clear: both;
    }

    .top-calendar-nav-prev .tc-btn-b {
        background-color: white;
        border: 2px solid #ff6e01;
        color: #ff6e01;
        line-height: 41px;
        margin-right: 0;
        border-right-width: 1px;
    }

    .top-calendar-nav-next .tc-btn-b {
        background-color: white;
        border: 2px solid #ff6e01;
        color: #ff6e01;
        line-height: 41px;
        margin-left: 0;
        border-left-width: 1px;
    }
}

@media screen and (min-width: 768px) {
    .top-callendar-container {
        margin-bottom: 0;
        padding-bottom: 29px;
    }

    .top-calendar-bottom .calendar-image {
        position: relative;
        width: 90%;
        margin: 0 auto;
    }

    .top-calendar-list:after {
        display: block;
        clear: both;
        content: "";
    }

    .top-calendar-top, .top-calendar-bottom {
        box-sizing: border-box;
        float: left;
        width: 50%;
        border-right: 1px solid #fff;
        border-bottom: none;
    }

    .top-calendar-top img {
        width: 91%;
        height: auto;
    }

    .top-calendar-bottom {
        float: left;
        padding-left: 10px;
        width: 50%;
        /* display: block; */
        padding-right: 10px;
    }

    .top-calendar-title {
        padding-top: 28px;
        margin-bottom: 39px;
        position: absolute;
    }

    .top-calendar-list {
        margin-top: 82px;
    }

    .top-calendar-attantion {
        /* padding-left: 19px; */
        font-size: 14px;
    }

    .top-calendar-attantion:before {
    }

    .top-calendar-attantion-list {
        padding-left: 35px;
        padding-top: 40px;
    }

    .top-calendar-column {
        display: none;
    }

    .top-calendar-column-pc {
        position: relative;
        display: block;
        /* overflow: hidden; */
        float: right;
        padding-right: 52px;
        padding-bottom: 10px;
    }

    .top-calendar-column-pc {
        position: relative;
        display: block;
        /* overflow: hidden; */
        float: left;
        padding: 0 15px 22px;
        padding-bottom: 10px;
        width: 100%;
        /* display: none; */
        margin: 0;
        margin-top: 25px;
    }

    .top-calendar-column-pc-box {
        box-sizing: border-box;
        float: left;
        width: 50%;
        margin-right: 1.04%;
        margin-bottom: 8px;
        border-bottom: none;
        height: 25px;
        margin-right: 0;
        position: relative;
    }

    .top-calendar-column-pc-btn {
        position: absolute;
        right: 0;
        top: 0;
        /* overflow: hidden; */
        height: 25px;
    }

    .top-calendar-nav-prev {
        position: relative;
        float: left;
    }

    .top-calendar-nav-next {
        position: relative;
        float: left;
        margin-left: 3px;
    }

    .top-calendar-nav a {
        height: 25px;
        line-height: 26px;
        padding: 0 16px;
        border: none;
        color: #ff6e01;
    }
}

.top-calendar-bottom img {
    width: 97%;
    height: auto;
}

@media screen and (min-width: 980px) {
    .top-callendar-container {
        float: left;
        width: 65.2%;
        margin-bottom: 0;
        padding-top: 0;
        border-bottom: 0;
    }

    .top-calendar-title {
        margin-bottom: 10px;
        padding-top: 29px;
        position: absolute;
    }

    .top-calendar-list {
        margin-top: 74px;
        padding-left: 4px;
    }

    .top-calendar-bottom {
        padding-left: 17px;
        border-right: 0;
    }

    .top-calendar-attantion {
        /* padding-left: 18px; */
    }

    .top-calendar-attantion {
    }
}

@media screen and (min-width: 1366px) {
    .top-callendar-container {
        width: 63.9%;
    }

    .top-callendar-container {
        padding: 0;
        width: 100%;
        position: relative;
        padding-bottom: 34px;
        border-bottom: 1px solid #fff;
    }

    .top-calendar-bottom {
        padding-left: 30px;
    }

    .top-calendar-contact {
        float: left;
        width: 50%;
        box-sizing: border-box;
        position: relative;
    }

    .top-calendar-title {
        position: absolute;
        left: 10px;
        top: 13px;
        border-top: none;
    }

    .top-calendar-list {
        padding: 0;
        margin: 0;
    }

    .top-calendar-column-pc {
        position: relative;
        display: block;
        /* overflow: hidden; */
        float: initial;
        padding-bottom: 0;
        padding-top: 0;
        width: 100%;
        margin: 0;
        padding: 0 17px 22px;
        padding-right: 8px;
        margin-top: 40px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .top-calendar-column-pc-box {
        box-sizing: border-box;
        float: left;
        margin-bottom: 0;
        border-bottom: none;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-top: 20px;
        padding-right: 0;
        width: 50%;
    }

    .top-calendar-column-pc-btn {
        position: absolute;
        right: 20px;
        top: 0;
        /* overflow: hidden; */
        height: 25px;
    }

    .top-calendar-column {
        position: relative;
        display: none;
    }

    .top-calendar-top img,.top-calendar-bottom img {
        width: 269px;
    }

    .top-calendar-top, .top-calendar-bottom {
        padding-left: 32px;
        padding-top: 119px;
    }

    .top-calendar-attantion {
        /* padding-left: 32px; */
    }

    .top-calendar-attantion {
    }

    .top-calendar-nav-prev {
        position: relative;
        float: left;
    }

    .top-calendar-nav-next {
        position: relative;
        float: left;
        margin-left: 4px;
    }

    .top-calendar-nav .tc-btn-b {
        border: 0;
        color: #ff6e01;
        border-radius: 0;
        line-height: 26px;
        height: 25px;
        /* padding: 0 16px; */
        /* padding-right: 10px; */
        /* padding-left: 22px; */
    }
}

@media screen and (min-width: 1680px) {
    .top-callendar-container {
        padding-top: 23px;
        padding-left: 2px;
    }

    .top-calendar-list {
        margin: 0;
        margin-left: 28px;
    }

    .top-calendar-top, .top-calendar-bottom {
        border: none;
        padding-left: 16px;
        padding-top: 110px;
        padding-bottom: 20px;
    }

    .top-calendar-top {
        width: 50%;
        padding-left: 0px;
    }

    .top-callendar-container {
        padding-bottom: 30px;
        padding-top: 0;
    }

    .top-calendar-list img {
        width: 326px;
    }

    .top-calendar-title {
        padding-top: 21px;
        padding-left: 18px;
    }

    .top-calendar-attantion {
        padding-top: 5px;
        /* padding-left: 30px; */
        font-size: 16px;
        display: block;
        /* clear: both; */
    }

    .top-calendar-attantion:before {
        width: 18px;
        height: 18px;
        margin-right: 2px;
    }

    .top-calendar-column-pc {
        padding-right: 17px;
    }
}
