.top-contact-container {
    padding-bottom: 15px;
    padding-top: 22px;
    padding-left: 0;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.top-contact-title {
    margin-bottom: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.top-dial {
    padding-left: 13px;
    line-height: 1;
    margin-bottom: 4px;
}

.top-dial-normal {
    margin-bottom: 10px;
    color: #ff6e01;
}

.top-dial-icon {
    display: none;
}

.top-dial-number {
    position: relative;
    padding-left: 32px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: .05em;
}

.top-dial-number:after {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background: url(../../images/6/top-tel-icon.png) no-repeat center center #ff6e01;
    background-size: 11px;
    content: "";
}

.top-dial-release .top-dial-number-ownership:after {
    background-color: #777;
}

.tel_a-ownership {
    color: #777;
}

.top-dial-date {
    display: none;
}

.top-dial-attantion {
    margin-bottom: 23px;
}

.top-dial-release {
    margin-bottom: 20px;
}

.top-dial-release .top-dial-number {
}

.top-dial-release .top-dial-label {
}

.top-dial-release .top-dial {
}

.top-dial-attantion-title {
    display: none;
}

.top-dial-date-title {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
}

.top-dial-date-title:after {
}

.top-dial.top-dial-wednesday .top-dial-number, .top-dial-tuesday .top-dial-number {
    display: inline-block;
    padding-left: 8px;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.06em;
}

.top-dial-wednesday .top-dial-number:after, .top-dial-tuesday .top-dial-number:after {
    display: none;
}

.top-dial.top-dial-wednesday .top-dial-number {
    margin-bottom: 1px;
}

.top-dial-label {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 5px;
}

.top-dial-text-area {
    padding-top: 11px;
    padding-bottom: 15px;
    line-height: 1.5em;
    font-size: 12px;
    color: #000;
}

.top-dial-normal {
  padding-right: 13px;
}

.top-dial-release {
  overflow: hidden;
  padding-left: 13px;
  padding-right: 13px;
}

.top-button-exists {
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .top-contact-columns {
        height: auto;
        background-color: #f5f5f5;
    }

    .top-contact-columns:after {
        display: block;
        clear: both;
        content: "";
    }

    .top-contact-container {
        float: left;
        width: 50%;
        height: auto;
        padding-left: 0;
        padding-bottom: 23px;
        border-bottom: 1px solid #fff;
    }

    .top-contact-title {
        margin-bottom: 28px;
        padding-top: 7px;
        text-align: left;
    }

    .top-dial {
        margin-bottom: 7px;
        margin-left: 8px;
    }

    .top-dial-normal {
        margin-bottom: 7px;
        padding-right: 18px;
    }

    .top-dial-date-title {
        font-size: 13px;
    }

    .top-dial.top-dial-wednesday .top-dial-number, .top-dial-tuesday .top-dial-number {
        font-size: 14px;
    }

    .top-dial-attantion {
        margin-bottom: 27px;
        overflow: hidden;
    }

    .top-dial-btn a {
        width: 332px;
        height: 54px;
        margin: -2px 20px;
        font-size: 17px;
        line-height: 50px;
    }

    .top-dial-release {
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    }

    #top-ownership-container {
      border-right: 1px solid #fff;
    }

    .top-dial-label {
      font-size: 12px;
      font-weight: bold;
      padding-bottom: 5px;
    }

    .top-button-exists {
    margin-bottom: 20px;
    }

    .top-contact-columns {
      position: relative;
    }

    .top-contact-columns:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: #fff;
    }
}

@media screen and (min-width: 980px) {
    .top-dial-attantion {
        margin-bottom: 21px;
    }

    .top-dial-btn a {
        margin-right: 20px;
        line-height: 48px;
        font-size: 18px;
        width: 282px;
        letter-spacing: 0;
        font-weight: 500;
    }

    .top-contact-columns {
        width: 100%;
        border-left: 1px solid #fff;
        border-bottom: none;
    }

    .top-contact-container {
        width: 50%;
        float: left;
        border-bottom: 1px solid #fff;
        height: auto;
        padding-top: 26px;
        padding-bottom: 23px;
    }

    .top-contact-title {
        margin-bottom: 31px;
        padding-top: 0px;
    }

    .top-dial-release {
        margin-bottom: 32px;
        padding-left: 21px;
        padding-right: 21px;
    }

    .top-dial-text-area {
      padding-top: 7px;
      font-size: 14px;
      color: #000;
    }

    .top-dial-normal {
      padding-right: 21px;
    }

    .top-dial-label {
      font-size: 12px;
      font-weight: bold;
      padding-bottom: 5px;
    }

    #top-ownership-container {
      border-right: 1px solid #fff;
    }

    .top-button-exists {
    margin-bottom: 20px;
    }
 }

@media screen and (min-width: 1366px) {
    .top-contact-container {
        padding-left: 10px;
        padding-top: 29px;
        padding-bottom: 29px;
        float: left;
        width: 33.3333%;
        height: auto;
        border-left: 1px solid #fff;
    }

    .top-contact-columns:before {
      display: none;
    }

    .top-dial-number:after {
      top: 0px;
    }

    .top-dial-btn {
        width:100%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .top-dial-btn a {
        width: 100%;
        font-size: 18px;
        margin: 30px 0 0 0;
        line-height: 44px;
        height: 50px;
    }

    .top-contact-columns {
        width: 100%;
        border-left: none;
        padding-bottom: 0;
        position: relative;
        border: 1px solid #fff;
    }

    .top-dial-text-area {
        padding-top: 20px;
        font-size: 14px;
        color: #000;
    }

    .top-contact-title {
        margin-bottom: 18px;
    }

  .top-dial-label {
      font-size: 12px;
      padding-bottom: 8px;
      font-weight: bold;
    }

  .top-dial-normal {
    padding-right: 18px;
    margin-bottom: 32px;
  }

  .top-dial-release {
      padding-left: 18px;
      padding-right: 18px;
    }

    #top-ownership-container {
      border-right: none;
    }
    .top-button-exists {
    margin-bottom: 20px;
    }
}

@media screen and (min-width: 1680px) {
    .top-contact-columns {
        width: auto;
    }

    .top-contact-title {
        margin-bottom: 20px;
    }

    .top-dial-number:after {
        width: 25px;
        height: 27px;
        background-size: 16px;
        top: 0px;
    }

    .top-dial-normal {
        margin-left: 8px;
        margin-bottom: 32px;
        padding-right: 20px;
    }

    .top-dial-normal .top-dial-number {
        padding-left: 33px;
        line-height: 32px;
    }

    .top-contact-columns {
        float: none;
        border-left: 0;
        border: 1px solid #fff;
    }

    .top-contact-container {
        padding-top: 21px;
        padding-bottom: 21px;
        float: left;
        width: 33.3333%;
    }

    .top-dial-btn {
        width:100%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .top-dial-btn a {
        width: 100%;
        font-size: 18px;
        margin: 30px 0 0 0;
        line-height: 44px;
        height: 50px;
    }

    .top-dial-text-area {
        padding-top: 20px;
        font-size: 14px;
        color: #000;
    }

    .tel_a-ownership {
        font-size: 26px;
    }

    .top-dial-release {
        padding-left: 20px;
        padding-right: 20px;
    }

    .top-dial-label {
      font-size: 12px;
      padding-bottom: 8px;
      font-weight: bold;
    }
    .top-button-exists {
    margin-bottom: 20px;
    }
}
