.top-servicemenu-container {
   margin-top: 65px;
   margin-bottom: 65px;
}

.top-servicemenu-container .tc-title-type-03-reg {
   margin-bottom: 0px;
   border-bottom: none;
   letter-spacing: 0.2em;
}

.top-servicemenu-title {
   margin-bottom: 14px;
   padding-top: 20px;
   color: #333;
   font-size: 15px;
   text-align: center;
   letter-spacing: .1em;
   box-sizing: border-box;
}

.top-servicemenu-list {
   list-style: none;
   clear: both;
   margin: 0;
   padding: 0;
}

.top-servicemenu-list:after {
   display: block;
   clear: both;
   content: "";
}

.top-servicemenu-list {
   margin-bottom: 2px;
}

.top-servicemenu-item {
   overflow: hidden;
   position: relative;
   float: left;
   width: 33.3333%;
   padding-bottom: 13%;
   text-align: center;
}

.top-servicemenu-item a {
   text-decoration: none;
   display: block;
}

.top-servicemenu-item img {
   width: 66.7%;
   height: auto;
}

.top-servicemenu-item-text {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding-top: 74%;
   color: #ff6e01;
   font-size: 8px;
   text-align: center;
   letter-spacing: .03em;
   line-height: 1.4;
}

.top-servicemenu-item-pic {
  background: no-repeat center top;
  background-size: 100% auto;
  width: 65.64%;
  padding-bottom: 65.64%;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}



@media screen and (min-width: 768px) {
   .top-servicemenu-container {
      margin-bottom: 111px;
   }
   .top-servicemenu-container:after {
      display: block;
      clear: both;
      content: "";
   }
   .top-servicemenu-title {
      margin-bottom: 10px;
      padding-top: 35px;
      font-size: 20px;
   }
   .top-servicemenu-item {
      float: left;
      width: 33.333%;
      padding-bottom: 8.7%;
      margin-bottom: 11px;
      text-align: center;
   }
   .top-servicemenu-item img {
      position: relative;
      left: 0;
      width: 66%;
   }
   .top-servicemenu-list {
      margin-bottom: 16px;
      padding: 16px 57px 0;
   }
   .top-servicemenu-item-text {
      padding-top: 150px;
      font-size: 16px;
   }
   .top-servicemenu-item-pic {width: 140px;padding-bottom: 140px;}
}

@media screen and (min-width: 980px) {
   .top-servicemenu-item img {
      width: 100%;
      border-width: 2px;
   }
   .top-servicemenu-list {
      width: auto;
      margin: 0 auto 0;
      padding: 0px 0 0;
   }
   .top-servicemenu-title {
      margin-bottom: 21px;
      padding-top: 18px;
      font-size: 20px;
   }
   .top-servicemenu-item-text {
      padding-top: 150px;
      font-size: 16px;
   }
   .top-servicemenu-item {
      width: 20%;
      padding-bottom: 41px;
      margin-bottom: 40px;
   }

   .top-servicemenu-item:nth-child(5n) {
   }

   .top-servicemenu-item-pic {
      width: 140px;
      padding-bottom: 136px;
      border-width: 2px;
   }

   .top-servicemenu-container .tc-title-type-03-reg{
   margin-bottom: 29px;
   }

   .top-servicemenu-container {
     margin-bottom: 106px;
   }
}

@media screen and (min-width: 1366px) {
   .top-servicemenu-container {
      margin-bottom: 129px;
   }
   .top-servicemenu-item img {
      left: 0;
      width: 100%;
   }
   .top-servicemenu-item-text {
      padding-top: 110%;
      font-size: 17px;
   }
   .top-servicemenu-container .tc-title-type-03-reg {
      margin-bottom: 35px;
      letter-spacing: .18em;
   }
   .top-servicemenu-title {
      float: left;
      clear: both;
      width: 20%;
      padding-top: 5.4%;
      padding-left: 38px;
      text-align: left;
   }
   .top-servicemenu-list {
      float: left;
      clear: none;
      width: 80%;
      margin-bottom: 46px;
      padding: 0;
      padding-left: 8px;
   }
   .top-servicemenu-item {
      width: 12.9%;
      margin-right: 8.12%;
      padding-bottom: 60px;
      margin-bottom: -8px;
   }
   .top-servicemenu-item-pic {width: 100%;padding-bottom: 100%;}
   .top-servicemenu-item:nth-child(5n) {
     margin-right: 0;
   }
}

@media screen and (min-width: 1680px) {
   .top-servicemenu-container {
      margin-bottom: 74px;
   }
   .top-servicemenu-list {
      padding-left: 15px;
      border-left: 0;
   }
   .top-servicemenu-list li:last-child {
      border-right: 0;
   }

   .top-servicemenu-title {
      width: 18%;
      padding-top: 4.4%;
   }

   .top-servicemenu-item {
      overflow: visible;
      width: 15.4%;
      margin-right: 5.7%;
      margin-bottom: 0;
      padding-bottom: 4.3%;
   }

   .top-servicemenu-item-text {
      padding-top: 75.5%;
      text-align: center;
      white-space: nowrap;
   }

   .top-servicemenu-item img {
      width: 67.2%;
   }
   .top-servicemenu-item-pic {width: 68%;padding-bottom: 66.3%;border-width: 2px;margin: 0 auto;}
}
