@charset "UTF-8";
@import url(phv_font.css);
@import url(phv_modal.css);
@import url(phv_top_main.css);
@import url(phv_nav.css);
@import url(phv_main_contents.css);
@import url(phv_plan.css);
@import url(phv_lineup.css);
img.pc {
    display: block;
}
img.tab {
    display: none;
}
img.sp {
    display: none;
}
img.pc {
    display: block;
}
.br_tab {
    display: none;
}
.br_sp {
    display: none;
}
.br_pc {
    display: block;
}
.header {
    position: relative;
    height: 52px;
    line-height: 52px;
    background-color: #f18900;
}
.header h1 {
    font-size: 18px;
}
.header h1 a {
    color: #fff;
    text-decoration: none;
    margin: 0 0 0 30px;
}
.header img.logo_right {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 52px;
}

/* logoが画像の場合 */

.header.white {
    background-color: #fff;
    border-top: 10px solid #f18900;
    border-bottom: 1px solid #f2f2f2;
}
.header.white img.logo_store {
    position: absolute;
    left: 24px;
    top: 17px;
    width: auto;
    height: 18px;
}
.header.normal_logo_image img.logo_store {
    position: absolute;
    left: 24px;
    top: 17px;
    width: auto;
    height: 18px;
}

/* @media screen and (min-width: 1200px) {} */

@media screen and (max-width: 1199px) and (min-width: 740px) {
    img.pc {
        display: none;
    }
    img.sp {
        display: none;
    }
    img.tab {
        display: block;
    }
    .br_pc {
        display: none;
    }
    .br_tab {
        display: block;
    }
    .br_sp {
        display: none;
    }
}
@media screen and (max-width: 739px) {
    img.pc {
        display: none;
    }
    img.tab {
        display: none;
    }
    img.sp {
        display: block;
    }
    .br_pc {
        display: none;
    }
    .br_tab {
        display: none;
    }
    .br_sp {
        display: block;
    }
    .header {
        position: relative;
        height: 40px;
        line-height: 40px;
        background-color: #f18900;
    }
    .header h1 {
        font-size: 12px;
    }
    .header h1 a {
        color: #fff;
        text-decoration: none;
        margin: 0 0 0 10px;
    }
    .header img.logo_right {
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        height: 40px;
    }
    /* logoが画像の場合 */
    .header.white {
        border-top: 8px solid #f18900;
        height: 38px;
        line-height: 38px;
    }
    .header.white img.logo_store {
        left: 18px;
        top: 12px;
        width: auto;
        height: 12px;
    }
    .header.normal_logo_image img.logo_store {
        left: 18px;
        top: 12px;
        width: auto;
        height: 12px;
    }
}
