@charset "UTF-8";
.cf:after {
  content: "";
  clear: both;
  display: block;
}
.unit-img {
  width: auto;
}
.unit-img img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.unit-img-2column li, .unit-img-3column li {
  float: left;
}
.unit-img-2column li:first-child {
  margin-left: 0;
}
@media screen and (min-width: 1024px) {
  .unit-img {
    width: 100%;
    max-width: 980px;
    margin: 0 auto 80px;
  }
  /*unit-img-2column*/
  .unit-img-2column li {
    margin-left: 20px;
  }
  /*unit-img-3column*/
  .unit-img-3column {
    margin: 0 auto 70px;
  }
  .unit-img-3column li {
    width: 320px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .unit-img-3column li:nth-child(3n+1) {
    margin-left: 0;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .unit-img {
    margin: 0 auto 80px;
  }
  /*unit-img-2column*/
  .unit-img-2column li {
    width: 48.90109895%;
    margin-left: 2.1978021%;
  }
  /*unit-img-3column*/
  .unit-img-3column {
    margin: 0 auto 70px;
  }
  .unit-img-3column li {
    width: 32.4%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .unit-img-3column li:nth-child(3n+1) {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .unit-img {
    margin: 0 auto 60px;
  }
  .unit-img-2column li {
    float: none;
  }
  .unit-img-2column li:first-child {
    margin-bottom: 10px;
  }
  /*unit-img-3column*/
  .unit-img-3column {
    margin: 0 auto 50px;
  }
  .unit-img-3column li {
    float: none;
    width: auto;
    margin: 0 0 10px 0;
  }
}
