.unit-box .unit-box-subtitle {
    color: #118175;
}
.unit-box a {
    background-color: #118175;
}
.unit-btn-link {
    background-color: #118175;
}
.unit-btn-box-b {
    border: 1px solid #118175;
}
.unit-btn-text-b {
    background-color: #118175;
}
.unit-panel-title {
    color: #118175;
}
.unit-panel-btn {
    background-color: #118175;
}
.unit-section-title-1 {
    color: #118175;
}
.unit-section-title-2 {
    color: #118175;
}
.unit-section-title-3:before {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #118175;
    content: "";
}
