@charset "UTF-8";

#wrapper #container #content article {
  padding-top: 1px;
}
@media screen and (max-width: 767px) {
  #wrapper #container #content article {
    padding-top: 0;
  }
}
img {
  vertical-align: top;
}
.cf:after {
  content: "";
  clear: both;
  display: block;
}
.unit-article {
  max-width: 980px;
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  .unit-article {
    padding: 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .unit-article {
    padding: 0 10px;
  }
}
.unit-base {
  font-family: 'Noto Sans Japanese', メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
  max-width: 980px;
  margin: 0 auto;
}














/*blog*/

.unit-blog .unit-blog-title {
  font-weight: bold;
}
.unit-blog .unit-blog-pic img {
  width: 100%;
  height: auto;
}
.unit-blog-right .pic .caption {
  display: block;
}
@media screen and (min-width: 1024px) {
  .blog_section:nth-child(n+2) {
    margin-top: 50px;
  }
  .unit-blog {
    width: 910px;
    margin: 30px auto 100px;
  }
  .unit-blog .unit-blog-text-block {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .unit-blog .unit-blog-title {
    font-size: 22px;
  }
  .blog_date {
    font-size: 16px;
    margin-top: 15px;
  }
  .unit-blog-left {
    width: auto;
    /* margin: 30px 0 0 0; */
    float: none;
    line-height: 1.7;
  }
  .unit-blog-left.no-image {
    width: auto;
  }
  .unit-blog-right {
    width: auto;
    float: none;
    margin: 20px 0 0 0;
  }

  .unit-blog-right.pic-2{}
  .unit-blog-right.pic-2 .pic{
    float: left;
    width: 440px;
  }
    .unit-blog-right.pic-1 .pic{
    float: none;
    width: auto;
  }
  .unit-blog-right.pic-2 .pic:first-child{
    margin-right: 20px;
  }






  .unit-blog-right .pic:nth-child(n+2) {
    /* margin-top: 20px; */
  }
  .unit-blog-right .pic .caption {
    margin: 17px 0 0 0;
    font-size: 14px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .unit-blog .unit-blog-left, .unit-blog .unit-blog-right {
    float: none;
  }
  .unit-blog {
    width: auto;
    margin: 20px 2.6041666% 100px;
  }
  .blog_date {
    font-size: 16px;
    margin-top: 15px;
  }
  .unit-blog .unit-blog-text-block {
    width: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .unit-blog .unit-blog-title {
    font-size: 24px;
    letter-spacing: 1.3px;
    line-height: 1.5;
    margin-top: 0;
  }
  .unit-blog .unit-blog-text {
    font-size: 18px;
    margin-top: 5%;
    letter-spacing: 0;
    line-height: 1.5;
  }
  .unit-blog .unit-blog-pic {
    width: auto;
    margin: 20px auto 0;
  }
  .unit-blog .unit-blog-pic.pic-2 .pic{
    float: left;
    width: 49%;
  }
  .unit-blog .unit-blog-pic.pic-2 .pic:first-child{
    margin-right: 2%;
  }
  .unit-blog-right .pic .caption {
    margin-top: 5px;
    font-size: 12px;
  }
  .unit-blog-right .pic:nth-child(n+2) {
    /* margin-top: 7%; */
  }
}
@media screen and (max-width: 767px) {
  .unit-blog .unit-blog-left, .unit-blog .unit-blog-right {
    float: none;
  }
  .unit-blog {
    width: auto;
    margin: 0 3.90625% 50px;
  }
  .blog_date {
    font-size: 12px;
    margin-top: 10px;
  }
  .unit-blog .unit-blog-text-block {
    width: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .unit-blog .unit-blog-title {
    font-size: 17px;
    letter-spacing: 1.3px;
    line-height: 1.5;
    margin-top: 5%;
  }
  .unit-blog .unit-blog-text {
    font-size: 13px;
    margin-top: 9%;
    letter-spacing: 0;
    line-height: 1.8;
  }
  .unit-blog .unit-blog-pic {
    font-size: 12px;
    width: auto;
    margin: 4% auto 0;
  }
  .unit-blog-right .pic .caption {
    margin-top: 5px;
  }
  .unit-blog-right .pic:nth-child(n+2) {
    margin-top: 7%;
  }
}
























.unit-box .unit-box-left, .unit-box .unit-box-right {
  float: left;
}
.unit-box-a-1 .unit-box-left, .unit-box-a-1 .unit-box-right, .unit-box-a-2 .unit-box-left, .unit-box-a-2 .unit-box-right, .unit-box-c .unit-box-left, .unit-box-c .unit-box-right {
  float: right;
}
.unit-box .unit-box-title {
  font-weight: bold;
}
.unit-box .unit-box-subtitle {
  color: #ff6e01;
}
.unit-box .unit-box-pic img {
  width: 100%;
  height: auto;
}
.unit-box a {
  font-weight: bold;
  color: #fff;
  display: inline-block;
  background-color: #ff6e01;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .unit-box {
    width: 980px;
    margin: 0 auto 100px;
  }
  .unit-box .unit-box-right {
    margin-left: 60px;
  }
  .unit-box .unit-box-text-block {
    width: 460px;
  }
  .unit-box .unit-box-title {
    font-size: 18px;
    letter-spacing: 1.3px;
    line-height: 1.5;
    margin-top: -4px;
  }
  .unit-box .unit-box-text {
    font-size: 16px;
    margin-top: 21px;
    letter-spacing: 2.4px;
    line-height: 1.9;
  }
  .unit-box .unit-box-subtitle {
    font-size: 15px;
    margin-bottom: 16px;
  }
  .unit-box .pic-cap {
    font-size: 12px;
    margin-top: 10px;
  }
  .unit-box .unit-box-pic {
    width: 460px;
  }
  .unit-box a {
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    padding: 0 26px;
    margin-top: 32px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .unit-box {
    width: auto;
    margin: 0 auto 100px;
  }
  .unit-box .unit-box-right {
    margin-left: 6.8493152%;
  }
  .unit-box .unit-box-text-block {
    width: 46.5753424%;
  }
  .unit-box .unit-box-title {
    font-size: 20px;
    letter-spacing: 1.3px;
    line-height: 1.5;
    margin-top: -4px;
  }
  .unit-box .unit-box-text {
    font-size: 18px;
    margin-top: 7%;
    letter-spacing: 2.9px;
    line-height: 1.9;
  }
  .unit-box .unit-box-subtitle {
    font-size: 15px;
    margin-bottom: 16px;
  }
  .unit-box .unit-box-pic {
    width: 46.5753424%;
  }
  .unit-box .pic-cap {
    font-size: 12px;
    margin-top: 10px;
  }
  .unit-box a {
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    padding: 0 26px;
    margin-top: 9%;
  }
}
@media screen and (max-width: 767px) {
  .unit-box .unit-box-left, .unit-box .unit-box-right {
    float: none;
  }
  .unit-box-a-1 .unit-box-left, .unit-box-a-1 .unit-box-right, .unit-box-a-2 .unit-box-left, .unit-box-a-2 .unit-box-right, .unit-box-c .unit-box-left, .unit-box-c {
    float: none;
  }
  .unit-box {
    width: auto;
    margin-bottom: 60px;
    /*margin: 0 3.90625% 50px;*/
  }
  .unit-box .unit-box-text-block {
    width: auto;
  }
  .unit-box .unit-box-title {
    font-size: 15px;
    letter-spacing: 1.3px;
    line-height: 1.5;
    margin-top: 5%;
  }
  .unit-box.unit-box-c .unit-box-title {
    margin-top: 1%;
  }
  .unit-box .unit-box-text {
    font-size: 14px;
    margin-top: 3%;
    letter-spacing: 2.9px;
    line-height: 1.9;
  }
  .unit-box .unit-box-subtitle {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 5%;
  }
  .unit-box .unit-box-pic {
    width: auto;
  }
  .unit-box .pic-cap {
    font-size: 10px;
    margin-top: 5px;
  }
  .unit-box a {
    font-size: 11px;
    height: 25px;
    line-height: 25px;
    padding: 0 15px;
    margin-top: 5%;
  }
}

/*unit-bnr-a*/

.unit-bnr-box-a img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1024px) {
  .unit-bnr-a {
    margin-bottom: 100px;
  }
  .unit-bnr-box-a {
    width: 32.6%;
    float: left;
    margin-right: 1.1%;
  }
  .unit-bnr-box-a:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 1023px) {
  .unit-bnr-a {
    margin-bottom: 80px;
  }
  .unit-bnr-box-a {
    width: 49%;
    float: left;
    margin-bottom: 2%;
  }
  .unit-bnr-box-a:nth-child(even) {
    margin-left: 2%;
  }
}

/*unit-btn-common*/

.unit-btn-cf:after {
  content: " ";
  display: block;
  clear: both;
}
.unit-btn {
  margin-bottom: 75px;
}
.unit-btn-text {
  font-weight: bold;
}
.unit-btn-link {
  font-weight: bold;
  display: block;
  background-color: #ff6e01;
  color: #fff;
  text-align: center;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
}

/*unit-btn-a*/

.unit-btn-a {}
.unit-btn-text-a {
  font-size: 11px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 10px;
}
.unit-btn-btn {}
.unit-btn-btn-a {}
.unit-btn-link-a {}

/*unit-btn-a-2*/

.unit-btn-a-2 {}
.unit-btn-a-2-item:first-child {
  margin-bottom: 25px;
}
.unit-btn-text-a-2 {
  text-align: center;
  font-size: 11px;
  margin-bottom: 10px;
}
.unit-btn-link-a-2 {}

/*unit-btn-b*/

.unit-btn-b {}
.unit-btn-box-b {
  border: 1px solid #ff6e01;
  display: table;
  margin-bottom: 20px;
  width: 100%;
  /*height: 110px;*/
}
.unit-btn-img-b {
  display: table-cell;
  width: 22%;
}
.unit-btn-img-b img {
  width: 100%;
  /*height: 110px*/
  vertical-align: bottom;
}
.unit-btn-text-b {
  text-align: left;
  font-size: 15px;
  background-color: #ff6e01;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  padding-left: 10px;
  line-height: 1.5
}
@media screen and (min-width: 768px) {
  /*unit-btn-common*/
  .unit-btn {
    margin-bottom: 100px;
  }
  .unit-btn-text {}
  .unit-btn-link {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
  }
  /*unit-btn-a*/
  .unit-btn-a {}
  .unit-btn-text-a {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .unit-btn-btn {}
  .unit-btn-btn-a {}
  .unit-btn-link-a {}
  /*unit-btn-a-2*/
  .unit-btn-a-2 {
    overflow: hidden;
  }
  .unit-btn-a-2-item {
    float: right;
    width: 46.7%;
  }
  .unit-btn-a-2-item:first-child {
    float: left;
    width: 46.7%;
  }
  .unit-btn-text-a-2 {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .unit-btn-link-a-2 {}
  /*unit-btn-b*/
  .unit-btn-b {
    overflow: hidden;
  }
  .unit-btn-box-b {
    width: 46.6%;
    float: left;
  }
  .unit-btn-box-b:first-child {
    margin-right: 6.8%;
  }
  .unit-btn-img-b {}
  .unit-btn-img-b img {}
  .unit-btn-text-b {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  /*unit-btn-common*/
  .unit-btn {}
  .unit-btn-text {}
  .unit-btn-link {}
  /*unit-btn-a*/
  .unit-btn-a {}
  .unit-btn-text-a {
    width: 54%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .unit-btn-btn {}
  .unit-btn-btn-a {}
  .unit-btn-link-a {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  /*unit-btn-a-2*/
  .unit-btn-a-2 {}
  .unit-btn-a-2-first {}
  .unit-btn-a-2-second {}
  .unit-btn-text-a-2 {}
  .unit-btn-link-a-2 {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  /*unit-btn-b*/
  .unit-btn-b {}
  .unit-btn-box-b {
    width: 32.6%;
    margin-right: 1.1%;
  }
  .unit-btn-box-b:first-child {
    margin-right: 1.1%;
  }
  .unit-btn-box-b:last-child {
    margin-right: 0;
  }
  .unit-btn-img-b {}
  .unit-btn-img-b img {}
  .unit-btn-text-b {}
}
@media screen and (min-width: 1024px) {
  .unit_section_copy {
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .unit_section_copy {
    font-size: 23px;
    line-height: 150%;
    margin-bottom: 74px;
  }
}
@media screen and (max-width: 767px) {
  .unit_section_copy {
    font-size: 17px;
    line-height: 150%;
    margin-bottom: 42px;
  }
}
.unit-img {
  width: auto;
}
.unit-img a {
  opacity: 1;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
.unit-img a:hover {
  opacity: .9;
}
.unit-img img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.unit-img-2column li, .unit-img-3column li {
  float: left;
}
.unit-img-2column li:first-child {
  margin-left: 0;
}
@media screen and (min-width: 1024px) {
  .unit-img {
    width: 100%;
    max-width: 980px;
    margin: 0 auto 80px;
  }
  /*unit-img-2column*/
  .unit-img-2column li {
    margin-left: 2%;
    width: 49%;
  }
  /*unit-img-3column*/
  .unit-img-3column {
    margin: 0 auto 70px;
  }
  .unit-img-3column li {
    width: 320px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .unit-img-3column li:nth-child(3n+1) {
    margin-left: 0;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .unit-img {
    margin: 0 auto 80px;
  }
  /*unit-img-2column*/
  .unit-img-2column li {
    width: 48.90109895%;
    margin-left: 2.1978021%;
  }
  /*unit-img-3column*/
  .unit-img-3column {
    margin: 0 auto 70px;
  }
  .unit-img-3column li {
    width: 32.4%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .unit-img-3column li:nth-child(3n+1) {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .unit-img {
    margin: 0 auto 60px;
  }
  .unit-img-2column li {
    float: none;
  }
  .unit-img-2column li:first-child {
    margin-bottom: 10px;
  }
  /*unit-img-3column*/
  .unit-img-3column {
    margin: 0 auto 50px;
  }
  .unit-img-3column li {
    float: none;
    width: auto;
    margin: 0 0 10px 0;
  }
}
@media screen and (min-width: 1024px) {
  .unit_section_note {
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 96px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .unit_section_note {
    font-size: 13px;
    line-height: 150%;
    margin-bottom: 97px;
  }
}
@media screen and (max-width: 767px) {
  .unit_section_note {
    font-size: 10px;
    line-height: 150%;
    margin-bottom: 74px;
  }
}
.unit-panel * {
  box-sizing: border-box;
}
.unit-panel-btn a {
  text-decoration: none;
}
.unit-panel-title {
  color: #ff6e01;
  font-weight: bold;
}
.unit-panel {
  color: #333333;
}
.unit-panel-c .unit-panel-title {
  color: #000;
}
.unit-panel-btn {
  background-color: #ff6e01;
  display: table;
  width: 100%;
}
.unit-panel-btn a {
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  line-height: 1.2;
}
.unit-panel .thumb img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.unit-panel-d-item {
  overflow: hidden;
}
.unit-panel-d-item .thumb {
  margin-top: 0;
  width: 30%;
  float: left;
}
.unit-panel-d-item .unit-panel-btn {
  margin-top: 0;
}
.unit-panel-d-item .unit-panel-d-text-area {
  width: 70%;
  float: left;
}
.unit-panel-d-item .unit-panel-title {
  margin-top: 0;
  color: #000;
}
.unit-panel-d-text-area .unit-panel-text {
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .unit-panel-a, .unit-panel-b, .unit-panel-c, .unit-panel-d {
    margin-bottom: 75px;
  }
  .unit-panel-c .thumb {
    margin-top: 12px;
  }
  .unit-panel {
    overflow: hidden;
  }
  .unit-panel-title {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 6px;
  }
  .unit-panel-b .unit-panel-title, .unit-panel-c .unit-panel-title, .unit-panel-d .unit-panel-title {
    font-size: 12px;
  }
  .unit-panel-b .unit-panel-text, .unit-panel-c .unit-panel-text, .unit-panel-d .unit-panel-text {
    font-size: 11px;
  }
  .unit-panel-d-text-area {
    padding-left: 16px;
  }
  .unit-panel-text {
    font-size: 14px;
    line-height: 1.7;
    margin-top: 6px;
  }
  .unit-panel-btn {
    margin-top: 12px;
  }
  .unit-panel-btn a {
    padding: 10px 10px;
  }
  .unit-panel-a-item {
    margin-top: 50px;
  }
  .unit-panel-a-item:first-child {
    margin-top: 0;
  }
  .unit-panel-b-item {
    box-sizing: border-box;
    padding: 0 5px;
    width: 50%;
    float: left;
    margin-bottom: 15px;
  }
  .unit-panel-b-item:nth-child(even) {
    padding-right: 0;
  }
  .unit-panel-b-item:nth-child(odd) {
    padding-left: 0;
  }
  .unit-panel-d-item .unit-panel-btn {
    font-size: 11px;
  }
  .unit-panel-d-item {
    margin-top: 25px;
  }
}
@media screen and (min-width: 768px) {
  .unit-panel {
    overflow: hidden;
  }
  .unit-panel-a, .unit-panel-b, .unit-panel-c, .unit-panel-d {
    overflow: hidden;
    margin-bottom: 65px;
  }
  .unit-panel-a, .unit-panel-b, .unit-panel-c {
    margin-left: -8px;
    margin-right: -8px;
  }
  .unit-panel-c {
    padding: 0 20px;
  }
  .unit-panel-d {
    margin-left: -18px;
    margin-right: -18px;
  }
  .unit-panel-a .thumb {}
  .unit-panel-title {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 15px;
  }
  .unit-panel-text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
  }
  .unit-panel-btn {
    margin-top: 19px;
  }
  .unit-panel-btn a {
    padding: 10px 10px;
  }
  .unit-panel-a-item, .unit-panel-b-item {
    box-sizing: border-box;
    padding: 0 8px;
    width: 33.3%;
    float: left;
  }
  .unit-panel-c-item, .unit-panel-d-item {
    box-sizing: border-box;
    padding: 0 8px;
    width: 50%;
    float: left;
    margin-bottom: 15px;
  }
  .unit-panel-c-item .unit-panel-title {
    margin-top: 0;
  }
  .unit-panel-c-item .thumb {
    margin-top: 12px;
  }
  .unit-panel-d-item {
    padding: 0 18px;
  }
  .unit-panel-d-item .unit-panel-d-text-area {
    padding-left: 18px;
  }
  .unit-panel-d-item:first-child {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {}
@media screen and (max-width: 1023px) {}
@media screen and (min-width: 1024px) {
  .unit_section_text {
    font-size: 16px;
    line-height: 180%;
    margin-bottom: 94px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .unit_section_text {
    font-size: 18px;
    line-height: 180%;
    margin-bottom: 94px;
  }
}
@media screen and (max-width: 767px) {
  .unit_section_text {
    font-size: 14px;
    line-height: 180%;
    margin-bottom: 67px;
  }
}
@media screen and (min-width: 1024px) {
  .unit_section_text_list {
    margin-bottom: 79px;
  }
  .unit_section_text_list ul {
    width: 100%;
    position: relative;
    float: left;
  }
  .unit_section_text_list li {
    width: 25%;
    float: left;
    list-style: none;
    font-size: 10px;
  }
  .unit_section_text_list li p {
    font-size: 16px;
    line-height: 160%;
    margin: 0;
    padding: 0;
    padding-right: 40px;
    padding-bottom: 16px;
    margin-left: -6px;
    word-wrap: break-word;
    padding-left: 1em;
    text-indent: -1em;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .unit_section_text_list {
    overflow: hidden;
    margin-bottom: 81px;
  }
  .unit_section_text_list ul {
    width: 110%;
    position: relative;
    /*float: left;*/
    /*margin-left: 14px;*/
  }
  .unit_section_text_list li {
    width: 27.333%;
    float: left;
    list-style: none;
    font-size: 10px;
    margin-left: 1%;
    margin-right: 4%;
  }
  .unit_section_text_list li p {
    font-size: 16px;
    line-height: 160%;
    margin: 0;
    padding: 0;
    padding-right: 14px;
    padding-bottom: 16px;
    margin-left: -6px;
    padding-left: 1em;
    text-indent: -1em;
  }
}
@media screen and (max-width: 767px) {
  .unit_section_text_list {
    overflow: hidden;
    margin-bottom: 56px;
  }
  .unit_section_text_list ul {
    width: 110%;
    position: relative;
    /*float: left;*/
    /*margin-left: 14px;*/
  }
  .unit_section_text_list li {
    width: 43%;
    float: left;
    list-style: none;
    font-size: 10px;
    margin-left: 1%;
    margin-right: 4%;
  }
  .unit_section_text_list li p {
    font-size: 11px;
    line-height: 160%;
    margin: 0;
    padding: 0;
    padding-right: 14px;
    padding-bottom: 16px;
    margin-left: -6px;
    padding-left: 1em;
    text-indent: -1em;
  }
}
.unit-section-title-1 {
  /* margin: 22px 0 25px; */
  color: #ff6e01;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .16em;
  margin-top: 22px;
  margin-bottom: 25px;
  line-height: 1.5;
}
.unit-section-title-2 {
  margin-bottom: 22px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
  color: #ff6e01;
  font-size: 17px;
  letter-spacing: .07em;
}
.unit-section-title-3 {
  position: relative;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: .07em;
  display: block;
  padding-left: 1.2em;
  text-indent: -1.2em;
  line-height: 1.3;
}
.unit-section-title-3:before {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #ff6e01;
  content: "";
}
.unit-section-title-4 {
  position: relative;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: .07em;
  line-height: 1.5;
}
@media screen and (min-width: 1024px) {
  .unit-section-title-1 {
    font-size: 28px;
    /* margin: 100px 0 35px; */
    margin-top: 100px;
    margin-bottom: 35px;
    line-height: 1.5;
  }
  .unit-section-title-2 {
    font-size: 22px;
    margin-bottom: 40px;
    padding-bottom: 13px;
  }
  .unit-section-title-3 {
    font-size: 18px;
    margin-bottom: 35px;
    clear: both;
    padding-left: 1.2em;
    text-indent: -1.2em;
    line-height: 1.3;
  }
  .unit-section-title-3:before {
    width: 16px;
    height: 16px;
  }
  .unit-section-title-4 {
    font-size: 18px;
    margin-bottom: 35px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .unit-section-title-1 {
    font-size: 30px;
    /* margin: 0 50px; */
    margin-bottom: 50px;
    line-height: 1.5;
  }
  .unit-section-title-2 {
    font-size: 24px;
    margin-bottom: 45px;
    padding-bottom: 10px;
  }
  .unit-section-title-3 {
    font-size: 20px;
    margin-bottom: 40px;
    padding-left: 1.2em;
    text-indent: -1.2em;
    line-height: 1.3;
  }
  .unit-section-title-3:before {
    width: 18px;
    height: 18px;
  }
  .unit-section-title-4 {
    font-size: 20px;
    margin-bottom: 40px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 767px) {}

/*youtube*/

.unit-youtube .movie-wrap {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.unit-youtube .movie-wrap iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}
@media screen and (min-width: 1024px) {
  .unit-youtube.movie {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .unit-youtube.movie {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .unit-youtube.movie {
    margin-bottom: 75px;
  }
}

/*youtube 2*/

.unit-youtube-2 .movie-wrap iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}
@media screen and (min-width: 1024px) {
  .unit-youtube-2 {
    width: 980px;
    margin-bottom: 60px;
  }
  .unit-youtube-2 .movie_box {
    float: left;
    margin-left: 20px;
    width: 480px;
  }
  .unit-youtube-2 .movie_box:first-child {
    margin-left: 0;
  }
  .unit-youtube-2 .movie-wrap {
    position: relative;
    width: 480px;
    height: 270px;
  }
  .unit-youtube-2 .movie {
    margin-bottom: 60px;
  }
  .unit-youtube-2 .text_box {
    font-size: 16px;
    margin-top: 18px;
    line-height: 1.8em;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .unit-youtube-2 {
    margin-bottom: 65px;
  }
  .unit-youtube-2 .movie_box {
    float: left;
    margin-left: 2%;
    width: 49%;
    height: 27.565%;
  }
  .unit-youtube-2 .movie_box:first-child {
    margin-left: 0;
  }
  .unit-youtube-2 .movie-wrap {
    position: relative;
    margin-left: 2%;
    float: left;
    width: 100%;
    padding-top: 56.25%;
  }
  .unit-youtube-2 .movie-wrap:first-child {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .unit-youtube-2 .movie {
    margin-bottom: 65px;
  }
  .unit-youtube-2 .text_box {
    font-size: 16px;
    line-height: 1.8em;
  }
}
@media screen and (max-width: 767px) {
  .unit-youtube-2 {
    margin-bottom: 75px;
  }
  .unit-youtube-2 .movie_box:first-child {
    margin-bottom: 30px;
  }
  .unit-youtube-2 .movie-wrap {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  .unit-youtube-2 .movie {
    margin-bottom: 75px;
  }
  .unit-youtube-2 .text_box {
    font-size: 11px;
    margin-top: 10px;
    line-height: 1.6em;
  }
}

/*unit_img_responsive*/

.unit-img-responsive {
  width: auto;
}
.unit-img-responsive a {
  opacity: 1;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
.unit-img-responsive a:hover {
  opacity: .9;
}
.unit-img-responsive img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
@media screen and (min-width: 1024px) {
  .unit-img-responsive {
    width: 100%;
    max-width: 980px;
    margin: 0 auto 80px;
  }
  .unit-img-responsive img.pc {
    display: block;
  }
  .unit-img-responsive img.sp {
    display: none;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .unit-img-responsive {
    margin: 0 auto 80px;
  }
  .unit-img-responsive img.pc {
    display: block;
  }
  .unit-img-responsive img.sp {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .unit-img-responsive {
    margin: 0 auto 60px;
  }
  .unit-img-responsive img.pc {
    display: none;
  }
  .unit-img-responsive img.sp {
    display: block;
  }
}
