@charset "UTF-8";
.top-date-container {
  margin-bottom: 22px;
  }

.top-date-list {
  list-style: none;
  margin: 11px 0 17px 33px;
  }

.top-date-item {
  position: relative;
  margin-bottom: 15px;
  letter-spacing: .05em;
  }

.top-date-item:after {
  position: absolute;
  top: 0px;
  left: -16px;
  color: #231815;
  content: "";
  font-size: 13px;
  width: 13px;
  border-radius: 2px;
  height: 13px;
  background: #ff6e01;
  }

.top-date-item-label {
  color: #000000;
  font-size: 13px;
  margin-bottom: 9px;
  font-weight: bold;
  }

.top-date-item-time {
  letter-spacing: .1em;

  }

@media screen and (min-width: 768px) {
  .top-date-container {
    float: left;
    width: 50%;
    height: 100%;
    border-bottom: none;
    margin-bottom: 0;
    }
  .top-date-title {
    margin: 0 15px 15px;
    }
  .top-date-list {
    margin-top: 0;
    margin-left: 46px;
    }
  .top-date-item {
    margin-bottom: 15px;
    }
  .top-date-item:after {
    left: -20px;
    top: 0px;
    }
  .top-date-item-label {
    font-size: 16px;
    margin-bottom: 4px;
    }
  .top-date-item-time {
    font-size: 18px;
    } }

@media screen and (min-width: 980px) {
  .top-date-container {
    float: none;
    width: auto;
    height: auto;
    margin-bottom: 0px;
    padding-top: 7px;
    padding-bottom: 15px;
    }
  .top-date-list {
    margin-bottom: 0;
    margin-left: 30px;
    } 
  .top-date-item {
    margin-bottom: 7px;
  }
  .top-date-title {
  margin-left: 10px;
  padding-left: 0;
  margin-bottom: 18px;
  }

  .top-date-item-label {
    font-size: 14px;
  }

  .top-date-item-time {
    font-size: 16px;
  }
}

@media screen and (min-width: 1366px) {
  .top-date-container {
    padding-bottom: 16px;
    padding-top: 10px;
    } 
  .top-date-item:after {
    left: -23px;
  }
  .top-date-item {
    margin-bottom: 11px;
  }
}

@media screen and (min-width: 1680px) {
  .top-date-container {
    padding-bottom: 21px;
    padding-left: 0;
    padding: 10px 20px 0px;
    margin-bottom: 0;
    } 
  .top-date-list {
  margin-left: 35px;
  }
  .top-date-title {
    margin-bottom: 24px;
    font-size: 18px;
  }
  .top-date-item-label {
    margin-bottom: 10px;
  }
  .top-date-item {
    margin-bottom: 23px;
  }
}
