.top-related-list {
  list-style: none;
  margin: 0;
  border-top: 1px solid #ccc;
  padding: 11px 10px 0px;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 30px;
  }

.top-related-item {
  float: left;
  width: 48.4%;
  margin-bottom: 9px;
  }

.top-related-item:nth-child(2n) {
  float: right; }

.top-related-item img {
  width: 100%;
  height: auto; }

@media screen and (min-width: 768px) {
  .top-related-list {
    padding-top: 33px;
    padding-bottom: 24px;
    text-align: center;
    margin-bottom: 50px;
  }
  .top-related-item {
    width: 32.3%;
    margin-right: 0;
    margin-bottom: 17px;
    display: inline-block;
    float: none;
    }
  .top-related-item:nth-child(3n) {
    margin-right: 0; }
  .top-related-item:nth-child(2n) {
    float: none;
    } }

@media screen and (min-width: 980px) {
  .top-related-item {
    width: 19.1%;
  } 
  .top-related-list {
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1366px) {
  .top-related-list {
    margin: 0 auto 80px;
    } }

@media screen and (min-width: 1680px) {
  .top-related-list {
    margin: 0 auto 107px;
    } }
