.top-contact-columns {
  padding: 5px 10px 20px;
}

/*お問い合わせ窓口・所有権解除・緊急*/

.top-contact-container, .top-ownership-container, .top-emergency-container {
  background-color: #f2f2f2;
  margin: 7px 0;
  padding-top: 10px;
  padding: 10px 0 15px 0;
}
.top-block-title {
  margin: 0;
  padding-left: 0;
}

/*タイトル*/

.top-contact-title, .top-dial-release-title, .top-dial-attantion-title {
  border-bottom: 2px solid #fff !important;
  clear: both;
  font-size: 15px;
}
.top-dial {
  line-height: 1;
  overflow: hidden;
  padding: 0px 15px 0;
  /* padding-bottom: 1px; */
  /* padding-left: 22px; */
  /* padding-right: 19px; */
  /* padding-top: 10px; */
  position: relative;
  text-align: left;
}

/*ラベル*/

.top-dial-date-title {
  color: #000;
  font-size: 10px;
  font-weight: 500;
  padding-top: 0;
}

/*フリーテキスト*/

.top-dial-label {
  clear: both;
  color: #000;
  font-size: 14px;
  /* font-weight: bold; */
  letter-spacing: .03em;
  line-height: 21px;
  padding: 10px 0 0 0;
  width: 100%;
}

/*フリーテキスト*/

.top-dial-text {
  display: block;
  float: left;
}
.top-dial-icon {
  background: no-repeat center center;
  background-image: url(../../images/1/top-tel-icon.png);
  background-size: 11px;
  border-radius: 5px;
  content: "";
  display: block;
  height: 23px;
  top: 6px;
  width: 23px;
  position: static!important;
  margin-top: 4px;
}
.top-dial-icon-g {
  background: no-repeat center center;
  background-color: #666;
  background-image: url(../../images/1/top-tel-icon.png);
  background-size: 11px;
  border-radius: 5px;
  clear: both;
  content: "";
  display: block;
  float: left;
  height: 23px;
  margin: 0;
  position: static;
  top: 6px;
  width: 23px;
  margin: 5px 0 0 0;
}

/*電話番号*/

.top-dial-number {
  color: #000;
  display: inline-block;
  /* margin-left: 13px; */
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .04em;
  line-height: 1;
  margin: 8px 0;
  padding-left: 8px;
  position: relative;
  vertical-align: middle;
}

/*お問い合わせ窓口バージョン*/

.top-dial-normal {
  color: #ff6e01;
}

/*お問い合わせフォーム*/

.top-dial-btn a {
  background-color: #ff6e01;
  clear: both;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  margin: 0 auto;
}
.top-dial-btn {
  margin: 13px 15px 0;
}
@media screen and (max-width: 767px) {
  .top-contact-columns {
    padding: 17px 10px 5px 10px;
  }
  .top-date-item-info {
    font-size: 14px;
    line-height: 1.4;
  }
  .top-dial-wrapper {
    margin: 15px 0 0 0;
  }
  .top-ownership-container .top-dial {
    margin: 14px 0 0 0;
  }
  .top-ownership-container .top-dial-label {
    padding: 0 0 0 0;
  }
  .top-ownership-top-dial-wrap {
    margin: 0 0 10px 0;
  }
  .top-emergency-container .top-dial {
    margin: 14px 0 0 0;
  }
  .top-emergency-container .top-dial-label {
    padding: 0 0 0 0;
  }
  .top-emergency-container {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .top-contact-columns:after {
    clear: both;
    content: "";
    display: block;
  }
  /*カレンダー*/
  .top-calendar-attantion-list {
    overflow: hidden;
    padding-left: 6%;
    padding-top: 20px;
  }
  .top-contact-container, .top-ownership-container, .top-emergency-container {
    padding-top: 0;
  }
  .top-calendar-attantion .calendar-icon {
    background-color: #2da862;
    border-radius: 50%;
    display: inline-block;
    float: left;
    height: 14px;
    margin-right: 5px;
    width: 14px;
  }
  .top-contact-title, .top-dial-release-title, .top-dial-attantion-title {
    border-bottom: 2px solid #fff !important;
    clear: both;
    font-size: 20px;
    letter-spacing: 1.2px;
    /* margin-bottom: 40px; */
    padding-top: 13px;
  }
  .top-dial {
    margin: 0 30px 0;
    /* margin-left: 5px; */
    overflow: hidden;
    /* padding-bottom: 1px; */
    /* padding-left: 34px; */
    /* padding-right: 48px; */
    /* padding-top: 0px; */
    padding: 0;
  }
  .top-dial-btn {
    margin: 30px 22px 0;
    /* padding-bottom: 30px; */
    padding: 0;
  }
  .top-dial-date-title {
    float: left;
    font-size: 14px;
    width: 100%;
  }
  .top-contact-title {
    margin-bottom: 0;
    padding-left: 0;
  }
  .top-dial-normal {
    margin-bottom: 7px;
  }
  .top-dial-normal .top-dial-label {
    padding-left: 10px;
  }
  .top-dial-attantion {
    clear: both;
  }
  .top-dial-btn a {
    font-size: 18px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    width: 280px;
  }
  .top-dial-number {
    font-size: 22px;
    letter-spacing: 1.8px;
    margin: 13px 0;
    padding-left: 12px;
  }
  .top-dial-number.top-dial-normal {
    display: inline-block;
    font-size: 27px;
    letter-spacing: 2.1px;
    margin: 19px 0;
    padding-left: 17px;
    vertical-align: middle;
  }
  .top-dial-label {
    float: none;
    font-size: 16px;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 5px;
    width: 100%;
  }
  .top-dial-icon {
    background-size: 27px;
    border-radius: 5px;
    height: 46px;
    top: 7px;
    width: 46px;
    margin: 10px 0 0 0;
  }
  .top-dial-icon-g {
    background-size: 16px;
    border-radius: 5px;
    height: 30px;
    top: 10px;
    width: 30px;
    margin: 10px 0 0 0;
  }
  .top-contact-container {
    clear: both;
    float: none;
    margin: 0 7px;
    padding: 0 0 30px 0;
  }
  .top-ownership-container {
    margin: 20px 7px 0;
    padding-bottom: 30px;
  }
  .top-ownership-container .top-dial-release-title {
    margin: 0;
  }
  .top-ownership-container .top-dial {
    margin: 28px 0 0 0;
  }
  .top-dial-wrapper {
    margin: 35px 0 0 0;
    float: none;
    clear: both;
  }
  .top-emergency-container {
    margin: 20px 7px 0;
    padding: 0 0 30px 0;
  }
  .top-ownership-top-dial-wrap {
    margin: 0 30px 30px;
  }
  .top-emergency-container .top-dial-attantion {
    margin: 0 30px 0;
  }
  .top-emergency-container .top-dial {
    margin: 28px 0 0 0;
  }
}
@media screen and (min-width: 980px) {
  .top-contact-columns {
    border-bottom: none;
    clear: both;
    float: none;
    margin: 0 20px;
    padding-top: 0;
    padding-bottom: 30px;
  }
  .top-contact-container, .top-ownership-container, .top-emergency-container {
    float: left;
    width: 32.5%;
    margin: 0;
    padding: 0 0 20px 0;
  }
  .top-contact-container {
    margin-right: 1.2%;
    margin: 0 1.2% 0 0;
    padding: 0 0 20px 0;
  }
  .top-emergency-container {
    margin-left: 1.2%;
  }
  .top-dial-date-title {
    font-size: 12px;
    margin-left: 0px;
    margin-top: 0;
  }
  .top-contact-title, .top-dial-release-title, .top-dial-attantion-title {
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 0;
    padding: 20px 0 10px 0;
    position: relative;
    /* top: 50%; */
  }
  .top-dial-btn a {
    font-size: 14px;
    height: 26px;
    /*margin-top: -10px;*/
    line-height: 26px;
    margin: 0 auto;
    width: auto;
  }
  .top-dial {
    /* margin-left: 22px; */
    /* padding-left: 0; */
    /* padding-right: 22px; */
    padding: 0 22px 0;
    margin: 0;
  }
  .top-dial-normal .top-dial-date {
    color: black;
    display: block;
    float: left;
    padding-left: 19px;
  }
  .top-dial-normal .top-dial-text {
    color: black;
    font-size: 14px;
  }
  .top-dial-normal .top-dial-date:after {
    content: "：";
  }
  .top-dial-normal .top-dial-date-title {
    margin-bottom: 5px;
  }
  .top-dial-label {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    padding-bottom: 0;
    padding-top: 8px;
  }
  .top-dial-number {
    font-size: 16px;
    letter-spacing: .00em;
    margin: -3px 0 0 0;
    padding-left: 5px;
  }
  .top-dial-number.top-dial-normal {
    font-size: 18px;
    letter-spacing: .00em;
    margin: 0 auto;
    padding-left: 4px;
  }
  .top-dial-icon {
    background-size: 10px;
    border-radius: 5px;
    height: 20px;
    top: 1px;
    width: 20px;
    margin: 2px 0 0 0;
  }
  .top-dial-icon-g {
    background-size: 10px;
    border-radius: 5px;
    height: 20px;
    top: 5px;
    width: 20px;
    margin: 0 0 0 0;
  }
  .top-dial-wrapper {
    float: left;
    margin: 18px 0 0 0;
  }
  .top-contact-container .top-dial-date-title {
    margin-bottom: 4px;
  }
  .top-dial-wrapper:last-child .top-dial-label {
    padding-bottom: 20px;
  }
  .top-ownership-top-dial-wrap {
    padding-bottom: 20px;
    margin: 0;
  }
  .top-emergency-container .top-dial-attantion {
    margin: 0 0 0 0;
  }
  .top-dial-btn {
    margin: 0 22px;
  }
  .top-ownership-container .top-dial {
    margin: 18px 0 0 0;
  }
  .top-emergency-container .top-dial {
    margin: 18px 0 0 0;
  }
  .top-ownership-container .top-dial-date-title,
  .top-emergency-container .top-dial-date-title{
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 1366px) {
  .top-contact-container {
    margin: 0;
    padding: 0 0 20px 0;
  }
  .top-contact-title {
    font-size: 18px;
    margin-bottom: 0;
  }
  .top-dial-btn {
    margin: 0 22px;
    padding-bottom: 20px;
  }
  .top-dial-btn a {
    line-height: 25px;
    width: auto;
    /* margin: 0 22px; */
  }
  .top-contact-columns {
    float: left;
    margin: 0 0 0 0;
    padding: 0 30px 30px;
    width: 100%;
  }
  .top-dial {
    /* margin-bottom: 0px; */
    margin: 0 20px 0;
    padding: 0;
  }
  .top-dial-label {
    font-size: 18px;
    letter-spacing: .05em;
  }
  .top-dial-date-title.top-dial-normal {
    margin: 0 0 5px 0;
    padding-top: 0;
  }
  .top-dial-date-title {
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 0;
  }
  .top-dial-number {
    font-size: 16px;
    padding-left: 6px;
  }
  .top-dial-label {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    padding-bottom: 0;
    padding-top: 5px;
  }
  .top-dial-wrapper {
    float: left;
  }
  .top-dial-wrapper:last-child .top-dial-label {
    padding-bottom: 20px;
  }
  .top-dial-number {
    font-size: 16px;
    vertical-align: baseline;
  }
  .top-dial-number.top-dial-normal {
    font-size: 18px;
    margin: 0 0 0 0;
  }
  .top-dial-icon-g {
    height: 18px;
    top: 0;
    width: 18px;
  }
  .top-ownership-top-dial-wrap {
    padding-bottom: 20px;
  }
  .top-ownership-container, .top-emergency-container {
    margin: 0 0 0 1.2%;
    padding: 0 0 20px 0;
  }
  .top-ownership-container .top-dial-release-title {
    margin: 0;
  }
  .top-ownership-top-dial-wrap .top-dial {
    margin: 18px 20px 0;
  }
  .top-emergency-container .top-dial {
    margin: 18px 20px 0;
  }
}
@media screen and (min-width: 1680px) {
  .top-contact-columns {
    margin: 9px;
    width: auto;
  }
  .top-contact-container, .top-ownership-container, .top-emergency-container {
    margin: 12px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .top-dial-normal .top-dial-text {
    font-size: 14px;
    /* padding-left: 24px; */
  }
  .top-dial-normal .top-dial-label {
    left: 50px;
    position: absolute;
    top: 83px;
  }
  .top-dial-normal .top-dial-icon {
    background-image: url(../../images/2/top-tel-icon.png);
    background-size: 23px;
    border-radius: 5px;
    height: 46px;
    top: 0;
    width: 47px;
  }
  .top-contact-title {
    background: #f2f2f2;
    border-bottom: 0;
    margin: 0;
    padding-bottom: 9px;
    padding-top: 13px;
  }
  .top-dial-number {
    float: left;
    font-size: 22px !important;
    font-weight: bold;
    letter-spacing: .06em;
    margin: 3px 0 0 0;
    position: relative;
  }
  .top-dial-number:after {
    background-image: url(../../images/2/top-tel-icon.png);
    background-size: 23px;
    border-radius: 5px;
    height: 46px;
    vertical-align: middle;
    width: 47px;
  }
  .top-dial-normal .top-dial-date {
    color: #333;
    display: block;
    font-size: 12px;
    left: 79px;
    padding-left: 24px;
    position: absolute;
    top: 87px;
  }
  .top-dial-normal {
    margin-bottom: 3px;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .top-dial-number.top-dial-normal {
    display: inline-block;
    font-size: 26px !important;
    letter-spacing: .02em;
    line-height: 24px;
    margin: 12px 0 !important;
    padding-left: 12px;
    vertical-align: middle;
  }
  .top-calendar-attantion-list {
    overflow: hidden;
    padding-left: 60px;
    padding-top: 20px;
  }
  .top-contact-columns {
    border-left: 0;
    clear: both;
    float: none;
    padding: 0 10px;
  }
  .top-dial-attantion {
    background: #f2f2f2;
    clear: both;
    float: left;
    padding-bottom: 20px;
    width: 100%;
  }
  .top-dial-btn {
    margin: 0 30px;
    padding-bottom: 24px;
  }
  .top-dial-btn a {
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    margin: 0 auto;
    width: auto;
  }
  .top-dial-label {
    border-bottom: 0;
    font-size: 14px;
    margin: 0;
    /* margin-bottom: 0; */
    /* padding-bottom: 0; */
    padding: 5px 0 0 0;
  }
  .top-dial {
    margin: 0;
    padding: 30px 28px 0px;
  }
  .top-dial-wrapper {
    float: left;
    margin: 0 0 20px 0;
    position: relative;
  }
  .top-dial-wrapper:last-child .top-dial-label {
    padding: 0;
  }
  .top-dial-icon {
    background-size: 23px;
    border-radius: 5px;
    height: 46px;
    top: 2px;
    width: 46px;
  }
  .top-dial-icon-g {
    background-size: 17px;
    border-radius: 5px;
    height: 29px;
    top: 2px;
    width: 29px;
    margin: 0 0 0 0;
  }
  .top-contact-title, .top-dial-release-title, .top-dial-attantion-title {
    font-size: 17px;
    letter-spacing: 2.15px;
    padding-bottom: 12px;
    padding-top: 15px;
    position: relative;
  }
  .top-contact-container .top-dial-date-title {
    margin: 0 0 10px 0;
    padding: 0;
  }
  .top-contact-container .top-dial-label{
    padding: 15px 0 0 0;
  }

  .top-ownership-container .top-dial-date-title {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .top-ownership-container .top-dial {
    padding: 29px 28px 0px;
    margin: 0;
  }
  .top-ownership-container .top-dial-label {
    margin: 5px 0 0 0;
  }
  .top-emergency-container .top-dial-date-title {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .top-emergency-container .top-dial {
    padding: 29px 28px 0px;
    margin: 0;
  }
  .top-emergency-container .top-dial-label {
    margin: 5px 0 0 0;
  }
}
