@charset "UTF-8";
/* =========================================================

 base settings

 ========================================================= */



 #loading{
  width: 40px;
  height: 40px;
  background-image: url(/lineup/sienta/img/loading-sprite.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  z-index: 9999;
}
#fadeobject{
  width: 100%;
  height:100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9998;
  background: #fff;
}
html { font-size: 62.5% }
body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  letter-spacing: 0.01em;
  background: #ff6e01;
}
a {
  color: #ff6e01;
  text-decoration: underline;
}
a:hover {
  color: #ff6e01;
  text-decoration: none;
}
img{
  vertical-align: baseline;
}
hr.simple_line {
  border-top: 1px solid #808890;
  width: 730px;
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  height: 0;
}
#wrapper {
  margin: 0 auto;
  width: inherit;
  background-color: #fff;
  /*min-width: 1004px;*/
}
#header img{
    vertical-align: top;
}

#header {
    position: relative;
    min-width: 940px;
    height: 50px;
    margin: 0;
    background-color: #f18900;
}
#header a {
    color: #fff;
    text-decoration: none;
    margin: 20px 0 0 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 游ゴシック体, "Yu Gothic", YuGothic, メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: .06em;
}

#header h1
{
    font-weight: normal;
}
.logo_left
{
    font-size: 22px;
    line-height: 50px;
    position: absolute;
    left: 0;
    padding: 0 0 0 20px;
}
.logo_right
{
    position: absolute;
    right: 0;
    width: auto;
    height: 52px;
}

#toyota_logo {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
}
#toyota_logo img { width: 118px }
#corolla_logo {
  margin: 0 auto 0;
  padding: 44px 0 0 0;
  width: 242px;
  text-align: right;
}
#corolla_logo img { width: 202px }
#open_menu { display: none }
#open_menu img { width: inherit }
#menu {
  margin: 15px 0 0 0;
  position: static;
  border-top: 2px solid #d3d3d3;
  width: auto;
  background-color: #fff;
  display: none;
}
#menu.visible { display: block }
#menu li { border-bottom: 2px solid #d3d3d3 }
#menu li a {
  padding: 12px 15px 12px 15px;
  display: block;
  color: white;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #505050;
}
#menu {
  margin-left: -365px;
  position: absolute;
  top: inherit;
  left: 50%;
  bottom: 8px;
  width: 730px;
  display: none;
  border: none;
  zoom: 1;
}
#menu:after {
  content: "";
  display: block;
  clear: both;
}
#menu li {
  padding: 0;
  border: none;
  float: left;
}
#menu li a {
  padding: 0;
  display: inherit;
  color: #3a3a3a;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  background-color: white;
}
#menu #menu_1 { margin: 0 25px 0 0 }
#menu #menu_2 { margin: 0 25px 0 0 }
#menu #menu_3 { margin: 0 25px 0 0 }
#menu #menu_4 { margin: 0 25px 0 0 }
#menu #menu_5 { margin: 0 25px 0 0 }
#menu #menu_6 { margin: 0 25px 0 0 }
#menu #menu_7 { margin: 0 25px 0 0 }
#menu #menu_8 { margin: 0 0px 0 0 }
#toyota_logo {
  position: absolute;
  top: 12px;
  right: 14px;
  display: block;
}
#corolla_logo {
  margin: 0 auto 0;
  padding: 47px 0 0 0;
  width: 202px;
}
#corolla_logo img { width: 202px }
#open_menu { display: none }
#open_menu img { width: inherit }
#menu {
  position: absolute;
  top: inherit;
  bottom: 8px;
  width: 900px;
  left: 50%;
  margin-left: -450px;
  display: none;
  border: none;
  zoom: 1;
}
#menu:after {
  content: "";
  display: block;
  clear: both;
}
#menu li {
  padding: 0;
  border: none;
  float: left;
}
#menu li a {
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  height: 13px;
}



/***********************/
/********footer ********/
/***********************/

#footer_bg {
  background-color: #f5e0d2;
  width: 100%;
  margin: 0 auto;
}
#footer_function {
  margin: 0;
  position: fixed;
  z-index: 1200;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 10px solid #a19181;
  zoom: 1;
}
#footer_function:after {
  content: "";
  display: block;
  clear: both;
}
#footer_function ul {
  margin: 0 0 0 10px;
  padding: 5px 5px 0 5px;
  height: 30px;
  float: left;
  background-color: #a19181;
  zoom: 1;
}
#footer_function ul:after {
  content: "";
  display: block;
  clear: both;
}
#footer_function ul li {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  height: 30px;
}
#footer_function ul li a {
  border: none;
  height: 30px;
}
#footer_function ul #footer_function_coupon {
  margin: 0 5px 0 0;
  width: 134px;
  height: 30px;
}
#footer_copy {
  margin: 0 0 3px 0;
  background-color: #ff6e01;
  background: url(/lineup/sienta/sp/img/common/footer_copy_bg.jpg) repeat top left;
  zoom: 1;
}
#footer_copy:after {
  content: "";
  display: block;
  clear: both;
}
#footer_copy img{
  vertical-align: middle;
}
#footer_copy .copy {
  padding: 30px 0 0 13px;
  float: left;
}
#footer_copy .logo {
  padding: 0 13px 0 0px;
  float: right;
}
#footer_nav {
  margin: 0 auto 23px;
  width: 780px;
  zoom: 1;
}
#footer_nav:after {
  content: "";
  display: block;
  clear: both;
}
#footer_nav ul {
  margin: 0 auto;
  width: auto;
  float: left;
  zoom: 1;
}
#footer_nav ul:after {
  content: "";
  display: block;
  clear: both;
}
#footer_nav ul li { float: left }
#footer_nav ul li a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  height: 14px;
}
#footer_nav #footer_nav_group1 {
  margin: 0;
  width: auto;
  border-right: 1px solid #333333;
}
#footer_nav #footer_nav_business_user {
  margin: 0 30px 0 0;
  width: 76px;
}
#footer_info {
  margin: 0 auto 25px;
  position: relative;
  width: 413px;
  zoom: 1;
}
#footer_info:after {
  content: "";
  display: block;
  clear: both;
}
#footer_sns {
  margin: 15px 0 0 0;
  float: left;
  width: 102px;
  zoom: 1;
}
#footer_sns:after {
  content: "";
  display: block;
  clear: both;
}
#footer_sns li {
  position: relative;
  float: left;
  width: 24px;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}
#footer_sns li a {
  display: block;
  width: 39px;
  height: 39px;
}
#footer_sns #footer_sns_fb { margin: 0 15px 0 0 }
.fb_popup { display: none }
.popup_visible { display: block }
#footer_mobile {
  margin: 0 0 0 44px;
  position: relative;
  width: 265px;
  height: 45px;
  float: left;
}
#footer_mobile .txt_mobilesite {
  position: absolute;
  top: 7px;
  left: 0px;
}
#footer_mobile .txt_qrcode {
  position: absolute;
  top: 7px;
  left: 162px;
}
#footer_mobile .figure_qrcode {
  position: absolute;
  top: 0px;
  left: 226px;
}
#footer_mobile .mobile_link {
  position: absolute;
  top: 25px;
  left: 0px;
  color: #333333;
}
#footer_mobile .mobile_link a {
  font-size: 13px;
  font-size: 1.3rem;
  color: #333333;
  text-decoration: none;
}
#footer_copyright { padding: 0 0 65px 0 }
#footer_copyright p.txt1 {
  margin: 0;
  padding: 0;
  text-align: center;
}
#footer_copyright p.txt2 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.breadcrumb { display: block }
.breadcrumb li {
  display: inline-block;
  font-size: 12px;
  font-size: 1.2rem;
}
.breadcrumb li a {
  color: #333;
  font-size: 12px;
  font-size: 1.2rem;
  text-decoration: underline;
}
.breadcrumb li:after { content: " >" }
.breadcrumb li.breadcrumb_here:after { content: "" }
/* =========================================================

 contents

 ========================================================= */
/* contents base
......................................................... */
body { -webkit-text-size-adjust: 100% }
* { -webkit-text-size-adjust: none }
.width_keeper {
  margin: 0 auto;
  width: 100%;
}
.width_keeper_out {
  margin: 0 auto;
  width: 100%;
  position: relative;
}
#header_container_inner { width: 100% }
#nav_container #nav_container_inner {
  position: relative;
  z-index: 99;
  transition: margin-top  200ms ease 0.0s , line-height 200ms ease 0.0s, top 200ms ease 0.0s;
  -webkit-transition: margin-top 200ms ease 0.0s , line-height 200ms ease 0.0s, top 200ms ease 0.0s;
}
#nav_container #nav_container_inner.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
#sub_nav_footer {
  background-color: #dbddde;
  height: 64px;
}
#sub_nav_footer #sub_nav_footer_inner { width: 960px }
/* main_img
......................................................... */
#main_img_container {
  overflow: hidden;
  /*min-width: 960px;*/
  margin: 0 auto;
  position: relative;
  background-color: #000;
}
#main_img_container .slide li {
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity  1300ms linear;
  -webkit-transition: opacity 1300ms linear;
}
#main_img_container .slide li img {
  width: 100%;
  /*min-width: 960px;*/
}
#main_img_container .slider { position: relative }
#main_img_container #slider { position: relative }
#main_img_container #slider_main {
  position: absolute;
  top: 0px;
  left: 0px;
}
#main_img_container .navs {
  width: 100%;
  position: absolute;
  bottom: 15px;
  left: 0;
  text-align: center;
}
#main_img_container .navs li {
  margin-left: 18px;
  display: inline-block;
}
#main_img_container .navs li:first-child { margin: 0 ; margin-left: 10px; margin-right: 0px;}
#main_img_container .navs a {
  display: block;
  overflow: hidden;
  position: relative;
  width: 14px;
  height: 14px;
  background-image: url(/lineup/sienta/img/slide/mainimg_nav.png);
  background-position: bottom;
}
#main_img_container .navs a img {
  position: absolute;
  display: block;
  transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
}
#main_img_container .navs a img.black {
  left: 11px;
  top: 11px;
  height: 0;
  width: 0;
  z-index: 1;
}
#main_img_container .navs a img.white {
  left: 5px;
  top: 5px;
  height: 13px;
  width: 13px;
}
#main_img_container .navs .current { /* margin-right: 0  */}
#main_img_container .navs .current a { background-position: top }
#main_img_slide_container {
  overflow: hidden;
  width: 1280px;
  height: 497px;
  margin: 0 auto;
}
#main_img_slide_container ul {
  position: relative;
  width: 3840px;
  height: 500px;
}
#main_img_slide_container li {
  width: 1280px;
  height: 500px;
}
#main_img_slide_container .navs {
  position: absolute;
  top: 462px;
  left: 604px;
}
#main_img_slide_container .navs li { float: left }
#main_img_slide_container .navs a {
  display: block;
  overflow: hidden;
  position: relative;
  width: 12px;
  height: 20px;
}
/* navigation
......................................................... */
#main_nav {
  height: 80px;
  position: relative;
  z-index: 2;
  background-color: #000;
}
#main_nav #main_nav_inner {
  margin: 0 auto;
  width: 1004px;
}
#main_nav a {
  margin-right: 0;
  display: block;
  overflow: hidden;
  height: 80px;
  white-space: nowrap;
  text-indent: -9999px;
}
#main_nav span {
  margin: 0;
  display: block;
  overflow: hidden;
  position: relative;
  width: 112px;
  height: 80px;
  background: url(/lineup/sienta/img/main_nav.png) no-repeat left top;
  transition: background-position 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

#main_nav li.nav_01 span.nav01{
  width: 111px;
  height: 80px;
}
#main_nav li.nav_01 span.nav02{
  width: 111px;
  height: 80px;
}
#main_nav li.nav_01 span.nav03{
  width: 111px;
  height: 80px;
}
#main_nav li.nav_01 span.nav04{
  width: 111px;
  height: 80px;
}
#main_nav li.nav_01 span.nav05{
  width: 112px;
  height: 80px;
}
#main_nav li.nav_01 span.nav06{
  width: 112px;
  height: 80px;
}





/*#main_nav span.stay { transition: none }*/

#main_nav #sienta_logo {
  margin: 0 43px 0 11px;
  float: left;
  background: url(/lineup/sienta/img/main_nav_logo.jpg) no-repeat left top;
  width: 282px;
  height: 80px;
}
#main_nav li { float: left }
#main_nav li .stay { background-position: inherit -31px }
#main_nav li.nav_01 a span { background-position: 0 0 }
#main_nav li.nav_01 a:hover span { background-position: 0 -80px }
#main_nav li.nav_01 a span.stay { background-position: 0 -80px }
#main_nav li.nav_01 span { width: 111px; margin-left: 0;}
#main_nav li.nav_02 a span { background-position: -111px 0 }
#main_nav li.nav_02 a:hover span { background-position: -111px -80px }
#main_nav li.nav_02 a span.stay { background-position: -111px -80px }
#main_nav li.nav_02 span { width: 111px;}
#main_nav li.nav_03 a span { background-position: -222px 0 }
#main_nav li.nav_03 a:hover span { background-position: -222px -80px }
#main_nav li.nav_03 a span.stay { background-position: -222px -80px }
#main_nav li.nav_03 span { width: 111px;}
#main_nav li.nav_04 a span { background-position: -333px 0 }
#main_nav li.nav_04 a:hover span { background-position: -333px -80px }
#main_nav li.nav_04 a span.stay { background-position: -333px -80px }
#main_nav li.nav_04 span { width: 111px;}
#main_nav li.nav_05 a span { background-position: -444px 0 }
#main_nav li.nav_05 a:hover span { background-position: -444px -80px }
#main_nav li.nav_05 a span.stay { background-position: -444px -80px }
#main_nav li.nav_05 span { width: 112px }
#main_nav li.nav_06 a span { background-position: -556px 0 }
#main_nav li.nav_06 a:hover span { background-position: -556px -80px }
#main_nav li.nav_06 a span.stay { background-position: -556px -80px }
#main_nav li.nav_06 span { width: 112px; }




/*#sub_nav {
  height: 75px;
  z-index: 1;
  transition: margin-top  200ms ease 0.0s , line-height 200ms ease 0.0s, top 200ms ease 0.0s;
  -webkit-transition: margin-top 200ms ease 0.0s , line-height 200ms ease 0.0s, top 200ms ease 0.0s;
  background-color: #f4f4f4;
}
#sub_nav #sub_nav_inner {
  margin: 0 auto;
  width: 1004px;
}
#sub_nav li { float: left }
#sub_nav li a,
#sub_nav_footer li a {
  transition: margin-top  200ms ease 0.0s , line-height 200ms ease 0.0s, top 200ms ease 0.0s;
  -webkit-transition: margin-top 200ms ease 0.0s , line-height 200ms ease 0.0s, top 200ms ease 0.0s;
  margin-top: 9px;
  display: block;
  overflow: hidden;
  position: relative;
  line-height: 44px;
  text-align: center;
}
#sub_nav li a:hover { background-position: bottom }
#sub_nav li.nav_01 { margin: 0 10px 0 0px;}
#sub_nav li.nav_01 a {
  width: 328px;
  height: 54px;
  background-image: url(/lineup/sienta/img/sub_nav_01.gif);
}
#sub_nav li.nav_02 { margin-right: 10px;}
#sub_nav li.nav_02 a {
  width: 328px;
  height: 54px;
  background-image: url(/lineup/sienta/img/sub_nav_02.gif);
}
#sub_nav li.nav_03 a {
  width: 328px;
  height: 54px;
  background-image: url(/lineup/sienta/img/sub_nav_03.gif);
}
#sub_nav li a { transition: background-position 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) }*/





#contents_body #contents_list .fade {
  transition: opacity 600ms linear;
  /*-webkit-transition: opacity 800ms linear;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);*/
  opacity: 0;
}
#contents_body #contents_list li:after {
  /* content: ""; */
  display: block;
  clear: both;
}
#contents_body #contents_list li .width_keeper { position: relative }
#contents_body #contents_list .box_inner {
  margin: 0 auto;
  width: 1004px;
  background-color: #fff;
  margin-top: 80px;
}





/* ..... tab_change_nav ..... */


/*
.tab_change_nav {
    margin: 0 auto;
}
#contents_body #contents_list #index03 #mode_change2 {
    margin: 0 auto;
    width: 960px;
    margin-top: 55px;
}
.tab_change_nav ul a:hover { background-position: 0px -40px }
.tab_change_nav ul a.current { background-position: bottom !important }
.tab_change_nav li { float: left }
.tab_change_nav {
    height: 50px;  margin-left: auto; margin-right: auto; background-color: #cccccc;
    -moz-border-radius: 4px;
}
.tab_change_nav:after {
    content: "";
    display: block;
    clear: both;
}
.tab_change_bt a{
    display: block;
    overflow: hidden;
    position: relative;
    width: 504px;
    height: 40px;
    white-space: nowrap;
    text-indent: -9999px;

}
.tab_change_bt:first-child { padding: 5px }
.tab_change_bt { padding-top: 5px }

.tab_change_xurban a {
    background: url(/lineup/sienta/img/btn_xarban.gif) no-repeat left top;
}
.tab_change_original a{
    background: url(/lineup/sienta/img/btn_original.gif) no-repeat left top;
}
.tab_change_nav.large{
    height: 80px;
}
.tab_change_nav.large .tab_change_bt a{
    width: 504px;
    height: 70px;
}

.tab_change_nav.large .tab_change_xurban a {
    background: url(/lineup/sienta/img/btn_xarban_large.gif) no-repeat left top;
}

.tab_change_nav.large .tab_change_original a {
    background: url(/lineup/sienta/img/btn_original_large.gif) no-repeat left top;
}

.tab_change_nav.large ul a:hover { background-position: 0px -70px }

*/











/************************/
/************************/
/************************/
/*clearfix*/
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
li{list-style: none;}

.disnon{display: none;}
/************************/
/************************/
/************************/

/*��ͨCSS*/
#contents{
  background-color: #fff;
  float: left;
  width: 100%;
  color: #000;
}

#contents_list .index_title{
  background-color: #000;
  padding: 26px 0 15px;
}
#contents .top-sub-banner{
  margin:0 auto;
  width: 926px;
  padding-bottom: 80px;
  padding-top: 80px;
}
#contents .top-sub-banner img{
  width:100%;
}

#contents .section{
  width: 900px;
  margin: 0 auto;
}
#contents .section .copy{
  display: block;
  font-size: 15px;
  margin-top: 22px;
  line-height: 1.94;
}
h3{
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}
h4.index-subtitle{
  font-weight:bold;
  text-align: left;
  width: 1004px;
  margin: 0 auto 40px;
  border-left: 4px #ad1928 solid;
  padding: 10px 0;
}
h4.index-subtitle p{
  line-height: 1.5!important;
}
h4.index-subtitle .bgbox{
  display: inline-block;
  background-color: #f4f4f4;
  padding: 0 10px;
  border: 1px #bdbdbd solid;
}
.index-subtitle p{margin-left: 35px;}
.fs15{font-size: 15px!important;}
.fs18{font-size: 18px!important;}
.fs30{font-size: 30px!important;}
.lh01{line-height: 2!important;}
.att{ padding-left: 1em; text-indent: -1em;
}


.animation-car img{
  vertical-align: top;
}




/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************//************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/

/***********************/
/********index01********/
/***********************/
#index01 {
 background-color: #faed00;
 min-width: 900px;
 text-align: center;
}
#index01 h3{
  margin-top: 40px;
}
#index01 ul{
  margin-top: 5px;
  min-width: 900px;
}
#index01 li{
  display: inline-block;
  margin-left: 26px;
}
#index01 li:first-child{
  margin-left: 0;
}
#index01 .copy{
  display: block;
  font-size: 15px;
  margin-top: 20px;
}

#index01 .main-banner{
  margin-top: 4px;
  margin-bottom: 53px;
}



/***********************/
/********index02********/
/***********************/
#index02{
  min-width: 900px;
  text-align: center;
}
#index02 h3{
  margin-top: 100px;
}
/*section01*/
#change-seat-panel{
  background-color: #000;
  margin-top: 41px;
}
#change-seat-panel .change_btn{
  background-color: #fff;
}
#change-seat-panel .change_btn li{
  float: left;
  margin-left: 4px;
}
#change-seat-panel .change_btn li.active{
  background-color: #06121b;
  opacity:1!important;
  -ms-filter: "alpha(opacity=100)"!important;
}
#change-seat-panel .change_btn li:first-child{
  margin-left: 0;
}
#change-seat-panel .change_btn li a{
  display: block;
  height: 60px;
}
#change-seat-panel .img_box{
  margin: 0 auto;
  width: 900px;
  height: 498px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
#change-seat-panel .img_box img{
  top: 0;
  left: 0;
  position: absolute;
}
#index02 .section01 .caption{
  text-align: left;
  font-size: 10px;

  margin-top: 17px;
  letter-spacing: 0.5px;
}
/*section02*/
#index02 .section02 .copy{
  margin-top: 19px;
}
#index02 .section02 .copy span{
  position: relative;
  font-size: 7px;
  bottom:8px;
}
#index02 .section02 .caption{
  margin-top: 8px;
  letter-spacing: 1.3px;
}

#index02 .section02 .mainpic{
  margin-top: 46px;
}
#index02 .section02 .mainpic img{
  vertical-align: top;
}
/*section03*/
#change-receipt-panel{
  margin-top: 43px;
}
#change-receipt-panel .img_box{
  margin: 0 auto;
  width: 900px;
  height: 494px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: #000;
}
#change-receipt-panel .img_box img{
  top: 0;
  left: 0;
  position: absolute;
}
#change-receipt-panel .btn-wrap{
  background-color: #cdd0d1;
  border: 4px solid #000;
}
#change-receipt-panel .change_btn{
  width:440px;
  margin: 10px auto 8px;
}
#change-receipt-panel .change_btn li{
  float: left;
  margin-left: 10px;
  position: relative;
}
#change-receipt-panel .change_btn li.active{
  opacity:1!important;
  -ms-filter: "alpha(opacity=100)"!important;
}
#change-receipt-panel .change_btn li:first-child{
  margin-left: 0;
}

#change-receipt-panel .change_btn li.active a img.cover{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#change-receipt-panel .change_btn li a img.cover{
  display: none;
}
#index02 .section03 {
  margin-bottom: 70px;
}
#index02 .section03 .caption{
  text-align: left;
  font-size: 10px;
  margin-top: 14px;
  letter-spacing: 0.5px;
}
#index02 .section03 .dive-in{
  margin-top: 27px;
}
#index02 .section03 .dive-in-text li{
  width: 280px;
  float: left;
  margin-left: 30px;
  text-align: left;
  font-size: 13px;
  margin-top: 10px;
}
#index02 .section03 .dive-in-text li:first-child{
  margin-left: 0;
}
#index02 .section03 .dive-in-text li span{
  font-size: 10px;
}
/*section04*/
.section04{}



/***********************/
/********index03********/
/***********************/
#index03{
  min-width: 900px;
  text-align: center;
  background-color: #faed00;
  /*padding-top: 80px;*/
}

/*section01*/
#index03 .section01{
  padding-top: 100px;
  padding-bottom: 25px;
}
#index03 .section01 .caption-small{
  font-size: 10px;
  margin-top: 4px;
}
#index03 .section01 span{
  display: block;
}
#index03 .section01 ul{
  margin: 37px auto 0;
}
#index03 .section01 li{
  background-color: #fff;
  border: 4px solid #000;
  float: left;
  margin-left: 30px;
  padding: 0 0 0 0;
}
#index03 .section01 li.left{
  width: 364px;
  height: 299px;
}
#index03 .section01 li.right{
  width: 490px;
  height: 299px;
}
#index03 .section01 li:first-child{
  margin-left: 0;
}

#index03 .section01 li.right .inner-l{
  float: left;
  margin: -3px 0 0 30px;
}
#index03 .section01 li.right .inner-r{
  float: left;
  margin: -3px 0 0 30px;
}
#index03 .section01 li .circle{
  margin-top: 30px;
}
#index03 .section01 li .value{
  margin-top: 27px;
}
#index03 .section01 li .jc08{
  font-size:12px;
  margin-top: 8px;
}
#index03 .section01 li.right .jc08{
  font-size: 10px;
  margin-top: 4px;
}
#index03 .section01 li.right .jc08 span{
 padding-right: 5px;
}

#index03 .section01 li .jc08 span{
  display: inline-block;
  padding-right: 10px;
}
#index03 .section01 li .jc08 img{
  vertical-align: bottom;
}
#index03 .section01 li .inner-text{
  margin-top: 30px;
  font-size: 13px;
}
#index03 .section01 .caption{
  font-size: 12px;
  margin: 19px 0 0 -22px;
}
#index03 .section02{
  margin-bottom: 66px;
}
#index03 .section02 .graph-wrap{
  position: relative;
  width: 900px;
  height: 660px;
  background: url(/lineup/sienta/img/index-01-main-pic.jpg) no-repeat left center;
}
#index03 .section02 .graph-wrap .graph-bar{}
#index03 .section02 .graph-wrap .graph-bar{
  width: 600px;
  height: 190px;
  position: absolute;
  top: 60px;
  left: 243px;
  text-align: left;
  overflow: hidden;
}
#index03 .section02 .graph-wrap .graph-bar li{
  margin-top: 16px;
}
#index03 .section02 .graph-wrap .graph-bar li:first-child{
  margin-top: 0;
}
#index03 .section02 .graph-wrap .graph-bar li.bar01{ position: relative; left: -600px;}
#index03 .section02 .graph-wrap .graph-bar li.bar02{ position: relative; left: -454px;}
#index03 .section02 .graph-wrap .graph-bar li.bar03{ position: relative; left: -379px;}

#index03 .section02 .graph-wrap .graph-bar-value{
  width: 600px;
  height: 190px;
  position: absolute;
  top: 60px;
  left: 243px;
  text-align: left;
  overflow: hidden;
  /*background-color: #666;*/
}
#index03 .section02 .graph-wrap .graph-bar-value li{
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  line-height: 1;
  text-align: right;
  height: 50px;
}
#index03 .section02 .graph-wrap .graph-bar-value li.bar01-value{
 margin-top: 0px;
 width: 600px;
}
#index03 .section02 .graph-wrap .graph-bar-value li.bar02-value{
  margin-top: 20px;
  width: 454px;
}
#index03 .section02 .graph-wrap .graph-bar-value li.bar03-value{
  margin-top: 20px;
  width: 379px;
}
#index03 .section02 .graph-wrap .graph-bar-value li img{
  margin: 12px 12px 0 0;
}


/***********************/
/********index04********/
/***********************/

#index04{
  margin: 0 auto;
  min-width: 900px;
  text-align: center;
}
#index04 h3{
  margin-top: 100px;
  font-size: 26px;
}
/*section01*/
#color-change-panel{
  border: 4px solid #000;
  background-color: #fff;

  margin-top: 40px;
}
#color-change-panel .img_box {
  margin: 0 auto;
  width: 892px;
  height: 500px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding-bottom: 0px;
}
#color-change-panel .img_box img{
  position: absolute;
  top: 0;
  left: 0;
}
#color-change-panel .wrap_change_btn{
  width: 892px;
  margin: 0 auto 35px;
}
#color-change-panel .color-category{
}
#color-change-panel .color-category.mono{
  float: left
}
#color-change-panel .color-category.mono .category-name{
  margin: 11px 0 0 66px;
}
#color-change-panel .color-category.flex{
  float: left
}
#color-change-panel .color-category.flex .category-name{
  margin: 11px 0 0 22px;
}
#color-change-panel .color-category.mono .change_btn {
  margin: 8px 0 0 63px;
}
#color-change-panel .color-category.flex .change_btn {
  margin: 8px 0 0 24px;
}
#color-change-panel .color-category .change_btn li {
  float: left;
  margin-left: 1px;
  position: relative;
  width: 52px;
  height: 52px;
}
#color-change-panel .color-category .change_btn li.active {
  filter:alpha(opacity=100)!important;
  -moz-opacity: 1!important;
  opacity: 1!important;
}
#color-change-panel .color-category .change_btn li.active a{
  border: none;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#color-change-panel .color-category .change_btn li.active a{
  display: block;
  width: 52px;
  height: 52px;
  /*border: 2px solid #fff;*/
}
#color-change-panel .color-category .change_btn li a img {
  vertical-align: top;
}
#color-change-panel .color-category .change_btn li a img.cover{
  display: none;
}
#color-change-panel .color-category.show .change_btn li.active a img.cover{
  display: none;
}
#color-change-panel .color-category.show .change_btn li.active a img.cover{
  display: block;
  position: absolute;
  top: -4px;
  left: 0;
}
#color-change-panel .color-category .notice{
  margin: 0 auto;
  width: 1004px;
  text-align: left;
}
#color-change-panel .color-category .notice p{
  color: #333;
  padding-bottom: 10px;
  font-size: 12px;
}
/*section2*/
#change-interior-panel{
  background-color: #000;
  padding-top: 4px;
  margin-top: 46px;
}
#change-interior-panel .img_box{
  margin: 0 auto;
  width: 892px;
  height: 494px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
#change-interior-panel .img_box img{
  top: 0;
  left: 0;
  position: absolute;
}
#change-interior-panel .change_btn{
  background-color: #000;
  padding: 10px 0 10px;
  width: 290px;
  margin: 0 auto;
}
#change-interior-panel .change_btn li{
  position: relative;
  float: left;
  margin-left: 10px;
}
#change-interior-panel .change_btn li.active{
  opacity:1!important;
  -ms-filter: "alpha(opacity=100)"!important;
}
#change-interior-panel .change_btn li:first-child{
  margin-left: 0;
}
#change-interior-panel .change_btn li a{
  width: 140px;
  height: 77px;
  display: block;
}
#change-interior-panel .change_btn li.active a img.cover{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#change-interior-panel .change_btn li a img.cover{
  display: none;
}
/*section03*/
#index04 .section3{
  margin-top: 64px;
  margin-bottom: 68px;
  /* background-color: #faed00; */
}
#index04 .point{
  border: 4px solid #000;
  background-color: #faed00;
}
#index04 .point .icon{
  display: inline-block;
}
#index04 .point .tit{
  display: block;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  margin-bottom: 40px;
  padding: 8px 0 9px 0;
  letter-spacing: 2.4px;
}
#index04 .point ul{
  margin-bottom: 36px;
}
#index04 .point li{
  text-align: left;
  float: left;
  width: 400px;
  margin-left: 37px;
}
#index04 .point li + li{
  margin-left: 40px;
}
#index04 .point li.left{
  margin: 22px 0 0 37px;
}
#index04 .point li .point-tit{
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin-left: 15px;
}
#index04 .point li .description{
  font-size: 15px;
  display: block;
  width: 350px;
  height: 50px;
  background: url(/lineup/sienta/img/index-02-square-bg.png) no-repeat left center;
  padding: 13px 20px 7px;
  margin-top: 30px;
}
#index04 .point li .description.led{
  width: 350px;
  height: 20px;
  padding: 25px 20px;
}




/*******************/
/******index04******/
/*******************/
#index05{
  min-width: 900px;
  text-align: center;
  background-color: #faed00;
  /* padding-bottom: 64px; */
  /* margin-top: 54px; */
}

/*section01*/
#index05 .section01 h3{
  margin-top: 94px;

  line-height: 1.5;
}


#index05 .section01 .option{
  display: block;
  margin-top: 10px;
}
#index05 .section01 .anc_area{
  margin-top: 40px;
}
#index05 .section01 .movie{
  margin-top: 45px;
}


/*section02*/
#index05 .section02{
  margin-bottom: 65px;
}
#index05 .section02 h3{
  margin-top: 97px;
}
#index05 .section02 .image-area{
  margin-top: 40px;
}
#index05 .section02 .image-area p{
  margin-top: 16px;
}
#index05 .section02 .image-area p:first-child{
  margin-top: 0;
}
#index05 .section02 .caption{
 text-align: left;
 margin-top: 14px;
 letter-spacing: 0.5px;
}










/***********************/
/********index06********/
/***********************/
#index06{
  min-width: 900px;
  text-align: center;
  /* padding-bottom: 62px; */
}
#index06 .width_keeper{
}
#index06 img{ vertical-align: top; }

/*section01*/
#index06 .section01 h3{
  margin-top: 100px;
}
#index06 .section01 .price-text{
  display: block;
  margin-top: 20px;
}
#index06 .section01 ul{
  margin-top: 20px;
  padding-bottom: 100px;
}
#index06 .section01 li{
  float: left;
  margin-left: 30px;
}
#index06 .section01 li:first-child{
  margin-left: 0;
}

#index06 .section01 li .type{
  display: block;
  margin-bottom: 19px;
}
#index06 .section01 li .hx,
#index06 .section01 li .xv,
#index06 .section01 li .x{
  margin-bottom: 10px;
}
#index06 .section01 li .car{
  margin-top: 37px;
}

#index06 .section01 .deals{}
#index06 .section01 .deals span{
  display: block;
  margin-bottom: 10px;
}

#index06 .section02{
  margin-bottom: 65px;
}
#index06 .section02 h3{
  margin-top: 104px;
}

#index06 .section02 .tconnect{
  margin-top: 15px;
}

/***********************/
/********index07********/
/***********************/
#index07{
  min-width: 900px;
  text-align: center;
  background-color: #faed00;
}
#index07 .section01 {
  /*margin-bottom: 30px;*/
}
#index07 .section01 .copy{
  margin-top: 43px;
}
#index07 .section01 .type{
  margin-top: 44px;
}


#index07 .caption{
  text-align: left;
  margin-top: 14px;
  line-height: 1.6;
  letter-spacing: 0.9px;
  font-size: 11px;
}
#index07 .comment{
  margin-top: 47px;
  font-size:28px;
  font-weight: bold;
}
#index07 .link-btn{
  margin: 10px auto 0;
  display: block;
  position: relative;
  width: 319px;
  height: 54px;
  overflow: hidden;
}
#index07 .link-btn a{
  position: absolute;
  top: 0;
  left: 0;
  width: 319px;
  height: 108px;
}
#index07 .link-btn a:hover{
  top:-54px;
}
#index07 .section01 .animation-car{
  margin-top: 66px;
}




/***********************/
/********index08********/
/***********************/












.valueplan_list li{
  margin-top: 3px;
  /* text-indent: -1.5em; */
  padding-left: 1.5em;
  padding-left: 1em;
  background: url(/lineup/sienta/img/bg_listmark.png) left 6px no-repeat;
  /* background-size: 4px 4px; */
}
.triple{
  margin-top: 54px;
}


.connect{
  margin-top: 54px;
  position: relative;
}
.connect .linkBtn{
  position: absolute;
  bottom:60px;
  left: 300px;
}















.conversion{
  margin-top: 79px;
}
.conversion p{
  font-size: 24px;
}
.conversion .btn{
  margin-top: 20px;
  margin-bottom: 20px;
}
#index04 .sub{
  font-size:15px;
  margin-top:10px
}
.conversion .btn a{
  margin: 0 auto;
  display: block;
  width: 680px;
  height: 80px;
  /*background: url(/lineup/sienta/img/index04_conversion.png) left top no-repeat;*/
}
.conversion .btn a:hover{
  background-position: left bottom;
}
.btn_pagetop{
  margin-top: -50px;
  margin-bottom: 120px;
}
.btn_pagetop.width_keeper{
  width:900px;
  /*overflow: hidden;*/
  /*padding-bottom: 40px;*/
}
#contents_body .btn_pagetop:after {
  /* content: ""; */
  display: block;
  clear: both;
}
#contents_body .btn_pagetop a {
  float: right;
  display: block;
  position: static;
  overflow: hidden;
  width: 50px;
  height: 50px;
  /* background: url(/lineup/sienta/img/btn_pagetop.png) no-repeat left top; */
  /* margin-right: 9px; */
}
#contents_body .btn_pagetop a:hover { background-position: left -50px }
#contents_body .read {
  font-size: 14px;
  font-size: 1.4rem;
}
#footer_sns a {
  display: block;
  width: 39px;
  height: 39px;
}









/************************/
/*slide*/
/************************/
#main_img_slider_thumb{
  width: 100%;
  float: left;
  background-color: #000;
}
#main_img_slider_thumb ul li{
  width: 20%;
  float: left;





}
#main_img_slider_thumb li img{
  margin: 0 auto;
  width: 100%;
  /*background-color: #000;*/
  overflow: hidden;
  vertical-align: top;
}
#main_img_slider_thumb ul li.current{
  background-color: #000;
  filter:alpha(opacity=80)!important;
  -moz-opacity: 0.8!important;
  opacity: 0.8!important;
}



#main_img_slider_thumb ul li a:hover{
  filter:alpha(opacity=80)!important;
  -moz-opacity: 0.8!important;
  opacity: 0.8!important;
}


#main_img_slider_thumb li.current img.cover{
  display: block;
  /*overflow: hidden;*/
  position: absolute;
  width: 20%;
  height: auto;

}
#main_img_slider_thumb li img.cover{
  display: none;
}


/************************/
/*animation cars */
/************************/
.animation-car{
  height: 71px;

  width: 100%;
  overflow: hidden;
  position: relative;
}
.animation-car .car-move-box {
  width: 171px;
  height: 71px;
  position: absolute;
}
.animation-car .car-move-box .car-wheel-1{
  width: 27px;
  height: 27px;
  overflow: hidden;
  position: absolute;
  top: 44px;
  left: 13px;
}
.animation-car .car-move-box .car-wheel-1 img{
  position: absolute;
  top: 0;
  left: 0;
}
.animation-car .car-move-box .car-wheel-2{
  width: 27px;
  height: 27px;
  overflow: hidden;
  position: absolute;
  top: 44px;
  left: 127px;
}
.animation-car .car-move-box .car-wheel-2 img{
  position: absolute;
  top: 0;
  left: 0;
}


.animation-car .car-move-box .car-wheel-1-2{
  width: 27px;
  height: 27px;
  overflow: hidden;
  position: absolute;
  top: 44px;
  left: 15px;
}
.animation-car .car-move-box .car-wheel-1-2 img{
  position: absolute;
  top: 0;
  left: 0;
}
.animation-car .car-move-box .car-wheel-2-2{
  width: 27px;
  height: 27px;
  overflow: hidden;
  position: absolute;
  top: 44px;
  left: 129px;
}
.animation-car .car-move-box .car-wheel-2-2 img{
  position: absolute;
  top: 0;
  left: 0;
}


.animation-car .car-move-box .car-body{

}
.animation-car .car-move-box .car-body{
  position: absolute;

  top: 0;
  left: 0;
}
.animation-car {
    margin-top: 66px;
}

/*========================================
sub_nav
==========================================*/
.sub_nav {
    background-color: #f4f4f4;
}
.sub_nav .inner {
    width: 1180px;
    margin: 0 auto;
}
.sub_nav ul {
    font-size: 0;
    text-align: center;
    padding: 10px 0;
}
.sub_nav li {
    background-color: #fff;
    /*border-radius: 6px;*/
    display: inline-block;
    height: 52px;
    line-height: 52px;
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
    /* padding-top: 15px; */
    box-sizing: border-box;
    float: left;
}
.sub_nav li.nav_01 .sub_nav_list_wrap {
    padding-top: 10px;
}
.sub_nav li:first-child {
    margin-left: 0;
}
.snav_list5 li {
    width: 228px;
}
.snav_list4 li {
    width: 288px;
}
.snav_list3 li {
    width: 388px;
}
.snav_list2 li {
    width: 586px;
}
.snav_list1 li {
    width: 586px;
}
.sub_nav li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    vertical-align: text-top;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease>;
    -ms-transition: all .15s ease>;
    -o-transition: all .15s ease>;
    transition: all .15s ease>;
}
.sub_nav li a:hover {
    opacity: .8
}

.sub_nav .sub_nav_list_wrap {
    background-color: #ad1928;
    /*border-radius: 6px;*/
    font-size: 17px;
    box-sizing: border-box;
    /*padding-top: 11px;*/
    height: 100%;
    position: relative;
}
.sub_nav .sub-nav-text-s {
    font-size: 12px;
    display: inline-block;
}
.sub_nav .sub-nav-text {
    line-height: 1;
    display: inline-block;
    text-align: left;
}
.sub_nav .nav_01 .sub-nav-text {
    padding-left: 60px;
}
.sub_nav .nav_02 .sub-nav-text {
    padding-left: 40px;
}
.sub_nav .nav_03 .sub-nav-text {
    padding-left: 40px;
}
.sub_nav .nav_04 .sub-nav-text {
    padding-left: 54px;
}
.sub_nav .nav_05 .sub-nav-text {
    padding-left: 48px;
}

.sub_nav li img {
    width: 47px;
    position: absolute;
}
.sub_nav .nav_01 img {
    top: 9px;
    left: 25px;
}
.sub_nav .nav_02 img {
    top: 10px;
    left: 22px;
}
.sub_nav .nav_03 img {
    top: 9px;
    left: 10px;
}
.sub_nav .nav_04 img {
    top: 9px;
    left: 12px;
}
.sub_nav .nav_05 img {
    top: 11px;
    left: 11px;
}