.tel_a {
	color:inherit;
}
#alert-box{
    border: solid 4px #ff6e01;
    padding: 25px;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
}
.top-contents {
  clear: both;
  padding: 0;
  padding-top: 43px;
  margin-top: -12px;
  position: relative;
  background: #f9f9f9;
  color: #4d4d4d;
  }

.top-contents-inner
{}

.top-contents:after {
  content: "";
  clear: both;
  display: block; }

.top-column-right 
{
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .top-contents {margin: 0;/* padding: 0; */padding-top: 24px;}
  .top-column-right  { background: transparent;}
}

@media screen and (min-width: 980px) {
  .top-contents {
    padding: 0;
  }
}

@media screen and (min-width: 1366px) {
  .top-contents {
    width: auto;
    margin: 0 auto;
    padding: 43px 0 0;
    } 
}

@media screen and (min-width: 1680px) {
  .top-column-right {
    border-top: 1px solid  #dddddd;
    }
  .top-column-left {
    }
  .top-column-left-inner {
    padding-top: 30px;
    }
  .top-contents {
    width: auto;
    margin: 0 auto;
    padding-top: 39px;
    } }
