.top-servicemenu-container {
   margin-top: 0;
   margin-bottom: 16px;
   padding-top: 10px;
   background: #fff;
   text-align: center;
   padding-bottom: 33px;
}

.top-servicemenu-container .tc-title-type-03-reg {
   margin-bottom: 16px;
   color: #ff8700;
}

.top-servicemenu-title {
   margin-bottom: 19px;
   padding-top: 0;
   color: #3f3b3a;
   border: 1px solid #3f3b3a;
   border-radius: 27px;
   font-size: 15px;
   font-weight: normal;
   text-align: center;
   letter-spacing: .01em;
   display: inline-block;
   line-height: 23px;
   padding: 0 13px;
}

.top-servicemenu-title:nth-child(3n-1) {
}


.top-servicemenu-list {
   list-style: none;
   clear: both;
   margin: 0;
   padding: 0;
}

.top-servicemenu-list:after {
   display: block;
   clear: both;
   content: "";
}

.top-servicemenu-list {
   margin-bottom: 18px;
   margin: 0 34px;
   margin-right: -14px;
}

.top-servicemenu-item {
   overflow: hidden;
   position: relative;
   float: left;
   width: 46.8%;
   padding-right: 30px;
   margin-bottom: 9px;
   text-align: center;
}

.top-servicemenu-item a {
   text-decoration: none;
}

.top-servicemenu-item img {
   width: 103.7%;
   height: auto;
}

.top-servicemenu-item-text {
   display: table;
   box-sizing: content-box;
   position: relative;
   top: 0;
   margin-top: 1px;
   left: 0;
   width: 100%;
   height: 36px;
   color: #000;
   font-size: 12px;
   text-align: center;
   line-height: 1.4;
   letter-spacing: em;
}

.top-servicemenu-item-text-inner {
   display: table-cell;
   padding: 0 10px;
   vertical-align: top;
}

.top-servicemenu-item-pic {
   display: block;
   width: 100%;
   margin: 3px auto 2px;
   padding-bottom: 100%;
   background: no-repeat center top;
   background-color: #fff;
   background-size: 100% auto;
   border-radius: 50%;
}

.top-servicemenu-container .top-wave-head
{
  position: relative;
  top: -14px;
}

.top-servicemenu-container .top-wave-head path
{
  fill: #fff;
}

@media screen and (min-width: 768px) {
   .top-servicemenu-container .top-wave-head
   {top: -44px;margin-bottom: 12px;}

   .top-servicemenu-container .top-wave-head path
   {
         
   }

   .top-servicemenu-container {
      margin-bottom: 0;
      background: #fff;
      padding-bottom: 0;
   }

   .top-servicemenu-container ul:last-child{
         margin-bottom: 0;
         padding-bottom: 100px;
   }
   .top-servicemenu-title {
      margin-bottom: 42px;
      font-size: 24px;
      border-width: 3px;
      line-height: 37px;
      padding: 0 29px;
   }
   .top-servicemenu-item {
      float: left;
      width: 20%;
      text-align: left;
      padding-right: 0;
   }
   .top-servicemenu-item img {
      position: relative;
      left: -24.1%;
      width: 148%;
   }
   .top-servicemenu-list {
      margin: 0 20px 36px;
      padding: 0;
   }
   .top-servicemenu-item-text {
      padding-top: 17%;
      font-size: 15px;
      font-weight: normal;
      height: 50px;
   }
   .top-servicemenu-item-pic {
   border-bottom: 0;
   padding-bottom: 68.5%;
   width: 68.5%;
   margin: 0 auto;
   }

   .top-servicemenu-container .tc-title-type-03-reg {
   margin-bottom: 31px;
   line-height: 1.6;
   }

   .top-servicemenu-title:nth-child(3n-1) {
      /* padding-top: 44px; */
   }

}

@media screen and (min-width: 980px) {
   .top-servicemenu-item img {
      left: -8%;
      width: 116%;
   }
   .top-servicemenu-list {
      margin-bottom: 0;
      padding: 0 98px;
      margin: 0;
   }
   .top-servicemenu-title {
      padding-top: 0;
      font-size: 24px;
      margin-bottom: 51px;
      border-width: 2px;
      letter-spacing: 0.1em;
   }
   .top-servicemenu-item-text {
      padding-top: 7px;
      font-size: 16px;
   }
   .top-servicemenu-item-pic {
   width: 100px;
   padding-bottom: 100px;
   }
   .top-servicemenu-container {
         clear: both;
         padding-bottom: 0;
         margin-bottom: 20px;
   }
   .top-servicemenu-container .tc-title-type-03-reg {
    margin-bottom: 59px;
}

   .top-servicemenu-item {width: 20%;margin-bottom: 41px;}
       .top-servicemenu-container ul:last-child
   {
   padding-bottom: 60px;
   }
}

@media screen and (min-width: 1366px) {
   .top-servicemenu-item img {
      left: 0;
      width: 100%;
   }
   .top-servicemenu-item-text {
      padding-top: 10px;
   }
   .top-servicemenu-item-pic {
   }
   .top-servicemenu-container .tc-title-type-03-reg {margin-bottom: 53px;}
   .top-servicemenu-item {margin-bottom: 1px;margin-right: -10px;width: 170px;}
   .top-servicemenu-item:nth-child(5n){margin-right: 0;width: 110px;margin-left: 32px;}
   .top-servicemenu-container {
         padding-bottom: 43px;
         margin-bottom: 0;
   }

   .top-servicemenu-list {
         width: 798px;
         margin: 0 auto 37px;
         padding: 0;
   }

   .top-servicemenu-container ul:last-child
   {
      }
}

@media screen and (min-width: 1680px) {
   .top-servicemenu-container {
      margin-bottom: 0;
      padding-bottom: 50px;
   }
   .top-servicemenu-list {
      border-left: 0;
   }
   .top-servicemenu-list li:last-child {
      border-right: 0;
   }
   .top-servicemenu-item-pic {
   }
   .top-servicemenu-container .tc-title-type-03-reg {
      margin-bottom: 59px;
      }
   .top-servicemenu-item {

   }
   .top-servicemenu-container .top-wave-head {
         margin-bottom: 0px;
   }
    .top-servicemenu-container ul:last-child
   {
   }
}
