@charset "UTF-8";
.top-date-container {
  padding: 43px 10px 0;
  }

.top-date-list {
  list-style: none;
  background: #fff;
  padding: 25px 25px 8px;
  margin-top: 12px;
  border-radius: 30px;
  }

.top-date-item {
  position: relative;
  margin-bottom: 14px;
  letter-spacing: .05em;
  color: #4d4d4d;
  }

.top-date-item:after {
  top: 0px;
  left: -16px;
  font-size: 13px;
  }

.top-date-item-label {
  color: #000000;
  font-size: 13px;
  margin-bottom: 7px;
  }

.top-date-item-time {
  letter-spacing: 0.1em;
  }

.top-date-text-area {
  color: #333;
  padding-top: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5em;
}

@media screen and (min-width: 768px) {
  .top-date-container {
    margin-bottom: 0;
    padding: 33px 0 0;
    }
  .top-date-title {
    margin: 0 0 17px;
    padding: 0;
    }
  .top-date-list {
    width: 100%;
    margin-top: 0;
    height: 265px;
    padding: 31px 20px 20px 27px;
    }
  .top-date-list li:nth-child(even) {
    padding-left: 20px;
  }
    .top-date-list:after {
      content: "";
      display: block;
      clear: both;
    }
  .top-date-item {
    margin-bottom: 15px;
    width: 50%;
    float: left;
    }
  .top-date-item:after {
    font-size: 17px;
    left: -23px;
    top: -3px;
    }
  .top-date-item-label {
    font-size: 16px;
    margin-bottom: 10px;
    }
  .top-date-item-time {
    font-size: 18px;
    }
  .top-date-item-label {
    font-size: 16px;
    letter-spacing: 0.00em;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .top-date-item-time {
    font-size: 16px;
    margin-bottom: 0px;
  }

  .top-date-text-area {
    color: #333;
    padding-top: 4px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5em;
  }

  .top-block-title {
    padding-left: 0px;
  }

}

@media screen and (min-width: 980px) {
  .top-date-container {
    float: left;
    width: 50%;
    height: auto;
    padding: 36px 20px 0 0;
    }
  .top-date-list li:nth-child(even) {
    padding-left: 0;
  }
  .top-date-list {
    margin-bottom: 0;
    padding-bottom: 30px;
    margin-left: 0;
    padding-left: 37px;
    padding-right: 37px;
    } 
  .top-date-item {
    margin-bottom: 35px;
    width: 100%;
    float: none;
  }
  .top-date-title {
  margin-bottom: 17px;
  }

  .top-date-item-label {
    font-size: 16px;
    letter-spacing: 0.00em;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .top-date-item-time {
    font-size: 16px;
    margin-bottom: 0px;
  }

  .top-date-text-area {
    color: #6f6f6f;
    padding-top: 5px;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: bold;
  }
  
}

@media screen and (min-width: 1366px) {
  .top-date-container {
    width: 50%;
    float: left;
    padding: 42px 20px 0 0;
  }
  
  .top-date-title {
    padding-left: 10px;
  }
  .top-date-list {
  padding-top: 27px;
  margin-bottom: 0;
  padding-bottom: 20px;
  }
  .top-date-item-label {
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 9px;
  }

  .top-date-item {
    margin-bottom: 38px;
  }

  .top-owner-ship-container {
    padding-top: 37px;
  }
}

@media screen and (min-width: 1680px) {
  .top-date-container {
    padding: 0 20px 0 0;
    width: 50%;
    float: left;
    } 
  .top-date-list {
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 42px;
    height: 242px;
    margin-bottom: 0;
  }
  .top-date-title {
    margin-bottom: 20px;
  }
  .top-date-item-label {
    margin-bottom: 6px;
    font-weight: bold;
  }
  .top-date-item {
    margin-bottom: 18px;
    padding-top: 20px;
  }
  #top-owner-ship-container {
    padding-top: 36px;
  }
}
