#sortmenu .search-info .button-clear {
    border: 2px solid #50a0dc;
    color: #50a0dc;
}
#store-list .inner .store_btn_detail a {
    color: #50a0dc;
}
#store-list .inner .store_btn_detail {
    border: 2px solid #50a0dc;
    color: #50a0dc;
}
#section-calendar .calendar-inner .right-wrap .phone-number div a {
    color: #50a0dc;
}
#section-calendar .calendar-inner .right-wrap .phone-number div {
    color: #50a0dc;
    border: solid 2px #50a0dc;
}

.phone-number-label {
	color: color: #50a0dc;
}
