#sortmenu .search-info .button-clear {
    border: 2px solid #f5325a;
    color: #f5325a;
}
#store-list .inner .store_btn_detail a {
    color: #f5325a;
}
#store-list .inner .store_btn_detail {
    border: 2px solid #f5325a;
    color: #f5325a;
}
#section-calendar .calendar-inner .right-wrap .phone-number div a {
    color: #f5325a;
}
#section-calendar .calendar-inner .right-wrap .phone-number div {
    color: #f5325a;
    border: solid 2px #f5325a;
}
