@charset 'UTF-8'; /**********/
a {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: none;
    color: black
}

.top-calendar-bottom .calendar-image {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.top-calendar-attantion {
    font-size: 12px;
    float: left;
    padding-right: 20px;
    padding-left: 0;
    padding-bottom: 10px;
}

.top-calendar-attantion .calendar-icon {
    display: inline-block;
    background-color: #2da862;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    float: left;
    margin-right: 5px;
}

.top-calendar-attantion .calendar-icon-holiday {
    border-radius: 0%;
}

.top-calendar-attantion-list {
    padding-left: 25px;
    /* padding-top: 20px; */
    overflow: hidden;
}
.show-all {
    display: block;
}

.hide-all {
    display: none;
}

.top-calendar-attantion-list {
    padding-left: 25px;
    /* padding-top: 20px; */
    overflow: hidden;
}

.change-button-set {
    position: relative;
    clear: both;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 30px;
    display:none;
}
.store_address .tel span {
    padding-right:10px;
}
.store_address .hours span {
    padding-right:10px;
}

@media screen and (min-width: 980px) {
    #wrapper {
        /* position: relative; */ /* padding-left: 212px; */
    }

    #wrapper #container h1 {
        padding-top: 81px;
        font-size: 38px;
        color: #ff6e01;
        padding-bottom: 34px;
        border-bottom: solid 2px #e9e7e7;
        text-align: center;
        letter-spacing: 0.2em;
        font-weight: normal;
    }

    #wrapper li {
        list-style: none;
    }

    #container {
        /* position: relative; */
    }

    #content {
        width: 100%;
    }

    #sortmenu {
        width: 980px;
        margin: 0 auto;
        overflow: hidden;
        background-color: #f5f5f5;
    }

    #sortmenu h2 {
        width: 100%;
        text-align: center;
        padding-top: 98px;
        font-size: 29px;
        padding-bottom: 28px;
        color: #ff6e01;
        letter-spacing: 0.15em;
        background-color: white;
    }

    #container h1 {
    }

    #sortmenu .service-block {
        width: 680px;
        float: left;
    }

    #sortmenu .service-block h3 {
        padding-top: 29px;
        font-size: 20px;
        padding-left: 30px;
    }

    #sortmenu .service-block h3 span {
        font-size: 15px;
    }

    #sortmenu .service-block ul {
        width: 730px;
        padding-top: 32px;
        margin-top: 5px;
        float: left;
        padding-left: 20px;
    }

    #sortmenu .service-block ul li {
        float: left;
        width: 230px;
        height: 73px;
        font-size: 14px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    #sortmenu .service-block ul li input {
        float: left;
        margin-top: 3px;
    }

    #sortmenu .service-block ul li p {
        padding-left: 27px;
        line-height: 130%;
        margin-top: -2px;
    }

    #sortmenu .service-block ul li br {
    }

    #sortmenu .area-block {
        float: left;
        padding-top: 30px;
        padding-left: 53px;
        width: 300px;
    }

    #sortmenu .area-block h3 {
        font-size: 20px;
    }

    #sortmenu .area-block h3 span {
        font-size: 15px;
    }

    #sortmenu .area-block .select-box {
        padding-top: 33px;
        margin-top: 5px;
    }

    #sort_area {
        font-size: 12px;
        width: 200px;
        border: 1px solid #bfbfbf;
        padding: 2px 4px 2px 6px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
        appearance: menulist;
    }

    #sort_area option {
    }

    #sortmenu .search-info {
        clear: both;
        border-top: 1px solid #bfbfbf;
        margin-top: 5px;
        padding-top: 0px;
        float: left;
        width: 100%;
        padding-bottom: 25px;
    }

    #sortmenu .search-info .search_info-box-wrapper {
        clear: both;
        float: left;
        width: auto;
        float: right;
    }

    #sortmenu .search-info .search-info-box {
        float: left;
        padding-right: 30px;
        padding-top: 9px;
    }

    #sortmenu .search-info .label {
        font-size: 18px;
        font-weight: bold;
    }

    #sortmenu .search-info .search-all {
        font-size: 27px;
        font-weight: bold;
        position: relative;
        top: 1px;
    }

    #sortmenu .search-info .label2 {
        font-size: 18px;
        font-weight: bold;
    }

    #sortmenu .search-info .search-all span {
    }

    #sortmenu .search-info .search-target {
        font-size: 48px;
        color: #ff6e01;
        top: 2px;
        position: relative;
        font-weight: bold;
    }

    #sortmenu .search-info .slash {
        font-size: 20px;
        position: relative;
        top: -2px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #sortmenu .search-info .search-target span {
    }

    #sortmenu .search-info .search-target span {
        font-size: 14px;
        padding-right: 9px;
        color: black;
    }

    #sortmenu .search-info .button-clear {
        float: right;
        padding: 10px 28px 10px 28px;
        font-size: 14px;
        color: #4d4d4d;
        border: 2px solid #ff6e01;
        cursor: pointer;
        color: #ff6e01;
        margin-top: 19px;
        margin-right: 29px;
        background-color: white;
    }

    #store {
        width: 100%;
        clear: both;
        overflow: hidden;
        padding-bottom: 30px;
    }

    #store .btn-search-area {
        display: none;
    }

    #store ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store ul li {
        padding-right: 40px;
    }

    #store ul li img {
        float: left
    }

    #store ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 10px;
        padding-top: 2px;
    }

    #store .store-icon-list li .list-icon {
        width: 22px;
        float: left;
    }

    #store .store-icon-list li .list-icon img {
        width: 100%;
    }

    #store .store-icon-list li p {
        float: left;
        position: relative;
        top: 8px;
        font-size: 21px;
    }

    #store .store-icon-list {
        padding-top: 106px;
    }

    #store .store-icon-list li {
        float: left;
        padding-right: 41px;
    }

    #store-list {
        width: 100%;
        clear: both;
        overflow: hidden;
        padding-bottom: 26px;
    }

    #store-list .store-list-box {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul li {
        padding-right: 40px;
    }

    #store-list .store-icon-list li p {
        float: left;
    }

    #store-list ul li img {
        float: left
    }

    #store-list ul li p {
        /* float: left; */
        font-size: 15px;
        padding-top: 2px;
    }

    /* =========================================================
    store_map
    ========================================================= */
    #store_map {
        clear: both;
        width: 980px;
        margin: 0 auto;
        padding-top: 24px;
    }

    #store_map #gmap {
        width: 100%;
        height: 604px;
        position: relative;
    }

    #store-list #store_list_container {
        width: 980px;
        margin-left: 2px;
        /* overflow: hidden; */
    }

    #store-list #store_list_container .inner {
        height: 100%;
        position: relative;
        /* overflow: hidden; */
    }

    #store-list #store_list_container li {
        width: 328px;
        float: left;
        margin-left: -2px;
        margin-bottom: -2px;
        padding-right: 0;
        background-color: white;
        overflow: hidden;
        border: 2px solid #eeeeee;
    }

    #store-list #store_list_container li:first-child {
        /* margin-left: 0; */
    }

    #store-list .inner {
        width: 100%;
    }

    #store-list .inner .store_section_info {
        width: 100%;
        position: relative;
        height: 100%;
        padding-bottom: 65px;
        overflow: hidden;
    }

    #store-list .inner .store_section_info .store_image {
        width: 100%;
    }

    #store-list .inner .store_section_info .store_image img {
        width: 100%;
        height: 178px;
        background-color: #ddd;
    }

    #store-list .inner .store_section_info .name {
        clear: both;
        padding-left: 20px;
        padding-top: 23px;
        line-height: 140%;
        min-height: 87px;
    }

    #store-list .inner .store_section_info .name span {
        color: #ff6f00;
        font-size: 19px;
    }

    #store-list .inner .store_section_info .store_address {
        clear: both;
        padding-top: 0px;
        width: 100%;
        padding-left: 21px;
        line-height: 135%;
        position: relative;
        bottom: 0;
        padding-bottom: 16px;
    }

    #store-list .inner .store_section_info .store_address p {
        font-size: 16px;
        line-height: 150%;
    }

    #store-list .inner .store_section_info .store_address .address1 {
    }

    #store-list .inner .store_section_info .store_address .address2 {
        padding-top: 10px;
    }

    #store-list .inner .store_section_info .store_address .tel {
    }

    #store-list .inner .store_section_info .store_address .hours {
        font-size: 16px;
        padding-top: 8px;
    }

    #store-list .inner .store_btn_detail {
        margin: 20px;
        position: absolute;
        bottom: 0;
        padding: 9px 0px 10px 0px;
        text-align: center;
        width: 278px;
        font-weight: bold;
        font-size: 14px;
        border: 2px solid #ff6f00;
        color: #ff6f00;
    }

    #store-list .inner .store_btn_detail a {
        color: #ff6f00;
    }

    #section-calendar {
        width: 100%;
        margin: 0 auto;
        clear: both;
        overflow: hidden;
        padding-bottom: 70px;
    }

    #section-calendar .info-box {
        width: 980px;
        margin: 0 auto;
    }

    #section-calendar .section-title {
        clear: both;
    }

    #section-calendar .calendar-inner {
        overflow: hidden;
        background-color: #f5f5f5;
        margin-top: 80px;
    }

    #section-calendar .calendar-inner .left-wrap {
        width: 671px;
        float: left;
        padding-left: 16px;
        overflow: hidden;
        /* border: solid 1px #dddddd; */
        height: 458px;
        background-color: #f5f5f5;
    }

    #section-calendar .calendar-inner .left-wrap .section-title {
        width: 100%;
        text-align: left;
        padding-top: 31px;
        font-size: 19px;
        padding-left: 12px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .left-wrap .month {
        padding-top: 18px;
        padding-left: 18px;
        overflow: hidden;
        padding-bottom: 20px;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month {
        width: 276px;
        float: left;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month img {
        width: 100%;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month {
        width: 306px;
        float: left;
        margin-left: 21px;
        border-left: solid 1px #dddddd;
        padding-left: 30px;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month img {
        width: 100%;
    }

    #section-calendar .calendar-inner .left-wrap .btn-next-month {
        display: none !important;
    }

    #section-calendar .calendar-inner .left-wrap .btn-prev-month {
        display: none !important;
    }

    #section-calendar .calendar-inner .left-wrap .caption {
        clear: both;
        font-size: 15px;
        padding-left: 12px;
        padding-top: 9px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span {
        width: 19px;
        display: block;
        float: left;
        margin-right: 6px;
        margin-top: -2px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span img {
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap {
        float: left;
        width: 309px;
        border-left: solid 2px white;
        margin-left: -1px;
        height: auto;
        background-color: #f5f5f5;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours {
        border-bottom: solid 2px white;
        padding-bottom: 10px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours .title {
        width: 100%;
        text-align: left;
        padding-top: 30px;
        font-size: 19px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        padding-left: 20px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl {
        padding-top: 10px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt {
        width: 12px;
        float: left;
        margin-right: 12px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt img {
        width: 100%;
        display: none;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd {
        font-size: 14px;
        font-weight: bold;
        padding-top: 2px;
        padding-left: 22px;
        padding-bottom: 7px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .label {
        padding-bottom: 4px;
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
        font-size: 20px;
        padding-top: 6px;
        padding-bottom: 3px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number {
        padding-top: 32px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .title {
        width: 100%;
        text-align: left;
        font-size: 19px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        padding-left: 20px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl {
        padding-top: 18px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt {
        width: 12px;
        float: left;
        clear: both;
        margin-right: 10px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt img {
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd {
        font-size: 14px;
        padding-bottom: 10px;
        font-weight: normal;
        padding-left: 20px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd .label {
        position: relative;
        top: -2px;
        line-height: 150%;
        word-break: break-all;
        padding-right: 20px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel .label {
        line-height: 100%;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel .label a {
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt.main-tel {
        margin-left: 23px;
        width: 24px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel {
        font-size: 27px;
        color: #ff6e01;
        font-weight: bold;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel label {
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel img {
    }

    #section-calendar .calendar-inner .right-wrap .phone-number div {
        color: white;
        width: 83%;
        text-align: center;
        font-size: 17px;
        letter-spacing: 0.15em;
        padding: 15px 10px 15px 10px;
        color: #ff6e01;
        border: solid 2px #ff6e01;
        margin: 18px auto;
        background-color: white;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number div a {
        color: #ff6e01;
    }

    /* =========================================================
    footer_function
    ========================================================= */
    #footer_function {
    }
}

@media screen and (max-width: 979px) and (min-width: 768px) {
    #wrapper {
        /* position: relative; */ /* padding-left: 212px; */
    }

    #wrapper #container h1 {
        padding-top: 48px;
        font-size: 41px;
        color: #ff6e01;
        padding-bottom: 27px;
        border-bottom: solid 2px #e9e7e7;
        text-align: center;
        letter-spacing: 0.2em;
    }

    #wrapper li {
        list-style: none;
    }

    #container {
        /* position: relative; */
    }

    #content {
        width: 100%;
        position: relative;
        top: 0;
    }

    #sortmenu {
        width: 100%;
        margin: 0 auto 0 auto;
        padding-top: 620px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
        margin-bottom: 46px;
    }

    #sortmenu .service-block-wrapper {
        overflow: hidden;
        background-color: #f5f5f5;
    }

    #sortmenu h2 {
        width: 100%;
        text-align: center;
        font-size: 29px;
        padding-bottom: 20px;
        padding-top: 37px;
        color: #ff6e01;
        letter-spacing: 0.25em;
        background-color: #f5f5f5;
    }

    #container h1 {
    }

    #sortmenu .service-block {
        width: 680px;
        float: left;
        padding-left: 27px;
    }

    #sortmenu .service-block h3 {
        padding-top: 23px;
        font-size: 20px;
    }

    #sortmenu .service-block h3 span {
        font-size: 15px;
    }

    #sortmenu .service-block ul {
        width: 730px;
        padding-top: 32px;
        margin-top: 5px;
        float: left;
    }

    #sortmenu .service-block ul li {
        float: left;
        width: 220px;
        height: 73px;
        font-size: 14px;
    }

    #sortmenu .service-block ul li input {
        float: left;
        margin-top: 3px;
    }

    #sortmenu .service-block ul li p {
        padding-left: 27px;
        line-height: 130%;
        margin-top: -2px;
    }

    #sortmenu .service-block ul li br {
    }

    #sortmenu .area-block {
        float: left;
        padding-top: 7px;
        padding-left: 25px;
    }

    #sortmenu .area-block h3 {
        font-size: 20px;
    }

    #sortmenu .area-block h3 span {
        font-size: 15px;
    }

    #sortmenu .area-block .select-box {
        padding-top: 24px;
        margin-top: 5px;
    }

    #sort_area {
        font-size: 12px;
        width: 200px;
        border: 1px solid #bfbfbf;
        padding: 2px 4px 2px 6px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
        appearance: menulist;
    }

    #sort_area option {
    }

    #sortmenu .search-info {
        clear: both;
        border-top: 1px solid #bfbfbf;
        margin-top: 40px;
        padding-top: 9px;
        float: left;
        width: 100%;
        padding-bottom: 25px;
    }

    #sortmenu .search-info .search_info-box-wrapper {
        clear: both;
        float: left;
        width: auto;
        float: right;
    }

    #sortmenu .search-info .search-info-box {
        float: left;
        padding-right: 30px;
    }

    #sortmenu .search-info .label {
        font-size: 18px;
        font-weight: bold;
    }

    #sortmenu .search-info .search-all {
        font-size: 32px;
        font-weight: bold;
        position: relative;
        top: 1px;
    }

    #sortmenu .search-info .label2 {
        font-size: 18px;
        font-weight: bold;
    }

    #sortmenu .search-info .search-all span {
    }

    #sortmenu .search-info .search-target {
        font-size: 64px;
        color: #ff6e01;
        top: 2px;
        position: relative;
        font-weight: bold;
    }

    #sortmenu .search-info .slash {
        font-size: 20px;
        position: relative;
        top: -2px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #sortmenu .search-info .search-target span {
    }

    #sortmenu .search-info .search-target span {
        font-size: 14px;
        padding-right: 9px;
        color: black;
    }

    #sortmenu .search-info .button-clear {
        float: right;
        padding: 10px 28px 10px 28px;
        font-size: 14px;
        color: #4d4d4d;
        border: 2px solid #ff6e01;
        cursor: pointer;
        color: #ff6e01;
        margin-top: 25px;
        margin-right: 30px;
        background-color: white;
    }

    #store {
        width: 100%;
        clear: both;
        overflow: hidden;
        padding-bottom: 51px;
        position: absolute;
        top: 0px;
        left: 0;
    }

    #store .btn-search-area {
        display: none;
    }

    #store ul {
        width: 100%;
        margin: 0 auto;
        clear: both;
    }

    #store ul li {
        padding-right: 40px;
    }

    #store ul li img {
        float: left
    }

    #store ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 10px;
        padding-top: 2px;
    }

    #store .store-icon-list li .list-icon {
        width: 22px;
        float: left;
    }

    #store .store-icon-list li .list-icon img {
        width: 100%;
    }

    #store .store-icon-list li p {
        float: left;
        position: relative;
        top: 5px;
        font-size: 17px;
    }

    #store .store-icon-list {
        padding-top: 40px;
    }

    #store .store-icon-list li {
        float: left;
        padding-right: 9px;
        padding-left: 20px;
        padding-bottom: 10px;
    }

    #store-list {
        width: 100%;
        clear: both;
        overflow: hidden;
        padding-bottom: 26px;
    }

    #store-list .store-list-box {
        width: 100%;
        margin: 0 auto;
        clear: both;
        padding-left: 20px;
        padding-right: 20px;
    }

    #store-list ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul li {
        padding-right: 40px;
    }

    #store-list .store-icon-list li p {
        float: left;
    }

    #store-list ul li img {
        float: left
    }

    #store-list ul li p {
        /* float: left; */
        font-size: 15px;
        padding-top: 2px;
    }

    /* =========================================================
    store_map
    ========================================================= */
    #store_map {
        clear: both;
        width: 100%;
        margin: 0 auto;
        padding-top: 19px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #store_map #gmap {
        width: 100%;
        height: 447px;
        position: relative;
    }

    #store-list #store_list_container {
        width: 107%;
    }

    #store-list #store_list_container .inner {
        height: 100%;
        position: relative;
        /* overflow: hidden; */
    }

    #store-list #store_list_container li {
        width: 31.3%;
        float: left;
        margin-bottom: -2px;
        margin-left: -2px;
        padding-right: 0;
        background-color: white;
        overflow: hidden;
        border: solid 2px #eeeeee;
    }

    #store-list #store_list_container li:first-child {
        /* margin-left: 0; */
    }

    #store-list .inner {
        width: 100%;
    }

    #store-list .inner .store_section_info {
        width: 100%;
        position: relative;
        height: 100%;
        padding-bottom: 70px;
        overflow: hidden;
    }

    #store-list .inner .store_section_info .store_image {
        width: 100%;
    }

    #store-list .inner .store_section_info .store_image img {
        width: 316px;
        height: 178px;
        background-color: #ddd;
    }

    #store-list .inner .store_section_info .name {
        padding-top: 11px;
        clear: both;
        padding-left: 13px;
        line-height: 140%;
        min-height: 97px;
    }

    #store-list .inner .store_section_info .name span {
        color: #ff6f00;
        font-size: 19px;
    }

    #store-list .inner .store_section_info .store_address {
        clear: both;
        padding-top: 0px;
        width: 100%;
        padding-left: 16px;
        line-height: 135%;
        position: relative;
        bottom: 0;
    }

    #store-list .inner .store_section_info .store_address p {
        font-size: 16px;
        line-height: 150%;
    }

    #store-list .inner .store_section_info .store_address .address1 {
    }

    #store-list .inner .store_section_info .store_address .address2 {
        padding-top: 10px;
    }

    #store-list .inner .store_section_info .store_address .tel {
    }

    #store-list .inner .store_section_info .store_address .hours {
        font-size: 16px;
        padding-top: 8px;
    }

    #store-list .inner .store_btn_detail {
        position: absolute;
        bottom: 0;
        padding: 9px 0px 9px 0px;
        text-align: center;
        width: 87%;
        font-weight: bold;
        font-size: 14px;
        border: 2px solid #ff6f00;
        color: #ff6f00;
        margin-left: 7%;
        margin-bottom: 20px;
    }

    #store-list .inner .store_btn_detail a {
        color: #ff6f00;
    }

    #section-calendar {
        width: 100%;
        margin: 0 auto;
        clear: both;
        overflow: hidden;
        padding-bottom: 70px;
    }

    #section-calendar .info-box {
        width: 100%;
        margin: 10px auto 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    #section-calendar .section-title {
        clear: both;
    }

    #section-calendar .calendar-inner {
        overflow: hidden;
        margin-bottom: 20px;
        background-color: #f5f5f5;
    }

    #section-calendar .calendar-inner .left-wrap {
        width: 100%;
        float: left;
        padding-left: 16px;
        overflow: hidden;
        padding-bottom: 30px;
    }

    #section-calendar .calendar-inner .left-wrap .section-title {
        width: 100%;
        text-align: left;
        padding-top: 25px;
        font-size: 20px;
        padding-left: 4px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .left-wrap .month {
        padding-top: 18px;
        overflow: hidden;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month {
        width: 45%;
        float: left;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month img {
        width: 100%;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month {
        width: 48%;
        float: left;
        margin-left: 4%;
        border-left: solid 2px white;
        padding-left: 3%;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month img {
        width: 100%;
    }

    #section-calendar .calendar-inner .left-wrap .btn-next-month {
        display: none !important;
    }

    #section-calendar .calendar-inner .left-wrap .btn-prev-month {
        display: none !important;
    }

    #section-calendar .calendar-inner .left-wrap .caption {
        clear: both;
        font-size: 12px;
        padding-left: 8px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span {
        width: 14px;
        display: block;
        float: left;
        margin-right: 6px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span img {
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap {
        float: left;
        width: 100%;
        border-top: solid 2px white;
        margin-top: -2px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours {
        padding-bottom: 17px;
        float: left;
        width: 50%;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours .title {
        width: 100%;
        text-align: left;
        padding-top: 30px;
        font-size: 19px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        padding-left: 20px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl {
        padding-top: 19px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt {
        width: 12px;
        float: left;
        margin-right: 12px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt img {
        width: 100%;
        display: none;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd {
        font-size: 14px;
        font-weight: bold;
        padding-top: 2px;
        padding-left: 22px;
        padding-bottom: 7px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .label {
        padding-bottom: 4px;
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
        font-size: 20px;
        padding-top: 6px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number {
        padding-top: 27px;
        width: 50%;
        float: left;
        border-left: solid 2px white;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .title {
        width: 100%;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        padding-left: 27px;
        padding-top: 3px;
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl {
        padding-top: 7px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt {
        width: 12px;
        float: left;
        clear: both;
        margin-right: 10px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt img {
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd {
        font-size: 14px;
        padding-bottom: 10px;
        font-weight: normal;
        padding-left: 20px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd .label {
        position: relative;
        padding-left: 10px;
        padding-bottom: 3px;
        top: -2px;
        line-height: 150%;
        word-break: break-all;
        padding-right: 20px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel .label {
        line-height: 100%;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel .label a {
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt.main-tel {
        margin-left: 29px;
        width: 24px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel {
        font-size: 27px;
        color: #ff6e01;
        font-weight: bold;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel label {
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel img {
    }

    #section-calendar .calendar-inner .right-wrap .phone-number div {
        color: white;
        width: 83%;
        text-align: center;
        font-size: 13px;
        letter-spacing: 0.15em;
        padding: 13px 10px 13px 10px;
        color: #ff6e01;
        border: solid 2px #ff6e01;
        margin: 7px auto 31px auto;
        background-color: white;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number div a {
        color: #ff6e01;
        font-size: 18px;
    }

    /* =========================================================
    footer_function
    ========================================================= */
    #footer_function {
    }
}

@media screen and (max-width: 767px) {
    #wrapper {
        /* position: relative; */ /* padding-left: 212px; */
    }

    #wrapper #container h1 {
        padding-top: 18px;
        font-size: 26px;
        color: #ff6e01;
        padding-bottom: 17px;
        border-bottom: solid 2px #e9e7e7;
        text-align: center;
        letter-spacing: 0.2em;
        font-weight: normal;
    }

    #wrapper li {
        list-style: none;
    }

    #container {
        /* position: relative; */
    }

    #content {
        width: 100%;
        position: relative;
        top: 0;
    }

    #sortmenu {
        width: 100%;
        margin: 0 auto 0 auto;
        padding-top: 487px;
    }

    #sortmenu h2 {
        width: 100%;
        text-align: center;
        font-size: 17px;
        padding-bottom: 18px;
        color: #ff6e01;
        letter-spacing: 0.15em;
    }

    #container h1 {
    }

    #sortmenu .service-block {
        width: 100%;
        float: left;
    }

    #sortmenu .service-block h3 {
        padding-top: 28px;
        font-size: 18px;
        padding-left: 10px;
        display: none;
    }

    #sortmenu .service-block h3 span {
        font-size: 15px;
    }

    #sortmenu .service-block ul {
        width: 100%;
        float: left;
        border-top: solid 1px #dddddd;
    }

    #sortmenu .service-block ul li {
        float: left;
        width: 50%;
        font-size: 14px;
        border-bottom: solid 1px #dddddd;
        position: relative;
        height: 50px;
    }

    #sortmenu .service-block ul li:nth-child(odd) {
        border-right: solid 1px #dddddd;
    }

    #sortmenu .service-block ul li label {
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: block;
    }

    #sortmenu .service-block ul li.checked {
        background-color: #ff6e01;
    }

    #sortmenu .service-block ul li.checked label {
    }

    #sortmenu .service-block ul li.checked p {
        color: white;
    }

    #sortmenu .service-block ul li input {
        height: 50px;
        padding: 0;
        margin: 0;
        width: 10px;
        position: absolute;
        top: 0;
        left: 12px;
    }

    #sortmenu .service-block ul li p {
        padding: 0;
        line-height: 130%;
        color: #ff6e01;
        display: table-cell;
        vertical-align: middle;
        height: 50px;
        position: relative;
        float: initial;
        padding-left: 32px;
        font-size: 12px;
        padding-right: 10px;
    }

    #sortmenu .service-block ul li br {
    }

    #sortmenu .area-block {
        float: left;
        padding-top: 23px;
        padding-left: 0;
    }

    #sortmenu .area-block h3 {
        font-size: 18px;
        padding-left: 10px;
    }

    #sortmenu .area-block h3 span {
        font-size: 15px;
    }

    #sortmenu .area-block .select-box {
        padding-top: 14px;
        padding-left: 10px;
    }

    #sort_area {
        font-size: 12px;
        width: 200px;
        border: 1px solid #bfbfbf;
        padding: 2px 4px 2px 6px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
        appearance: menulist;
    }

    #sort_area option {
    }

    #sortmenu .search-info {
        clear: both;
        float: left;
        width: 100%;
        margin-bottom: 25px;
        margin-top: 13px;
        background-color: #f5f5f5;
    }

    #sortmenu .search-info .search_info-box-wrapper {
        clear: both;
        width: 100%;
        float: left;
    }

    #sortmenu .search-info .search-info-box {
        float: left;
        padding-left: 10px;
        padding-bottom: 5px;
    }

    #sortmenu .search-info .label {
        font-size: 12px;
        font-weight: bold;
    }

    #sortmenu .search-info .search-all {
        font-size: 20px;
        font-weight: bold;
        position: relative;
        top: 1px;
    }

    #sortmenu .search-info .label2 {
        font-size: 12px;
        font-weight: bold;
    }

    #sortmenu .search-info .search-all span {
    }

    #sortmenu .search-info .search-target {
        font-size: 40px;
        color: #ff6e01;
        top: 2px;
        position: relative;
        font-weight: bold;
    }

    #sortmenu .search-info .slash {
        font-size: 18px;
        position: relative;
        top: -2px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #sortmenu .search-info .search-target span {
    }

    #sortmenu .search-info .search-target span {
        font-size: 14px;
        padding-right: 9px;
        color: black;
    }

    #sortmenu .search-info .button-clear {
        float: right;
        padding: 6px 22px 6px 22px;
        font-size: 14px;
        color: #4d4d4d;
        border: 2px solid #ff6e01;
        cursor: pointer;
        color: #ff6e01;
        margin-top: 9px;
        margin-right: 8px;
        background-color: white;
    }

    #store {
        width: 100%;
        clear: both;
        overflow: hidden;
        padding-bottom: 51px;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    #store .btn-search-area {
        overflow: hidden;
        margin-top: 24px;
        border: 2px solid #ff6e01;
    }

    #store .btn-search-area span {
        display: block;
        float: left;
        width: 13px;
        margin: 9px 1px 1px 30px;
        position: absolute;
    }

    #store .btn-search-area span img {
        width: 100%;
    }

    #store .btn-search-area p {
        color: #ff6e01;
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
        text-align: center;
        position: relative;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 7%;
    }

    #store ul {
        width: 100%;
        margin: 0 auto;
        clear: both;
    }

    #store ul li {
        padding-right: 40px;
    }

    #store ul li img {
        float: left
    }

    #store ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 10px;
        padding-top: 2px;
    }

    #store .store-icon-list li .list-icon {
        width: 13px;
        float: left;
    }

    #store .store-icon-list li .list-icon img {
        width: 100%;
    }

    #store .store-icon-list li p {
        float: left;
        position: relative;
        top: 0px;
        font-size: 13px;
    }

    #store .store-icon-list {
        padding-top: 23px;
    }

    #store .store-icon-list li {
        float: left;
        padding-right: 9px;
        padding-bottom: 14px;
    }

    #store-list {
        width: 100%;
        clear: both;
        overflow: hidden;
        padding-bottom: 7px;
    }

    #store-list .store-list-box {
        width: 100%;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul li {
        padding-right: 40px;
    }

    #store-list .store-icon-list li p {
        float: left;
    }

    #store-list ul li img {
        float: left
    }

    #store-list ul li p {
        /* float: left; */
        font-size: 15px;
        padding-top: 2px;
    }

    /* =========================================================
    store_map
    ========================================================= */
    #store_map {
        clear: both;
        width: 100%;
        margin: 0 auto;
        padding-top: 0px;
        position: relative;
    }

    #store_map #gmap {
        width: 100%;
        height: 300px;
    }

    #store-list #store_list_container {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }

    #store-list #store_list_container .inner {
        height: 100%;
        position: relative;
        /* overflow: hidden; */
    }

    #store-list #store_list_container li {
        width: 100%;
        float: left;
        margin-bottom: 30px;
        padding-right: 0;
        background-color: white;
        overflow: hidden;
    }

    #store-list #store_list_container li:first-child {
        /* margin-left: 0; */
    }

    #store-list .inner {
        width: 100%;
    }

    #store-list .inner .store_section_info {
        width: 100%;
        position: relative;
        height: 100%;
        padding-bottom: 50px;
        overflow: hidden;
    }

    #store-list .inner .store_section_info .store_image {
        width: 100%;
    }

    #store-list .inner .store_section_info .store_image img {
        width: 100%;
        background-color: #ddd;
    }

    #store-list .inner .store_section_info .name {
        padding-top: 8px;
        clear: both;
        padding-right: 10px;
        line-height: 140%;
        min-height: 57px;
    }

    #store-list .inner .store_section_info .name span {
        color: #ff6f00;
        font-size: 16px;
    }

    #store-list .inner .store_section_info .store_address {
        clear: both;
        padding-top: 0px;
        width: 100%;
        padding-right: 6px;
        line-height: 135%;
        position: relative;
        bottom: 0;
    }

    #store-list .inner .store_section_info .store_address p {
        font-size: 14px;
        line-height: 150%;
    }

    #store-list .inner .store_section_info .store_address .address1 {
    }

    #store-list .inner .store_section_info .store_address .address2 {
        padding-top: 0px;
    }

    #store-list .inner .store_section_info .store_address .tel {
    }

    #store-list .inner .store_section_info .store_address .tel br {
        display: none;
    }

    #store-list .inner .store_section_info .store_address .hours {
        font-size: 16px;
        padding-top: 8px;
    }

    #store-list .inner .store_section_info .store_address .hours br {
        display: none;
    }

    #store-list .inner .store_btn_detail {
        position: absolute;
        bottom: 0;
        padding: 12px 0px 12px 0px;
        text-align: center;
        width: 100%;
        font-weight: bold;
        font-size: 15px;
        border: 1px solid #ff6f00;
        color: #ff6f00;
    }

    #store-list .inner .store_btn_detail a {
        color: #ff6f00;
    }

    #section-calendar {
        width: 100%;
        margin: 0 auto;
        clear: both;
        overflow: hidden;
        padding-bottom: 70px;
    }

    #section-calendar .info-box {
        width: 100%;
        margin: 10px auto 0 auto;
    }

    #section-calendar .section-title {
        clear: both;
    }

    #section-calendar .calendar-inner {
        overflow: hidden;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #section-calendar .calendar-inner .left-wrap {
        width: 100%;
        float: left;
        overflow: hidden;
        padding-bottom: 30px;
        background-color: #f5f5f5;
    }

    #section-calendar .calendar-inner .left-wrap .section-title {
        width: 100%;
        text-align: center;
        padding-top: 25px;
        font-size: 15px;
        padding-left: 4px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .left-wrap .month {
        padding-top: 18px;
        overflow: hidden;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month {
        width: 80%;
        float: left;
        margin-left: 10%;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month img {
        width: 100%;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month {
        width: 80%;
        float: left;
        margin-left: 10%;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month img {
        width: 100%;
    }

    #section-calendar .calendar-inner .left-wrap .btn-next-month {
        width: 96%;
        background-color: #4d4d4d;
        color: white;
        text-align: center;
        /* padding: 10px 0 10px 0px; */
        font-size: 12px;
        margin-left: 2%;
        float: left;
        position: absolute;
        top: 0;
        height: 40px;
        line-height: 40px;
    }

    #section-calendar .calendar-inner .left-wrap .btn-prev-month {
        width: 96%;
        background-color: #4d4d4d;
        color: white;
        text-align: center;
        /* padding: 10px 0 10px 0px; */
        font-size: 12px;
        margin-left: 2%;
        /* display: none; */
        float: left;
        position: absolute;
        top: 0;
        height: 40px;
        line-height: 40px;
    }

    #section-calendar .calendar-inner .left-wrap .caption {
        clear: both;
        font-size: 12px;
        padding-left: 47px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span {
        width: 14px;
        display: block;
        float: left;
        margin-right: 6px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span img {
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap {
        float: left;
        width: 100%;
        border-top: solid 1px white;
        margin-top: -1px;
        background-color: #f5f5f5;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours {
        padding-bottom: 17px;
        float: left;
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours .title {
        width: 100%;
        text-align: center;
        padding-top: 26px;
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl {
        padding-top: 12px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt {
        width: 12px;
        float: left;
        margin-left: 8px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt:after {
        content: "・";
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt img {
        width: 100%;
        display: none;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd {
        font-size: 13px;
        font-weight: bold;
        padding-top: 2px;
        padding-left: 22px;
        padding-bottom: 10px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .label {
        padding-bottom: 4px;
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
        font-size: 14px;
        padding-top: 3px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number {
        padding-top: 15px;
        width: 100%;
        float: left;
        border-top: solid 1px white;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .title {
        width: 100%;
        text-align: left;
        font-size: 11px;
        font-weight: bold;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        padding-left: 16px;
        padding-top: 3px;
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl {
        padding-top: 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt {
        width: 12px;
        float: left;
        clear: both;
        margin-right: 10px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt img {
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd {
        font-size: 12px;
        padding-bottom: 8px;
        font-weight: normal;
        padding-left: 3px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd .label {
        position: relative;
        padding-left: 10px;
        padding-bottom: 3px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel .label a {
        color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dt.main-tel {
        margin-left: 16px;
        width: 19px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel {
        font-size: 20px;
        color: #ff6e01;
        font-weight: bold;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel label {
    }

    #section-calendar .calendar-inner .right-wrap .phone-number dl dd.main-tel img {
    }

    #section-calendar .calendar-inner .right-wrap .phone-number div {
        color: white;
        width: 89%;
        text-align: center;
        font-size: 10px;
        letter-spacing: 0.15em;
        padding: 10px 10px 10px 10px;
        color: #ff6e01;
        border: solid 2px #ff6e01;
        margin: 14px auto 19px auto;
        background-color: white;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number div a {
        color: #ff6e01;
        font-size: 13px;
        font-weight: bold;
    }

    /* =========================================================
    footer_function
    ========================================================= */
    #footer_function {
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }
    .change-button-set {
        display:block;
    }
}
