@charset "UTF-8";

/*==================== *** default *** ====================*/
/*==================== *** hidden-case *** ====================*/
.residual-case,
.installment-case,
.upload-case{display:none;}

/*==================== *** original-case *** ====================*/
.original-case{display:block;background-color:#f5f5f5;color:#333;letter-spacing:-0.4px;}
.original-case .original-ttl{font-weight:bold;padding:15px;text-align:center;}

.original-case-example{
	color: #ff6e01;
	font-weight: bold;
}


.original-case .case-data-2 .yen-name,
.original-case .case-data-4 .yen-name{float:left;}
.original-case .case-data-2 .yen,
.original-case .case-data-4 .yen{float:right;}

.original-case .case-data-2 .yen,
.original-case .case-data-4 .yen{font-weight:bold;}

.original-case .case-data-pic{/*background-color:#fff;*/text-align:center;}
.original-case .case-data-pic .in{display:block;}

.original-case .data-list-ttl{font-weight:bold;}
.original-case .data-list{line-height:1.6em;letter-spacing:0;}
.original-case .data-list,
.original-case .data-list *{font-style:normal;}
.original-case .data-list .in-join{border-top:1px solid #d3d3d3;}

.original-case .data-list .cap-ttl{float:left;clear:both;}
.original-case .data-list .cap-ttl:after{content:"\002002";}
.original-case .data-list dt dfn,
.original-case .data-list dt .sub-dfn{white-space:nowrap;}
.original-case .data-list dd{float:right;text-align:right;white-space:nowrap;}
.original-case .data-list .num-set{white-space:nowrap;}

/*==================== *** plan-parts *** ====================*/
.original-case .plan-head{position:relative;}
.original-case .plan-ttl{font-weight:bold;border-bottom-width:2px;border-bottom-style:solid;text-align:center;letter-spacing:-0.2px;}
.original-case .plan-txt,
.original-case .plan-txt *{font-weight:bold;}
.original-case .plan-txt .min{display:block;}

.original-case .plan-txt .in .in2{display:block;position:relative;border-bottom-width:2px;border-bottom-style:solid;background-color:#fff;z-index:11;}
.original-case .plan-txt .in .in3{display:block;}
.original-case .plan-txt .in-front .in3{margin-right:-1em;}
.original-case .plan-txt .in-back .in3{margin-left:-3em;}

/***css-arrow===***/
.original-case .plan-txt .in .in2:after,
.original-case .plan-txt .in .in2:before{
	content:"";position:absolute;left:50%;width:0;height:0;z-index:11;
	border-style:solid;border-bottom-color:transparent;
	border-left-color:transparent;border-right-color:transparent;
}
.original-case .plan-txt .in .in2:after{z-index:12;border-top-color:inherit;}
.original-case .plan-txt .in .in2:before{z-index:13;border-top-color:#fff;}
.original-case .plan-txt .in-front{float:left;text-align:left;}
.original-case .plan-txt .in-back{float:right;text-align:right;}

/***css-picto===***/
.original-case .plan-pic,
.original-case .plan-pic *{font-weight:bold;}
.original-case .plan-pic{
	background-image:url("../images/pic-carframe.png");background-color:#4d4d4d;
	background-repeat:no-repeat;background-position:left top;
	margin-left:auto;margin-right:auto;
}
.original-case .plan-pic .in{display:table;line-height:1.3;}
.original-case .plan-pic .in .in2{display:table-cell;vertical-align:middle;}
.original-case .plan-pic .in .min{display:block;}
.original-case .plan-pic .in-front,
.original-case .plan-pic .in-back{float:left;height:100%;}
.original-case .plan-pic .in-front{width:56%;text-align:right;color:#fff;background:url("../images/pic-carframe-fill.png") no-repeat left top;background-color:inherit;}
.original-case .plan-pic .in-back{width:44%;text-align:left;}

/***in-panel===***/
.car-dt-design .original-case .data-list .in-panel{color:inherit;}
.original-case .data-list .in-panel{background-image:url("../images/bg-2-halfgray.gif");background-repeat:repeat-y;background-position:right top;}
.original-case .data-list .in-panel2{background-image:url("../images/bg-2-linewhite.gif");background-repeat:repeat-y;}

.original-case .data-list .head-ttl{display:table;width:100%;font-weight:bold;border-bottom-width:1px;border-bottom-style:solid;}
.original-case .data-list .head-ttl .in{display:table-cell;vertical-align:middle;}

.original-case .data-list .in-panel dd{float:none;text-align:right;white-space:normal;}

.original-case .data-list .in-panel .in2{float:left;}
.original-case .data-list .in-panel .in-front .in3{color:#fff;}
.original-case .data-list .in-panel .in-front .in-join{border-color:rgba(225,225,225,0.5);}
.original-case .data-list .in-panel .in-back .in-join{border-color:#ddd;}

/***in-total===***/
.original-case .data-list .in-total{position:relative;}
.original-case .data-list .in-total .set-x-ttl{font-weight:bold;position:absolute;left:0;top:50%;}

.original-case .case-data-5{background-color:#fff;}

/*==================== *** annotation-y *** ====================*/
.original-case .annotation-y{line-height:1.7;}
.original-case .annotation-y .pre-ttl,
.original-case .annotation-y .pre-txt{color:#ff6e01;}
.original-case .annotation-y .pre-ttl,
.original-case .annotation-y .dtl-ttl{font-weight:bold;}
.original-case .annotation-y .dtl-list{line-height:1.8;}


/***===end***/

/*//////////////////////////
Smart-Phone
//////////////////////////*/
@media screen and (max-width:767px) and (min-width:1px){
	.original-case{font-size:10px;font-size:3.04vw;line-height:1.6em;}
	.original-case .original-ttl{font-size:1.5em;padding:0.45em 1em;}
	.original-case .original-in{padding:1.75em 0.9em;margin-bottom:1.8em;}

	.original-case-example{
		font-size: 13px;
		padding-left: 1.5em;
    padding-right: 1.1em;
	}

	.original-case .case-1-phase{padding-bottom:1.4em;}

	.original-case .case-data-2-4{padding-left:1.5em;padding-right:1.1em;padding-bottom:1.3em;}
	.original-case .case-data-2{font-size:1.4em;line-height:2.5em;padding-bottom:1.3em;}
	.original-case .case-data-2 .times{font-size:1em;}
	.original-case .case-data-2 .yen{font-size:2.5em;}
	.original-case .case-data-2 .yen .unit{font-size:1em;}

	.original-case .case-data-3,
	.original-case .case-data-4{font-size:1.1em;line-height:1.4em;}
	.original-case .case-data-4 .label{padding-left:0.417em;}
	.original-case .case-data-4 .yen-name{padding-top:0.4em;padding-bottom:0.3em;}
	.original-case .case-data-4 .yen{font-size:1.364em;padding-left:0.417em;}

	.original-case .case-data-pic{text-align:center;}
	.original-case .case-data-pic .in{width:100%;padding-top:3em;padding-bottom:1.9em;}
	.original-case .case-data-pic img{width:100%;}

	.original-case .data-list-ttl{font-size:1.2em;}
	.original-case .data-list{font-size:1em;}
	.original-case .data-list .set-ttl{margin-bottom:-1.6em;}
	.original-case .data-list .sub-ttl{padding-left:13em;}

	/*==================== *** plan-parts *** ====================*/
	.original-case .plan-head{padding-left:0.85em;padding-right:0.85em;padding-bottom:0.5em;}
	.original-case .plan-ttl{font-size:1.4em;padding-bottom:0.4em;}
	.original-case .plan-txt{font-size:1em;padding-left:0.3em;padding-right:0.3em;padding-bottom:1.1em;letter-spacing:-0.01em;}
	.original-case .plan-txt .in-front{width:52%;}
	.original-case .plan-txt .in-back{width:48%;}
	.original-case .plan-txt .min{font-size:1em;}
	.original-case .plan-txt .in .in2{padding-top:0.5em;padding-bottom:0.5em;}
	.original-case .plan-txt .in-front .in2{margin-right:0.6em;}
	.original-case .plan-txt .in-back .in2{margin-left:0.6em;}

	.original-case .plan-txt .in .in3{font-size:0.8em;}
	.original-case .plan-txt .in-front .in3{margin-right:0;}
	.original-case .plan-txt .in-back .in3{margin-left:0;}
	/***css-arrow===***/
	.original-case .plan-txt .in .in2:after{border-top-width:0.9em;bottom:-1.1em;margin-left:-0.55em;}
	.original-case .plan-txt .in .in2:before{border-top-width:0.8em;bottom:-0.9em;margin-left:-0.45em;}

	.original-case .plan-txt .in-front .in2:after{border-left-width:1.2em;border-right-width:0;}
	.original-case .plan-txt .in-front .in2:before{border-left-width:1em;border-right-width:0;}
	.original-case .plan-txt .in-back .in2:after{border-left-width:0;border-right-width:1.2em;}
	.original-case .plan-txt .in-back .in2:before{border-left-width:0;border-right-width:1em;}
	/***css-picto===***/
	.original-case .plan-pic{font-size:1.33em;width:14.662em;height:6.391em;}
	.original-case .plan-pic,
	.original-case .plan-pic .in-front{
		-webkit-background-size:14.662em 6.391em;-moz-background-size:14.662em 6.391em;
		-ms-background-size:14.662em 6.391em;-o-background-size:14.662em 6.391em;background-size:14.662em 6.391em;
	}
	.original-case .plan-pic .in .in2{padding-bottom:1.3em;}
	.original-case .plan-pic .in .min{font-size:0.752em;text-indent:-0.5em;}
	.original-case .plan-pic .in-front .in2{padding-right:0.9em;padding-top:0.7em;}
	.original-case .plan-pic .in-back .in2{padding-left:0.6em;padding-top:0.7em;}
	/***in-panel===***/
	.original-case .data-list .in-panel{
		margin-bottom:0.85em;-webkit-background-size:49% auto;-moz-background-size:49% auto;
		-ms-background-size:49% auto;-o-background-size:49% auto;background-size:49% auto;
	}
	.original-case .data-list .in-panel2{
		-webkit-background-size:0.45em auto;-moz-background-size:0.45em auto;
		-ms-background-size:0.45em auto;-o-background-size:0.45em auto;background-size:0.45em auto;
	}
	.original-case .data-list .head-ttl{font-size:1.1em;height:3.3em;}

	.original-case .data-list .in-panel2{background-position:52% top;}
	.original-case .data-list .in-panel .in-front{width:51%;}
	.original-case .data-list .in-panel .in-back{width:49%;}
	.original-case .data-list .in-panel .in3{padding-top:0.45em;padding-left:0.55em;padding-right:0.55em;padding-bottom:0.45em;}
	.original-case .data-list .in-panel .in4{padding-top:0.5em;padding-bottom:0.3em;}
	.original-case .data-list .in-panel .in-back .in3{margin-left:0.45em;}
	/*.original-case .data-list .in-panel dd.base-1-down{padding-top:1.6em;}*/

	.original-case .data-list .in-total{margin-left:0.35em;margin-right:0.35em;}
	.original-case .data-list .in-total .set-x-ttl{font-size:1.1em;line-height:1.4em;top:0;}

	.original-case .data-list .in-list{padding-top:0.25em;padding-bottom:0.45em;line-height:1.5em;}

	.original-case .case-data-5{padding-top:1.4em;padding-left:0.65em;padding-right:0.65em;}
	.original-case .case-data-6{padding-top:1.9em;padding-left:0.3em;padding-right:0.3em;}
	.original-case .case-data-6 .annotation-x{font-size:0.9em;line-height:1.3em;padding-top:1em;}

	/*==================== *** annotation-y *** ====================*/
	.original-case .annotation-y{padding-top:35px;}
	.original-case .annotation-y .pre-ttl,
	.original-case .annotation-y .dtl-ttl{font-size:0.9em;}
	.original-case .annotation-y .pre-txt,
	.original-case .annotation-y .dtl-txt,
	.original-case .annotation-y .dtl-list{font-size:0.8em;}
	.original-case .annotation-y .pre-ttl{padding-bottom:7px;}
	.original-case .annotation-y .pre-txt{padding-bottom:20px;}
	.original-case .annotation-y .dtl-ttl{padding-bottom:5px;}
	.original-case .annotation-y .dtl-txt{padding-bottom:3px;}
}
/*//////////////////////////
Tablet
//////////////////////////*/
@media screen and (max-width:1024px) and (min-width:768px){
	.original-case .original-ttl{font-size:22px;letter-spacing:1.8px;padding:8px 10px;}
	.original-case .original-in{padding:10px;margin-bottom:56px;}

	.original-case-example{font-size: 20px;}

	.original-case .case-1-phase{padding-bottom:15px;}

	.original-case .case-data-2-4{width:373px;float:left;padding-top:28px;padding-left:7px;}
	.original-case .case-data-2{font-size:24px;line-height:1.3;padding-bottom:12px;}
	.original-case .case-data-2 .times{padding-left:16px;letter-spacing:1.8px;}
	.original-case .case-data-2 .yen-name{padding-top:0.7em;padding-bottom:0.3em;}
	.original-case .case-data-2 .yen{font-size:50px;}
	.original-case .case-data-2 .yen .unit{padding-left:4px;}

	.original-case .case-data-3,
	.original-case .case-data-4{font-size:18px;line-height:1.3;letter-spacing:0.2px;}
	.original-case .case-data-4 .label{padding-left:10px;}
	.original-case .case-data-4 .yen-name{padding-top:0.4em;padding-bottom:0.3em;}
	.original-case .case-data-4 .yen{font-size:27px;padding-left:10px;}

	.original-case .case-data-pic{height:198px;margin-left:400px;text-align:right;}
	.original-case .case-data-pic .in{/* padding-top:30px; */padding-left:18px;padding-right:22px;padding-bottom:12px;}
	.original-case .case-data-pic img{width:auto;max-width:100%;max-height:198px;}

	.original-case .data-list-ttl{font-size:16px;}
	.original-case .data-list{font-size:16px;}
	.original-case .data-list .set-ttl{margin-bottom:-1.6em;}
	.original-case .data-list .sub-ttl{padding-left:23.5em;}

	.original-case .data-list .in-panel .cap-ttl,
	.original-case .data-list .in-panel dd *,
	.original-case .data-list .in-total .cap-ttl,
	.original-case .data-list .in-total dd *{font-size:18px;}

	/*==================== *** plan-parts *** ====================*/
	.original-case .plan-head{padding-bottom:123px;}
	.original-case .plan-ttl{font-size:27px;padding-bottom:3px;}
	.original-case .plan-txt{font-size:20px;padding-left:11px;padding-right:11px;padding-bottom:17px;}
	.original-case .plan-txt .in-front{width:53.5%;}
	.original-case .plan-txt .in-back{width:46.5%;}
	.original-case .plan-txt .min{font-size:17px;}
	.original-case .plan-txt .in .in2{padding-top:27px;padding-bottom:4px;letter-spacing:-0.8px;}
	.original-case .plan-txt .in-front .in2{margin-right:112px;}
	.original-case .plan-txt .in-back .in2{margin-left:100px;}
	/***css-arrow===***/
	.original-case .plan-txt .in .in2:after{border-top-width:18px;bottom:-22px;margin-left:-11px;}
	.original-case .plan-txt .in .in2:before{border-top-width:15px;bottom:-18px;margin-left:-9px;}

	.original-case .plan-txt .in-front .in2:after{border-left-width:24px;border-right-width:0;}
	.original-case .plan-txt .in-front .in2:before{border-left-width:20px;border-right-width:0;}
	.original-case .plan-txt .in-back .in2:after{border-left-width:0;border-right-width:24px;}
	.original-case .plan-txt .in-back .in2:before{border-left-width:0;border-right-width:20px;}
	/***css-picto===***/
	.original-case .plan-pic{font-size:23px;width:334px;height:146px;position:absolute;bottom:9px;z-index:1;left:50%;margin-left:-167px;}
	.original-case .plan-pic,
	.original-case .plan-pic .in-front{
		-webkit-background-size:334px 146px;-moz-background-size:334px 146px;
		-ms-background-size:334px 146px;-o-background-size:334px 146px;background-size:334px 146px;
	}
	.original-case .plan-pic .in .in2{padding-bottom:27px;}
	.original-case .plan-pic .in .min{font-size:16px;text-indent:-0.5em;}
	.original-case .plan-pic .in-front .in2{padding-right:17px;padding-top:14px;}
	.original-case .plan-pic .in-back .in2{padding-left:13px;padding-top:14px;}
	/***in-panel===***/
	.original-case .data-list .in-panel{
		margin-bottom:22px;-webkit-background-size:48.5% auto;-moz-background-size:48.5% auto;
		-ms-background-size:48.5% auto;-o-background-size:48.5% auto;background-size:48.5% auto;
	}
	.original-case .data-list .head-ttl{font-size:18px;height:4em;}

	.original-case .data-list .in-panel2{background-position:52.8% top;}
	.original-case .data-list .in-panel .in-front{width:51.8%;}
	.original-case .data-list .in-panel .in-back{width:48.2%;}
	.original-case .data-list .in-panel .in3{padding-left:11px;padding-right:11px;padding-bottom:9px;}
	.original-case .data-list .in-panel .in4{padding-top:7px;padding-bottom:7px;}
	.original-case .data-list .in-panel .in-back .in3{margin-left:10px;}
	/*.original-case .data-list .in-panel dd.base-1-down{padding-top:1.6em;}*/

	.original-case .data-list .in-total{margin-left:10px;margin-right:10px;}
	.original-case .data-list .in-total .set-x-ttl{font-size:18px;line-height:28px;margin-top:-14px;}

	.original-case .data-list .in-list{padding-top:8px;padding-bottom:5px;line-height:1.7;}

	.original-case .case-data-5{padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:22px;}
	.original-case .case-data-6{padding-top:11px;padding-left:20px;padding-right:20px;}
	.original-case .case-data-6 .annotation-x{font-size:11px;padding-top:1em;}

	/*==================== *** annotation-y *** ====================*/
	.original-case .annotation-y{padding-top:42px;}
	.original-case .annotation-y .pre-ttl,
	.original-case .annotation-y .dtl-ttl{font-size:16px;}
	.original-case .annotation-y .pre-txt,
	.original-case .annotation-y .dtl-txt,
	.original-case .annotation-y .dtl-list{font-size:14px;}
	.original-case .annotation-y .pre-ttl{padding-bottom:4px;}
	.original-case .annotation-y .pre-txt{padding-bottom:25px;}
	.original-case .annotation-y .dtl-ttl{padding-bottom:7px;}
	.original-case .annotation-y .dtl-txt{padding-bottom:3px;}
}
/*//////////////////////////
PC
//////////////////////////*/
@media screen and (min-width:1025px){
	.original-case .original-ttl{font-size:26px;padding:10px 21px;letter-spacing:2.7px;}
	.original-case .original-in{padding-top:19px;padding-left:30px;padding-right:30px;padding-bottom:37px;margin-bottom:38px;}
	.original-case .original-bg{background:url("../images/bg-halfwhite.gif") repeat-y right top;}
	.original-case-example{font-size: 20px;}
	.original-case .case-1-phase,
	.original-case .case-data-6{width:415px;}
	.original-case .case-1-phase{float:left;padding-bottom:17px;}

	.original-case .case-data-2-4{padding-bottom:18px;}

	.original-case .case-data-2{font-size:24px;line-height:1.3;padding-bottom:12px;}
	.original-case .case-data-2 .times{padding-left:16px;letter-spacing:1.8px;}
	.original-case .case-data-2 .yen-name{padding-top:0.7em;padding-bottom:0.3em;}
	.original-case .case-data-2 .yen{font-size:50px;}
	.original-case .case-data-2 .yen .unit{padding-left:4px;}

	.original-case .case-data-3,
	.original-case .case-data-4{font-size:18px;line-height:1.3;letter-spacing:0.2px;}
	.original-case .case-data-4 .label{padding-left:10px;}
	.original-case .case-data-4 .yen-name{padding-top:0.4em;padding-bottom:0.3em;}
	.original-case .case-data-4 .yen{font-size:27px;padding-left:10px;}

	.original-case .case-data-pic{display:table;width:100%;/*height:243px;*/padding-top:30px;}
	.original-case .case-data-pic .in{display:table-cell;vertical-align:middle;}
	.original-case .case-data-pic img{/*width:auto;max-width:100%;*/width:100%;}

	.original-case .data-list-ttl{font-size:16px;}
	.original-case .data-list{font-size:14px;}
	.original-case .data-list .set-ttl{margin-bottom:-1.6em;}
	.original-case .data-list .sub-ttl{padding-left:15.8em;}

	.original-case .data-list .in-panel dd *,
	.original-case .data-list .in-total .cap-ttl,
	.original-case .data-list .in-total dd *{font-size:16px;}

	/*==================== *** plan-parts *** ====================*/
	.original-case .plan-head{padding-left:10px;padding-right:10px;padding-bottom:19px;}
	.original-case .plan-ttl{font-size:25px;text-align:left;}
	.original-case .plan-txt{font-size:18px;padding-bottom:17px;}
	.original-case .plan-txt .in-front{width:53.5%;}
	.original-case .plan-txt .in-back{width:46.5%;}
	.original-case .plan-txt .min{font-size:13px;padding-bottom:7px;}
	.original-case .plan-txt .in .in2{padding-top:24px;padding-bottom:7px;}
	.original-case .plan-txt .in-front .in2{margin-right:17px;}
	.original-case .plan-txt .in-back .in2{margin-left:17px;}
	/***css-arrow===***/
	.original-case .plan-txt .in .in2:after{border-top-width:18px;bottom:-22px;margin-left:-11px;}
	.original-case .plan-txt .in .in2:before{border-top-width:15px;bottom:-18px;margin-left:-9px;}

	.original-case .plan-txt .in-front .in2:after{border-left-width:24px;border-right-width:0;}
	.original-case .plan-txt .in-front .in2:before{border-left-width:20px;border-right-width:0;}
	.original-case .plan-txt .in-back .in2:after{border-left-width:0;border-right-width:24px;}
	.original-case .plan-txt .in-back .in2:before{border-left-width:0;border-right-width:20px;}

	.original-case .plan-txt .in .in3{font-size:14px;}
	/***css-picto===***/
	.original-case .plan-pic{font-size:23px;width:334px;height:146px;margin-top:-3px;}
	.original-case .plan-pic,
	.original-case .plan-pic .in-front{
		-webkit-background-size:334px 146px;-moz-background-size:334px 146px;
		-ms-background-size:334px 146px;-o-background-size:334px 146px;background-size:334px 146px;
	}
	.original-case .plan-pic .in .in2{padding-bottom:27px;}
	.original-case .plan-pic .in .min{font-size:16px;text-indent:-0.5em;}
	.original-case .plan-pic .in-front .in2{padding-right:17px;padding-top:14px;}
	.original-case .plan-pic .in-back .in2{padding-left:13px;padding-top:14px;}
	/***in-panel===***/
	.original-case .data-list .in-panel{margin-bottom:25px;}
	.original-case .data-list .head-ttl{font-size:18px;height:3em;margin-bottom:5px;}

	.original-case .data-list .in-panel2{background-position:52.5% top;}
	.original-case .data-list .in-panel .in-front{width:51.5%;}
	.original-case .data-list .in-panel .in-back{width:48.5%;}
	.original-case .data-list .in-panel .in3{padding:14px 11px 6px;}
	.original-case .data-list .in-panel .in4{padding-top:11px;padding-bottom:9px;}
	.original-case .data-list .in-panel .in-back .in3{margin-left:10px;}
	/*.original-case .data-list .in-panel dd.base-1-down{padding-top:1.6em;}*/

	.original-case .data-list .in-total .set-x-ttl{font-size:18px;line-height:28px;margin-top:-14px;}

	.original-case .data-list .in-list{padding-top:5px;padding-bottom:6px;}

	.original-case .case-data-5{width:448px;padding:31px 14px 19px;float:right;}
	.original-case .case-data-6{margin-right:489px;}
	.original-case .case-data-6 .data-list{width:100%;float:left;}
	.original-case .case-data-6 .annotation-x{float:left;font-size:11px;padding-top:0.2em;}


	/*==================== *** annotation-y *** ====================*/
	.original-case .annotation-y{padding-top:13px;}
	.original-case .annotation-y .pre-ttl,
	.original-case .annotation-y .dtl-ttl{font-size:14px;}
	.original-case .annotation-y .pre-txt,
	.original-case .annotation-y .dtl-txt,
	.original-case .annotation-y .dtl-list{font-size:12px;}
	.original-case .annotation-y .pre-ttl{padding-bottom:2px;}
	.original-case .annotation-y .pre-txt{padding-bottom:10px;}
	.original-case .annotation-y .dtl-ttl{padding-bottom:3px;}
	.original-case .annotation-y .dtl-txt{padding-bottom:4px;}

	/*==================== *** design04-Rebuild *** ====================*/
	/*
	.car-dt-design04 .original-case .br-add-tmp4-pc{display:block;}
	.car-dt-design04 .original-case .br-sup-tmp4-pc{display:none;}
	.car-dt-design04 .original-case .case-1-phase,
	.car-dt-design04 .original-case .case-data-6{width:315px;}
	.car-dt-design04 .original-case .case-data-5{width:387px;}
	.original-case .original-bg{
		-webkit-background-size:415px auto;-moz-background-size:415px auto;
		-ms-background-size:415px auto;-o-background-size:415px auto;background-size:415px auto;
	}
	.car-dt-design04 .original-case .data-list .in-panel{
		-webkit-background-size:48.5% auto;-moz-background-size:48.5% auto;
		-ms-background-size:48.5% auto;-o-background-size:48.5% auto;background-size:48.5% auto;
	}
	.car-dt-design04 .original-case .data-list .in-total .set-x-ttl{margin-top:-28px;}
	.car-dt-design04 .original-case .data-list .sub-ttl{padding-left:11.8em;}
	*/
}
