@charset "UTF-8";

/*==================== *** color *** ====================*/
/*==================== *** default-color *** ====================*/
.car-dt-color .bColor{color:#fff;background-color:#ff6e01;}
.car-dt-color .gColor{
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTM1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iI2ZmNzQwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzVjMDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
	background:-moz-linear-gradient(top,  #ffa35e 0%, #ff740c 95%, #cc5c09 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa35e), color-stop(95%,#ff740c), color-stop(100%,#cc5c09));
	background:-webkit-linear-gradient(top,  #ffa35e 0%,#ff740c 95%,#cc5c09 100%);
	background:-o-linear-gradient(top,  #ffa35e 0%,#ff740c 95%,#cc5c09 100%);
	background:-ms-linear-gradient(top,  #ffa35e 0%,#ff740c 95%,#cc5c09 100%);
	background:linear-gradient(to bottom,  #ffa35e 0%,#ff740c 95%,#cc5c09 100%);
}
.car-dt-color .lColor{border-color:#ff6e01;}
.car-dt-color .fColor{color:#ff6e01;}

/***===end***/
