.car-dt-design03 #carDetailsCont {
    background-color: #f7f8fa;
}
.car-dt-color .lColor {
    border-color: #647d96;
}
.original-case-example {
    color: #647d96;
    font-weight: bold;
}
.car-dt-color .fColor {
    color: #647d96;
}
.original-case .annotation-y .pre-ttl, .original-case .annotation-y .pre-txt {
    color: #647d96;
}
.original-case .annotation-y .pre-ttl, .original-case .annotation-y .pre-txt {
    color: #647d96;
}
.car-dt-color .bColor {
    background-color: #93a4b6;
}
.car-dt-design03 .data-table .data-th, .car-dt-design03 .data-table .data-td, .car-dt-design03 .data-table .cntr-td {
    border-color: #f7f8fa;
}
