.tc-btn-a
{
  border-color: #ff6e01;
  color: #ff6e01;
}

.tc-btn-b
{
  border-color: #ff6e01;
  color: #ff6e01;
}

.top-dial-release .top-dial-number
{
  color: #ff6e01;
}

.top-service-item,
.top-service-item:nth-child(4n-1),
.top-service-item:nth-child(4n-2) {
  background-color: #fff;
  color: #ff6e01; }

.top-service-item:nth-child(4n),
.top-service-item:nth-child(4n-3) {
  background-color: #ff6e01;
  color: #fff; }

.top-service-item a {
  color: #fff;
}

.top-service-item:nth-child(2n) a {
  color: #ff6e01; }

.top-service-item a,
.top-service-item:nth-child(4n-1) a,
.top-service-item:nth-child(4n-2) a {
  color: #ff6e01; }

.top-service-item:nth-child(4n) a,
.top-service-item:nth-child(4n-3) a {
  color: #fff; }

.top-service-item-btn-a {
  border: 1px solid #ff6e01;
  color: #ff6e01;

  }

.top-service-item-dummy {
  display: none; }


#top-servicemenu-item-1 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation/1/top-buy-btn-01.png); }
#top-servicemenu-item-2 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation/1/top-buy-btn-02.png); }
#top-servicemenu-item-3 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation/1/top-buy-btn-03.png); }
#top-servicemenu-item-4 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation/1/top-buy-btn-04.png); }
#top-servicemenu-item-5 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation/1/top-buy-btn-05.png); }

#top-servicemenu-item-6 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation/1/top-maintenance-btn-01.png); }
#top-servicemenu-item-7 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation/1/top-maintenance-btn-02.png); }
#top-servicemenu-item-8 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation/1/top-maintenance-btn-03.png); }
#top-servicemenu-item-9 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation/1/top-maintenance-btn-04.png); }
#top-servicemenu-item-10 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation/1/top-maintenance-btn-05.png); }

#top-servicemenu-item-11 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation/1/top-other-btn-01.png); }
#top-servicemenu-item-12 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation/1/top-other-btn-02.png); }
#top-servicemenu-item-13 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation/1/top-other-btn-03.png); }
#top-servicemenu-item-14 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation/1/top-other-btn-04.png); }
#top-servicemenu-item-15 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation/1/top-other-btn-05.png); }


@media screen and (min-width: 768px) {

}

@media screen and (min-width: 980px) {
  .top-service-item,
  .top-service-item:nth-child(4n-1),
  .top-service-item:nth-child(4n-2),
  .top-service-item:nth-child(4n),
  .top-service-item:nth-child(4n-3) {

    background-color: #fff;

   }

  .top-service-item:nth-child(4n-1) a,
  .top-service-item:nth-child(4n-2) a,
  .top-service-item:nth-child(4n) a,
  .top-service-item:nth-child(4n-3) a
  {
     color: #ff6e01;
  }

   .top-service-item:nth-child(odd){
      background-color: #ff6e01;
      color: #fff;
   }

   .top-service-item:nth-child(odd) a{
      color: #fff;
    }

  .top-service-item-dummy {
    background: #dddddd !important;
  }

}

@media screen and (min-width: 1366px) {

   .top-service-item:nth-child(odd){
      background-color: #fff;
   }

   .top-service-item:nth-child(odd) a{
      color: #ff6e01;
    }

    .top-service-item:nth-child(8n-7),
    .top-service-item:nth-child(8n-5),
    .top-service-item:nth-child(8n-0),
    .top-service-item:nth-child(8n-2){
      background-color: #ff6e01;
    }

    .top-service-item:nth-child(8n-7) a,
    .top-service-item:nth-child(8n-5) a,
    .top-service-item:nth-child(8n) a,
    .top-service-item:nth-child(8n-2) a{
      color: #fff;
    }
}

@media screen and (min-width: 1680px) {

}
