.tc-btn-a
{
  border-color: #118075;
  color: #118075;
}
.top-column-left-title strong {
  color: #118075;
}

.tc-btn-b
{
  border-color: #118075;
  color: #118075;
}

.top-dial-release .top-dial-number
{
  color: #118075;
}

.top-service-item,
.top-service-item:nth-child(4n-1),
.top-service-item:nth-child(4n-2) {
  background-color: #fff;
  color: #118075; }

.top-service-item:nth-child(4n),
.top-service-item:nth-child(4n-3) {
  background-color: #118075;
  color: #fff; }

.top-service-item a {
  color: #fff;
}

.top-service-item:nth-child(2n) a {
  color: #118075; }

.top-service-item a,
.top-service-item:nth-child(4n-1) a,
.top-service-item:nth-child(4n-2) a {
  color: #118075; }

.top-service-item:nth-child(4n) a,
.top-service-item:nth-child(4n-3) a {
  color: #fff; }

.top-service-item-btn-a {
  border: 1px solid #118075;
  color: #118075;

  }

.top-service-item-dummy {
  display: none; }


#top-servicemenu-item-1 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation_p/1/top-buy-btn-01.png); }
#top-servicemenu-item-2 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation_p/1/top-buy-btn-02.png); }
#top-servicemenu-item-3 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation_p/1/top-buy-btn-03.png); }
#top-servicemenu-item-4 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation_p/1/top-buy-btn-04.png); }
#top-servicemenu-item-5 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation_p/1/top-buy-btn-05.png); }

#top-servicemenu-item-6 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation_p/1/top-maintenance-btn-01.png); }
#top-servicemenu-item-7 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation_p/1/top-maintenance-btn-02.png); }
#top-servicemenu-item-8 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation_p/1/top-maintenance-btn-03.png); }
#top-servicemenu-item-9 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation_p/1/top-maintenance-btn-04.png); }
#top-servicemenu-item-10 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation_p/1/top-maintenance-btn-05.png); }

#top-servicemenu-item-11 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation_p/1/top-other-btn-01.png); }
#top-servicemenu-item-12 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation_p/1/top-other-btn-02.png); }
#top-servicemenu-item-13 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation_p/1/top-other-btn-03.png); }
#top-servicemenu-item-14 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation_p/1/top-other-btn-04.png); }
#top-servicemenu-item-15 .top-servicemenu-item-pic { background-image: url(../../../images/6/valiation_p/1/top-other-btn-05.png); }

.top-calendar-nav .tc-btn-b {
    color: #118075;
}

.top-calendar-nav-prev a {
    background: url(../../../images/6/valiation_p/1/top-arrow-left-icon.png) 10% center no-repeat;
    background-size: 5px 8px;
}
.top-calendar-nav-next a {
    background: url(../../../images/6/valiation_p/1/top-arrow-right-icon.png) 90% center no-repeat;
    background-size: 5px 8px;
}
.top-calendar-nav-prev .tc-btn-b {
    color: #118075;
    border-right-width: 1px;
}

.top-calendar-nav-next .tc-btn-b {
    color: #118075;
    border-left-width: 1px;
}

@media screen and (max-width: 767px) {
    .top-calendar-nav-prev .tc-btn-b {
        border: 2px solid #118075;
        color: #118075;
        border-right-width: 1px;
    }
    .top-calendar-nav-next .tc-btn-b {
        border: 2px solid #118075;
        color: #118075;
        border-left-width: 1px;
    }
}
@media screen and (min-width: 768px) {
  .top-calendar-nav {
      border: 2px solid #118075;
  }
}

@media screen and (min-width: 980px) {
  .top-service-item,
  .top-service-item:nth-child(4n-1),
  .top-service-item:nth-child(4n-2),
  .top-service-item:nth-child(4n),
  .top-service-item:nth-child(4n-3) {

    background-color: #fff;

   }

  .top-service-item:nth-child(4n-1) a,
  .top-service-item:nth-child(4n-2) a,
  .top-service-item:nth-child(4n) a,
  .top-service-item:nth-child(4n-3) a
  {
     color: #118075;
  }

   .top-service-item:nth-child(odd){
      background-color: #118075;
      color: #fff;
   }

   .top-service-item:nth-child(odd) a{
      color: #fff;
    }

  .top-service-item-dummy {
    background: #dddddd !important;
  }

}

@media screen and (min-width: 1366px) {

   .top-service-item:nth-child(odd){
      background-color: #fff;
   }

   .top-service-item:nth-child(odd) a{
      color: #118075;
    }

    .top-service-item:nth-child(8n-7),
    .top-service-item:nth-child(8n-5),
    .top-service-item:nth-child(8n-0),
    .top-service-item:nth-child(8n-2){
      background-color: #118075;
    }

    .top-service-item:nth-child(8n-7) a,
    .top-service-item:nth-child(8n-5) a,
    .top-service-item:nth-child(8n) a,
    .top-service-item:nth-child(8n-2) a{
      color: #fff;
    }
}

@media screen and (min-width: 1680px) {

}
.top-servicemenu-item-text {
    color: #118075;
}
.top-dial-normal {
    color: #118075;
}
.top-date-item-label {
  color: #118075;
 }

.top-dial-number:after {
    background-color:#118075;
}
.slick-active .top-pager-item {
  background-color: #118075; }
#alert-box{
	border-color:#c30d23;
}
.tc-title-type-04 {
  color: #118075;
}