@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
footer {
  font-family: 'Noto Sans Japanese', sans-serif;
  border-top: 1px solid #ccc;

  position: relative;
}

/*SPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSP
SPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSP
SPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSP*/

#footer .br-sp {
  display: block;
}


/**********************footer-sitemap**********************/

.footer-sitemap {
  background-color: #f1f1f1;
}

.footer-sns {
  overflow: hidden;
  margin: 0 auto;
  padding: 15px 0;
  width: auto;
  text-align: center
}
.footer-sns li {
  float: none;
  display: inline-block;
  margin-right: 5px;
}
.footer-sns li:last-child {
  margin-right: 0;
}
.footer-sns li img {
  width: 30px;
}
.footer-sitemap-list {
  display: none;
}

/********************/


/******#footer*******/


/********************/

#footer {
  position: relative;
  width: 100%;
  z-index: 10;
  overflow: hidden;
}
.footer-logo {
  height: 17px;
  background-color: #ff8700;
  margin-bottom: 1px;
}
.footer-logo img {
  height: 17px;
  width: auto;
  vertical-align: baseline;
}
.footer-logo .left-image {
  float: left;
  padding-left: 7px;
}
.footer-logo .right-image {
  float: right;
  padding-right: 9px;
}
#footer ul {
  float: none;
  margin-bottom: 20px;
  padding-top: 15px;
  width: auto;
  margin: 0 auto;
  padding-left: 0;
  position: relative;
  text-align: center;

}
#footer li {
  margin-right: 14px;
  margin-bottom: 6px;
  margin-left: 14px;
  position: relative;
  display: inline-block;
}
#footer a {
  color: #4d4d4d;
  font-size: 11px;
  font-weight: bold;
}
#footer .footer-copy {
  display: block;
  background-color: #fff;
  font-size: 10px;
  padding: 20px 0px 0px 0;
  letter-spacing: 0.4px;
  text-align: center;
  line-height: 1.4;
  margin: 0 auto 5px auto;
  clear: both;
}
#footer .footer-copy-2 {
  display: block;
  background-color: #fff;
  font-size: 10px;
  letter-spacing: 0.4px;
  text-align: center;
  line-height: 1.4;
  margin: 0 auto;
}

/*TABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTAB
TABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTAB
TABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTAB*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #footer .br-sp {
    display: none;
  }
  /**********************footer-sitemap**********************/
  .footer-sitemap {
    position: relative;
    display: block;
    background-color: transparent;
  }
  .footer-sitemap-list {
    display: block;
  }
  .footer-sns {
    position: absolute;
    top: 6px;
    right: 21px;
    width: auto;
  }
  .footer-sns li {
    float: left;
    margin-right: 6px;
  }
  .footer-sns li:last-child {
    margin-right: 0;
  }
  .footer-sitemap-list {}
  .footer-sitemap-list a {
    color: black;
  }
  .footer-sitemap-wrap {
    width: 640px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 75px;
  }
  .footer-sitemap-wrap li {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.8;
  }
  .footer-title {}
  li.footer-title {
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 5px;
    color: #ff6e01;
    border-bottom: 1px solid #ff6e01;
    line-height: 1;
    margin-bottom: 10px;
  }
  /**********************footer-col**********************/
  div.footer-col {
    width: 190px;
    float: left;
    margin-right: 34px;
  }
  div.footer-col:nth-of-type(3) {
    margin-right: 0;
  }
  div.footer-col:last-of-type {
    display: none;
  }
  /********************/
  /******#footer*******/
  /********************/
  #footer {
    position: relative;
    width: 100%;
    max-width: 1920px;
    z-index: 10;
    padding-bottom: 20px;
    overflow: hidden;
  }
  .footer-logo {
    height: 36px;
    background-color: #ff8700;
    margin-bottom: 1px;
  }
  .footer-logo img {
    height: 36px;
    width: auto;
  }
  .footer-logo .left-image {
    float: left;
    padding-left: 20px;
  }
  .footer-logo .right-image {
    float: right;
    padding-right: 10px;
  }
  #footer ul {
    float: none;
    margin-bottom: 20px;
    padding-top: 37px;
    margin: 0 auto;
    width: auto;
    letter-spacing: 1px;
    padding-left: 0;
    position: relative;
    left: 50%;
    float: left;
  }
  #footer li {
    float: left;
    margin-right: 14px;
    margin-left: 14px;
    position: relative;
    left: -50%;
  }
  #footer a {
    color: #4d4d4d;
    font-size: 14px;
    font-weight: bold;
  }
  #footer .footer-copy {
    font-size: 10px;
    text-align: center;
    padding: 22px 20px 0px 0;
    line-height: 1.8;
    letter-spacing: 1.1px;
    padding-left: 26px;
    margin-bottom: 3px;
    clear: both;
  }
  #footer .footer-copy-2 {
    font-size: 10px;
    text-align: center;
    background-color: #fff;
    padding: 0px 20px 0px 22px;
    line-height: 1.5;
    letter-spacing: 0.9px;
  }
}

/*PCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPC
PCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPC
PCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPC*/

@media screen and (min-width: 1024px) {
  #footer .br-sp {
    display: none;
  }
  .footer-sitemap {
    display: block;
    position: relative;
    background-color: transparent;
  }
  .footer-sitemap-list {
    display: block;
  }
  .footer-sns {
    position: absolute;
    top: 20px;
    right: 30px;

    text-align: center
  }
  .footer-sns li {
    float: none;
    display: inline-block;
    margin-right: 6px;
  }
  .footer-sns li:last-child {
    margin-right: 0;
  }
  .footer-sitemap-list {}
  .footer-sitemap-list a {
    color: black;
  }
  .footer-sitemap-wrap {
    width: 864px;
    margin: 0 auto;
    padding-top: 79px;
    /* width: 420px; */
    padding-bottom: 60px;
  }
  .footer-sitemap-wrap li {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.8;
  }
  .footer-title {}
  li.footer-title {
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 5px;
    color: #ff6e01;
    border-bottom: 1px solid #ff6e01;
    line-height: 1;
    margin-bottom: 10px;
  }
  div.footer-col {
    width: 188px;
    float: left;
    margin-right: 36px;
  }
  div.footer-col:last-of-type {
    margin-right: 0;
  }
  /********************/
  /******#footer*******/
  /********************/
  #footer {
    position: relative;
    width: 100%;
    z-index: 10;
    height: 100px;
  }
  .footer-logo {
    height: 36px;
    background-color: #ff8700;
    margin-bottom: 1px;
  }
  .footer-logo img {
    height: 36px;
    width: auto;
  }
  .footer-logo .left-image {
    float: left;
    padding-left: 20px;
  }
  .footer-logo .right-image {
    float: right;
    padding-right: 10px;
  }
  #footer ul {
    float: left;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 15px;
    width: auto;
    left: auto;
  }
  #footer li {
    float: left;
    margin-right: 33px;
    left: auto;
  }
  #footer li:first-child {
    margin-right: 33px;
    padding-left: 0;
    margin-left: 0;
  }
  #footer li:nth-child(even) {
    margin-right: 33px;
  }
  #footer li:last-child {
    margin-right: 0;
  }
  #footer a {
    color: #4d4d4d;
    font-size: 12px;
    font-weight: bold;
  }
  #footer .footer-copy {
    display: block;
    font-size: 10px;
    text-align: right;
    background-color: #fff;
    padding: 10px 20px 0px 0;
    line-height: 1.5;
    letter-spacing: 1px;
    clear: inherit;
  }
  #footer .footer-copy-2 {
    display: block;
    font-size: 10px;
    text-align: right;
    background-color: #fff;
    padding: 0px 20px 0px 22px;
    line-height: 1.5;
    letter-spacing: 0.9px;
  }
}



/**************
  breadList
**************/

#breadList ol li {
  display: inline;
  list-style-type: none;
}
#breadList ol li:before {
  content: " > ";
}
#breadList ol li:first-child:before {
  content: "";
}
#breadList ol li a {
  color: #000;
  text-decoration: underline;
}
@media screen and (min-width: 1280px) {
  #breadList {
    font-size: 13px;
    margin-left: 46px;
    padding-bottom: 20px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
  #breadList {
    font-size: 13px;
    margin-left: 46px;
    padding-bottom: 20px;
    margin-top: 80px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  #breadList {
    font-size: 15px;
    margin-left: 17px;
    padding-bottom: 16px;
    margin-top: 70px;
  }
}
@media screen and (max-width: 767px) {
  #breadList {
    font-size: 10px;
    margin-left: 10px;
    padding-bottom: 2.8%;
    margin-top: 10%;
  }
}







/* btn-pageTop */

.btn-pageTop {
  position: fixed;
  width: 80px;
  height: 80px;
  background: #ff6e01;
  border-radius: 50%;
  z-index: 9999;
  opacity: 0;
  right: 3%;
  bottom: 70px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  margin-bottom: -20px;
}
.btn-pageTop.show {
  opacity: .8;
  margin-bottom: 0;
}

.btn-pageTop a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: transparent;
  font-size: 0;
  line-height: 0;
      position: relative;
    z-index: 1;
}
.btn-pageTop:before {
  position: absolute;
  top: 40%;
  left: 36%;
  display: block;
  width: 21px;
  height: 13px;
  content: "";
  background-image: url("/common/assets/images/footer/btn-pageTop_arrow.png");
}
@media screen and (min-width: 1280px) {
  .btn-pageTop {}
  .btn-pageTop a {}
  .btn-pageTop:before {}
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {}
@media screen and (max-width: 1023px) and (min-width: 768px) {}
@media screen and (max-width: 767px) {
  .btn-pageTop {
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
  }
  .btn-pageTop:before {
    width: 11px;
    height: 7px;
    background-size: 11px 7px;
  }
}
