@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

#conversion {
    font-family: 'Noto Sans Japanese', sans-serif;
    border-top: 1px solid #ccc;
}


/*SPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSP
SPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSP
SPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSP*/


    

    /**********************conversion**********************/
    
    .conversion-btns {
        display: block;
        background-color: #ffffff;
        padding: 15px 13px;
    }
    .conversion-btns ul {
        width: auto;
        margin: 0 auto;
    }
    .conversion-btns li {
        margin-right: 0;
        margin-bottom: 6px;
        float: none;
        border: 1px solid #ddd;
    }
    .conversion-btns li:last-child {
        margin-bottom: 0;
    }
    .conversion-btns li a {
        line-height: 37px;
        display: block;
        text-align: center;
        /* background-color:#ff6e01; */
        width: auto;
        height: 37px;
        color: #ff6e01;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: -2px;
    }
    .conversion-btns li a:hover {
        
        opacity: 0.7;
    }

    .footer-sitemap{
        background-color: #fff;
    }




/*TABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTAB
TABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTAB
TABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTAB*/

@media screen and (min-width: 768px){


    /**********************conversion**********************/
    
    .conversion-btns {
        display: block;
        padding: 21px 0;
    }
    .conversion-btns ul {
        width: 728px;
        margin: 0 auto;
    }
    .conversion-btns li {
        /* margin-right: 1px; */
        margin-bottom: 0;
        float: left;
        width: 33.2%;
    }
    .conversion-btns li:nth-child(3) {
        margin-right: 0px;
    }
    .conversion-btns li:nth-child(4) {
        margin-bottom: 0px;
    }
    .conversion-btns li:nth-child(5) {
        margin-bottom: 0px;
    }
    .conversion-btns li a {
        line-height: 56px;
        display: block;
        text-align: center;
        height: 56px;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1.6px;
    }
    .conversion-btns a:hover {
        
    }

    .footer-sitemap{
        background-color: transparent;
    }
    


}
/*PCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPC
PCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPC
PCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPCPC*/

@media screen and (min-width: 1024px) {


    .br-sp{
        display: none;
    }

    #conversion{
        position: fixed;
        bottom: 0;
        z-index: 2;
        width: 100%;
    }

    /**********************conversion**********************/

    .conversion-btns {
        
padding: 6px 0;
        
background-color: #c6c6c6;
    }
    .conversion-btns ul {
        width: 958px;
    }
    .conversion-btns li {
        width: 190px;
        margin-right: 2px;
        margin-bottom: 0;
        border: 2px solid #ff6e01;
        background-color: #fff;
    }
    .conversion-btns li:nth-child(3) {
        margin-right: 2px;
    }
    .conversion-btns li:nth-child(4) {
        margin-bottom: 0px;
        margin-right: 2px;
    }
    .conversion-btns li:nth-child(5) {
        margin-bottom: 0px;
        margin-right: 0;
    }
    .conversion-btns li a {
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        /* background-color: #fff; */
    }
    .conversion-btns a:hover {
        
    }

    .footer-sitemap{
        background-color: transparent;
    }
    


}