@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(carlist.css);
@import url(tab.css);
@import url(carlist-body-anchor.css);
@import url(carlist-name-anchor.css);

/*common*/

.cf:after {
  content: "";
  clear: both;
  display: block;
}
body {
  background-color: #fff;
  font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
img {
  vertical-align: top;
}
.header-contents {}
.header-contents .dummy-label {
  background-color: #f6f6f6;
  height: 55px;
}
.header-contents h1 {
  color: #ff6e01;
  background-color: #fff;
}
.content {
  color: #4d4d4d;
  background-color: #fff;
}
.content:before {
  content: "";
  display: block;
  position: relative;
  z-index: 2;
  background: url(../images/content_top_bg.png) no-repeat left top;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 100%;
  height: 56px;
}
.carlist-label {
  font-size: 22px;
  font-weight: bold;
  color: #ff6e01;
}
.carlist-body {
  display: block;
}
.carlist-name {
  display: none;
}

/*tab-area*/


/*pcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpcpc*/

@media screen and (min-width: 1280px) {
  .header-contents {}
  .header-contents h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    padding-top: 116px;
  }
  #content {
    
  }
  .section {
    width: 980px;
    margin: 0 auto;
  }
    .carlist-block {
    margin-top: 47px;
  }
  .recommend-block {
    padding-top: 58px;
  }
  .lineup-contents {
    margin-top: 72px;
  }
}

/*PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2PC2*/

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .header-contents {
    border-bottom: 2px solid #e9e7e7;
  }
  .header-contents h1 {
    font-size: 26px;
    height: 64px;
    line-height: 64px;
    padding-left: 20px;
  }
  .section {
    width: 980px;
    margin: 0 auto;
  }
  .recommend-block {
    padding-top: 97px;
  }
  .lineup-contents {
    margin-top: 72px;
  }
}

/*TABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTABTAB*/

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .header-contents {
    border-bottom: 2px solid #e9e7e7;
  }
  .header-contents h1 {
    font-size: 40px;
    height: 90px;
    line-height: 90px;
    letter-spacing: 3px;
  }
  .section {
    width: auto;
    margin: 0 2.6041666%;
  }
  .carlist-label {
    font-size: 26px;
    padding-bottom: 21px;
    letter-spacing: 5px;
  }
  .lineup-contents {
    margin-top: 10.2%;
  }
  .recommend-block {
    padding-top: 12%;
  }
}

/*SPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSP*/

@media screen and (max-width: 767px) {
  .header-contents {
    border-bottom: 1px solid #e9e7e7;
  }
  .header-contents h1 {
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
  }
  .section {
    width: auto;
    margin: 0 3.90625%;
  }
  .recommend-block {
    padding-top: 11.5%;
  }
  .carlist-label {
    font-size: 20px;
    padding-bottom: 12px;
    margin-bottom: 20px;
  }
  .carlist-label .square {
    width: 5px;
    height: 14px;
    margin-right: 5px;
  }
  .lineup-contents {
    margin-top: 10.3%;
  }
}
