#wrapper #container h1 {
    color: #c30d23;
}

#sortmenu h2 {
    border-bottom: solid 2px #c30d23;
}

#sortmenu .search-info .search-target {
    color: #c30d23;
}
#store-list .inner .store_section_info .name span {
    color: #c30d23;
}


#section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
    color: #c30d23;
}

#section-calendar .calendar-inner .right-wrap .phone-number div {
    color: white;
background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #c30e24), color-stop(0.00, #dc4f60));
background: -webkit-linear-gradient(#dc4f60, #c30e24);
background: -moz-linear-gradient(#dc4f60, #c30e24);
background: -o-linear-gradient(#dc4f60, #c30e24);
background: -ms-linear-gradient(#dc4f60, #c30e24);
background: linear-gradient(#dc4f60, #c30e24);
} 

#section-calendar .calendar-inner .right-wrap .business_hours dl dt {
    background-color: #c30d23;
}
#section-calendar .calendar-inner .right-wrap .phone-number dl dt {
    background-color: #c30d23;
}
