#wrapper #container h1 {
    color: #ff6e01;
}

#sortmenu h2 {
    border-bottom: solid 2px #ff6e01;
}

#sortmenu .search-info .search-target {
    color: #ff6e01;
}
#store-list .inner .store_section_info .name span {
    color: #ff6f00;
}


#section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
    color: #ff6e01;
}

#section-calendar .calendar-inner .right-wrap .phone-number div {
}

#section-calendar .calendar-inner .right-wrap .business_hours dl dt {
    background-color: #ff6e01;
}
#section-calendar .calendar-inner .right-wrap .phone-number dl dt {
}

#section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .icon img {
    background-color: #ff6e01;
}
