@charset 'UTF-8'; /**********/
a {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: none;
    color: black
}

.top-calendar-bottom .calendar-image {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.top-calendar-attantion {
    font-size: 12px;
    float: left;
    padding-right: 20px;
    padding-left: 0;
    padding-bottom: 10px;
}

.top-calendar-attantion .calendar-icon {
    display: inline-block;
    background-color: #2da862;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    float: left;
    margin-right: 5px;
}

.top-calendar-attantion .calendar-icon-holiday {
    border-radius: 0%;
}

.show-all {
    display: block;
}

.hide-all {
    display: none;
}

.top-calendar-attantion-list {
    padding-left: 25px;
    /* padding-top: 20px; */
    overflow: hidden;
}

.change-button-set {
    position: relative;
    clear: both;
    overflow: hidden;
    padding-top: 40px;
}

.store_address .tel span {
    padding-right:10px;
}

.store_address .hours span {
    padding-right:10px;
}

.main-tel dt img {
    width: 5px;
    height: 5px;
}

@media screen and (min-width: 980px) {
    /* =========================================================
    wrapper
    ========================================================= */#wrapper {
        /* position: relative; */ /* padding-left: 212px; */
    }

    #wrapper #container h1 {
        padding-top: 17px;
        padding-left: 45px;
        font-size: 26px;
        color: #ff6e01;
        padding-bottom: 17px;
        border-bottom: solid 2px #e9e7e7;
    }

    #wrapper li {
        list-style: none;
    }

    #container {
        /* position: relative; */
    }

    #content {
        width: 100%;
    }

    #sortmenu {
        width: 980px;
        margin: 0 auto;
    }

    #sortmenu h2 {
        width: 100%;
        text-align: center;
        padding-top: 45px;
        font-size: 24px;
        padding-bottom: 9px;
        border-bottom: solid 2px #ff6e01;
    }

    #container h1 {
    }

    #sortmenu .service-block {
        width: 680px;
        float: left;
    }

    #sortmenu .service-block h3 {
        padding-top: 33px;
        font-size: 20px;
    }

    #sortmenu .service-block h3 span {
        font-size: 12px;
    }

    #sortmenu .service-block ul {
        width: 680px;
        border-top: 1px solid #bfbfbf;
        padding-top: 18px;
        margin-top: 5px;
        float: left;
    }

    #sortmenu .service-block ul li {
        padding-left: 5px;
        float: left;
        width: 221px;
        height: 44px;
        font-size: 14px;
        padding-bottom: 10px;
    }

    #sortmenu .service-block ul li input {
        float: left;
        margin-top: 3px;
    }

    #sortmenu .service-block ul li p {
        padding-left: 27px;
        line-height: 130%;
        margin-top: -2px;
    }

    #sortmenu .service-block ul li br {
    }

    #sortmenu .area-block {
        float: left;
        padding-top: 33px;
        padding-left: 100px;
    }

    #sortmenu .area-block h3 {
        font-size: 20px;
    }

    #sortmenu .area-block h3 span {
        font-size: 12px;
    }

    #sortmenu .area-block .select-box {
        border-top: 1px solid #bfbfbf;
        padding-top: 18px;
        margin-top: 5px;
    }

    #sort_area {
        font-size: 12px;
        width: 200px;
        border: 1px solid #bfbfbf;
        padding: 2px 4px 2px 6px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
        appearance: menulist;
    }

    #sort_area option {
    }

    #sortmenu .search-info {
        clear: both;
        border-top: 1px solid #bfbfbf;
        margin-top: 16px;
        padding-top: 11px;
        float: left;
        width: 100%;
        padding-bottom: 25px;
    }

    #sortmenu .search-info .search-info-box {
        float: left;
    }

    #sortmenu .search-info .label {
        font-size: 14px;
    }

    #sortmenu .search-info .search-all {
        font-size: 25px;
        font-weight: bold;
    }

    #sortmenu .search-info .label2 {
        font-size: 14px;
    }

    #sortmenu .search-info .search-all span {
    }

    #sortmenu .search-info .search-target {
        font-size: 42px;
        color: #ff6e01;
    }

    #sortmenu .search-info .slash {
        font-size: 39px;
        top: -5px;
        position: relative;
    }

    #sortmenu .search-info .search-target span {
    }

    #sortmenu .search-info .search-target span {
        font-size: 14px;
        padding-right: 9px;
        color: black;
    }

    #sortmenu .search-info .button-clear {
        float: right;
        padding: 8px 40px 8px 40px;
        font-size: 14px;
        color: #4d4d4d;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #dedede), color-stop(0.00, #f4f4f4));
        background: -webkit-linear-gradient(#f4f4f4, #dedede);
        background: -moz-linear-gradient(#f4f4f4, #dedede);
        background: -o-linear-gradient(#f4f4f4, #dedede);
        background: -ms-linear-gradient(#f4f4f4, #dedede);
        background: linear-gradient(#f4f4f4, #dedede);
        cursor: pointer;
    }

    #store {
        width: 100%;
        background-color: #f1f1f1;
        clear: both;
        overflow: hidden;
        padding-bottom: 26px;
    }

    #store .btn-search-area {
        display: none;
    }

    #store ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store ul li {
        padding-right: 40px;
    }

    #store ul li img {
        float: left
    }

    #store ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 10px;
        padding-top: 2px;
    }

    #store .store-icon-list li .list-icon {
        width: 22px;
        float: left;
    }

    #store .store-icon-list li .list-icon img {
        width: 100%;
    }

    #store .store-icon-list li p {
        float: left;
    }

    #store .store-icon-list {
        padding-top: 61px;
    }

    #store .store-icon-list li {
        float: left;
        padding-right: 34px;
    }

    #store-list {
        width: 100%;
        background-color: #f1f1f1;
        clear: both;
        overflow: hidden;
        padding-bottom: 26px;
    }

    #store-list .store-list-box {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul li {
        padding-right: 40px;
    }

    #store-list .store-icon-list li p {
        float: left;
    }

    #store-list ul li img {
        float: left
    }

    #store-list ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 10px;
        padding-top: 2px;
    }

    /* =========================================================
    store_map
    ========================================================= */
    #store_map {
        clear: both;
        width: 980px;
        margin: 0 auto;
        padding-top: 12px;
    }

    #store_map #gmap {
        width: 100%;
        height: 500px;
        position: relative;
    }

    #store-list #store_list_container {
        padding-top: 60px;
        width: 996px;
        margin-left: -16px;
    }

    #store-list #store_list_container .inner {
        height: 100%;
        position: relative;
        /* overflow: hidden; */
    }

    #store-list #store_list_container li {
        width: 316px;
        float: left;
        margin-left: 16px;
        margin-bottom: 16px;
        padding-right: 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background-color: white;
        overflow: hidden;
    }

    #store-list #store_list_container li:first-child {
        /* margin-left: 0; */
    }

    #store-list .inner {
        width: 100%;
    }

    #store-list .inner .store_section_info {
        width: 100%;
        position: relative;
        height: 100%;
        padding-bottom: 65px;
        overflow: hidden;
    }

    #store-list .inner .store_section_info .store_image {
        width: 100%;
    }

    #store-list .inner .store_section_info .store_image img {
        width: 316px;
        height: 178px;
        background-color: #ddd;
        border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
    }

    #store-list .inner .store_section_info .name {
        padding-top: 15px;
        clear: both;
        padding-left: 17px;
        padding-right: 10px;
        line-height: 140%;
        min-height: 64px;
    }

    #store-list .inner .store_section_info .name span {
        color: #ff6f00;
        font-size: 18px;
    }

    #store-list .inner .store_section_info .store_address {
        clear: both;
        padding-top: 0px;
        width: 100%;
        padding-left: 6px;
        padding-right: 6px;
        line-height: 135%;
        position: relative;
        bottom: 0;
    }

    #store-list .inner .store_section_info .store_address p {
        font-size: 14px;
    }

    #store-list .inner .store_section_info .store_address .address1 {
    }

    #store-list .inner .store_section_info .store_address .address2 {
    }

    #store-list .inner .store_section_info .store_address .tel {
    }

    #store-list .inner .store_section_info .store_address .hours {
        font-size: 12px;
    }

    #store-list .inner .store_btn_detail {
        margin-top: 14px;
        position: absolute;
        bottom: 0;
        padding: 12px 0px 12px 0px;
        text-align: center;
        width: 316px;
        color: black;
        font-weight: bold;
        font-size: 17px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #c5c5c5), color-stop(0.91, #d3d3d3), color-stop(0.00, #f3f3f3));
        background: -webkit-linear-gradient(top, #f3f3f3 0%, #d3d3d3 91%, #c5c5c5 100%);
        background: -moz-linear-gradient(top, #f3f3f3 0%, #d3d3d3 91%, #c5c5c5 100%);
        background: -o-linear-gradient(top, #f3f3f3 0%, #d3d3d3 91%, #c5c5c5 100%);
        background: -ms-linear-gradient(top, #f3f3f3 0%, #d3d3d3 91%, #c5c5c5 100%);
        background: linear-gradient(to bottom, #f3f3f3 0%, #d3d3d3 91%, #c5c5c5 100%);
    }

    #store-list .inner .store_btn_detail a {
        color: #4d4d4d;
    }

    #section-calendar {
        width: 100%;
        margin: 0 auto;
        clear: both;
        background-color: #f1f1f1;
        overflow: hidden;
        padding-bottom: 70px;
    }

    #section-calendar .info-box {
        width: 980px;
        margin: 0 auto;
        background-color: white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-bottom: solid 2px #dbdbdb;
    }

    #section-calendar .section-title {
        clear: both;
    }

    #section-calendar .calendar-inner {
        overflow: hidden;
        padding-bottom: 20px;
    }

    #section-calendar .calendar-inner .left-wrap {
        width: 100%;
        padding: 0 41px;
        overflow: hidden;
    }

    #section-calendar .calendar-inner .left-wrap .section-title {
        width: 100%;
        text-align: center;
        padding-top: 21px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .left-wrap .month {
        padding: 18px 18px 8px 18px;
        overflow: hidden;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month {
        width: 47%;
        float: left;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month img {
        width: 76%;
        display: table-cell;
        margin: 0 auto;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month {
        width: 50%;
        float: right;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month img {
        width: 76%;
        display: table-cell;
        margin: 0 auto;
    }

    #section-calendar .calendar-inner .left-wrap .btn-next-month {
        display: none !important;
    }

    #section-calendar .calendar-inner .left-wrap .btn-prev-month {
        display: none !important;
    }

    #section-calendar .calendar-inner .left-wrap .caption {
        clear: both;
        font-size: 12px;
        padding-left: 12px;
    }

    #section-calendar .calendar-inner .caption .calendar-icon span {
        width: 14px;
        display: block;
        float: left;
        margin-right: 6px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span img {
        width: 100%;
    }



/*/////////////////////////////////////////////////*/


    #section-calendar .calendar-inner .right-wrap {
        float: left;
        width: 100%;
        padding: 0 41px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours {
        float: left;
        width: 47%;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours .title {
        width: 100%;
        text-align: center;
        padding-top: 8px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt {
        float: left;
        margin-right: 10px;
        margin-top: 17px;
        width: 13px;
        height: 13px;
        background-color: #ff6e01;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt img {
        width: 12px;
        height: 12px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd {
        font-size: 14px;
        font-weight: bold;
        padding-top: 17px;
        padding-left: 22px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .label {
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
        color: #ff6e01;
        font-size: 16px;
        padding-top: 7px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .info {
        padding-top: 14px;
        line-height: 1.5em;
        font-weight: normal;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number {
        width: 47%;
        float: right;
    }

     #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column {
        width: 100%;
        clear: both;
        margin: 0 0 10px 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .title {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding: 8px 0 ;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .label {
        font-size: 13px;
        color: #ff6e01;
        width: 100%;
        margin: 17px 0 0 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .icon img {
        width: 20px;
        height: 20px;
        float: left;
        border-radius: 5px;
        margin: 6px 0 0 0;
        background-color: #ff6e01;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .time {
        position: relative;
        float: left;
        margin: 7px 0 7px 0;
        font-size: 20px;
        color: #ff6e01;
        padding: 0 0 0 5px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .info {
        font-size: 14px;
        width: 100%;
        float: left;
        margin: 3px 0 22px 0;
        line-height: 1.5em;
    }

    /*お問い合わせフォーム*/
    #section-calendar .calendar-inner .right-wrap .phone-number .top-dial-btn {
        margin: 0 auto;
        clear: both;
        text-align: center;
        width: 100%;
        border-radius: 5px;
        background-image: -webkit-linear-gradient( 90deg, rgb(204,92,9) 0%, rgb(230,104,11) 3%, rgb(255,116,12) 5%, rgb(255,163,94) 100%);
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .top-dial-btn a {
        color: #fff;
        clear: both;
        font-size: 14px;
        height: 50px;
        line-height: 40px;
        width: 100%;
        letter-spacing: 0.1em;
    }









/*/////////////////////////////////////////////////*/






    /* =========================================================
    footer_function
    ========================================================= */
    #footer_function {
    }
}

@media screen and (max-width: 979px) and (min-width: 768px) {
    /* =========================================================
    wrapper
    ========================================================= */#wrapper {
        /* position: relative; */ /* padding-left: 212px; */
    }

    #wrapper #container h1 {
        padding-top: 17px;
        padding-left: 19px;
        font-size: 30px;
        color: #ff6e01;
        padding-bottom: 17px;
        border-bottom: solid 2px #e9e7e7;
    }

    #wrapper li {
        list-style: none;
    }

    #container {
        /* position: relative; */
    }

    #content {
        width: 100%;
        position: relative;
    }

    #sortmenu {
        width: 100%;
        margin: 0 auto;
        float: left;
        position: relative;
        padding-top: 75%;
        padding-left: 20px;
        padding-right: 20px;
    }

    #sortmenu h2 {
        width: 100%;
        text-align: center;
        padding-top: 43px;
        font-size: 27px;
        padding-bottom: 8px;
        border-bottom: solid 2px #ff6e01;
    }

    #container h1 {
    }

    #sortmenu .service-block {
        width: 100%;
        float: left;
    }

    #sortmenu .service-block h3 {
        padding-top: 47px;
        font-size: 22px;
    }

    #sortmenu .service-block h3 span {
        font-size: 15px;
    }

    #sortmenu .service-block ul {
        width: 100%;
        border-top: 1px solid #bfbfbf;
        padding-top: 42px;
        margin-top: 10px;
        float: left;
    }

    #sortmenu .service-block ul li {
        padding-left: 14px;
        float: left;
        width: 50%;
        height: 44px;
        font-size: 18px;
        margin-bottom: 40px;
    }

    #sortmenu .service-block ul li input {
        float: left;
        margin-top: 6px;
    }

    #sortmenu .service-block ul li p {
        padding-left: 25px;
        line-height: 130%;
        margin-top: 0;
    }

    #sortmenu .service-block ul li br {
    }

    #sortmenu .area-block {
        float: left;
        padding-top: 18px;
        padding-left: 0;
        width: 100%;
    }

    #sortmenu .area-block h3 {
        font-size: 20px;
    }

    #sortmenu .area-block h3 span {
        font-size: 12px;
    }

    #sortmenu .area-block .select-box {
        border-top: 1px solid #bfbfbf;
        padding-top: 18px;
        margin-top: 5px;
    }

    #sort_area {
        font-size: 18px;
        width: auto;
        border: 1px solid #bfbfbf;
        padding: 8px 22px 8px 23px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
        appearance: menulist;
        margin-left: 16px;
        margin-top: 10px;
        max-width: 80%;
    }

    #sort_area option {
    }

    #sortmenu .search-info {
        clear: both;
        border-top: 1px solid #bfbfbf;
        margin-top: 63px;
        padding-top: 11px;
        float: left;
        width: 100%;
        padding-bottom: 25px;
    }

    #sortmenu .search-info .search-info-box {
        float: left;
    }

    #sortmenu .search-info .label {
        font-size: 14px;
    }

    #sortmenu .search-info .search-all {
        font-size: 25px;
        font-weight: bold;
    }

    #sortmenu .search-info .label2 {
        font-size: 14px;
    }

    #sortmenu .search-info .search-all span {
    }

    #sortmenu .search-info .search-target {
        font-size: 49px;
        color: #ff6e01;
    }

    #sortmenu .search-info .slash {
        font-size: 39px;
        top: -5px;
        position: relative;
    }

    #sortmenu .search-info .search-target span {
    }

    #sortmenu .search-info .search-target span {
        font-size: 14px;
        padding-right: 9px;
        color: black;
    }

    #sortmenu .search-info .button-clear {
        float: right;
        padding: 10px 49px 10px 49px;
        font-size: 14px;
        color: #4d4d4d;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #dedede), color-stop(0.00, #f4f4f4));
        background: -webkit-linear-gradient(#f4f4f4, #dedede);
        background: -moz-linear-gradient(#f4f4f4, #dedede);
        background: -o-linear-gradient(#f4f4f4, #dedede);
        background: -ms-linear-gradient(#f4f4f4, #dedede);
        background: linear-gradient(#f4f4f4, #dedede);
        cursor: pointer;
        margin-top: 18px;
    }

    #store {
        width: 100%;
        background-color: #f1f1f1;
        clear: both;
        overflow: hidden;
        padding-bottom: 26px;
        position: absolute;
        top: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    #store .btn-search-area {
        display: none;
    }

    #store ul {
        width: 100%;
        margin: 0 auto;
        clear: both;
    }

    #store ul li {
        padding-right: 40px;
    }

    #store ul li img {
        float: left
    }

    #store ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 7px;
        padding-top: 3px;
        font-size: 19px;
    }

    #store .store-icon-list li .list-icon {
        width: 31px;
        float: left;
    }

    #store .store-icon-list li .list-icon img {
        width: 100%;
    }

    #store .store-icon-list li p {
        float: left;
    }

    #store .store-icon-list {
        padding-top: 31px;
        padding-left: 4px;
    }

    #store .store-icon-list li {
        float: left;
        padding-right: 21px;
    padding-bottom: 10px;
    }

    #store-list {
        width: 100%;
        background-color: #f1f1f1;
        clear: both;
        overflow: hidden;
        padding-bottom: 26px;
        float: left;
        position: relative;
        /* padding-left: 20px; */
        /* padding-right: 20px; */
    }

    #store-list .store-list-box {
        width: 100%;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul li {
        padding-right: 40px;
    }

    #store-list .store-icon-list li p {
        float: left;
    }

    #store-list ul li img {
        float: left
    }

    #store-list ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 10px;
        padding-top: 2px;
    }

    /* =========================================================
    store_map
    ========================================================= */
    #store_map {
        clear: both;
        width: 100%;
        margin: 0px;
        padding-top: 55%;
        position: relative;
        margin-top: 15px;
        float: left;
    }

    #store_map #gmap {
        width: 100%;
        height: 100%;
        position: absolute !important;
        top: 0;
        left: 0;
    }

    #store-list #store_list_container {
        padding-top: 34px;
        width: 100%;
        margin-left: 0.5%;
    }

    #store-list #store_list_container .inner {
        height: 100%;
        position: relative;
        /* overflow: hidden; */
    }

    #store-list #store_list_container li {
        width: 31%;
        float: left;
        margin-left: 1.5%;
        margin-bottom: 1.5%;
        padding-right: 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background-color: white;
        overflow: hidden;
    }

    #store-list #store_list_container li:first-child {
        /* margin-left: 0; */
    }

    #store-list .inner {
        width: 100%;
    }

    #store-list .inner .store_section_info {
        width: 100%;
        position: relative;
        height: 100%;
        padding-bottom: 65px;
        overflow: hidden;
    }

    #store-list .inner .store_section_info .store_image {
        width: 100%;
    }

    #store-list .inner .store_section_info .store_image img {
        width: 100%;
        height: auto;
        background-color: #ddd;
        border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
    }

    #store-list .inner .store_section_info .name {
        padding-top: 15px;
        clear: both;
        padding-left: 17px;
        padding-right: 10px;
        line-height: 140%;
        min-height: 92px;
    }

    #store-list .inner .store_section_info .name span {
        color: #ff6f00;
        font-size: 18px;
    }

    #store-list .inner .store_section_info .store_address {
        clear: both;
        padding-top: 0px;
        width: 100%;
        padding-left: 6px;
        padding-right: 6px;
        line-height: 135%;
        position: relative;
        bottom: 0;
    }

    #store-list .inner .store_section_info .store_address p {
        font-size: 14px;
    }

    #store-list .inner .store_section_info .store_address .address1 {
    }

    #store-list .inner .store_section_info .store_address .address2 {
    }

    #store-list .inner .store_section_info .store_address .tel {
    }

    #store-list .inner .store_section_info .store_address .hours {
        font-size: 12px;
    }

    #store-list .inner .store_btn_detail {
        margin-top: 14px;
        position: absolute;
        bottom: 0;
        padding: 12px 0px 12px 0px;
        text-align: center;
        width: 100%;
        color: black;
        font-weight: bold;
        font-size: 17px;

        background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #c5c5c5), color-stop(0.91, #d3d3d3), color-stop(0.00, #f3f3f3));
        background: -webkit-linear-gradient(top, #f3f3f3 0%, #d3d3d3 91%, #c5c5c5 100%);
        background: -moz-linear-gradient(top, #f3f3f3 0%, #d3d3d3 91%, #c5c5c5 100%);
        background: -o-linear-gradient(top, #f3f3f3 0%, #d3d3d3 91%, #c5c5c5 100%);
        background: -ms-linear-gradient(top, #f3f3f3 0%, #d3d3d3 91%, #c5c5c5 100%);
        background: linear-gradient(to bottom, #f3f3f3 0%, #d3d3d3 91%, #c5c5c5 100%);
    }

    #store-list .inner .store_btn_detail a {
        color: #4d4d4d;
    }

    #section-calendar {
        width: 100%;
        margin: 0 auto;
        clear: both;
        background-color: #f1f1f1;
        overflow: hidden;
        padding-bottom: 70px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #section-calendar .info-box {
        width: 100%;
        margin: 0 auto;
        background-color: white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-bottom: solid 2px #dbdbdb;
    }

    #section-calendar .section-title {
        clear: both;
    }

    #section-calendar .calendar-inner {
        overflow: hidden;
        padding-bottom: 20px;
    }

    #section-calendar .calendar-inner .left-wrap {
        width: 100%;
        float: left;
        padding-left: 0;
        overflow: hidden;
    }

    #section-calendar .calendar-inner .left-wrap .section-title {
        width: 94%;
        text-align: center;
        padding-top: 29px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
        margin-left: 3%;
    }

    #section-calendar .calendar-inner .left-wrap .month {
        padding-top: 26px;
        margin-left: 8%;
        overflow: hidden;
        padding-bottom: 28px;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month {
        width: 41%;
        float: left;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month img {
        width: 100%;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month {
        width: 41%;
        float: left;
        margin-left: 9%;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month img {
        width: 100%;
    }

    #section-calendar .calendar-inner .left-wrap .btn-next-month {
        display: none !important;
    }

    #section-calendar .calendar-inner .left-wrap .btn-prev-month {
        display: none !important;
    }

    #section-calendar .calendar-inner .left-wrap .caption {
        clear: both;
        font-size: 12px;
        padding-left: 55px;
    }

    #section-calendar .calendar-inner .caption .calendar-icon span {
        width: 15px;
        display: block;
        float: left;
        margin-right: 6px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span img {
        width: 100%;
    }

/*    ///////////*/
    #section-calendar .calendar-inner .right-wrap {
        float: left;
        width: 100%;
        padding-right: 3%;
        padding-left: 3%;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours {
        float: left;
        width: 47%;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours .title {
        width: 100%;
        text-align: center;
        padding-top: 8px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt {
        float: left;
        margin-right: 10px;
        margin-top: 17px;
        width: 13px;
        height: 13px;
        background-color: #ff6e01;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt img {
        width: 12px;
        height: 12px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd {
        font-size: 14px;
        font-weight: bold;
        padding-top: 17px;
        padding-left: 22px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .label {
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
        color: #ff6e01;
        font-size: 16px;
        padding-top: 7px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .info {
        padding-top: 14px;
        line-height: 1.5em;
        font-weight: normal;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number {
        width: 47%;
        float: right;
    }

     #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column {
        width: 100%;
        clear: both;
        margin: 0 0 10px 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .title {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding: 8px 0 ;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .label {
        font-size: 13px;
        color: #ff6e01;
        width: 100%;
        margin: 17px 0 0 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .icon img {
        width: 20px;
        height: 20px;
        float: left;
        border-radius: 5px;
        margin: 6px 0 0 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .time {
        position: relative;
        float: left;
        margin: 7px 0 7px 0;
        font-size: 20px;
        color: #ff6e01;
        padding: 0 0 0 5px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .info {
        font-size: 14px;
        width: 100%;
        float: left;
        margin: 3px 0 22px 0;
        line-height: 1.5em;
    }

    /*お問い合わせフォーム*/
    #section-calendar .calendar-inner .right-wrap .phone-number .top-dial-btn {
        margin: 0 auto;
        clear: both;
        text-align: center;
        width: 100%;
        border-radius: 5px;
        background-color: ;
        background-image: -webkit-linear-gradient( 90deg, rgb(204,92,9) 0%, rgb(230,104,11) 3%, rgb(255,116,12) 5%, rgb(255,163,94) 100%);
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .top-dial-btn a {
        color: #fff;
        clear: both;
        font-size: 14px;
        height: 50px;
        line-height: 40px;
        width: 100%;
        letter-spacing: 0.1em;
    }

/*    ///////////*/

    /* =========================================================
    footer_function
    ========================================================= */
    #footer_function {
    }
}

@media screen and (max-width: 767px) {
    /* =========================================================
    wrapper
    ========================================================= */#wrapper {
        /* position: relative; */ /* padding-left: 212px; */
    }

    #wrapper #container h1 {
        padding-top: 7px;
        padding-left: 4%;
        font-size: 19px;
        color: #ff6e01;
        padding-bottom: 17px;
        border-bottom: solid 2px #e9e7e7;
    }

    #wrapper li {
        list-style: none;
    }

    #container {
        /* position: relative; */
    }

    #content {
        width: 100%;
        position: relative;
    }

    #sortmenu {
        width: 100%;
        margin: 0 auto;
        float: left;
        position: relative;
        padding-top: 108%;
        padding-left: 10px;
        padding-right: 10px;
    }

    #sortmenu h2 {
        width: 100%;
        text-align: center;
        padding-top: 0;
        font-size: 17px;
        padding-bottom: 8px;
        border-bottom: solid 2px #ff6e01;
    }

    #container h1 {
    }

    #sortmenu .service-block {
        width: 100%;
        float: left;
        overflow: hidden;
    }

    #sortmenu .service-block h3 {
        padding-top: 14px;
        font-size: 16px;
        padding-bottom: 4px;
        border-bottom: 1px solid #bfbfbf;
    }

    #sortmenu .service-block h3 span {
        font-size: 11px;
    }

    #sortmenu .service-block ul {
        width: 104%;
        padding-top: 0;
        margin-top: 9px;
        float: left;
    }

    #sortmenu .service-block ul li {
        padding-left: 8px;
        float: left;
        width: 47%;
        margin-right: 2%;
        font-size: 12px;
        margin-bottom: 2%;
        margin-left: 0;
        border: 2px solid white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #dedede), color-stop(0.00, #f4f4f4));
        background: -webkit-linear-gradient(#f4f4f4, #dedede);
        background: -moz-linear-gradient(#f4f4f4, #dedede);
        background: -o-linear-gradient(#f4f4f4, #dedede);
        background: -ms-linear-gradient(#f4f4f4, #dedede);
        background: linear-gradient(#f4f4f4, #dedede);
        position: relative;
    }

    #sortmenu .service-block ul li.checked {
        border: 2px solid #ff760f;
    }

    #sortmenu .service-block ul li label {
        display: table-cell;
        vertical-align: middle;
        height: 49px;
        position: relative;
    }

    #sortmenu .service-block ul li input {
        float: left;
        margin-top: 0;
    }

    #sortmenu .service-block ul li p {
        padding-left: 17px;
        line-height: 130%;
        margin-top: 0;
        font-size: 10px;
    }

    #sortmenu .service-block ul li br {
    }

    #sortmenu .area-block {
        float: left;
        padding-top: 23px;
        padding-left: 0;
        width: 100%;
        padding-bottom: 27px;
    }

    #sortmenu .area-block h3 {
        font-size: 15px;
    }

    #sortmenu .area-block h3 span {
        font-size: 11px;
    }

    #sortmenu .area-block .select-box {
        border-top: 1px solid #bfbfbf;
        padding-top: 0px;
        margin-top: 5px;
    }

    #sort_area {
        font-size: 12px;
        width: auto;
        border: 1px solid #bfbfbf;
        padding: 4px 22px 4px 23px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
        appearance: menulist;
        /* margin-left: 8px; */
        margin-top: 10px;
        max-width: 100%;
    }

    #sort_area option {
    }

    #sortmenu .search-info {
        clear: both;
        border-top: 1px solid #bfbfbf;
        margin-top: 63px;
        padding-top: 11px;
        float: left;
        width: 100%;
        padding-bottom: 25px;
        display: none;
    }

    #sortmenu .search-info .search-info-box {
        float: left;
    }

    #sortmenu .search-info .label {
        font-size: 14px;
    }

    #sortmenu .search-info .search-all {
        font-size: 25px;
        font-weight: bold;
    }

    #sortmenu .search-info .label2 {
        font-size: 14px;
    }

    #sortmenu .search-info .search-all span {
    }

    #sortmenu .search-info .search-target {
        font-size: 49px;
        color: #ff6e01;
    }

    #sortmenu .search-info .slash {
        font-size: 39px;
        top: -5px;
        position: relative;
    }

    #sortmenu .search-info .search-target span {
    }

    #sortmenu .search-info .search-target span {
        font-size: 14px;
        padding-right: 9px;
        color: black;
    }

    #sortmenu .search-info .button-clear {
        float: right;
        padding: 10px 49px 10px 49px;
        font-size: 14px;
        color: #4d4d4d;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #dedede), color-stop(0.00, #f4f4f4));
        background: -webkit-linear-gradient(#f4f4f4, #dedede);
        background: -moz-linear-gradient(#f4f4f4, #dedede);
        background: -o-linear-gradient(#f4f4f4, #dedede);
        background: -ms-linear-gradient(#f4f4f4, #dedede);
        background: linear-gradient(#f4f4f4, #dedede);
        cursor: pointer;
        margin-top: 18px;
    }

    #store {
        width: 100%;
        background-color: #f1f1f1;
        clear: both;
        overflow: hidden;
        padding-bottom: 15px;
        position: absolute;
        top: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    #store .btn-search-area {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #ff7309), color-stop(0.00, #ffac6e));
        background: -webkit-linear-gradient(#ffac6e, #ff7309);
        background: -moz-linear-gradient(#ffac6e, #ff7309);
        background: -o-linear-gradient(#ffac6e, #ff7309);
        background: -ms-linear-gradient(#ffac6e, #ff7309);
        background: linear-gradient(#ffac6e, #ff7309);
        overflow: hidden;
        margin-top: 10px;
    }

    #store .btn-search-area span {
        display: block;
        float: left;
        width: 10px;
        margin: 8px 1px 1px 9px;
        position: absolute;
    }

    #store .btn-search-area span img {
        width: 100%;
    }

    #store .btn-search-area p {
        color: white;
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
        text-align: center;
        position: relative;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #store ul {
        width: 100%;
        margin: 0 auto;
        clear: both;
    }

    #store ul li {
    }

    #store ul li img {
        float: left
    }

    #store ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 7px;
        padding-top: 3px;
        font-size: 11px;
    }

    #store .store-icon-list li .list-icon {
        width: 17px;
        float: left;
    }

    #store .store-icon-list li .list-icon img {
        width: 100%;
    }

    #store .store-icon-list li p {
        float: left;
    }

    #store .store-icon-list {
        padding-top: 15px;
        padding-left: 1%;
    }

    #store .store-icon-list li {
        float: left;
        padding-right: 9%;
        padding-bottom: 4%;
    }

    #store-list {
        width: 100%;
        background-color: #f1f1f1;
        clear: both;
        overflow: hidden;
        padding-bottom: 26px;
        float: left;
        position: relative;
        /* padding-left: 20px; */
        /* padding-right: 20px; */
    }

    #store-list .store-list-box {
        width: 100%;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul {
        width: 980px;
        margin: 0 auto;
        clear: both;
    }

    #store-list ul li {
        padding-right: 40px;
    }

    #store-list .store-icon-list li p {
        float: left;
    }

    #store-list ul li img {
        float: left
    }

    #store-list ul li p {
        /* float: left; */
        font-size: 15px;
        padding-left: 10px;
        padding-top: 2px;
    }

    /* =========================================================
    store_map
    ========================================================= */
    #store_map {
        clear: both;
        width: 100%;
        margin: 0px;
        padding-top: 62%;
        position: relative;
        margin-top: 0;
        float: left;
    }

    #store_map #gmap {
        width: 100%;
        height: 100%;
        position: absolute !important;
        top: 0;
        left: 0;
    }

    #store-list #store_list_container {
        padding-top: 16px;
        width: 100%;
        margin-left: 0;
    }

    #store-list #store_list_container .inner {
        height: 100%;
        position: relative;
        /* overflow: hidden; */
    }

    #store-list #store_list_container li {
        width: 94%;
        float: left;
        margin-left: 3%;
        margin-bottom: 3%;
        padding-right: 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background-color: white;
        overflow: hidden;
    }

    #store-list #store_list_container li:first-child {
        /* margin-left: 0; */
    }

    #store-list .inner {
        width: 100%;
    }

    #store-list .inner .store_section_info {
        width: 100%;
        position: relative;
        height: 100%;
        padding-bottom: 65px;
        overflow: hidden;
    }

    #store-list .inner .store_section_info .store_image {
        width: 100%;
    }

    #store-list .inner .store_section_info .store_image img {
        width: 100%;
        height: auto;
        background-color: #ddd;
        border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
    }

    #store-list .inner .store_section_info .name {
        padding-top: 15px;
        clear: both;
        padding-left: 17px;
        padding-right: 10px;
        line-height: 140%;
        min-height: 67px;
    }

    #store-list .inner .store_section_info .name span {
        color: #ff6f00;
        font-size: 16px;
    }

    #store-list .inner .store_section_info .store_address {
        clear: both;
        padding-top: 0px;
        width: 100%;
        padding-left: 6px;
        padding-right: 6px;
        line-height: 135%;
        position: relative;
        bottom: 0;
    }

    #store-list .inner .store_section_info .store_address p {
        font-size: 14px;
    }

    #store-list .inner .store_section_info .store_address .address1 {
    }

    #store-list .inner .store_section_info .store_address .address2 {
    }

    #store-list .inner .store_section_info .store_address .tel {
    }

    #store-list .inner .store_section_info .store_address .tel br {
        display: none;
    }

    #store-list .inner .store_section_info .store_address .hours {
        font-size: 12px;
    }

    #store-list .inner .store_section_info .store_address .hours br {
        display: none;
    }

    #store-list .inner .store_btn_detail {
        margin-top: 14px;
        position: absolute;
        bottom: 0;
        padding: 12px 0px 12px 0px;
        text-align: center;
        width: 100%;
        color: black;
        font-weight: bold;
        font-size: 17px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #c5c5c5), color-stop(0.91, #d3d3d3), color-stop(0.00, #f3f3f3));
        background: -webkit-linear-gradient(top, #f3f3f3 0%, #d3d3d3 91%, #c5c5c5 100%);
        background: -moz-linear-gradient(top, #f3f3f3 0%, #d3d3d3 91%, #c5c5c5 100%);
        background: -o-linear-gradient(top, #f3f3f3 0%, #d3d3d3 91%, #c5c5c5 100%);
        background: -ms-linear-gradient(top, #f3f3f3 0%, #d3d3d3 91%, #c5c5c5 100%);
        background: linear-gradient(to bottom, #f3f3f3 0%, #d3d3d3 91%, #c5c5c5 100%);
    }

    #store-list .inner .store_btn_detail a {
        color: #4d4d4d;
    }

    #section-calendar {
        width: 100%;
        margin: 0 auto;
        clear: both;
        background-color: #f1f1f1;
        overflow: hidden;
        padding-bottom: 70px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #section-calendar .info-box {
        width: 100%;
        margin: 0 auto;
        background-color: white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-bottom: solid 2px #dbdbdb;
    }

    #section-calendar .section-title {
        clear: both;
    }

    #section-calendar .calendar-inner {
        overflow: hidden;
        padding-bottom: 0;
    }

    #section-calendar .calendar-inner .left-wrap {
        width: 100%;
        float: left;
        padding-left: 0;
        overflow: hidden;
    }

    #section-calendar .calendar-inner .left-wrap .section-title {
        width: 94%;
        text-align: center;
        padding-top: 27px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding-bottom: 3px;
        margin-left: 3%;
    }

    #section-calendar .calendar-inner .left-wrap .month {
        padding-top: 20px;
        margin-left: 0;
        overflow: hidden;
        padding-bottom: 0px;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month {
        width: 90%;
        float: left;
        margin-left: 5%;
    }

    #section-calendar .calendar-inner .left-wrap .month .first-month img {
        width: 100%;
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month {
        width: 90%;
        float: left;
        margin-left: 5%;
        /* display: none; */
    }

    #section-calendar .calendar-inner .left-wrap .month .second-month img {
        width: 100%;
    }

    #section-calendar .calendar-inner .left-wrap .btn-next-month {
        width: 96%;
        background-color: #4d4d4d;
        color: white;
        text-align: center;
        /* padding: 10px 0 10px 0px; */
        font-size: 12px;
        margin-left: 2%;
        float: left;
        position: absolute;
        top: 0;
        height: 40px;
        line-height: 40px;
    }

    #section-calendar .calendar-inner .left-wrap .btn-prev-month {
        width: 96%;
        background-color: #4d4d4d;
        color: white;
        text-align: center;
        /* padding: 10px 0 10px 0px; */
        font-size: 12px;
        margin-left: 2%;
        /* display: none; */
        float: left;
        position: absolute;
        top: 0;
        height: 40px;
        line-height: 40px;
    }

    #section-calendar .calendar-inner .left-wrap .caption {
        clear: both;
        font-size: 12px;
        padding-left: 4%;
        padding-top: 22px;
    }

    .top-calendar-attantion-list {
        padding-left: 0;
    }

    #section-calendar .calendar-inner .caption .calendar-icon span {
        width: 20px;
        display: block;
        float: left;
        margin-right: 6px;
        margin-top: -5px;
    }

    #section-calendar .calendar-inner .left-wrap .caption span img {
        width: 100%;
    }
/*    ///////////*/
    #section-calendar .calendar-inner .right-wrap {
        float: left;
        width: 100%;
        padding-right: 3%;
        padding-left: 3%;
        padding: 20px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours {
        float: none;
        width: 100%;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours .title {
        width: 100%;
        text-align: center;
        padding-top: 8px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding-bottom: 8px;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt {
        float: left;
        margin-right: 10px;
        margin-top: 17px;
        width: 13px;
        height: 13px;
        background-color: #ff6e01;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dt img {
        width: 12px;
        height: 12px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd {
        font-size: 14px;
        font-weight: bold;
        padding-top: 17px;
        padding-left: 22px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .label {
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .time {
        color: #ff6e01;
        font-size: 16px;
        padding-top: 7px;
    }

    #section-calendar .calendar-inner .right-wrap .business_hours dl dd .info {
        padding-top: 14px;
        line-height: 1.5em;
        font-weight: normal;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number {
        width: 100%;
        float: right;
    }

     #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column {
        width: 100%;
        clear: both;
        margin: 0 0 10px 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .title {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #b3b3b3;
        padding: 8px 0 ;
        letter-spacing: 0.1em;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .label {
        font-size: 13px;
        color: #ff6e01;
        width: 100%;
        margin: 17px 0 0 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .icon img {
        width: 20px;
        height: 20px;
        float: left;
        border-radius: 5px;
        margin: 6px 0 0 0;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .time {
        position: relative;
        float: left;
        margin: 7px 0 7px 0;
        font-size: 20px;
        color: #ff6e01;
        padding: 0 0 0 5px;
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .phone-number-column .info {
        font-size: 14px;
        width: 100%;
        float: left;
        margin: 3px 0 22px 0;
        line-height: 1.5em;
    }

    /*お問い合わせフォーム*/
    #section-calendar .calendar-inner .right-wrap .phone-number .top-dial-btn {
        margin: 0 auto;
        margin-bottom: 30px;
        clear: both;
        text-align: center;
        width: 100%;
        border-radius: 5px;
        background-color: ;
        background-image: -webkit-linear-gradient( 90deg, rgb(204,92,9) 0%, rgb(230,104,11) 3%, rgb(255,116,12) 5%, rgb(255,163,94) 100%);
    }

    #section-calendar .calendar-inner .right-wrap .phone-number .top-dial-btn a {
        color: #fff;
        clear: both;
        font-size: 14px;
        height: 50px;
        line-height: 40px;
        width: 100%;
        letter-spacing: 0.1em;
    }

    /* =========================================================
    footer_function
    ========================================================= */
    #footer_function {
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }
}
