/* ========================================
global
==========================================*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
}

html {
	font-size: 62.5%;
}
body {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  background: none;
  color: #000;
}

/* ========================================
header
=========================================*/
#header {
    padding:0;
  }
#header ul {
    min-width: 320px;
    position: relative;
    overflow: hidden;
}

#header li.logo_corolla {
    float: left;
    width: 67.1875%;
    height: 100%;
}

#header li.logo_toyota {
    width: 32.8125%;
    float: right
}

#header img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

#toyota_logo {
  display: none;
}
#toyota_logo img {
  width: 118px;
}

#corolla_logo {
  padding: 15px 0 0 56px;
}
#corolla_logo img {
  width: 202px;
}

#dog_logo {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 32px;
  height: 32px;
  background: url(/lineup/sienta/sp/img/common/header_logo_dog3.jpg) no-repeat;
  background-size: 32px 32px;
}

#open_menu {
  position: absolute;
  top: 12px;
  right: 15px;
}
#open_menu img {
  width: 25px;
}

.sienta_logo img{
	width: 100px;
	height: auto;
}

.btn_merit img{
	width: 183px;
	height: auto;
}


#menu, #menu_legacy {
  margin: 15px 0 0 0;
  position: static;
  border-top: 2px solid lightgrey;
  width: auto;
  background-color: white;
  display: none;
}
#menu.visible, #menu_legacy.visible {
  display: block;
}
#menu li, #menu_legacy li {
  border-bottom: 2px solid lightgrey;
}
#menu li a, #menu_legacy li a {
  padding: 12px 15px 12px 15px;
  display: block;
  color: white;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #505050;
}


/*=========================================
footer all
=========================================*/
#footer_container {
	background-color: #f5e0d2;
}
#footer_function {
  margin: 2px 2px 15px 2px;
}
#footer_function ul li {
  width: 100%;
}
#footer_function ul li a {
  padding: 10px 0 10px 0;
  display: block;
  background-color: #242424;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
#footer_function ul #footer_function_coupon, #footer_function ul #footer_function_online, #footer_function ul #footer_function_catalog, #footer_function ul #footer_function_testdrive, #footer_function ul #footer_function_carreceipt, #footer_function ul #footer_function_mailmagazine {
  margin: 0 0px 2px 0;
}
#footer_function ul #footer_function_ad {
  margin: 0 0px 0 0;
}
#footer_function #footer_function_pagetop {
  display: none;
}

#footer_copy {
  margin: 0 0 25px 0;
  background-color: #ff6e01;
  zoom: 1;
}
#footer_copy:after {
  content: "";
  display: block;
  clear: both;
}
#footer_copy .copy {
  padding: 0 0 0 5px;
  float: left;
  height: 14px;
}
#footer_copy .copy img {
  height: 100%;
  vertical-align: top;
  width: auto;
}
#footer_copy .logo {
  padding: 0 5px 0 0px;
  float: right;
  height: 14px;
}
#footer_copy .logo img {
  height: 100%;
  vertical-align: top;
  width: auto;
}

#footer_nav {
  margin: 0 0 18px 0;
  width: auto;
}
#footer_nav ul {
  margin: 0 auto;
  width: 320px;
  zoom: 1;
}
#footer_nav ul:after {
  content: "";
  display: block;
  clear: both;
}
#footer_nav ul li {
  float: left;
}
#footer_nav ul li a {
  display: block;
  color: #333333;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}
#footer_nav #footer_nav_group1 {
  margin: 0 auto;
  width: 240px;
}
#footer_nav #footer_nav_business_user, #footer_nav #footer_nav_1 {
  margin: 0 15px 0 0px;
}
#footer_nav #footer_nav_2 {
  margin: 0 15px 0 0;
}
#footer_nav #footer_nav_3 {
  margin: 0 0px 0 0;
}
#footer_nav #footer_nav_group2 {
  margin: 0 auto;
  width: 230px;
}
#footer_nav #footer_nav_4 {
  margin: 5px 10px 0 0px;
}
#footer_nav #footer_nav_5 {
  margin: 5px 10px 0 0;
}
#footer_nav #footer_nav_6 {
  margin: 5px 0px 0 0;
}
#footer_nav #footer_nav_7 {
  margin: 5px 15px 0 60px;
}

#footer_info {
  margin: 0 auto 18px;
  position: relative;
  width: 102px;
}

#footer_sns {
  margin: 0px 0 0px 0;
  width: 102px;
  zoom: 1;
}
#footer_sns:after {
  content: "";
  display: block;
  clear: both;
}
#footer_sns li {
  position: relative;
  float: left;
  width: 24px;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}
#footer_sns li a {
  width: 24px;
  height: 24px;
  display: block;
}
#footer_sns #footer_sns_fb {
  margin: 0 15px 0 0;
}
#footer_sns #footer_sns_fb a {
  background: url(/lineup/sienta/sp/img/common/footer_sns_fb_sp.jpg) no-repeat;
  background-size: 24px;
}
#footer_sns #footer_sns_tw {
  margin: 0 15px 0 0;
}
#footer_sns #footer_sns_tw a {
  background: url(/lineup/sienta/sp/img/common/footer_sns_tw_sp.jpg) no-repeat;
  background-size: 24px;
}
#footer_sns #footer_sns_mixi a {
  background: url(/lineup/sienta/sp/img/common/footer_sns_mixi_sp.jpg) no-repeat;
  background-size: 24px;
}

#footer_sns_fb_popup {
  padding: 5px 0 0 5px;
  position: absolute;
  top: -40px;
  left: -61px;
  width: 146px;
  height: 40px;
  overflow: hidden;
  background: url(/lineup/sienta/sp/img/common/footer_sns_fb_popup.png) no-repeat;
}

.fb_popup {
  display: none;
}

.popup_visible {
  display: block;
}

#footer_mobile {
  display: none;
}

#footer_copyright {
  padding: 0 0 20px 0;
}
#footer_copyright p {
  padding: 0 0 10px;
  text-align: center;
  color: #333;
  font-size: 9px;
  font-size: 0.9rem;
}
#footer_copyright .txt1 {
  padding: 0 15px 7px;
}
#footer_copyright .txt2 {
  padding: 0 60px;
}

/* ========================================
common
==========================================*/
#wrapper {
	max-width: 767px !important;
}

.section {
	text-align: center;
	/* border: 4px solid #000; */
	/* border-width: 0 4px; */
}

.mark {
	margin-bottom: 15px;
	padding-top: 8px;
}

.annotation {
	margin: 0 7px 4px;
	text-align: left;
	font-size: 8px;
	line-height: 1.3;
	display: inline-block;
}

.annotation dt {

	clear: both;
	float: left;
}

.annotation dd {
	margin:0 0 3px 20px;
}

.readmore {
	padding-bottom: 27px;
}
.mode_selector{
	margin: 0 auto;
	padding: 2px 0 0 3px;
	width: 289px;
	height: 33px;
	background: #cccccc;
	position: relative;
}
.selector {
	position: absolute;
	left: 6px;
	top: 6px;
	z-index: 1;
}
.mode_selector .selector {
	top: 2px !important;
	left: 2px !important;
}

.mode_selector .selector_hana {
	left: 145px !important;
}
.mode_selector li{
	float: left;
}

.mode_selector .axiohv {
	margin-right: 2px;
}

.slider{
	position: relative;
}
.slider li {
	position: absolute;
	left: 0;
	top: 0;
}

.pagetop {
	margin: 26px 10px 0 0;
	text-align: right;
}

/* ========================================
trace
==========================================*/

#trace {
	position: absolute;
	left: 0;
	top: -21px;
	z-index: 2;
	opacity: 0.3;

}



/* ========================================
mainimg
==========================================*/
#main_img_container {
	margin-bottom: -3px;
	width: 100%;
	text-align: center;

  }#main_img_container #slide ul {
   position: relative;
   width: 100%;
   height: 36%;
 }

 #main_img_container #slide li{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   opacity: 0;
   transition: opacity  1300ms linear;
   -webkit-transition: opacity 1300ms linear;
 }

 #main_img_container #slide img {
   width: 100%;
   height: auto;
 }

 #slide_status {
  height: 25px;
  text-align: center;
  /*margin-top: 6px;*/
}
#slide_status ul{
  width: 100%;
  margin-top: -22px;
  position: relative;
}
#slide_status li{
 display: inline-block;
 width: 14px;
 height: 14px;
 margin-left: 10px;
}
#slide_status li:first-child{
  margin-left: 0;
}

/* ========================================
title_container
==========================================*/

#title_container {
	height: 36px;
	background-color: #000;
}

#title_container h1 {
	padding: 10px 0 0 10px;
	float: left;
}

#title_container .btn_merit {
	float: right;
	padding: 3px 5px 0 0;
}

#title_container .btn_back {
	float: right;
	padding: 4px 5px 0 0;
}
/* ========================================
sub_nav
==========================================*/

#sub_nav {
	padding: 7px 0 0 1px;
	height: 60px;
	text-align: center;
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
#sub_nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#sub_nav ul{
  /*margin-top: 8px;*/
}
#sub_nav li {
	margin-right: 0px;
	display: inline-block;
  margin-left: 10px;
}
#sub_nav li:first-child{
  margin-left: 0;
}

#sub_nav li img{
	width: 90px;
	height: auto;
}


/* contents common
......................................................... */
.pic{
  text-align: center;
}
.tit {
  margin-bottom: 10px;
}

.tit h2 img { width:auto; height: 55px; }

/* ..... tab_change_nav ..... */
.tab_change_nav {
  margin: 0 auto;
  width: 320px;
  /* margin-top: 49px; */
}
#contents_body #contents_list #index03 #mode_change2 {
  margin: 0 auto;
  width: 960px;
  margin-top: 55px;
}

.tab_change_nav ul a.current { background-position: bottom !important }
.tab_change_nav li { float: left }
.tab_change_nav {
  height: 32px; /* width: 726px; nowhitespace: afterproperty; */ margin-left: auto; margin-right: auto; background-color: #cccccc; /* -webkit-border-radius: 4px; nowhitespace: afterproperty; */  -moz-border-radius: 4px;  /* border-radius: 4px; */;
}
.tab_change_nav:after {
  content: "";
  display: block;
  clear: both;
}
.tab_change_bt a{
  display: block;
  overflow: hidden;
  position: relative;
  width: 157px;
  height: 28px;
  white-space: nowrap;
  text-indent: -9999px;

}
.tab_change_bt:first-child { padding: 2px;}
.tab_change_bt { padding-top: 2px;}

.tab_change_xurban a {
  background: url(/lineup/sienta/sp/img/lineup/axiohv/sp/btn_xarban.png) no-repeat left top;
  background-size: 157px auto;
}
.tab_change_original a{
  background: url(/lineup/sienta/sp/img/lineup/axiohv/sp/btn_original.png) no-repeat left top;
  background-size: 157px auto;
}
.tab_change_nav.large{
  height: 47px;

}
.tab_change_nav.large .tab_change_bt a{
  width: 157px;
  height: 43px;
  overflow: hidden;
}

.tab_change_nav.large .tab_change_xurban a {
  background: url(/lineup/sienta/sp/img/lineup/axiohv/sp/btn_xarban_large.png) no-repeat left top;
  background-size: 157px auto;
}
.tab_change_nav.large .tab_change_original a{
  background: url(/lineup/sienta/sp/img/lineup/axiohv/sp/btn_original_large.png) no-repeat left top;
  background-size: 157px auto;
}

.imgbox img{
	max-width: 320px;
	height: auto;
}

.interior_slide_nav .stay_nav img{
  width: 95px;
  height: auto;
}

.hybrid_car_slide_nav .stay_nav img{
  width: 41px;
  height: auto;
}


/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*clearfix*/
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
/* ========================================
¹²Í¨
==========================================*/

/*styele*/
h3{
  font-size: 17px;
  line-height: 1.7;
  font-weight: bold;
}
h4.index-subtitle{
  text-align: left;
  width: 300px;
  margin: 0 auto 20px;
  border-left: 4px #ad1928 solid;
  padding: 5px 0;
}
h4.index-subtitle p{
  line-height: 1.5!important;
}
h4.index-subtitle .bgbox{
  display: inline-block;
  background-color: #f4f4f4;
  padding: 0 10px;
  margin-top: 5px;
  border: 1px #bdbdbd solid;
}
.index-subtitle p{margin-left: 15px;}
.fs10{font-size: 10px!important;}
.fs12{font-size: 12px!important;}
.fs14{font-size: 14px;}
.fs17{font-size: 17px;}
.fs20{font-size: 20px!important;}
.fb{font-weight: bold;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.pb5{padding-bottom: 5px!important;}
.pt5{padding-top: 5px!important;}
.tl{text-align: left;}
.txt_bl{color: #AF1623!important;}



.box01{border: #000 1px solid; padding: 20px;letter-spacing: 1.5px;}
.box02{border: #AF1623 1px solid; padding: 20px;letter-spacing: 1.5px;}

img{width: 100%;}

h2{
  background-color: #000;
  padding: 10px 0;
}
.wrap p{ color: #000; }
/*.index_title img{ width: 100%; }*/
.att{
  padding-left: 1em;
  text-indent: -1em;
}
.copy{
  line-height: 1.7;
  font-size: 14px;
}




/************************/
/************************/
/************************/
/*clearfix*/
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


/*#index-wrapper{background-color: #fff;}*/
.wrap{
  width: 320px;
  margin: 0 auto;
  background-color: #fff;
}
.wrap .section{
  padding: 0 15px;
}

li{list-style: none;}
.disnon{display: none;}

.bottom-car{
  margin-top: 48px;
}

#index01,#index02,#index03,#index04,#index05,#index06,#index07{
  background-color: #eee;
}

.top-sub-banner{
	width:100%;
	padding-top:40px;
	padding-bottom:40px;
}
.top-sub-banner img{
	width:100%;
}

/***********************/
/********index01********/
/***********************/
#index01 {
  text-align: center;
}
#index01 .wrap{
  background-color: #faed00;
}
#index01 h2 img{
  width: 303px;
  height: auto;
}
#index01 h3{
  margin-top: 30px;
}

#index01 .section01 ul{
  margin-top: 10px;
}
#index01 .section01 li{
  margin-top: 10px;
}
#index01 .section01 li:first-child{
  margin-top: 0;
}
#index01 .section01 .copy{
  display: block;
  margin-top: 5px;
  letter-spacing: 2.9px;
}
#index01 .section01 .main-banner{
  margin-top: 10px;
}


/***********************/
/********index02********/
/***********************/
#index02 {
  text-align: center;
}
#index02 span{ display: block; }
#index02 h2 img{
  width: 225px;
  height: auto;
}
#index02 h3{
  margin-top: 46px;
}
#index02 .copy{
  margin-top: 11px;
}
#index02 .section01 .caption{
  margin-top: 10px;
  font-size: 10px;
  line-height: 1.4;
}
#index02 .section01 .mainpic{
  margin-top: 28px;
}

/*change-seat-panel*/
#change-seat-panel{
  background-color: #000;
  margin-top: 20px;
}
#change-seat-panel .change_btn{
  background-color: #fff;
}
#change-seat-panel .change_btn li{
  float: left;
  margin-left: 2px;
}
#change-seat-panel .change_btn li.active{
  background-color: #06121b;
  opacity:1!important;
  -ms-filter: "alpha(opacity=100)"!important;
}
#change-seat-panel .change_btn li:first-child{
  margin-left: 0;
}
#change-seat-panel .change_btn li a{
  display: block;
  height: 40px;
}
#change-seat-panel .change_btn img{
  width: 144px;
  height: auto;
}
#change-seat-panel .img_box{
  margin: 0 auto;
  width: 290px;
  height: 162px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
#change-seat-panel .img_box img{
  top: 0;
  left: 0;
  position: absolute;
}
#index02 .section02 .caption{
  font-size: 10px;
  text-align: left;
  margin-top: 10px;
  line-height: 1.5;
}
#index02 .section03 .copy{
  margin-top: 5px;
}

/*change-receipt-panel*/
#change-receipt-panel{
  margin-top: 22px;
}
#change-receipt-panel .img_box{
  margin: 0 auto;
  width: 290px;
  height: 161px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: #000;
}
#change-receipt-panel .img_box img{
  top: 0;
  left: 0;
  position: absolute;
}
#change-receipt-panel .btn-wrap{
  background-color: #cdd0d1;
  border: 2px solid #000;
}
#change-receipt-panel .change_btn{
  width:266px;
  margin: 10px auto 8px;
}
#change-receipt-panel .change_btn li{
  float: left;
  margin-left: 10px;
  position: relative;
}
#change-receipt-panel .change_btn li.active{
  opacity:1!important;
  -ms-filter: "alpha(opacity=100)"!important;
}
#change-receipt-panel .change_btn li:first-child{
  margin-left: 0;
}
#change-receipt-panel .change_btn li img{
  width: 82px;
  height: auto;
}

#change-receipt-panel .change_btn li.active a img.cover{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#change-receipt-panel .change_btn li a img.cover{
  display: none;
}

div#index02 {
    margin-top: 0px;
}
#index02 .section03 .caption{
  font-size: 10px;
  margin-top: 10px;
  text-align: left;
}

#index02 .dive-in-wrap{
  padding: 0 24px;
}
#index02 .dive-in-wrap .dive-in-subtit{
  margin-top: 10px;
}
#index02 .dive-in-wrap .arrow img{
  width: 24px;
  height: auto;
}
#index02 .dive-in-wrap .dive-in-inner{
  margin-top: -4px;
}
#index02 .dive-in-wrap .dive-in-inner .txt{
  font-size: 12px;
  line-height: 1.5;
  margin-top: 8px;
  text-align: left;
}
#index02 .dive-in-wrap .dive-in-inner .arrow{
  margin-top: 7px;
}
#index02 .dive-in-wrap .dive-in-inner li{
  margin-top: 10px;
}
#index02 .dive-in-wrap .dive-in-inner .caption{
  line-height: 1.5;
}




/***********************/
/********index03********/
/***********************/
#index03 {
  text-align: center;
}
#index03 .wrap{
  background-color: #faed00;
}
#index03 span{ display: block; }
#index03 h2 img{
  width: 238px;
  height: auto;
}
#index03 .section01 h3{
  margin-top: 44px;
}
#index03 .section01 .copy{
  margin-top: 10px;
}
#index03 .section01 .caption{
  font-size: 10px;
  margin-top: 10px;
}
#index03 .section01 .pic-block{
  margin-top: 26px;
}

#index03 .section01 .pic-g{
  margin-top: 10px;
}
#index03 .section01 .caption2{
  font-size: 10px;
  margin-top: 15px;
  line-height: 1.5;
  text-align: left;
}
#index03 .section01 .graph{
  margin-top: 12px;
}



/***********************/
/********index04********/
/***********************/
#index04 {
  text-align: center;
}
#index04 span{ display: block; }
#index04 h2 img{
  width: 278px;
  height: auto;
}
#index04 .section01 h3{
  margin-top: 46px;
}
#index04 .section01 .copy{
  margin-top: 5px;
}

/*color-change-panel*/
#color-change-panel{
  border: 2px solid #000;
  background-color: #fff;

  margin-top: 24px;
}
#color-change-panel .img_box {
  margin: 0 auto;
  width: 286px;
  height: 185px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding-bottom: 0px;
}
#color-change-panel .img_box img{
  position: absolute;
  top: 0;
  left: 0;
}
#color-change-panel .wrap_change_btn{
  width: auto;
  margin: 0 auto 15px;
}
#color-change-panel .color-category{
}
#color-change-panel .color-category.mono{
}
#color-change-panel .color-category.mono .category-name{
  margin: 18px 0 15px;
}
#color-change-panel .color-category.mono .category-name img{
  width: auto;
  height: 13px;
}
#color-change-panel .color-category.flex{
}
#color-change-panel .color-category.flex .category-name{
  margin: 15px 0;
}
#color-change-panel .color-category.flex .category-name img{
  width: auto;
  height: 13px;
}
#color-change-panel .color-category.mono .change_btn {
  margin: 8px 0 0 0;
}
#color-change-panel .color-category.flex .change_btn {
  margin: 8px 0 0 0 ;
}
#color-change-panel .color-category .change_btn li {
  float: left;
  margin-left: 2px;
  margin-bottom: 5px;
  position: relative;
  width: 37px;
  height: 37px;
}
#color-change-panel .color-category.mono .change_btn li:first-child{
  margin-left: 44px;
}
#color-change-panel .color-category.mono .change_btn li.ml{
  margin-left: 61px;
}
#color-change-panel .color-category.flex .change_btn li:first-child{
  margin-left: 45px;
}
#color-change-panel .color-category .change_btn li.active {
  filter:alpha(opacity=100)!important;
  -moz-opacity: 1!important;
  opacity: 1!important;
}
#color-change-panel .color-category .change_btn li.active a{
  border: none;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#color-change-panel .color-category .change_btn li.active a{
  display: block;
  width: 37px;
  height: 37px;
  /*border: 2px solid #fff;*/
}
#color-change-panel .color-category .change_btn li a img {
  vertical-align: top;
  width: 33px;
  height: auto;
}
#color-change-panel .color-category .change_btn li a img.cover{
  display: none;
  width: 37px;
  height: auto;
}
#color-change-panel .color-category.show .change_btn li.active a img.cover{
  display: none;
}
#color-change-panel .color-category.show .change_btn li.active a img.cover{
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
}
#color-change-panel .color-category .notice{
  margin: 0 auto;
  width: 1004px;
  text-align: left;
}
#color-change-panel .color-category .notice p{
  color: #333;
  padding-bottom: 10px;
  font-size: 12px;
}

#index04 .section02 h3{
  margin-top: 46px;
}
#index04 .section02 .copy{
  margin-top: 10px;
}





/*change-interior-panel*/
#change-interior-panel{
  background-color: #000;
  padding-top: 2px;
  margin-top: 23px;
}
#change-interior-panel .img_box{
  margin: 0 auto;
  width: 286px;
  height: 158px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
#change-interior-panel .img_box img{
  top: 0;
  left: 0;
  position: absolute;
}
#change-interior-panel .change_btn{
  background-color: #000;
  padding: 10px 0 10px;
  width: 220px;
  margin: 0 auto;
}
#change-interior-panel .change_btn li{
  width: 105px;
  height: auto;
  position: relative;
  float: left;
  margin-left: 10px;
}
#change-interior-panel .change_btn li.active{
  opacity:1!important;
  -ms-filter: "alpha(opacity=100)"!important;
}
#change-interior-panel .change_btn li:first-child{
  margin-left: 0;
}
#change-interior-panel .change_btn li a{
  display: block;
}
#change-interior-panel .change_btn li.active a img.cover{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#change-interior-panel .change_btn li a img.cover{
  display: none;
}


#index04 .section03{
  margin: 50px 15px 0 15px;
  border: 2px solid #000;
  padding: 0;
  background-color: #faed00;
}
#index04 .section03 h3{
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  color: #fff;
  font-weight: normal;
  background-color: #06121b;
}
#index04 .section03 .inner{
  padding: 20px 15px 15px;
  text-align: left;
}
#index04 .section03 .inner .subtit{
  margin-bottom: 15px;
}
#index04 .section03 .inner .icon{
  float: left;
}
#index04 .section03 .inner .icon img{
  width: 40px;
  height: auto;
}
#index04 .section03 .inner .copy{
  float: left;
  margin: -3px 0 0 10px;
  font-size: 15px;
}
#index04 .section03 .inner .text{
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  text-align: left;
}
#index04 .section03 .pic{
  margin-top: 15px;
}


/***********************/
/********index05********/
/***********************/
#index05 {
  text-align: center;
}
#index05 .wrap{
  background-color: #faed00;
}
#index05 span{ display: block; }
#index05 h2 img{
  width: auto;
  height: 54px;
}
#index05 .section01 .inner-tit{
  font-size: 17px;
  margin-top: 51px;
  line-height: 1.5;
  font-weight: bold;
}
#index05 .section01 .option-img{
  margin-top: 15px;

}
#index05 .section01 .option-img img{
  width: 162px;
  height: auto;
}
#index05 .section01 .text{
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.5;
}
#index05 .section01 .movie{
  margin-top: 31px;
}
#index05 .section01 .tss{
  margin-top: 28px;
}
#index05 .section01 .tss img{
  width: 250px;
  height: auto;
}

#index05 .section02 .inner-tit{
  margin-top: 44px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5;
}
#index05 .section02 .text{
  margin-bottom: 0;
  margin-top: 17px;
  line-height: 1.5;
}
#index05 .section02 ul{
  margin-top: 24px;
  margin-bottom: 10px;
}
#index05 .section02 li{
  margin-top: 15px;
}
#index05 .section02 li:first-child{
  margin-top: 0;
}
#index05 .section02 .caption{
  font-size: 10px;
  text-align: left;
  line-height: 1.5;
}


/***********************/
/********index06********/
/***********************/
#index06 {
  text-align: center;
}
#index06 span{ display: block; }
#index06 h2 img{
  width: 193px;
  height: auto;
}
#index06 .section01{}
#index06 .section01 h3{
  margin-top: 45px;
}
#index06 .section01 .price-img{
  margin-top: 10px;
}
#index06 .section01 .type-img{
  margin-top: 35px;
}
#index06 .section01 .price-img img{
  width: 162px;
  height: auto;
}
#index06 .section01 .type-img img{
  width: auto;
  height: 25px;
}
#index06 .section01 ul{
  margin-top: 14px;
}
#index06 .section01 li{
  margin-top: 10px;
}
#index06 .section01 li:first-child{
  margin-top: 0;
}

#index06 .section01 .buy{}
#index06 .section01 .buy span{
  margin-top: 30px;
}
#index06 .section01 .buy span img{
  width: 242px;
  height: auto;
}
#index06 .section01 .mainpic{
  margin-top: 8px;
}


#index06 .section02 .catch{
  font-size: 17px;
  margin-top: 30px;
  font-weight: bold;
  line-height: 1.5;
}
#index06 .section02 .text{
  font-size: 14px;
  margin-top: 14px;
  line-height: 1.5;
}
#index06 .section02 .tconnect{
  margin-top: 30px;
}


/***********************/
/********index07********/
/***********************/
#index07 {
  text-align: center;
}
#index07 .wrap{
  background-color: #faed00;
}
#index07 span{ display: block; }
#index07 h2 img{
  width: auto;
  height: 54px;
}
#index07 .section .copy{
  margin-top: 24px;
}

#index07 .section .pic-block{
  margin-top: 27px;
}
#index07 .section .caption{
  text-align: left;
  font-size: 10px;
  margin-top: 15px;
}
#index07 .section li{
  text-align: left;
  font-size: 10px;
  margin-top: 4px;
  line-height: 1.5;
}
#index07 .section .btn{
  margin-top: 47px;
}

#index07 .comment{
  font-size:14px;
  line-height: 1.5;
  margin-top: 15px;
  font-weight: bold;
}

#index07 #sienta_search_store{
  width: 290px;
  margin: 20px auto 10px;
}

#index07 #footer_function_pagetop{
  width: 49px;
  margin: 40px auto -24px;
}
#index07 #footer_function_pagetop img{
  width: 100%;
  height: auto;
}












/* ========================================
clearfix
==========================================*/
/*.clearfix:after,.mode_selector:after{
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}

.clearfix,.mode_selector{display: inline-block;}
*/




/*slide*/
/*#slide_status{
  width: 100%;
  background-color: #000;
}
#slide_status ul li{
  width: 20%;
  float: left;
}
#slide_status li img{
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  vertical-align: top;
}
#slide_status li.current img.cover{
  display: block;
  overflow: hidden;
  position: absolute;
  width: 20%;
  height: auto;
}
#slide_status li img.cover{
  display: none;
}*/